<div class="g-checkbox {{addClass}}">
  <label class="d-flex g-ie-flex--0-1-auto">
    <input type="checkbox">
    <span class="checkbox {{checkboxClass}}"></span>
    <span class={{labelClass}}>{{{label}}}</span>
  </label>
</div>