<div class="g-dropdown d-inline-block">
  <div class="g-dropdown--click icon-mapfre_066_circle g-font--30 g-c--gray1 g-c--pointer">
    <span class="icon-mapfre_036_notification g-c--white1 g-ico--center g-font--16"></span>
    {{#alertBadge}}
      <span class="g-notification--alert icon-mapfre_066_circle g-font--16 g-c--green1">
        <span class="g-ico--center g-font--11 g-c--white1"><b>{{numb}}</b></span>
      </span>
    {{/alertBadge}}
  </div>

  <div class="g-dropdown--show">
    <div class="g-content--alert g-box-lg--shadow1">
      <div class="g-dropdown--header d-flex d-lg-none justify-content-between align-items-center g-px--15 ">
        <div class="g-font--medium g-text--uppercase">
          {{tittle}}
        </div>
        <span class="g-dropdown--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
      </div>
      <aside class="menu g-dropdown--content">
        <div class="menu--list g-p--10">
          {{#titleNoti}}
            <div class="{{notiClass}}">
              {{{title}}}
            </div>
          {{/titleNoti}}

          {{#list}}
              <div class="{{addClass}} ">

                {{#iconLeft}}
                  <div class="{{iconClass}} {{iconFile}} "></div>
                {{/iconLeft}}

                <div class="d-flex {{contentDescrip}} ">

                  {{#descrip}}
                    <div class="{{descripClass}} ">{{{descrip}}}</div>
                  {{/descrip}}

                </div>

                {{#iconArrow}}
                  <div class="{{arrowClass}} {{iconFile}} "></div>
                {{/iconArrow}}

              </div>
          {{/list}}

          {{#withoutNoti}}
            <div class="{{addClass}}">

              {{#imgNoti}}
                <img src="{{src}}" alt="{{alt}}" class="{{srcClass}}">
              {{/imgNoti}}

              {{#textDescrip}}
                <div class="{{textClass}}">
                  {{{text}}}
                </div>
              {{/textDescrip}}

            </div>
          {{/withoutNoti}}

        </div>
      </aside>
    </div>
  </div>

</div>