<div class="g-input-design {{addClass}}">

  <div class="d-flex {{contentIcon}}">
    {{#currency}}<span class="g-form-icon  g-pr--5  {{currency}}"></span>{{/currency}}
    {{#image}}
      <img class="g-form-icon {{srcClass}}" src="{{src}}" alt="{{alt}}">
    {{/image}}
    <input type="{{type}}" value="{{value}}"z>
    {{#imageRight}}
      <img class="{{imageRightClass}}" src="{{src}}" alt="{{alt}}">
    {{/imageRight}}
  </div>

  <label class="g-input__label g-placeholder">

    {{{label}}}

    {{#requerid}}
        <span>*</span>
    {{/requerid}}

  </label>

</div>

<span class="txt-error" class="g-input__input">{{{error}}}</span>
