<div class="g-rating {{ratingClass}}">
  {{#icon}}
    <div class="g-rating--item {{active}}">
      <span class="repose {{icon}} {{iconClass}}"></span>
      <span class="active {{iconActive}} {{iconClass}}"></span>
    </div>
  {{/icon}}
</div>