<div class="g-radio {{classRadio}}">
  <input type="radio" name="{{idradio}}" {{disabled}}>
  <span class="radio {{radioAddClass}}"></span>
  {{#label}}
    <span>{{{label}}}</span>
  {{/label}}
</div>