<div class="d-flex {{addClass}}">
  {{#iconLeft}}
    <span class="{{iconFile}} {{iconClass}}"></span>
  {{/iconLeft}}

  {{#input}}
    <input type="{{type}}" value="{{value}}" class="no-spinners g-o--hidden {{inputClass}}" placeholder="{{placeholder}}">
  {{/input}}

  {{#iconRight}}
    <span class="{{iconFile}} {{iconClass}}"></span>
  {{/iconRight}}
</div>