<div class="g-accordion" data-accordion="container" data-group="{{dataGroup}}">
  {{#item}}
    <div data-accordion="item" data-open="{{dataOpen}}" class="{{itemClass}}">

      <div data-accordion="title" class="d-flex align-items-center justify-content-between {{titleClass}}">

        <div class="d-flex align-items-center w-100 {{boxClass}}">

          <div data-accordion="click" class="{{clickClass}}">
            {{#clickOn}}
              <span class="{{iconFile}} {{iconClass}}" data-accordion="on"></span>
            {{/clickOn}}

            {{#clickOff}}
              <span class="{{iconFile}} {{iconClass}}" data-accordion="off"></span>
            {{/clickOff}}
          </div>

          <div class="{{textClass}}">
            {{text}}
          </div>

        </div>

        {{#icon}}
          <div class="{{iconBox}}">
            <span class="{{iconFile}} {{iconClass}}"></span>
          </div>
        {{/icon}}

      </div>

      <div data-accordion="content" class="{{contentClass}}">

        {{#content}}
          {{content}}
        {{/content}}

        {{#list}}
          <div class="d-flex  g-px--15   g-py--10  align-items-center">
            <div class="">
              <span class="{{iconFile}}  g-px--15  g-font--25 g-font-md--21"></span>
            </div>
            <div class="">
              {{text}}
            </div>
          </div>
        {{/list}}

      </div>

    </div>
  {{/item}}
</div>