
<div class="g-accordion {{classAccordion}}" data-accordion="container" data-group="{{dataGroup}}">
{{#item}}
  <div data-accordion="item" data-open="{{dataOpen}}" class="{{itemClass}}">

    <div data-accordion="title" class="d-flex align-items-center justify-content-between {{titleClass}}">
      <div class="d-flex align-items-center w-100 g-c--pointer g-ie-flex--0-1-auto {{boxClass}}" data-accordion="click">
        {{#icon}}
          <span class="{{iconFile}} {{iconClass}}"></span>
        {{/icon}}
        <div class="{{textClass}}  g-py--10 ">
          {{text}}
        </div>
      </div>
      {{#arrow}}
        <div class="g-c--pointer  {{iconBox}}" data-accordion="click">
          <div class="{{clickClass}}">
            {{#clickOn}}
              <span class="{{iconFile}} {{iconClass}}" data-accordion="on"></span>
            {{/clickOn}}
            {{#clickOff}}
              <span class="{{iconFile}} {{iconClass}}" data-accordion="off"></span>
            {{/clickOff}}
          </div>
        </div>
      {{/arrow}}
    </div>

    <div data-accordion="content" class="{{contentClass}}">
      {{#content}}
        {{content}}
      {{/content}}
      {{#list}}
        <div class="d-flex align-items-center">
          <a class="{{classContent}}  g-py--10 " {{{href}}}>
            {{text}}
          </a>
        </div>
      {{/list}}
    </div>

  </div>
{{/item}}
</div>
