<div class="d-flex align-items-center justify-content-between {{addClass}}">
  <div class="d-flex align-items-center g-py--15 w-100">
    <div class="{{numberClass}}">
      {{number}}
    </div>

    <div class="{{titleClass}}">
      {{title}}
    </div>
  </div>

  <div class="d-flex align-items-center">

    {{#link}}
      <div class="{{boxLink}}">
        <span class="{{linkClass}}" data-modal="{{dataModal}}" onclick="{{onclick}}">{{linkText}}</span>
      </div>
    {{/link}}

    {{#icon}}
      <div class="{{boxIcon}}">
        <span class="{{iconFile}} {{iconClass}}"></span>
      </div>
    {{/icon}}
  </div>
</div>