<div class="g-box g-b-radius--5 g-box--shadow1 {{addClass}}">
  <div class="col-12">
    <div class="row heading--box">
      <div class="col g-py--15 ">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6 g-pb--10 g-pb-md--0 ">
            <div class="d-flex align-items-center no-gutters">
              {{#icon}}
                <span class="{{iconFile}} {{addClass}}  g-px--10 "></span>
              {{/icon}}
              <div class="g-items-text g-c--gray3">
                <p class=" g-mb--0 ">{{{text}}}</p>
                <p class=" g-mb--0 "><b>{{{secondText}}}</b></p>
              </div>
            </div>
          </div>
          {{#second}}
          <div class="col-12 col-sm-3 g-padding-left-xs--45 g-pb--10 g-pb-md--0 ">
            <p class=" g-mb--0 "><b>{{{text}}}</b></p>
            <p class=" g-mb--0 ">{{{secondText}}}</p>
          </div>
          {{/second}}
          {{#thrid}}
          <div class="col-12 col-sm-3">
            <div class="d-flex align-items-center no-gutters">
              {{#icon}}
                <span class="{{iconFile}} {{addClass}}  g-px--10 "></span>
              {{/icon}}
              <div class="g-items-text g-c--gray3">
                <p class=" g-mb--0 ">{{{text}}}</p>
              </div>
            </div>
          </div>
          {{/thrid}}
        </div>
      </div>
      <div class="col-12 col-md-2 text-center">
        <div class="row justify-content-end">
          {{#icoEdit}}
            <div class="col-6  g-p--0 col-md-auto">
              <a href="{{href}}" class="">
                <span class="{{iconFile}} {{addClass}}  g-mr--10 "></span>
              </a>
            </div>
          {{/icoEdit}}
          {{#icoDelete}}
            <div class="col-6  g-p--0 col-md-auto">
              <a href="{{href}}" class="">
                <span class="{{iconFile}} {{addClass}}  g-mr--10 "></span>
              </a>
            </div>
          {{/icoDelete}}
        </div>
      </div>
    </div>
  </div>
</div>