<div class="g-b-radius--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 {{addClass}}">
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">

    {{#icon}}
      <div class="d-flex justify-content-center g-px--15 g-pt--10 g-pt-lg--0 align-items-lg-center">
        <span class="{{iconFile}} {{addClass}}"></span>
      </div>
    {{/icon}}

    <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 g-p--15  g-p-lg--0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
      <div class="w-100 g-mb--10 g-mb-lg--0 {{itemClass}}">

        <div class="">
          <span class="g-font--medium">{{{text}}}</span>
        </div>

        {{#description}}
          <div class="g-mb--0 text-truncate">
            {{{secondText}}}
          </div>
        {{/description}}

        {{#desplegable}}
          <div class="g-desplegable">
            <div class="g-desplegable-text d-flex align-items-center {{textClass}}">
              <span class="g-c--pointer g-font--medium">{{text}}</span>
              <span class="g-c--pointer {{icon}} {{iconClass}}"></span>
            </div>
            <div class="g-desplegable--wrapper d-none g-click-responsive">
              <div class="{{desplegableClass}}">
                {{#list}}
                  <div class="g-desplegable--item {{itemClass}}">
                    <div class="g-desplegable--title {{titleClass}}">{{title}}</div>
                    <div class="g-desplegable--description">{{description}}</div>
                  </div>
                {{/list}}
              </div>
            </div>
          </div>
        {{/desplegable}}

      </div>

      {{#second}}
        <div class="g-px-lg--15 g-mb--10 g-mb-lg--0 w-px-lg--20 g-font--13 {{fontClass}}">
          <div class="g-mb--0 text-nowrap {{textClass}}">
            {{{text}}}
          </div>

          <div class="g-mb--0 text-nowrap  d-flex align-items-center {{secondTextClass}}">
            {{#icon}}
              <span class="{{iconFile}} {{iconClass}} {{iconColor}}"></span>
            {{/icon}}
            <span>
              {{{secondText}}}
            </span>
          </div>
        </div>
      {{/second}}

      {{#thrid}}
        <div class="g-px-lg--15 w-px-lg--17 {{fontClass}}">
          <div class="g-mb--0 text-nowrap {{textClass}}">
            {{{text}}}
          </div>
          <div class="g-mb--0 text-nowrap {{secondTextClass}}">
            {{{secondText}}}
          </div>
        </div>
      {{/thrid}}

      {{#pdf}}
        <div class="g-px-lg--15 w-px-lg--17 {{fontClass}}">
          <div class="g-mb--0 text-nowrap {{textClass}}">
            <span class="{{iconFile}} {{iconClass}} g-c--pointer g-c--green1"></span>
          </div>
        </div>
      {{/pdf}}

    </div>

    {{#verDetalle}}
      <div class="g-bt--1 g-bt-lg--0 g-py--15 g-py-lg--0 w-100 w-px-lg--15 d-flex align-items-center justify-content-center flex-grow-1 {{boxClass}}">
        <span class="{{textClass}} g-c--pointer">{{{text}}}</span>
      </div>
    {{/verDetalle}}

    {{#btnPrimary}}
      <div class="g-bt--1 g-bt-lg--0 g-py--15 g-py-lg--0 w-100 w-px-lg--15 d-flex align-items-center justify-content-center flex-grow-1 {{boxClass}}">
        <button class="g-btn {{addClassBtn}}" onclick="">{{{text}}}</button>
      </div>
    {{/btnPrimary}}

  </div>
</div>
