<div class="d-flex justify-content-between g-b-radius--5 g-box--shadow1 {{addClass}}">
  <div class="text-truncate pl-auto w-100">
    <div class="d-flex justify-content-between align-items-center">
      <div class=" g-p--20 text-truncate">
        <p class="g-mb--0 text-truncate"><b>{{{text}}}</b></p>
        <p class="g-mb--0 text-truncate">
          <span class="{{iconFile}} {{iconClass}} align-middle"></span>
          {{{secondText}}}
        </p>
        <p class="g-mb--0 text-truncate d-flex align-items-center g-font--12 d-block d-lg-none">
          {{#second}}
            {{{text}}} <span class="icon-mapfre_005_angle-right  g-c--gray7  g-px--5  "></span>  <b>{{{secondText}}}</b>
          {{/second}}
        </p>
      </div>
      <div class=" g-p--20 text-right d-none d-lg-block">
        {{#second}}
          <div class="g-mb--0 {{textClass}}">
            {{{text}}}
          </div>
          <div class="g-mb--0 {{secondTextClass}}">
            <b>{{{secondText}}}</b>
          </div>
        {{/second}}
      </div>
    </div>
  </div>
  <div class="g-bl--1  g-p--20 d-flex align-items-center">
  {{#btnPayment}}
    <button class="g-btn block g-text--uppercase {{addClass}}">{{{text}}}</button>
  {{/btnPayment}}
  </div>
</div>