<div class="g-b-radius--5 g-box--shadow1 g-bt--1 {{addClass}}">
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
    <div class="w-7 w-lg-10 g-p--15 g-p-lg--0 d-flex align-items-lg-center g-o--hidden flex-column flex-lg-row flex-fill">
      <div class="d-flex justify-content-between align-items-center w-100 g-pl-lg--30">
        <div class="w-100">
          {{#textPrimary}}
          <div class="g-font--medium {{textClass}}">
            {{{text}}}
          </div>
          {{/textPrimary}}
          {{#textSecundary}}
          <div class="g-line--10 {{secondTextClass}}">
            {{{secondText}}}
          </div>
          {{/textSecundary}}
        </div>
      </div>
    </div>
    <div class=" g-pb--15  g-py-lg--0 w-100 d-flex align-items-center justify-content-center flex-grow-1 {{classWidth}}">
      <div class="g-c--pointer {{addBtnClass}}">
        {{#iconBtn}}
          <span class="{{icon}} {{iconClass}}"></span>
        {{/iconBtn}}
        <span class="{{textBtnClass}}">{{textBtn}}</span>
      </div>
    </div>
  </div>
</div>
