<div class="{{addClass}}">

  <div class="d-block d-md-flex  g-mb--15  align-items-center">
    <div class="w-md-50">
      <span class="icon-mapfre_044_logo_landing g-font--45 g-c--red1"></span>
    </div>
    <div class=" g-pl-md--20  g-font--12">
      <div>
        <span class="g-font--medium">Nro de Referencia:</span> 39839298
      </div>
      <div>
        <span class="g-font--medium">Fecha y hora:</span> 12/07/18 - 8:20 a.m
      </div>
    </div>
  </div>

  <div class="d-block d-md-flex">
    <div class="w-md-50 g-br--1  g-pr-md--25 g-mb--15 g-mb-md--0 ">
      <div class="g-font--medium">Productos</div>
      <div>Póliza de Pensión</div>
      <div>Póliza de Salud</div>
    </div>
    <div class=" g-pl-md--20 ">
      <div class="g-font--medium">Costo Total:</div>
      <div>S/ 22,000</div>
    </div>
  </div>

  <div class="">
    {{#list}}
      {{>atoms-items}}
    {{/list}}
  </div>

  {{#btns}}
    <div class="text-center">
      <div class="{{btnClass1}}">
        <span class="g-c--green1 text-underline g-c--pointer g-font--medium" onclick="fullModal.open('{{onclick1}}')">{{text1}}</span>
      </div>
      <div class="{{btnClass2}}">
        <span class="g-c--green1 text-underline g-c--pointer g-font--medium" onclick="fullModal.open('{{onclick2}}')">{{text2}}</span>
      </div>
    </div>
  {{/btns}}

</div>