<div class="{{contentClass}}">
  {{#icon}}
    <div class="{{addClass}}">
      <div class="{{iconFile}} {{iconClass}}"></div>
    </div>
  {{/icon}}
  <div class="{{addClass}}">
    {{#text}}
      <div class="{{textClass}}">{{{text}}}</div>
    {{/text}}
  </div>
</div>