<div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--5">
  <div class="d-lg-flex g-px--15 g-pb--15 g-px-lg--35 g-pb-lg--35 g-pt-lg--10 justify-content-between">
    <div class="d-lg-flex g-ie-flex--0-1-auto w-10">

      {{#inputs}}
        <div class="{{contentClass}} ">

          {{#data1}}
            {{>atoms-mf-input}}
          {{/data1}}

          {{#data2}}
            {{>atoms-mf-select}}
          {{/data2}}

        </div>
      {{/inputs}}

    </div>

    <div class="d-flex align-items-center g-pt-lg--20 g-mt--15 g-mt-lg--0">
      {{#btn}}
        <div class="{{btnClass}}">
          {{>atoms-buttons}}
        </div>
      {{/btn}}
    </div>

  </div>
</div>