<div class="d-flex {{footerClass}}">

  {{#btn}}
    <div class="{{boxClass}}">
      <div class="g-btn g-text--uppercase g-c--pointer d-inline-block g-mw-md--21 {{textClass}}">
        {{{text}}}
      </div>
    </div>
  {{/btn}}

</div>