
    <div class="g-bg-c--gray3 g-c--white1 text-center  g-p--15  {{addClass}}">
        <div class="d-lg-flex align-items-center justify-content-center">
            <div class="g-c--gray2 brand-lg-footer ">
                <span class="{{iconFile}} {{iconClass}}"></span>
            </div>
            <div>
                <div class="footer--title g-font--18 g-font-md--24">
                    <span class="g-font--light">{{title1}}</span> {{title2}}
                </div>
                <div class="d-lg-flex justify-content-center g-mb--15">
                    <div class="g-ml-lg--25 g-mr-lg--25 g-mx--10">
                        {{tel1}}
                    </div>
                    <div class="g-ml-lg--25 g-mr-lg--10 g-mx--10">
                        {{tel2}}
                    </div>
                    <div class="g-ml-lg--25 g-mr-lg--25 g-mx--10">
                        {{consult}}
                    </div>
                </div>
                <div class="footer--copy g-c--gray2">
                    {{{copyright}}}
                </div>
            </div>
        </div>
    </div>
