<div class="heading--box">
    <div class="heading--title">
        {{#icon}}
            <div class="heading--icon g-mr--10  {{iconColor}}">
                <span class="{{iconName}} {{iconSize}}"></span>
            </div>
        {{/icon}}
        <div class="heading--text g-font--14 g-font-md--18 g-text-{{titleCase}}">
            {{{titleName}}}
        </div>
    </div>
    {{#link}}
        <div class="heading-link">
            {{>atoms-link}}
        </div>
    {{/link}}
</div>
