<div class="d-flex align-items-end flex-row {{addClass}}">
  <div class="flex-grow-1">
    {{#input}}
      {{>atoms-mf-input}}
    {{/input}}
  </div>
  <div class="{{iconClassContent}}">
    <span class="{{iconFile}} {{iconClass}} align-middle"></span>
  </div>
</div>

