<div class="text-center g-c--pointer">
  {{#icon}}
    <div class="g-circle--item position-relative {{backgroundColor}}">
      <span class="g-ico--center {{iconName}} {{iconSize}} {{iconColor}}"></span>
    </div>
  {{/icon}}
  <div class="g-c--gray3">{{{title}}}</div>
</div>