<div class=" g-pb--20 g-pt--10 d-flex align-items-center justify-content-between {{addClass}}">
  <div class="">
    {{#title}}
      <div class="g-c--gray1 {{addTitleClass}}">
        {{{title}}}
      </div>
    {{/title}}
    <div class="g-font--13 g-c--gray1 g-font--light">
      {{{description}}}
    </div>
  </div>
  <div class=" g-pl--10  {{addRightClass}}">
    <div class="g-font--18 g-font-md--20 g-c--gray1 g-text--nowrap">
      {{{amount}}}
    </div>
  </div>
</div>