<div class="g-c--pointer d-flex align-items-center {{boxClass}}">

  {{#navText}}
    <div class="{{textClass}}">
      {{{text}}}

      {{#iconRight}}
        <span class="{{iconFile}} {{iconClass}}"></span>
      {{/iconRight}}

    </div>
  {{/navText}}

</div>