<div class="d-flex {{addClass}}">
  <div class="text-center g-line--12 d-flex d-sm-block align-items-center {{boxClass}}">
    <div class="g-font--bold g-font--18 g-font-md--24  g-pr--10  pr-sm-0">
      {{number}}
    </div>
    <div class="g-font--12 g-c--gray3">
      {{copy}}
    </div>
  </div>

  <div class="d-flex {{optionsClass}} border-sm-0">

    {{#icon}}
      <div class="">
        <span class="{{iconFile}} {{iconClass}}"></span>
      </div>
    {{/icon}}

    {{#toggle}}
      <div class=" g-pl--20 ">
        <span class="{{toggleClass}} g-c--pointer g-c--red1" data-accordion="{{accordionOpen}}" data-accordion-id="{{accordionId}}" data-accordion-text="{{accordionText}}">
          {{toggleCopy}}
        </span>
      </div>
    {{/toggle}}

  </div>
</div>