<div class="d-flex align-items-end justify-content-center {{addClass}}">
  <span class="{{iconFile}} {{iconClass}}"></span>
  <div class="g-line--12">
    <div class="g-font--11 g-c--gray2 g-text--uppercase">{{region}}</div>
    <div class="g-font--14 g-font-md--18">{{phone}}</div>
  </div>
</div>