<div class="d-flex align-content-center">
	<div class="w-100 bd-highlight">
		<div class="g-progress">
			<div class="bar"></div>
		</div>
	</div>
	<div class="flex-shrink-0 bd-highlight g-ml--10">
		{{text}}
	</div>
</div>