<div class="row number--box {{addClass}}">
  {{#itemStep}}
    <div class="{{cols}} number--box--item">
      <div class="number--box--wrapper {{stepClass}}">
        <div class="number--box--option">
          {{#icon}}
            {{>atoms-icons}}
          {{/icon}}
        </div>
        <div class="number--box--title  g-mt--5 ">
          {{stepName}}
        </div>
      </div>
    </div>
  {{/itemStep}}
</div>
