<div class="table--box {{addClass}}">
  <table class="{{tableClass}}">
    <thead>
      {{#tableHead}}
        <tr>
          <th class="g-font--medium text-md-center">
            {{number}}
          </th>
          <th class="g-font--medium">
            {{name}}
          </th>
          <th class="g-font--medium text-md-center">
            {{dni}}
          </th>
          <th class="g-font--medium text-md-center">
            {{salary}}
          </th>
          <th class="g-font--medium text-md-center">
            {{birthdate}}
          </th>
        </tr>
      {{/tableHead}}
    </thead>
    <tbody>
      {{#tableBody}}
        <tr>
          <td class="text-md-center {{bodyClass}}" data-table="{{headNumber}}">
            <span>{{number}}</span>
          </td>
          <td class="{{bodyClass}}" data-table="{{headName}}">
            <span>{{name}}</span>
          </td>
          <td class="text-md-center {{bodyClass}}" data-table="{{headDni}}">
            <span>{{dni}}</span>
          </td>
          <td class="text-md-center {{bodyClass}}" data-table="{{headSalary}}">
            <span>{{salary}}</span>
          </td>
          <td class="text-md-center {{bodyClass}}" data-table="{{headBirthdate}}">
            <span>{{birthdate}}</span>
          </td>
        </tr>
      {{/tableBody}}
    </tbody>
  </table>
</div>