
<div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-column-reverse flex-lg-row g-bt--1 g-bc--gray17 g-box--shadow1 g-bg-c--white1 g-p--10 g-p-lg--0">
  <div class="g-tabsearch" role="tablist">
    <ul class="g-inner d-none d-lg-block w-10">
      {{#listTab}}
        <li class="g-tabsearch__tab {{addActive}} g-font--medium">{{text}}</li>
      {{/listTab}}
    </ul>
    {{#select}}
    <div class="d-block d-lg-none w-10 w-lg-auto">
      {{>atoms-mf-select}}
    </div>
    {{/select}}

  </div>
  {{#search}}
  <div class="w-px-lg--20 w-px-xl--27 w-10 g-p--10  g-p-lg--0  g-pr-lg--10 ">
    {{>atoms-mf-search}}
  </div>
  {{/search}}
</div>
