<div class="pt-xs--2">

  <div [formGroup]="frmPeriod" class="row mb-xs--2" [ngClass]="{ 'g-full-form--load': isLoadingFilterVisible }">
    <div class="col">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div class="g-px-lg--25 g-px--20 pt-3 pb-2">
          <div class="row">
            <div class="col">
              <div class="g-items-text w-100 g-font--bold g-font--18 g-font-lg--24">
                {{ 'Periodos' }}<span class="g-font--light g-font--14 g-font-lg--16"> - {{ '¿Qué periodo deseas ver a detalle?' }}</span>
              </div>
            </div>
          </div>
          <div class="row pb-xs--2">
            <div class="col-md-6">
              <mf-select
                (getLoadingState)="getCboLoadingState($event)"
                [config]="configCbo"
                [dependent1]="policyNumber"
                [frm]="frmPeriod"
                [label]="lang.SelectPeriod"
                [name]="'periodMonth'"
                [type]="'periodMonth'"
                formControlName="periodMonth">
              </mf-select>
            </div>
          </div>
          <div *ngIf="!showLoadingPeriod && period" class="row">
            <div class="col-md-12">
              <client-card-sctr-period-item [period]="period" [policyNumber]="policyNumber" [isAdditional]="isAdditional" [showReceipts]="false"></client-card-sctr-period-item>
            </div>
          </div>
          <mf-loader *ngIf="showLoadingPeriod"></mf-loader>
        </div>
      </div>
    </div>
  </div>

  <div class="g-box--shadow1 justify-content-between g-bg-c--white1 d-lg-flex align-items-center w-100 g-b-radius--3 g-py--20 g-px--15 g-px-md--20 g-my--20">
    <div class="g-font--14 g-font-lg--24 g-font--bold g-mb--15 g-mb-lg--0">
      {{ 'Recibos' }}
    </div>
    <div *ngIf="showFilters" [formGroup]="frmFilter" class="d-flex flex-wrap g-ie-flex--0-1-auto">
      <label class="g-radio d-flex align-items-center m-0">
        <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
          <input formControlName="situationType" value="Todos" type="radio" />
          <span class="radio"></span>
          {{ 'Todos' }}
        </div>
      </label>

      <label class="g-radio d-flex align-items-center m-0">
        <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
          <input formControlName="situationType" value="PAGADO" type="radio" />
          <span class="radio"></span>
          {{ 'Recibos pagados' }}
        </div>
      </label>

      <label class="g-radio d-flex align-items-center m-0">
        <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
          <input formControlName="situationType" value="PENDIENTE" type="radio" />
          <span class="radio"></span>
          {{ 'Recibos pendientes' }}
        </div>
      </label>
    </div>
  </div>

  <div *ngIf="showReceipts" class="row">
    <div class="col mb-xs--2">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div>
          <!-- Paginador -->
          <mf-paginator
            (itemsPerPageChange)="itemsPerPageChange($event)"
            (pageChange)="pageChange($event)"
            [autoHide]="true"
            [isHeaderLabelsVisible]="false"
            [perPageList]="[10, 25, 50]"
            [total]="total"
            [marginTop]="total > 10"
            [hasBorder]="false"
            marginCard="g-mx-lg--20"
            perPageListColor="g-c--green1"
          >
            <!-- Loading -->
            <mf-loader *ngIf="showLoading"></mf-loader>

            <!-- No encontrado -->
            <client-item-not-found
              [show]="!showLoading && !receipts.length"
              [text]="withoutReceipt">
            </client-item-not-found>

            <!-- Lista -->
            <mf-card-item *ngFor="let receipt of receipts | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total } let i = index">
              <client-sctr-period-receipts-item *ngIf="!showLoading" [receipt]="receipt" [ga]="ga"></client-sctr-period-receipts-item>
            </mf-card-item>

          </mf-paginator>
        </div>
      </div>
    </div>
  </div>

</div>
