<div class="card g-b-radius--15 border-0 w-100 mx-1 my-3">
    <div class="card-header g-bg-c--gray19 border-0 text-center text-dark g-text--uppercase g-font--bold">
        {{ header }}
    </div>
    <div class="card-body g-bg-c--white1">
        <div class="row">
            <div *ngFor="let item of data" class="col-md-6 col-lg-4">
                <div class="d-flex align-items-center g-hg--100 sect-container">
                    <img class="g-maxh--62" [src]="item.icon" alt="icons" style="width: 30% !important;">
                    <div class="w-100 g-font--12 g-mb--0 g-font--medium" [innerHtml]="item.description"></div>
                </div>
            </div>
        </div>
    </div>
</div>