<!-- Loading -->
<mf-loader *ngIf="showLoader"></mf-loader>

<ng-container *ngIf="!showLoader">
  <div class="view-household pt-xs--2" *ngIf="policyFound">

    <!-- Notifications -->
    <client-notifications-policy-component *ngIf="policyNotification" [policyNotification]="policyNotification"></client-notifications-policy-component>

    <!-- Detail cards -->
    <div class="row">
      <div class="col mb-xs--2">
        <client-card-detail-policy [policyNumber]="policyNumber" [isEps]="isEps" [isEpsContractor]="isEpsContractor" [mpKeys]="mpKeys" [ga]="ga">
          <div class="row">
            <!-- Card de contrato -->
            <div class="col-12 mb-xs--2 mb-lg-0 d-flex"
              [ngClass]="mpKeys.MP_CARD_PAGOS ? 'col-lg-4' : 'col-lg-6'">
              <client-card-policy-basic-info *ngIf="!isEpsContractor" [isPPFM]="isPPFM"></client-card-policy-basic-info>
              <client-card-eps-basic-info *ngIf="isEpsContractor"></client-card-eps-basic-info>
            </div>
            <!-- Card de pagos -->
            <div class="col-12 col-lg-4 mb-xs--2 mb-lg-0 d-flex" *ngIf="mpKeys.MP_CARD_PAGOS">
              <client-card-payment-policy *ngIf="!isEpsContractor" (paymentView)="goPayment($event)" (edit)="goPaymentSetting()" [ga]="ga"></client-card-payment-policy>
              <client-card-payment-eps *ngIf="isEpsContractor" (edit)="goPaymentSetting()" (paymentView)="goPayment($event)" [ga]="ga"></client-card-payment-eps>
            </div>
            <!-- Card de contratante -->
            <div class="col-12 mb-xs--2 mb-lg-0 d-flex"
              [ngClass]="mpKeys.MP_CARD_PAGOS ? 'col-lg-4' : 'col-lg-6'">
              <client-card-contracting-info *ngIf="!isPPFM"></client-card-contracting-info>
              <client-card-basic-info *ngIf="isPPFM" [shouldEdit]="false" [isEnterprise]="isEnterprise" [info]="info" [titleCard]="titleHeadlineCard" [useSkeleton]="true" [showLoading]="showLoadingCardHeadline"></client-card-basic-info>
            </div>
          </div>
        </client-card-detail-policy>
      </div>
    </div>

    <!-- Asegurados -->
    <div class="row" *ngIf="!isEpsContractor">
      <div class="col">
        <client-card-policy-insured-grouped
          [namePolice]="namePolice"
          [policyNumber]="policyNumber"
          [policyType]="policyType"
          [codCia]="codCia"
          [codRamo]="codRamo"
          [numSpto]="numSpto"
          [mpKeys]="mpKeys"
          [isPPFM]="isPPFM"
          [ga]="ga">
        </client-card-policy-insured-grouped>
      </div>
    </div>

    <!-- Control de afiliados -->
    <div class="row" *ngIf="isEpsContractor">
      <div class="col mb-xs--2">
        <client-card-affiliates [policyNumber]="policyNumber"></client-card-affiliates>
      </div>
    </div>

    <!-- Facturas pendientes -->
    <div class="row" *ngIf="isEpsContractor">
      <div class="col mb-xs--2">
        <client-card-pending-invoices (setPolicyNotification)="setPolicyNotification($event)"></client-card-pending-invoices>
      </div>
    </div>

    <!-- Cuotas de mi póliza -->
    <div class="row" *ngIf="!isEps && mpKeys.MP_CARD_PAGOS">
      <div class="col mb-xs--2">
        <client-card-my-fees [policyType]="policyType" [ga]="ga"></client-card-my-fees>
      </div>
    </div>

    <!-- Banner -->
    <div *ngIf="isPPFM">
      <client-banner-carousel></client-banner-carousel>
    </div>

    <!-- Qué quieres hacer -->
    <div class="row">
      <div class="col px-0 px-lg-3 mb-xs--0 mb-lg--4">
        <client-card-what-you-want-to-do [policyType]="policyType" [isEpsContractor]="isEpsContractor" [isPPFM]="isPPFM"></client-card-what-you-want-to-do>
      </div>
    </div>
  </div>

  <div class="view-household pt-xs--2" *ngIf="!policyFound">
    <div class="row">
      <div class="col">
        <client-item-not-found [show]="true" [text]="textNotFound"></client-item-not-found>
      </div>
    </div>
  </div>
</ng-container>
