<div class="g-p--15 d-flex flex-wrap g-bt--1 g-bc--gray11">
  <div *ngFor="let item of table; trackBy: trackByFn" class="g-line--14 g-pb--10 g-pb-lg--0 g-font--light w-10 g-w-md-30">
    <span class="g-font--bold">{{ item?.column }}</span>
    <div *ngIf="item?.tooltips; else noTooltip" class="d-flex align-items-center">
      <div class="position-relative d-inline-block">
        <mf-tooltips [classAlign]="'g-tooltip--alternative-message--left g-tooltip--alternative-message--left--30'">
          <div class="g-font--12 g-font--normal text-left">{{ item?.tooltips }}</div>
        </mf-tooltips>
      </div>
      <div class="g-pl--5 g-pt--1">{{ item?.row }}</div>
    </div>
    <ng-template #noTooltip>
      <div class="g-pt--4">{{ item?.row }}</div>
    </ng-template>
  </div>
</div>
