<div class="g-filterbox--filter">
  <!-- Titulo -->
  <div class="g-bg-c--gray8 g-c--white1 text-center g-p--10 g-font--18  g-font--medium g-text--uppercase d-none d-lg-block">
    {{ lang.RequestSubstituteDriver }}
  </div>
  <div class="d-lg-none d-flex g-shadow--header position-relative">
    <div class="d-flex align-items-center g-o--hidden w-10">
      <div class="g-br--1 h-px--5 g-px--15 d-flex align-items-center" (click)="close()">
        <span class="g-map-filter--close d-block icon-mapfre_010_arrow-left g-font--18"></span>
      </div>
      <div class="h-px--5 g-px--15 w-10 d-flex align-items-center g-o--hidden">
        <div class="g-text--uppercase g-line--11 text-truncate">
          <span class="g-font--13 d-block g-font--light">{{ header.subTitle }}</span>
          <span class="g-font--medium">{{ header.title }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Formulario -->
  <div [formGroup]="form" class="g-map-filter--content g-px--20 g-pt--20 g-pt-lg--0 g-pb-lg--20 g-bg-c--white1 g-shadow--horz g-shadow-lg--none" data-simplebar>
    <div class="g-mb--20 g-mt-lg--15">
      {{ lang.InsertTheInformation }}
      <span class=" g-c--pointer g-c--green1 g-font--medium" (click)="viewInfo()">
        {{ HowItWorks.link }}
      </span>
    </div>
    <div class="w-100 g-font--medium">
      {{ lang.Questions.first }}
    </div>

    <mf-custom-alert *ngIf="dateError" [status]="errorStatus" [text]="warningTextDate"></mf-custom-alert>

    <div class="d-lg-flex w-10">
      <div class="w-10 w-lg-50 g-pr-lg--10">
        <mf-input-datepicker
          formControlName="date"
          [minD]="minDate"
          [error]="showErrors('date')"
          [label]="generalLang.Labels.Date">
        </mf-input-datepicker>
        <mf-show-errors [control]="form.controls['date']"></mf-show-errors>
      </div>

      <div class="w-10 w-lg-50">
        <div class="d-flex w-10">
          <mf-input
            #inputHour
            class="w-50"
            type="tel"
            formControlName="hour"
            [maxlength]="5"
            [error]="showErrors('hour')"
            [label]="generalLang.Labels.Hour">
          </mf-input>

          <div class="d-flex align-items-end g-pb--5 g-ml--10 g-bb--1 g-bc--gray2 g-c--pointer w-50 w-lg-auto justify-content-between g-ie-flex--0-1-auto" (click)="changeAmPm()">
            <div class="g-font--13 g-px--10 g-text--uppercase" id="am_pm">
              {{ currentTime }}
            </div>
            <span class="icon-mapfre_004_triangle-down ico-select"></span>
          </div>
        </div>
        <mf-show-errors [control]="form.controls['hour']"></mf-show-errors>
      </div>
    </div>

    <div class="d-flex align-items-end">
      <div class="w-100 g-input-icon-pin">
        <client-input-with-icon (clickIcon)="fnOpenSearch('start')" classIcon="icon-mapfre_015_location-pin g-c--green1">
          <mf-input
            formControlName="startPoint"
            (onfocus)="fnOpenSearch('start')"
            [minlength]="minLength.sd_start_point"
            [maxlength]="maxLength.sd_start_point + 100"
            [error]="showErrors('startPoint')"
            [label]="lang.LocateStartPoint">
          </mf-input>
        </client-input-with-icon>
        <mf-show-errors [control]="form.controls['startPoint']"></mf-show-errors>
      </div>
    </div>

    <div>
      <mf-input
        formControlName="referenceStartPoint"
        [minlength]="minLength.sd_start_point"
        [maxlength]="maxLength.sd_start_point"
        [error]="showErrors('referenceStartPoint')"
        [label]="lang.ReferenceStartPoint"
        (onblur)="formatValue('referenceStartPoint')">
      </mf-input>
      <mf-show-errors [control]="form.controls['referenceStartPoint']"></mf-show-errors>
    </div>

    <div class="d-flex align-items-end">
      <div class="w-100 g-input-icon-pin">
        <client-input-with-icon (clickIcon)="fnOpenSearch()" classIcon="icon-mapfre_015_location-pin g-c--green1">
          <mf-input
            formControlName="endPoint"
            (onfocus)="fnOpenSearch()"
            [minlength]="minLength.sd_start_point"
            [maxlength]="maxLength.sd_start_point + 100"
            [error]="showErrors('endPoint')"
            [label]="lang.LocateEndPoint">
          </mf-input>
        </client-input-with-icon>
        <mf-show-errors [control]="form.controls['endPoint']"></mf-show-errors>
      </div>
    </div>

    <div>
      <mf-input
        formControlName="referenceEndPoint"
        [minlength]="minLength.sd_start_point"
        [maxlength]="maxLength.sd_start_point"
        [error]="showErrors('referenceEndPoint')"
        [label]="lang.ReferenceEndPoint"
        (onblur)="formatValue('referenceEndPoint')">
      </mf-input>
      <mf-show-errors [control]="form.controls['referenceEndPoint']"></mf-show-errors>
    </div>

    <div>
      <mf-input
        formControlName="phone"
        [minlength]="minLength.sd_phone_contact"
        [maxlength]="maxLength.sd_phone_contact"
        [error]="showErrors('phone')"
        [label]="lang.ContactPhone">
      </mf-input>
      <mf-show-errors [control]="form.controls['phone']"></mf-show-errors>
    </div>

    <div class="w-100 g-mt--25 g-font--medium">
      {{ lang.Questions.secondDriver }}
    </div>

    <div class="d-flex">
      <div class="w-10">
        <mf-select formControlName="vehicleType" [error]="showErrors('vehicleType')" [label]="lang.VehicleType" [options]="serviceType"></mf-select>
      </div>

      <div
      class="g-b-radius--5 g-ml--15 d-flex w-px--11 g-p--5 g-mt--20 justify-content-center align-items-center"
      [ngClass]="{ 'g-b--1' : currentServiceSelected && !currentServiceSelected.beneficio.ocultarDisponibles }">
        <div class="text-center g-line--10 g-pr--5">
          <div *ngIf="currentServiceSelected && !currentServiceSelected.beneficio.ocultarDisponibles">
            <div class="g-font--15 mx-auto g-font--bold d-inline-block g-px--5">
              {{ currentServiceSelected.beneficio.esIlimitado? lang.Unlimited : currentServiceSelected.beneficio.restantesDisponibles || 0 }}
            </div>
            <div class="g-font--light g-font--10 g-mt--5 g-line--12 g-text--uppercase">
              {{ lang.AvailableWithBenefit.first }}
            </div>
          </div>
        </div>

        <div *ngIf="currentServiceSelected && !currentServiceSelected.beneficio.ocultarDisponibles" class="g-tooltip--alternative-top-left">
          <mf-tooltips [disabled]="!currentServiceSelected?.beneficio?.tooltip?.length">
            <div class="text-left g-font--13 g-font--bold g-link--green">{{ lang.Benefits }}</div>
            <div class="text-left g-font--13 g-link--green" *ngFor="let tool of currentServiceSelected.beneficio.tooltip">{{ tool }}</div>
          </mf-tooltips>
        </div>
      </div>
    </div>

    <div class="g-bg-c--gray12 g-mt--25 g-px--15 g-py--10 g-b-radius--5">
      <div class="d-flex">
        <div class="w-100 g-font--bold">{{  generalLang.Labels.Price }}:</div>
        <div class="ml-auto flex-shrink-0 g-font--bold" *ngIf="!currentServiceSelected">
          {{ 0 | currency: (currentServiceSelected?.precio?.monedaSimbolo || 'S/ ') }}
        </div>
        <div class="ml-auto flex-shrink-0 g-font--bold" *ngIf="currentServiceSelected">
          {{ currentServiceSelected?.precio?.precio?
               (currentServiceSelected?.precio?.precio | currency: (currentServiceSelected?.precio?.monedaSimbolo || 'S/ ')) : lang.Free }}
        </div>
      </div>
      <div class="d-flex" *ngIf="currentServiceSelected && currentServiceSelected.precio.precio">
        <div class="w-100 g-c--gray3 g-font--13">{{ lang.CashPayment }}</div>
        <div class="ml-auto flex-shrink-0 "></div>
      </div>
    </div>

    <mf-custom-alert *ngIf="warningAlert" [status]="warningStatus" [text]="warningText"></mf-custom-alert>

    <div class="g-pb--80 g-pb-md--0"></div>
  </div>

  <div class="g-full-box--footer g-p--10 g-bt--1">
    <div class="text-center">
      <button mf-button [disabled]="!form.valid || (form.valid && dateError)" (click)="goToSummary()" class="w-px--24">
        {{ lang.Request }}
      </button>
    </div>
  </div>

</div>
<client-modal-how-works *ngIf="openModalHowWorks" [modalData]="HowItWorks" [modalHeader]="header"></client-modal-how-works>
