<div class="g-bg-c--gray3 g-c--white1 text-center p-3">
  <div class="d-lg-flex align-items-center justify-content-center">
    <div class="g-c--gray18 brand-lg-footer ">
      <span class="icon-mapfre_044_logo_landing g-font--42"></span>
    </div>
    <div>
      <div class="footer--title g-font--18 g-font-md--24 text-lowercase">
        <span class="g-font--light text-capitalize">¿{{ lang.Need }}</span> {{ lang.Assists }}?
      </div>
      <div class="d-lg-flex mb-3">
        <div class="ml-lg-5 mr-lg-5 ml-sm-2 mr-sm-2">
          <span class="d-none d-md-block">{{ lang.Lima }}: {{ phoneNumber }}</span>
          <span class="d-block d-md-none">
            <a [href]="'tel:' + phoneNumber">{{ lang.Lima }}: {{ phoneNumber }}</a>
          </span>
        </div>
        <div class="ml-lg-5 mr-lg-5 ml-sm-2 mr-sm-2" [innerHTML]="contact"></div>
      </div>
      <div class="footer--copy g-c--gray18">{{ lang.Copyright }}</div>
    </div>
  </div>
</div>
