<!-- title -->
<client-card-user-profile [isEnterprise]="isEnterprise"></client-card-user-profile>

<div class="d-2xl-flex">
  <div class="w-100 g-mr--25">
    <div class="row mb-xs--0 mb-lg-4">
      <!-- Datos de cliente Empresa -->
      <div class="col-12 col-lg-6 mb-xs--2 mb-lg-0 d-flex" *ngIf="isEnterprise">
        <client-card-enterprise [infoJob]="jobBasicInfo"></client-card-enterprise>
      </div>
      <!-- Datos Personales -->
      <div class="col-12 col-lg-6 mb-xs--2 mb-lg-0 d-flex" *ngIf="!isEnterprise">
        <client-card-basic-info (edit)="goToEditProfilePage($event)" [shouldEdit]="true" [isEnterprise]="isEnterprise"></client-card-basic-info>
      </div>
      <!-- Datos de Trabajo -->
      <div class="col-12 col-lg-6 mb-xs--2 mb-lg-0 d-flex" *ngIf="!isEnterprise">
        <client-card-basic-job-info [info]="jobBasicInfo" (edit)="openModalTrabajador($event)"></client-card-basic-job-info>
      </div>
    </div>
    <!-- Direccion de correspondencia -->
    <div class="row g-mb--25" *ngIf="!isEnterprise">
      <div class="col-12">
        <client-card-correspondence-address></client-card-correspondence-address>
      </div>
    </div>
  </div>

  <div class="w-100 w-px-2xl--33" [formGroup]="frm" *ngIf="isPerson">
    <div class="g-box--shadow1 g-bg-c--white1 w-100 g-b-radius--3 g-mb--25 g-mb-2xl--0" [ngClass]="{'g-full-form--load': showLoading}">

      <div class="d-flex align-items-center g-px--20 g-py--15 g-bb--1">
        <div class="g-mr--10">
          <span class="icon-mapfre_016_heart g-font--18"></span>
        </div>
        <div class="g-font--16 g-font--medium">
          PREFERENCIAS DE CONTACTO
        </div>
      </div>

      <div class="g-px--20 g-py--15">

        <div class="g-mb--15">
          Quiero recibir comunicación sobre:
        </div>

        <div class="d-md-flex d-2xl-block g-mt--25 g-mt-2xl--0">
          <div class="g-mb-2xl--10 w-md-3 w-2xl-auto g-pr-md--15 g-pr-2xl--0">
            <mf-checkbox
              [checked]="false"
              [label]="lang.Labels.MyPromotions"
              formControlName="promociones"
            >
            </mf-checkbox>
          </div>

          <div class="g-mb-2xl--10 w-md-3 w-2xl-auto g-pr-md--15 g-pr-2xl--0">
            <mf-checkbox
              [checked]="false"
              [label]="lang.Labels.MyBenefits"
              formControlName="beneficios"
            >
            </mf-checkbox>
          </div>

          <div class="g-mb-2xl--10 w-md-3 w-2xl-auto g-pr-md--15 g-pr-2xl--0">
            <mf-checkbox
              [isDisabled]="true"
              [checked]="true"
              [label]="lang.Labels.MyInsurance"
              formControlName="seguros"
            >
            </mf-checkbox>
          </div>
        </div>

      </div>

      <div class="g-px--20 g-py--15 g-bt--1">
        <div class="g-checkbox d-flex g-ie-flex--0-1-auto">
          <label class="d-flex g-ie-flex--0-1-auto">
            <input type="checkbox" formControlName="terminos">
            <span class="checkbox"></span>
          </label>
          <span class="">
            Acepto los <span class="g-c--green1 g-font--medium g-c--pointer" (click)="openModalTerms()">términos y condiciones</span> sobre el uso de datos
          </span>
        </div>
      </div>

      <div class="text-center g-pb--20">
        <button
          (click)="save()"
          [disabled]="showLoading || !updatedFrm || !frm.value.terminos"
          class="g-max-w--18 w-10 "
          mf-button
          outline
        >
          {{ lang.Buttons.Save }}
        </button>
      </div>

    </div>
  </div>

</div>

<!-- Modales -->
<client-edit-data-work-component [data]="dataClientJob" [salaryRange]="salaryRange" (dataUpdate)="dataUpdate($event)"></client-edit-data-work-component>
<mf-modal-message [confirmButtonText]="btnConfirm" [messageDone]="titleAlert" [messageSuccessUpdate]="messageAlert"></mf-modal-message>
<mf-modal-alert
  [confirmButtonText]="'Cerrar'"
  [title]="lang.Titles.TermsModal"
  [noMinHeight]="true"
  [sizeClass]="'g-modal--medium'"
>
  <div class="m-auto text-center g-py--20 g-px--20 g-modal--wrap">
    <div class="g-font--18 mb-4 g-font--medium">
     {{ lang.Titles.Terms}}
    </div>
    <p class="h-txt--justify">
      Por el presente documento otorgo mi consentimiento libre, previo, informado, expreso e inequívoco para que <strong>MAPFRE</strong> incluya mis datos personales sensibles o no, consignados en el presente documento, en sus sistemas y base de datos y pueda dar tratamiento a mi información. Asimismo, en caso <strong>MAPFRE</strong> acepte la presente solicitud de seguro y se emita la póliza correspondiente, consiento expresamente la comunicación de mis datos personales a las entidades y/o personas a las cuales <strong>MAPFRE</strong> les encargará el cumplimiento de ciertas actividades para el desarrollo del servicio contratado y exclusivamente para dicho fin, teniendo conocimiento que <strong>MAPFRE</strong> asegura la confidencialidad de mis datos y garantiza que no los compartirá con personas ajenas, salvo lo indicado en el presente documento.
    </p>
    <br>
    <p class="h-txt--justify">
      Igualmente autorizo el tratamiento de los datos personales suministrados para realizar estudios estadísticos, realizar estudios de siniestralidad, remitir información sobre productos y servicios de <strong>MAPFRE</strong> y de las distintas empresas del Grupo <strong>MAPFRE</strong> 1 , a través de medios electrónicos, llamadas telefónicas o correspondencia escrita, así como el flujo transfronterizo de la información a otras entidades, con la finalidad de realizar actividades relacionadas a la naturaleza del contrato, garantizar la continuidad de las operaciones de la empresa ante cualquier contingencia y la gestión de otras solicitudes o contratos por parte de las distintas empresas del Grupo <strong>MAPFRE</strong>.
    </p>
  </div>
</mf-modal-alert>
