<mf-paginator
  (itemsPerPageChange)="itemsPerPageChange($event)"
  (pageChange)="pageChange($event)"
  [labelPlural]="generalLang.Titles.InsuredTypes.Insureds"
  [labelSingular]="generalLang.Titles.InsuredTypes.Insured"
  [perPageList]="[10, 25, 50]"
  [textBold]="title"
  [total]="total"
  marginCard="g-mx-lg--20 g-mt-lg--20"
  perPageListColor="g-c--green1">
    <!-- Buscador -->
    <div class="g-mb--20">
      <div [formGroup]="form" class="g-px--10 g-px-lg--0 d-flex flex-column flex-md-row">
        <div class="w-px-md--35 w-px-lg--43 w-10 g-mr-md--20">
          <div class="g-mx--10 g-mx-md--0">
            <client-input-search
              (cancel)="searchInput($event)"
              (search)="searchInput($event)"
              [hideClear]="true"
              [maxLength]="maxLengthSearch"
              [searchText]="insuredSearch"
              [placeholder]="lang.placeholderSearchInsured">
            </client-input-search>
            <div class="g-mt--5">
              <mf-show-errors [control]="insured"></mf-show-errors>
            </div>
          </div>
        </div>
        <div class="g-mt--10 g-px--15 g-px-md--0 g-mt-md--0">
          <div class="d-flex">
            <button
              (click)="search()"
              [disabled]="!form.valid"
              class="g-px-md--50 w-5 w-lg-auto g-py--9"
              mf-button>{{ generalLang.Buttons.Search }}</button>
            <button
              (click)="clear()"
              class="g-ml--10 g-px-md--50 w-5 w-lg-auto g-py--9"
              mf-button
              outline>{{ generalLang.Buttons.Clear }}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>
    <!-- No encontrado -->
    <client-item-not-found
      [show]="!showLoading && !insureds.length"
      [text]="lang.ItemNotFoundInsured">
    </client-item-not-found>
    <!-- Lista -->
    <mf-card-item
      *ngFor="let insured of insureds | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total } let i = index">
      <client-item-sctr-insured *ngIf="!showLoading"
      [index]="itemsPerPage * (page - 1) + i + 1"
      [insured]="insured"></client-item-sctr-insured>
    </mf-card-item>

  </mf-paginator>
