<div class="mb-xs--2" *ngIf="showLoading">
  <mf-loader></mf-loader>
</div>

<div *ngIf="!showLoading" class="view-soat-insurance pt-xs--2">
  <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
    <div class="w-100">

      <div class="g-box-icons--title d-flex justify-content-between align-items-center w-10 flex-fill text-truncate g-px-lg--25">
        <div class="g-items-list d-flex flex-fill pl-3 pl-lg-0">
          <div class="d-block d-sm-flex align-items-center flex-fill text-truncate pt-3 pb-lg-2 g-mb--10">
            <p class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase g-mb--0">
              {{ ppfmTitle }}
            </p>
          </div>
        </div>
      </div>

      <div class="g-px--20 g-px-lg--25 g-pb--20">
        <div class="row">

          <ng-container *ngFor="let aditionalBenefit of aditionalBenefitList">
            <div class="col-md-6 col-lg-6">
              <div class="g-box--shadow1 g-c--pointer g-mb--20">
                <div class="d-flex align-items-center g-hg-lg--140 g-hg--100 sect-container">
                  <img class="g-wt-lg--120 g-wt--70 h-100" [src]="aditionalBenefit.urlImagen" alt="" />
                  <div class="w-100 mb-2 mb-lg-0">
                    <div class="g-font--medium text-lg-truncate g-text--uppercase">{{ aditionalBenefit.descripcion }}</div>
                    <div *ngIf="aditionalBenefit.isActive">
                      <div *ngIf="aditionalBenefit.beneficiaries.length === 1">
                        <div class="text-lg-truncate text-capitalize">
                          {{ aditionalBenefit.beneficiaries[0][aditionalBenefit.attrDisplay].toLowerCase() }}
                        </div>
                      </div>
                      <client-dropdown-items-policy
                        *ngIf="aditionalBenefit.beneficiaries.length > 1"
                        [policyNumber]="aditionalBenefit.policyNumber"
                        [policyType]="aditionalBenefit.policyType"
                        [items]="aditionalBenefit.beneficiaries"
                        [descripcionItem]="aditionalBenefit.attrDisplay"
                        [isRelative]="true">
                      </client-dropdown-items-policy>
                    </div>
                    <div *ngIf="aditionalBenefit.isActive">{{ aditionalBenefit.policyNumberLabel }}</div>
                  </div>
                  <div *ngIf="aditionalBenefit.isActive" class="d-flex align-items-center text-nowrap g-c--green1" (click)="goToDetail(aditionalBenefit)">
                    <span class="g-font--medium pr-1">Ver detalle</span>
                    <span class="g-font--20 pr-3 icon-mapfre_103_ico-right"></span>
                  </div>
                  <span *ngIf="!aditionalBenefit.isActive" class="item-button text-center" (click)="openContactModal()">ACTIVAR</span>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Asegurados -->
<div class="row pt-xs--2">
  <div class="col">
    <client-card-policy-insured-ppfm></client-card-policy-insured-ppfm>
  </div>
</div>

<!-- Banner -->
<div class="pt-xs--2">
  <client-banner-carousel></client-banner-carousel>
</div>

<!-- Qué quieres hacer -->
<div class="row">
  <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
    <client-card-what-you-want-to-do></client-card-what-you-want-to-do>
  </div>
</div>

<!-- Modal para contactar agente o sectorista -->
<mf-modal *ngIf="showContactModal"
  class="sect-container"
  [confirm]="phone"
  [confirmButtonText]="'Enviar Whatsapp'"
  [disableButton]="!phone"
  (confirmResponse)="openWhatsapp($event)">

  <div class="m-auto text-center g-px--20">
    <div class="text-center g-mb--20"><img [src]="infoIcon" alt="info"></div>
    <div class="d-block g-font--bold g-font--16 g-mt--10 g-text--uppercase text-center">
      <span>{{ lang.Titles.PpfmContact }}</span>
    </div>
    <div class="d-block g-px--60 g-pt--10 g-mt--10 g-font--13 g-mb--40 text-center text-center">
      <span [innerHTML]="contactModalMessage"></span>
    </div>
  </div>

</mf-modal>