<div class="g-input-design" [ngClass]="{'g-form-focus': value, 'msn-error': error }">
  <div class="d-flex">
    <input #mfInputDatepickerComponent readonly [type]="type" [(ngModel)]="value" [disabled]="disabled"
      [maxlength]="maxlength" [minlength]="minlength" (blur)="onBlurInput($event)" [owlDateTime]="dt2" [min]="minD"
      [max]="maxD" [owlDateTimeTrigger]="dt2">
    <owl-date-time #dt2="owlDateTime" [startView]="'multi-years'" [pickerType]="'calendar'"></owl-date-time>
    <label class="g-input__label g-placeholder">{{ label }}&nbsp;
      <span></span>
    </label>
    <span [owlDateTimeTrigger]="dt2"
      class="pl-1 g-form-icon g-font--25 g-font-md--21 icon-mapfre_050_agendar g-c--green1 g-c--pointer"></span>
  </div>
</div>
