<div class="clearfix g-mb--20">
  <div class="d-lg-flex justify-content-between g-b-radius--5 g-bg-c--white1 g-my--15 g-box--shadow1">
    <div class="d-flex g-ie-flex--0-1-auto mr-auto g-py--15 g-pr--15 w-10 g-pl-lg--20">
      <span #iconNotification class="g-font--21 g-font-md--30 g-pt-lg--5 g-pr--0 g-mx--10"></span>
      <div class="flex-wrap">
        <div class="g-font--12 g-font-md--20 g-font--medium">
          {{ bannerData.title }}
        </div>
        <div class="w-100 g-font--light g-font--12 d-lg-flex">
          <div
            *ngFor="let item of bannerData.items; first as isFirst"
            class="d-flex g-mt--5 g-mt-lg--0 align-items-lg-center"
          >
            <span
              [ngClass]="{ 'g-pl-lg--15': !isFirst }"
              class="g-list--ico icon-mapfre_003_check g-pt--2 g-pt-lg--0 g-mr--5"
            ></span>
            <div>{{ item }}</div>
          </div>
        </div>
      </div>
    </div>
    <div
      (click)="doBannerAction()"
      *ngIf="bannerData.link"
      class="g-py--5 g-pr-lg--30 g-px-md--25 text-center text-md-left d-flex align-items-center g-py--5 g-px--10"
      ctrl="linkBannerData"
      (domChange)="onDomChange($event, { lbl: bannerData.link.label })"
    >
      <div class="d-flex w-10 justify-content-center g-c--green1 g-pb--10 g-pb-lg--0">
        <span *ngIf="bannerData.link.icon" [ngClass]="bannerData.link.icon" class="g-font--21 g-c--pointer"></span>
        <span class="g-pl--5 g-font--medium g-c--pointer text-nowrap">{{ bannerData.link.label }}</span>
      </div>
    </div>
  </div>
</div>
