<mf-card-item>
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
    <div class="w-px--7 w-px-lg--9 g-line--11 d-none d-lg-flex justify-content-center align-items-lg-center g-br-lg-1 pt-3 pt-lg-0">
      <div class="g-items-text text-center g-font--light">
        <client-icon-policies [customIcon]="fileIcon"></client-icon-policies>
      </div>
    </div>

    <div class="w-7 w-lg-10 g-bl--1 p-3 p-lg-0 d-flex align-items-lg-center g-o-lg--hidden flex-column flex-lg-row flex-fill">
      <div [ngClass]="{ 'g-c--pointer' : period.canBreakdown }" class="w-lg-4 g-ml-lg--10 g-mb--03 mb-lg-0 g-o-lg--hidden" (click)="collapseDetail(period)">
        <div class="text-lg-truncate">
          <span class="g-font--medium g-font-md--16 g-text--uppercase" [title]="period.fullPeriodDate.toUpperCase()">
            {{ period.fullPeriodDate }}
          </span>
          <div class="text-lg-truncate g-text--uppercase g-c--gray2">
            {{ period.periodStatus }}
            <span *ngIf="period.canBreakdown" class="g-pl--5" [dropdown-icon]="period.collapse"></span>
          </div>
          <div class="mb-0 text-nowrap"></div>
        </div>
      </div>

      <!-- RESPONSIVE: Detalle del periodo -->
      <client-card-sctr-period-item-detail
        *ngIf="period.canBreakdown"
        class="d-lg-none"
        [collapse]="period.collapse"
        [items]="period.policies"
        [showPayroll]="showPayroll"
        [isAdditional]="isAdditional"
        [period]="period">
      </client-card-sctr-period-item-detail>

      <div class="w-lg-3 g-ml-lg--10 g-mb--03 mb-lg-0 g-o-lg--hidden">
        <div class="text-lg-truncate">
          <div class="text-lg-truncate g-c--gray2">{{ lang.StartValid }}: {{ period.dateStart }}</div>
          <div class="text-lg-truncate g-c--gray2">{{ lang.EndValid }}: {{ period.dateEnd }}</div>
          <div class="mb-0 text-nowrap"></div>
        </div>
      </div>

      <div class="w-lg-2 g-ml-lg--10 g-mb--03 mb-lg-0 g-o-lg--hidden">
        <div *ngIf="period.periodStatus !== periodStatus.NO_DECLARADO">
          <div class="mb-0 text-nowrap d-flex align-items-center" [ngClass]="{'g-c--red1' : period.situationTypeRed}">
            <span class="g-font--light text-lg-truncate" [title]="period.situationType">{{ period.situationType }}</span>
          </div>
          <div class="mb-0 text-nowrap text-truncate">
            <div class="mb-0 text-nowrap">
              <mf-link-green
                *ngIf="environment.ACTIVATE_SCTR_PERIODOS_VER_RECIBOS && showReceipts"
                [text]="lang.ViewReceipts"
                [icon]="fileIcon"
                (click)="goToPeriodReceipts(period)">
              </mf-link-green>
              <span *ngIf="!showReceipts">&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Acciones -->
    <div
      [ngClass]="(environment.ACTIVATE_SCTR_PERIODOS_DECLARAR && period.hasDeclaration) || (environment.ACTIVATE_SCTR_PERIODOS_INCLUIR && period.hasInclusion) ? 'd-flex g-bl-lg--1' : 'd-none d-lg-flex'"
      class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--20 align-items-center justify-content-center flex-grow-1 px-4"
    >
      <button mf-button *ngIf="environment.ACTIVATE_SCTR_PERIODOS_DECLARAR && period.hasDeclaration"
        block class="w-lg-10 g-max-w--24 g-max-w-lg--inherit mx-auto"
        [disabled]="!period.canDeclare"
        [title]="!period.canDeclare ? tooltipButton : ''"
        (click)="goToDeclare(period)">
        {{ lang.Declare }}
      </button>
      <mf-link-green
        *ngIf="environment.ACTIVATE_SCTR_PERIODOS_INCLUIR && period.hasInclusion"
        [text]="lang.IncludeWorker"
        [icon]="addIcon"
        (click)="goToInclusion(period)">
      </mf-link-green>
    </div>
  </div>

  <!-- !RESPONSIVE: Detalle del periodo -->
  <client-card-sctr-period-item-detail
    *ngIf="period.canBreakdown"
    class="d-none d-lg-block"
    [collapse]="period.collapse"
    [items]="period.policies"
    [showPayroll]="showPayroll"
    [isAdditional]="isAdditional"
    [period]="period">
  </client-card-sctr-period-item-detail>

</mf-card-item>