<div class="g-services--item g-bg-c--white1 g-c--gray8 g-b--1 text-center d-flex flex-column g-b-radius--3 g-box--shadow1 w-10 mb-3 mb-lg-4">
  <div class="g-services--content p-4">
    <div class="g-services--icon">
      <span class="g-font--55"></span>
      <img class="g-maxh--62" [src]="icon" alt="{{ item.titulo }}">
    </div>

    <div class="g-font--medium my-2 ">
      {{ item.titulo }}
    </div>

    <div class="g-font--14 g-font--light g-line--13">
      <span *ngIf="!item.accion || item.nroServiciosSolicitados == 0">{{ item.descripcion }}</span>
      <span *ngIf="item.accion && item.nroServiciosSolicitados > 0" class="d-flex justify-content-center align-items-center">
        <span class="g-b-radius--15 g-font--10 g-bg-c--green1 w-px--2 h-px--2 g-c--white1 g-font--bold g-line--10 d-flex align-items-center justify-content-center g-ie-flex--0-1-auto">
          {{ item.nroServiciosSolicitados }}
        </span>
        &nbsp;
        <span [ngPlural]="item.nroServiciosSolicitados">
          <ng-template ngPluralCase="=0">{{ textNoService }}</ng-template>
          <ng-template ngPluralCase="=1">{{ textOneService }}</ng-template>
          <ng-template ngPluralCase="other">{{ textServices }}</ng-template>
        </span>
        &nbsp;&gt;
      </span>

    </div>
  </div>

  <div
    (click)="onAction(item)"
    [ngClass]="{'g-c--green1 g-c--pointer': item.accion}"
    class="g-services--footer g-font--medium g-bt--1 p-3 mt-auto"
  >
    <div
      *ngIf="item.accion && route; else no_link"
      ctrl="serviceCardContact"
      (domChange)="onDomChange($event, { label: item.titulo })"
    >
      <a>{{ item.maneraContacto }}</a>
    </div>
    <ng-template #no_link>
      {{ item.maneraContacto }}
    </ng-template>
  </div>
</div>
