<div #gModal class="g-modal">
  <div #gModalContainer class="g-modal--container">
    <div #gModalWrapper [ngClass]="sizeClass + ' g-modal--wrapper'">
      <div #gModalClose class="g-modal--closemodal g-modal--close" *ngIf="!disableTopClose">
        <span class="icon-mapfre_121_close g-font--21 g-c--gray2" (click)="close()"></span>
      </div>

      <div #gModalContent class="g-modal--section" [ngClass]="{'g-modal--alert': noMinHeight, 'g-full-form--load': showLoading}">
        <ng-content></ng-content>
      </div>

      <div #gModalFooter class="g-bt--1 g-bc--gray7 text-center g-py--10">
        <button
          (click)="onConfirm(true)"
          [disabled]="showLoading"
          [outline]="outline"
          [ngClass]="'g-btn--default'"
          *ngIf="!confirm"
          mf-button
        >
          {{ confirmButtonText }}
        </button>
         <div class="d-flex" *ngIf="confirm">
          <div class="w-50">
              <button
              mf-button
              [outline]="outline"
              [ngClass]="'g-btn--default'"
              (click)="onConfirm(false)">
              {{ cancelButtonText }}
            </button>
          </div>
          <div class="w-50">
            <button
              (click)="onConfirm(true)"
              [disabled]="showLoading"
              [ngClass]="'g-btn--default'"
              mf-button
            >
              {{ confirmButtonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
