  <div class="d-block d-lg-none add-insured-box {{addClass}}">

    <div class="add-insured-box--content g-pt--10 g-pb--10 g-px--15 g-line--17 g-font--light">
      <div class="add-insured-box--title g-font--bold">
        {{title}}
      </div>
      <div class="">
        {{description}}
      </div>

      {{#data}}
        <div class="">
          {{address}}
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="add-insured-box--doc">
              {{tipo_doc}}: {{number_doc}}
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="add-insured-box--month">
              Sueldo: {{salary}}
            </div>
          </div>
        </div>
        <div class="add-insured-box--date">
          Fecha de nacimiento: {{date}}
        </div>
      {{/data}}
    </div>

    <div class="add-insured-box--sidebar  g-pt--10   g-pb--10 ">
      <div class="add-insured-box--edit  g-pt--10 ">
        <div class="g-modal--link" data-modal="{{modalView}}" onclick="{{onclick}}">
          <span class="{{icon_edit}} g-font--25 g-font-md--21 g-c--green1 g-c--pointer"></span>
        </div>
      </div>
      {{#delete}}
        <div class="add-insured-box--delete  g-mt--15 ">
          <span class="{{icon_delete}} g-c--pointer g-font--25 g-font-md--21 g-modal--link" data-modal="delete"></span>
        </div>
      {{/delete}}
    </div>

  </div>