
  <div class="g-font--medium g-font--18 g-font-md--20 {{addClass}}">
    {{title}}
  </div>

  <div class="row">
    <div class="col-12">
      {{#data1}}
        {{>atoms-mf-input}}
      {{/data1}}
    </div>
    <div class="col-12">
      {{#data2}}
        {{>atoms-mf-select}}
      {{/data2}}
    </div>
    <div class="col-12">
      {{#data3}}
        {{>atoms-mf-select}}
      {{/data3}}
    </div>
    <div class="col-12">
      {{#data4}}
        {{>atoms-mf-select}}
      {{/data4}}
    </div>
  </div>
