<div class="{{addClass}}">

  {{#options}}
    {{>molecules-options}}
  {{/options}}

  <div class="g-b--1 g-bc--gray11  g-p--0  g-p-md-15 g-px-lg--25 g-pb-lg--25 g-pt-lg--20  {{boxClass}}" data-accordion-id="{{accordionId}}">
    {{#table}}
      {{>molecules-table}}
    {{/table}}
  </div>

</div>