<div class="w-100 g-b-radius--5 {{addClass}}">
  <div class="d-flex {{boxClass}}">
    {{#contentLeft}}
    <div class="w-100 text-center  g-p--15  {{itemClass}}">
      <div class="g-font--normal {{leftTitleClass}}">
        {{{title}}}
      </div>
      <div class="{{leftSubtitleClass}}">
        {{{subtitle}}}
      </div>
    </div>
    {{/contentLeft}}
    {{#contentRight}}
    <div class="g-bl--1 g-bc--gray13 w-100  g-p--15  text-center {{itemClass}}">
      <div class="g-font--normal {{rightTitleClass}}">
        {{{title}}}
      </div>
      <div class="{{rightSubtitleClass}}">
        {{{subtitle}}}
      </div>
    </div>
    {{/contentRight}}
  </div>
  <div class=" g-p--15 ">
    {{#title}}
      <div class="{{titleClass}}">
        {{{title}}}
      </div>
    {{/title}}
    <div>
    {{#content}}
      {{>atoms-items}}
    {{/content}}
    </div>
  </div>
</div>