<mf-card>
  <!-- Header -->
  <mf-card-header [header]="titleCard" hc class="g-pb-lg--5">
    <mf-card-actions-link>
      <mf-card-action-link *ngIf="routeFaq">
        <div class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3" [routerLink]="routeFaq"
          ctrl="linkCardAction"
          (domChange)="onDomChange($event, { label: textFaqs })">
          <div><span class="icon-mapfre_031_qanda g-font--25 g-font-md--21 g-c--green1 g-c--pointer"></span></div>
          <div class="g-font--medium text-nowrap ml-2 g-c--pointer">{{ textFaqs }}</div>
        </div>
      </mf-card-action-link>
    </mf-card-actions-link>
  </mf-card-header>

  <!-- Content -->
  <mf-card-content class="g-bt--1 g-bc--gray5">
    <!-- Tabs -->
    <mf-tab-vertical
      [selectLabel]="selectLabel"
      [options]="optionsRoutes"
      [ga]="ga">
      <!-- Contenido -->
      <ng-content></ng-content>
    </mf-tab-vertical>
  </mf-card-content>
</mf-card>
