<div class="row">
  <div class="d-flex px-0" [ngClass]="{'g-ie-flex--0-1-auto': masonry}">
    <div class="g-services--item g-bg-c--white1 g-c--gray8 g-b--1  d-flex flex-column g-b-radius--3 g-box--shadow1 w-10">
      <div class="g-services--content p-4">
        <div class="g-font--medium my-2 g-font--20 text-center g-text--uppercase"> {{ title }} </div>

        <div class="g-mt--10 g-mt-lg--20" [ngClass]="{'masonry': masonry, 'row': !masonry}">
          <div *ngFor="let faq of faqs" class="g-mb--20"
            [ngClass]="{'col-12 col-lg-6': !masonry, 'item': masonry, 'd-none d-sm-block d-md-block': !faq.title }">
            <div class="g-font--bold g-font--14 mb-xs--1">{{ faq.title }}</div>
            <div class="g-font--13 g-font--normal text-justify" [innerHTML]="faq.content"> </div>
          </div>
        </div>

      </div>
      <div (click)="moreFaqs()" class="g-services--footer g-font--medium g-bt--1 p-3 mt-auto g-c--green1 text-center g-c-pointer g-line--11"
      ctrl="linkMoreFaq"
      (domChange)="onDomChange($event, {
        label: linkMoreFaq
      })">
        <mf-link-green [text]="linkMoreFaq"></mf-link-green>
      </div>
    </div>
  </div>
</div>