
  <div class="g-text--uppercase text-center g-py--25 ">
    {{#title}}
      {{>atoms-title-two}}
    {{/title}}

    <div class="g-font--14 g-font--medium  g-c--gray3">{{subtitle}}</div>
  </div>

  <div class="d-flex flex-wrap card--box justify-content-center">
      {{#items}}
          {{>molecules-card}}
      {{/items}}
  </div>

  <div class="text-center  g-mb--20 ">
    {{#copy}}
      <div class=" g-my--15 g-font--14 g-font-md--18">
        {{title1}} <span class="{{addClass}}">{{{title2}}}</span>
      </div>
    {{/copy}}

    {{#linkButton}}
      {{>atoms-buttons}}
    {{/linkButton}}
  </div>
