<div [ngClass]="{'g-spinner patternlab-none text-center': fullScreen}">
  <div class="g-spinner--center">
    <div class="g-spinner--image"></div>
    <div class="g-spinner--text text-center g-c--red1 g-font--20 mt-2 g-font--medium">
      {{ description }}
      <span class="g-spinner--dots g-font--30"><span>.</span><span>.</span><span>.</span></span>
    </div>
  </div>
</div>
