<mf-modal-alert [confirmButtonText]="confirmButtonText">
  <div class="row justify-content-md-center mb-xs--1">
    <div class="col col-12 col-lg-10 text-center">
      <div class="g-message--icon icon--fail mt-5"></div>
    </div>
  </div>
  <div class="row justify-content-md-center mb-xs--1">
    <div class="col col-12 col-lg-10 text-center">
      <span class="g-message--primary g-font--medium">{{ messageDone }}</span>
      <div class="row justify-content-md-center block  g-modal--link">
        <div class="col col-12 col-lg-12">
          <div class="g-box p-xs--2 text-center ">
            <div class="g-message--secondary">{{ messageSuccessUpdate }}</div>
            <div class="g-message--secondary "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mf-modal-alert>
