<div class="g-b--1 g-b-radius-lg--5 {{addClass}}">

  {{#title}}
    <div class="text-center g-p--10 g-bg-c--gray11 g-font--bold">
      {{title}}
    </div>
  {{/title}}

  <div class="d-flex text-center g-bg-c--gray11 align-items-center align-items-lg-start">
    <div class="w-5 g-py--10 g-pl--15 g-pr--5">
      {{subtitle1}}
    </div>
    <div class="w-5 g-py--10 g-pr--15 g-pl--5">
      {{subtitle2}}
    </div>
  </div>

  <div class="{{contentListClass}}">
    {{#itemList}}
      <div class="{{itemListClass}}">

        {{#info}}
          <div class="{{infoClass}}">
            {{{info}}}
          </div>
        {{/info}}

      </div>
    {{/itemList}}
  </div>

</div>