<ul class="g-list {{addClass}}">
  {{#list}}
    <li class="{{classActive}}">
	    <div class="{{classList}}">
    		<span class="g-list--text">{{{text}}}</span>
    	</div>
  	</li>
  {{/list}}
</ul>