<div class="g-p--20 g-p-lg--10 g-py--20 g-p-lg--40">
  <div class="g-font-md--20 g-font--medium g-text--uppercase">
      {{ lang.StepSelectInspection.Title }}
  </div>

  <div [formGroup]="form" class="d-flex flex-wrap w-100 g-pt-lg--20">

    <div class="d-flex flex-wrap w-100 g-pt-lg--20 flex-column">
      <div class="g-pt--30 g-font--medium g-font--16 g-pt-lg--0">{{ lang.StepOnsiteInspection.Datetime.Title }}</div>
      <div class="g-pt--10 g-font--light g-pt-lg--0">{{ lang.StepOnsiteInspection.Datetime.Detail }}</div>
    </div>

    <!-- Inspection date & time -->

    <div class="d-sm-flex w-100 g-pb--25">
      <div class="w-sm-5 g-pr-sm--10">
        <mf-input-datepicker
          formControlName="date"
          [label]="generalLang.Labels.Date"
          [minD]="minDays"
          [maxD]="maxDays"
          [filter]="customFilter">
        </mf-input-datepicker>
      </div>

      <div class="w-sm-5 g-pl-sm--10">
        <mf-select
          formControlName="hour"
          [label]="generalLang.Labels.Hour"
          (change)="onHourInspectionChange($event)"
          [options]="rangeHours">
        </mf-select>
      </div>
    </div>

    <!-- Inspection address -->

    <client-quote-buy-address
      class="w-100"
      *ngIf="form"
      [defaultAddress]="inspectionData"
      [title]="lang.StepOnsiteInspection.Address"
      [form]="form">
    </client-quote-buy-address>

    <!-- Another person -->

    <div class="g-mt--40">
      <mf-checkbox
        formControlName="anotherPerson"
        [checked]="isAnotherPerson"
        [label]="lang.StepOnsiteInspection.AnotherPerson"
        (change)="changeAnotherPerson($event)">
      </mf-checkbox>
    </div>

    <div *ngIf="isAnotherPerson" class="w-10">

      <div class="w-10">
        <mf-input
          formControlName="anotherName"
          [minlength]="generalMinLength.correspondence_another_name"
          [maxlength]="generalMaxLength.correspondence_another_name"
          [error]="showErrors('anotherName')"
          [label]="lang.StepOnsiteInspection.AnotherPersonName"
          (onblur)="removeSpaces('anotherName')">
        </mf-input>
        <mf-show-errors [control]="form.controls['anotherName']"></mf-show-errors>
      </div>

      <div class="w-10">
        <mf-input
          formControlName="anotherPhone"
          [minlength]="generalMinLength.correspondence_another_phone"
          [maxlength]="generalMaxLength.correspondence_another_phone"
          [error]="showErrors('anotherPhone')"
          [label]="lang.StepOnsiteInspection.AnotherPersonPhone"
          (onblur)="removeSpaces('anotherPhone')">
        </mf-input>
        <mf-show-errors [control]="form.controls['anotherPhone']"></mf-show-errors>
      </div>

    </div>

  </div>
</div>

<!-- Footer -->
<div class="d-flex g-p--15 g-bt--1 g-bc--gray11">
  <div class="w-50 g-pr--5 g-pr-lg--10">
    <button
      mf-button
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      outline
      (click)="back()"
      gaClick
      [gaCategory]="gaBack.category"
      [gaAction]="gaBack.action"
      [gaLabel]="gaBack.label">
      {{ generalLang.Buttons.Back }}
    </button>
  </div>
  <div class="w-50 g-pl--5 g-pl-lg--10">
    <button
      mf-button
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      [disabled]="!form.valid"
      (click)="next()"
      gaClick
      [gaCategory]="gaNext.category"
      [gaAction]="gaNext.action"
      [gaLabel]="gaNext.label">
      {{ generalLang.Buttons.Next }}
    </button>
  </div>
</div>
