<div class="g-p--20 g-p-lg--10 g-py--20 g-p-lg--40">
  <div class="g-font-md--20 g-font--medium g-text--uppercase">
    {{ lang.StepSelectInspection.Title }}
  </div>

  <div class="d-flex flex-wrap w-100 g-pt-lg--20 flex-column">
    <div class="g-pt--30 g-font--medium g-font--16 g-pt-lg--0">{{ lang.StepSelfinspection.Title }}</div>
    <div class="g-pt--10 g-font--light g-pt-lg--0">{{ lang.StepSelfinspection.Detail }}</div>

    <div *ngFor="let step of lang.StepSelfinspection.Steps" class="g-mt--30 d-flex">
      <div class="w-px--10 w-px-lg--12">
        <img [src]="step.Icon">
      </div>
      <div>
        <div class="g-font--medium g-c--gray2">{{ step.Title }}</div>
        <div class="g-font--light g-c--gray2 g-line--11">{{ step.Description }}</div>
      </div>
    </div>

  </div>
</div>

<!-- Footer -->
<div class="d-flex g-p--15 g-bt--1 g-bc--gray11">
  <div class="w-50 g-pr--5 g-pr-lg--10">
    <button
      mf-button
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      outline (click)="back()"
      gaClick
      [gaCategory]="gaBack.category"
      [gaAction]="gaBack.action"
      [gaLabel]="gaBack.label">
      {{ generalLang.Buttons.Back }}
    </button>
  </div>
  <div class="w-50 g-pl--5 g-pl-lg--10">
    <button
      (click)="next()"
      mf-button [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      gaClick
      [gaCategory]="gaNext.category"
      [gaAction]="gaNext.action"
      [gaLabel]="gaNext.label">
      {{ generalLang.Buttons.Next }}
    </button>
  </div>
</div>
