<div class="w-100 g-mt--20 g-mt-lg--0">
  <div class="g-px--15 g-px-lg--0">
    <div class="text-center text-lg-left g-font--16 g-font--medium g-mb--5">{{ content.title }}</div>
    <div class="text-left" [innerHTML]="content.content" *ngIf="content.content && flowFinished"></div>
  </div>
  <!-- Filtro -->
  <div *ngIf="insuredList && insuredList.length" class="g-mb--30 g-mx-n-lg--15">
    <div class="col-12 col-md-4">
      <mf-select [label]="labelInsured" [options]="insuredList" (change)="changeInsuranced($event.target.value)"></mf-select>
    </div>
  </div>
  <!-- Loading -->
  <mf-loader *ngIf="showLoading"></mf-loader>
  <!-- Contenido -->
  <div class="g-px--15 g-px-lg--0 g-mt--10" *ngIf="exclusionsText && exclusionsText.length">
    <div class="text-left">
      <ul class="g-pt--0 g-list-bullet g-mb--20">
        <li *ngFor="let item of exclusionsText">
          <div class="g-font--14 g-list--text mb-1">
            <span class="g-font--medium">{{ item.exclusion }}.</span>
            {{ item.observacion || '' }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Error -->
  <div class="g-px--15 g-px-lg--0 g-mt--20" *ngIf="messageExclusions">
    <div class="text-left" [innerHTML]="messageExclusions"></div>
  </div>
</div>
