<mf-loader *ngIf="showLoading"></mf-loader>

<ng-container *ngIf="!showLoading">
  <!-- Atenciones agendadas -->
  <client-service-list
    [title]="lang.Titles.ServicesInProgress"
    [serviceList]="serviceInProgressList"
    [messageNotFound]="lang.Messages.NoRegisterAssists">
  </client-service-list>

  <!-- Atenciones pasadas -->
  <client-service-list
    [title]="lang.Titles.ServicesHistory"
    [serviceList]="serviceHistoryList"
    [messageNotFound]="lang.Messages.NoRegisterHistory"
    [historical]=true>
  </client-service-list>
</ng-container>

