<div class="g-box--shadow1 g-bg-c--white1 g-mw-100 position-relative">
  <div class=" g-p--15 ">
    {{#ico}}
      <div class="row justify-content-md-center  g-mb--10 ">
        <div class="col col-12 col-lg-10 text-center">
          <div class="{{{class}}}"></div>
        </div>
      </div>
    {{/ico}}
    {{#info}}
      <div class="{{{classTittle}}}">{{tittle}}</div>
      <div class="{{{classDesc}}}">{{desc}}</div>
    {{/info}}
    <div class="g-b--1 g-bb--1">
      {{#description}}
        <div class=" g-p--15 ">
          <div class="g-inline-block">
            <span class="{{{iconFile}}} {{{iconClass}}} g-mr--10  align-middle"></span>
          </div>
          <div class="g-inline-block g-max-width--calc">
            <span class="{{{textClass}}}">{{text}}</span>
          </div>
        </div>
      {{/description}}
    </div>
    {{#data}}
      <div class="g-mw-100 g-pt--15 ">
        <span class="{{{classText1}}} g-block">{{{text1}}}</span>
        <span class="{{{classText2}}} g-block g-font--bold">{{{text2}}}</span>
      </div>
    {{/data}}
  </div>

  <div class="g-b--1">
    <div class="row">
      {{#btn}}
        <div class="col-6 text-center">
          <div class=" g-p--15  g-c--green1 g-c--pointer">
            <div class="g-inline-block">
              <span class="{{{iconFile}}} {{{iconClass}}} g-mr--10  align-middle"></span>
            </div>
            <div class="g-inline-block g-max-width--calc">
              <span class="{{{textClass}}}">{{text}}</span>
            </div>
          </div>
        </div>
      {{/btn}}
    </div>
  </div>
</div>