<div class="g-box--shadow1 g-bg-c--white1 g-mw-100 g-b-radius--5 position-relative g-p--10 ">
  {{#boxHead}}
    <div class="{{class}}">
      {{text}}
    </div>
  {{/boxHead}}
  {{#listNavIco}}
    {{>organisms-list-nav-ico}}
  {{/listNavIco}}
  {{#listNavText}}
    {{>organisms-list-nav-text}}
  {{/listNavText}}
</div>