<div class="g-c--pointer d-flex align-items-center p-xs--1 g-bg-c--gray19" (click)="goTo()">
  <div class="w-100 g-font--medium">
    {{ description }}
  </div>
  <div class="ml-auto">
    <span class="icon-mapfre_103_ico-right g-c--gray18 g-font--14 align-middle"></span>
  </div>
</div>
