<div>
  <div class="text-center g-mt--10">
    <div class="g-font--14 g-font-lg--18 g-font--medium text-uppercase">{{ data?.title }}</div>
  </div>
  <mf-custom-alert *ngIf="data?.warning" [status]="status" [text]="data?.warning"></mf-custom-alert>
  <div class="g-mt-lg--15">
    <div [ngClass]="data?.body?.alignClass" class="text-center">{{ data?.body?.text }}</div>
  </div>
</div>

<div>
  <div *ngIf="data?.steps?.title" [ngClass]="data?.steps?.title?.alignClass" class="g-font--medium g-mt--25 g-mb--20 text-center">
    {{ data?.steps?.title?.text }}
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-center g-mb-lg--50 {{ stepsClass }}"
    [ngClass]="{'g-mt--25': !data?.steps?.title}">
    <div *ngFor="let step of data?.steps?.items; let i = index" class="w-10 w-px-lg--16 g-px--5 text-center g-mb--25 g-mb-lg--0">
      <div class="w-px--14 g-mh--7 w-lg-auto mx-auto" *ngIf="step?.icon">
        <img [src]="step?.icon" [alt]="step?.text">
      </div>
      <div *ngIf="data?.steps?.showStepNumber" class="g-mt--15 mx-auto g-br--circle g-bc--gray2 g-b--1">{{ i + 1 }}</div>
      <div *ngIf="step?.title" class="text-center g-mt--10 w-px--18 w-lg-auto mx-auto">
        <div class="g-font--medium g-line--14">{{ step?.title }}</div>
      </div>
      <div class="text-center g-mt--15 w-px--18 w-lg-auto mx-auto">
        <div class="g-font--light g-line--14">{{ step?.text }}</div>
      </div>
    </div>
  </div>
</div>
