<div
  [ngClass]="{'is-editing': isEditing}"
  class="affiliates pt-xs--2 c-inbox_affiliate"
>
  <div
    [formGroup]="frm"
    [ngClass]="{ 'g-full-form--load': isLoadingFiltersVisible }"
    class="row mb-xs--2"
  >
    <div class="col">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div class="g-px-lg--25 g-px--20 pt-3 pb-5">
          <div class="row">
            <div class="col">
              <div class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase">
                Control de afiliados <span class="g-font--light g-text--lowercase" *ngIf="totalAffiliates">- {{ totalAffiliates }} asegurados</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mf-select
                (getLoadingState)="getCboLoadingState($event)"
                [config]="configCbo"
                [dependent1]="nroPolicy"
                [frm]="frm"
                [label]="graLng?.Labels?.Plan"
                [name]="'codPlan'"
                [type]="'plan'"
                formControlName="codPlan"
              >
              </mf-select>
            </div>
            <div class="col-md-4">
              <mf-select
                [config]="configCbo"
                [dependent1]="nroPolicy"
                [frm]="frm"
                [label]="graLng?.Labels?.Period"
                [name]="'periodo'"
                [type]="'period'"
                formControlName="periodo"
              >
              </mf-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-xs--2">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div>
          <div
            [ngClass]="{ 'g-full-form--load': isLoadingFiltersVisible }"
            class="row align-items-center g-px--10 g-px-lg--20 mt-4"
          >
            <div class="col-md-4 mb-3">
              <client-input-search
                (cancel)="clearSearch()"
                (search)="onSearch($event)"
                #inputSearch
              >
              </client-input-search>
            </div>
            <div class="col-md-4 mb-3">
              <div class="d-flex">
                <button
                  (click)="search()"
                  [disabled]="searchText?.length < 3"
                  class="g-btn g-text--uppercase g-btn-primary d-block w-100 mr-1"
                  mf-button
                >
                  BUSCAR
                </button>
                <button
                  (click)="btnClear()"
                  class="g-btn g-text--uppercase g-btn-primary d-block w-100 g-btn-outline ml-1"
                  mf-button
                >
                  Limpiar
                </button>
              </div>
            </div>
          </div>

          <mf-paginator
            (itemsPerPageChange)="itemsPerPageChange($event)"
            (pageChange)="pageChange($event)"
            [autoHide]="true"
            [isHeaderLabelsVisible]="false"
            [page]="page"
            [perPageList]="[10, 25, 50]"
            [total]="total"
            marginCard="g-mx-lg--20 g-mt-lg--20"
            perPageListColor="g-c--green1"
          >
            <mf-loader *ngIf="isLoadingListVisible"></mf-loader>
            <client-item-not-found
              [icon]="iconNotFound"
              [iconMedium]="true"
              [imageTop]="false"
              [show]="!isLoadingListVisible && !list?.length"
              [title]="msgNotFound"
            >
            </client-item-not-found>
            <client-affiliate
              *ngFor="
                let item of list | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total };
                let i = index
              "
              (getIsEditing)="getIsEditing($event)"
              (onSave)="save($event)"
              [item]="item"
            >
            </client-affiliate>
          </mf-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
