<div class="g-map--top d-flex w-100 g-title--header h-xl--10 g-bb--1 g-bc--gray11">
  <div class="d-flex g-o--hidden w-100">
    <div (click)="fnExit()" class="g-br--1 w-px--5 w-px-lg--7 d-flex align-items-center g-mw-5 justify-content-center g-ie-flex--0-1-auto">
      <span class="icon-mapfre_010_arrow-left g-font--16 g-font-lg--21 g-c--pointer"></span>
    </div>
    <div class="px-3 g-line--12 d-flex flex-column justify-content-center g-o--hidden w-100 g-ie-flex--1">
      <div class="text-uppercase g-font--14 g-font-xl--20 mb-xs--0 g-font--medium text-truncate g-c--gray2">
        {{ title }}
      </div>
    </div>
  </div>
</div>

<div class="g-map--search g-bg-c--white1 g-px--10 g-py--7 g-b-radius-xl--5 d-flex w-10">
  <client-input-search
    [placeholder]="lang.Address"
    [maxLength]="maxLength"
    [full]="true"
    [searchText]="searchText"
    (cancel)="searchInput()"
    (keydown)="handlerkeyDown($event)"
    (onfocus)="onFocus()"
    (onblur)="onBlur()"
    (search)="searchInput($event)">
  </client-input-search>
  <button
    [disabled]="searchText?.length < minLength"
    (click)="searchPlace()"
    mf-button outline class="g-px--15 g-px-lg--35 g-ml--10 g-py--9">
    {{ generalLang.Buttons.Search }}
  </button>
</div>

<div class="g-map--autocomplete" *ngIf="coincidences && coincidences.length">
  <ng-container *ngFor="let item of coincidences; let i = index; let last = last">
    <div
      class="g-map--autocomplete-item"
      (onmouseover)="item.active = false"
      [ngClass]="{'g-bb--1': !last, 'g-map--autocomplete-item-active': item.active}"
      (click)="selectAutocomplete(item)">
      <span class="icon-mapfre_029_location-pin2 g-font--16 g-c--gray21 g-pt--5"></span>
      <span class="g-pl--10 text-truncate">
        <span class="g-font--medium">{{ item.structured_formatting.main_text }}</span><br>
        <span>{{ item.structured_formatting.secondary_text }}</span>
      </span>
    </div>
  </ng-container>
</div>

<div class="g-alert--search-place">
  <client-gm-filter-notifier *ngIf="showNotify" [text]="notifyText" icon="icon-mapfre_051_alerta"></client-gm-filter-notifier>
</div>

<div class="w-10 g-bg-c--white1 text-center g-map--bottom">
  <div class="d-md-inline-block d-flex">
    <div class="d-md-inline-block w-50 w-md-auto g-pr--5 g-pr-md--0">
      <button
        (click)="fnExit()"
        mf-button
        outline
        class="g-btn--default g-mr-md--10 w-10 w-md-auto">{{ generalLang.Buttons.Cancel }}</button>
    </div>

    <div class="d-md-inline-block w-50 w-md-auto g-pl--5 g-pl-md--0">
      <button
        mf-button
        (click)="fnExit(false)"
        [disabled]="!(searchText && currentCoords)"
        class="g-btn--default g-mr-md--10 w-10 w-md-auto">{{ generalLang.Buttons.Confirm }}</button>
    </div>
  </div>
</div>
