<client-timeline *ngIf="itemList && itemList.length"
  [title]="title"
  [itemList]="itemList"
  (outputEvent)="eventFromTimeLine($event)">
</client-timeline>

<!-- Loading  -->
<mf-loader *ngIf="showLoading"></mf-loader>

 <!-- Sin asistencias -->
 <client-item-not-found
  [imageTop]="false"
  [show]="!showLoading && itemList && !itemList.length"
  [icon]="icon"
  [title]="messageNotFound">
</client-item-not-found>
