// sass-lint:disable no-important

// Border Color
$color-default: map-get($colors, gray5);
$b-start: 0;
$b-end: 5;

@for $i from $b-start through $b-end {
  .g-b--#{$i} {
    border: $i + px solid $color-default;
  }

  .g-bt--#{$i} {
    border-top: $i + px solid $color-default;
  }

  .g-bl--#{$i} {
    border-left: $i + px solid $color-default;
  }

  .g-br--#{$i} {
    border-right: $i + px solid $color-default;
  }

  .g-bb--#{$i} {
    border-bottom: $i + px solid $color-default;
  }
}

@media (min-width: $break-small) {
  @for $i from $b-start through $b-end {
    .g-b-sm--#{$i} {
      border: $i + px solid $color-default;
    }

    .g-bt-sm--#{$i} {
      border-top: $i + px solid $color-default;
    }

    .g-bl-sm--#{$i} {
      border-left: $i + px solid $color-default;
    }

    .g-br-sm--#{$i} {
      border-right: $i + px solid $color-default;
    }

    .g-bb-sm--#{$i} {
      border-bottom: $i + px solid $color-default;
    }
  }
}

@media (min-width: $break-medium) {
  @for $i from $b-start through $b-end {
    .g-b-md--#{$i} {
      border: $i + px solid $color-default;
    }

    .g-bt-md--#{$i} {
      border-top: $i + px solid $color-default;
    }

    .g-bl-md--#{$i} {
      border-left: $i + px solid $color-default;
    }

    .g-br-md--#{$i} {
      border-right: $i + px solid $color-default;
    }

    .g-bb-md--#{$i} {
      border-bottom: $i + px solid $color-default;
    }
  }
}

@media (min-width: $break-large) {
  @for $i from $b-start through $b-end {
    .g-b-lg--#{$i} {
      border: $i + px solid $color-default;
    }

    .g-bt-lg--#{$i} {
      border-top: $i + px solid $color-default;
    }

    .g-bl-lg--#{$i} {
      border-left: $i + px solid $color-default;
    }

    .g-br-lg--#{$i} {
      border-right: $i + px solid $color-default;
    }

    .g-bb-lg--#{$i} {
      border-bottom: $i + px solid $color-default;
    }
  }
}

@media (min-width: $break-xlarge) {
  @for $i from $b-start through $b-end {
    .g-b-xl--#{$i} {
      border: $i + px solid $color-default;
    }

    .g-bt-xl--#{$i} {
      border-top: $i + px solid $color-default;
    }

    .g-bl-xl--#{$i} {
      border-left: $i + px solid $color-default;
    }

    .g-br-xl--#{$i} {
      border-right: $i + px solid $color-default;
    }

    .g-bb-xl--#{$i} {
      border-bottom: $i + px solid $color-default;
    }
  }
}

//paddings
// sass-lint:disable-all

$countsPadding: 1 2 3 4 6 7 8 9 11 12 13 14;

@each $padding in $countsPadding {

  $count: $padding;

  .g-p--#{$count} {
    padding: $count + px;
  }

  .g-pt--#{$count} {
    padding-top: $count + px;
  }

  .g-pl--#{$count} {
    padding-left: $count + px;
  }

  .g-pr--#{$count} {
    padding-right: $count + px;
  }

  .g-pb--#{$count} {
    padding-bottom: $count + px;
  }

  .g-px--#{$count} {
    padding-left: $count + px;
    padding-right: $count + px;
  }

  .g-py--#{$count} {
    padding-bottom: $count + px;
    padding-top: $count + px;
  }
}

$p-start: 0;
$p-end: 20;

@for $i from $p-start through $p-end {
  $number: 5 * $i;

  .g-p--#{$number} {
    padding: $number * 1px;
  }

  .g-pt--#{$number} {
    padding-top: $number * 1px;
  }

  .g-pl--#{$number} {
    padding-left: $number * 1px;
  }

  .g-pr--#{$number} {
    padding-right: $number * 1px;
  }

  .g-pb--#{$number} {
    padding-bottom: $number * 1px;
  }

  .g-px--#{$number} {
    padding-left: $number * 1px;
    padding-right: $number * 1px;
  }

  .g-py--#{$number} {
    padding-bottom: $number * 1px;
    padding-top: $number * 1px;
  }
}

@media (min-width: $break-small) {
  @for $i from $p-start through $p-end {
    $number: 5 * $i;

    .g-p-sm--#{$number} {
      padding: $number * 1px !important;
    }

    .g-pt-sm--#{$number} {
      padding-top: $number * 1px !important;
    }

    .g-pl-sm--#{$number} {
      padding-left: $number * 1px !important;
    }

    .g-pr-sm--#{$number} {
      padding-right: $number * 1px !important;
    }

    .g-pb-sm--#{$number} {
      padding-bottom: $number * 1px !important;
    }

    .g-px-sm--#{$number} {
      padding-left: $number * 1px !important;
      padding-right: $number * 1px !important;
    }

    .g-py-sm--#{$number} {
      padding-bottom: $number * 1px !important;
      padding-top: $number * 1px !important;
    }
  }
}

@media (min-width: $break-medium) {
  @for $i from $p-start through $p-end {
    $number: 5 * $i;

    .g-p-md--#{$number} {
      padding: $number * 1px !important;
    }

    .g-pt-md--#{$number} {
      padding-top: $number * 1px !important;
    }

    .g-pl-md--#{$number} {
      padding-left: $number * 1px !important;
    }

    .g-pr-md--#{$number} {
      padding-right: $number * 1px !important;
    }

    .g-pb-md--#{$number} {
      padding-bottom: $number * 1px !important;
    }

    .g-px-md--#{$number} {
      padding-left: $number * 1px !important;
      padding-right: $number * 1px !important;
    }

    .g-py-md--#{$number} {
      padding-bottom: $number * 1px !important;
      padding-top: $number * 1px !important;
    }
  }
}

@media (min-width: $break-large) {
  @for $i from $p-start through $p-end {
    $number: 5 * $i;

    .g-p-lg--#{$number} {
      padding: $number * 1px !important;
    }

    .g-pt-lg--#{$number} {
      padding-top: $number * 1px !important;
    }

    .g-pl-lg--#{$number} {
      padding-left: $number * 1px !important;
    }

    .g-pr-lg--#{$number} {
      padding-right: $number * 1px !important;
    }

    .g-pb-lg--#{$number} {
      padding-bottom: $number * 1px !important;
    }

    .g-px-lg--#{$number} {
      padding-left: $number * 1px !important;
      padding-right: $number * 1px !important;
    }

    .g-py-lg--#{$number} {
      padding-bottom: $number * 1px !important;
      padding-top: $number * 1px !important;
    }
  }
}

@media (min-width: $break-xlarge) {
  @for $i from $p-start through $p-end {
    $number: 5 * $i;

    .g-p-xl--#{$number} {
      padding: $number * 1px !important;
    }

    .g-pt-xl--#{$number} {
      padding-top: $number * 1px !important;
    }

    .g-pl-xl--#{$number} {
      padding-left: $number * 1px !important;
    }

    .g-pr-xl--#{$number} {
      padding-right: $number * 1px !important;
    }

    .g-pb-xl--#{$number} {
      padding-bottom: $number * 1px !important;
    }

    .g-px-xl--#{$number} {
      padding-left: $number * 1px !important;
      padding-right: $number * 1px !important;
    }

    .g-py-xl--#{$number} {
      padding-bottom: $number * 1px !important;
      padding-top: $number * 1px !important;
    }
  }
}

@media (min-width: $break-2xlarge) {
  @for $i from $p-start through $p-end {
    $number: 5 * $i;

    .g-p-2xl--#{$number} {
      padding: $number * 1px !important;
    }

    .g-pt-2xl--#{$number} {
      padding-top: $number * 1px !important;
    }

    .g-pl-2xl--#{$number} {
      padding-left: $number * 1px !important;
    }

    .g-pr-2xl--#{$number} {
      padding-right: $number * 1px !important;
    }

    .g-pb-2xl--#{$number} {
      padding-bottom: $number * 1px !important;
    }

    .g-px-2xl--#{$number} {
      padding-left: $number * 1px !important;
      padding-right: $number * 1px !important;
    }

    .g-py-2xl--#{$number} {
      padding-bottom: $number * 1px !important;
      padding-top: $number * 1px !important;
    }
  }
}

.g {
  $m-start: 0;
  $m-end: 20;

  @for $i from $m-start through $m-end {
    $number: 5 * $i;

    &-m--#{$number} {
      margin: $number * 1px;
    }

    &-mt--#{$number} {
      margin-top: $number * 1px;
    }

    &-ml--#{$number} {
      margin-left: $number * 1px;
    }

    &-mr--#{$number} {
      margin-right: $number * 1px;
    }

    &-mb--#{$number} {
      margin-bottom: $number * 1px;
    }

    &-mx--#{$number} {
      margin-left: $number * 1px;
      margin-right: $number * 1px;
    }

    &-mx-n--#{$number} {
      margin-left: -$number * 1px;
      margin-right: -$number * 1px;
    }

    &-my--#{$number} {
      margin-bottom: $number * 1px;
      margin-top: $number * 1px;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $m-start through $m-end {
      $number: 5 * $i;

      &-m-sm--#{$number} {
        margin: $number * 1px !important;
      }

      &-mt-sm--#{$number} {
        margin-top: $number * 1px !important;
      }

      &-ml-sm--#{$number} {
        margin-left: $number * 1px !important;
      }

      &-mr-sm--#{$number} {
        margin-right: $number * 1px !important;
      }

      &-mb-sm--#{$number} {
        margin-bottom: $number * 1px !important;
      }

      &-mx-sm--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &-my-sm--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $m-start through $m-end {
      $number: 5 * $i;

      &-m-md--#{$number} {
        margin: $number * 1px !important;
      }

      &-mt-md--#{$number} {
        margin-top: $number * 1px !important;
      }

      &-ml-md--#{$number} {
        margin-left: $number * 1px !important;
      }

      &-mr-md--#{$number} {
        margin-right: $number * 1px !important;
      }

      &-mb-md--#{$number} {
        margin-bottom: $number * 1px !important;
      }

      &-mx-md--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &-my-md--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $m-start through $m-end {
      $number: 5 * $i;

      &-m-lg--#{$number} {
        margin: $number * 1px !important;
      }

      &-mt-lg--#{$number} {
        margin-top: $number * 1px !important;
      }

      &-ml-lg--#{$number} {
        margin-left: $number * 1px !important;
      }

      &-mr-lg--#{$number} {
        margin-right: $number * 1px !important;
      }

      &-mb-lg--#{$number} {
        margin-bottom: $number * 1px !important;
      }

      &-mx-lg--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &-mx-lg-n--#{$number} {
        margin-left: -$number * 1px;
        margin-right: -$number * 1px;
      }

      &-my-lg--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $m-start through $m-end {
      $number: 5 * $i;

      &-m-xl--#{$number} {
        margin: $number * 1px !important;
      }

      &-mt-xl--#{$number} {
        margin-top: $number * 1px !important;
      }

      &-ml-xl--#{$number} {
        margin-left: $number * 1px !important;
      }

      &-mr-xl--#{$number} {
        margin-right: $number * 1px !important;
      }

      &-mb-xl--#{$number} {
        margin-bottom: $number * 1px !important;
      }

      &-mx-xl--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &-my-xl--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }

  @media (min-width: $break-2xlarge) {
    @for $i from $m-start through $m-end {
      $number: 5 * $i;

      &-m-2xl--#{$number} {
        margin: $number * 1px !important;
      }

      &-mt-2xl--#{$number} {
        margin-top: $number * 1px !important;
      }

      &-ml-2xl--#{$number} {
        margin-left: $number * 1px !important;
      }

      &-mr-2xl--#{$number} {
        margin-right: $number * 1px !important;
      }

      &-mb-2xl--#{$number} {
        margin-bottom: $number * 1px !important;
      }

      &-mx-2xl--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &-my-2xl--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }
}
// sass-lint:enable-all

// sass-lint:disable-all
@mixin data($x) {
  $sel: &;
  $collector: ();

  @for $i from 1 through length($sel) {
    $s: nth($sel, $i);
    $last: nth($s, -1);
    @if str-slice($last, -1) == ']' {
      // if is just the bare attribute with no value, $offset will be -1, otherwise it will be -2
      $offset: -1;
      $current-x: $x;

      @if str-slice($last, -2) == '"]' {
        // this attribute already has a value, so we need to adjust the offset
        $offset: -2;
      } @else {
        // no attribute value, so add the equals and quotes
        $current-x: '="' + $x + '"';
      }
      $last: str-slice($last, 1, $offset - 1) + $current-x + str-slice($last, $offset);
      $collector: append($collector, set-nth($s, -1, $last), comma);
    } @else {
      // following line will append $x to your non-attribute selector
      $collector: append($collector, selector-append($s, $x), comma);
      // the following line will not change your non-attribute selector at all
      //$collector: append($collector, $s, comma);
    }
  }

  @at-root #{$collector} {
    @content;
  }
}

[data-accordion] {
  @include data('content') {
    display: none;
  }

  @include data('off') {
    display: none;
  }
}
// sass-lint:enable-all

// Margin, Padding
$items: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $item in $items {
  .m-xs--#{$item} {
    margin: 10px * $item;
  }

  .mb-xs--#{$item} {
    margin-bottom: 10px * $item;
  }

  .ml-xs--#{$item} {
    margin-left: 10px * $item;
  }

  .mr-xs--#{$item} {
    margin-right: 10px * $item;
  }

  .mt-xs--#{$item} {
    margin-top: 10px * $item;
  }

  .p-xs--#{$item} {
    padding: 10px * $item;
  }

  .pb-xs--#{$item} {
    padding-bottom: 10px * $item;
  }

  .pl-xs--#{$item} {
    padding-left: 10px * $item;
  }

  .pr-xs--#{$item} {
    padding-right: 10px * $item;
  }

  .pt-xs--#{$item} {
    padding-top: 10px * $item;
  }
}

@media (min-width: $break-small) {
  @each $item in $items {
    .m-sm--#{$item} {
      margin: 10px * $item;
    }

    .mb-sm--#{$item} {
      margin-bottom: 10px * $item;
    }

    .ml-sm--#{$item} {
      margin-left: 10px * $item;
    }

    .mr-sm--#{$item} {
      margin-right: 10px * $item;
    }

    .mt-sm--#{$item} {
      margin-top: 10px * $item;
    }

    .p-sm--#{$item} {
      padding: 10px * $item;
    }

    .pb-sm--#{$item} {
      padding-bottom: 10px * $item;
    }

    .pl-sm--#{$item} {
      padding-left: 10px * $item;
    }

    .pr-sm--#{$item} {
      padding-right: 10px * $item;
    }

    .pt-sm--#{$item} {
      padding-top: 10px * $item;
    }
  }
}

@media (min-width: $break-medium) {
  @each $item in $items {
    .m-md--#{$item} {
      margin: 10px * $item;
    }

    .mb-md--#{$item} {
      margin-bottom: 10px * $item;
    }

    .ml-md--#{$item} {
      margin-left: 10px * $item;
    }

    .mr-md--#{$item} {
      margin-right: 10px * $item;
    }

    .mt-md--#{$item} {
      margin-top: 10px * $item;
    }

    .p-md--#{$item} {
      padding: 10px * $item;
    }

    .pb-md--#{$item} {
      padding-bottom: 10px * $item;
    }

    .pl-md--#{$item} {
      padding-left: 10px * $item;
    }

    .pr-md--#{$item} {
      padding-right: 10px * $item;
    }

    .pt-md--#{$item} {
      padding-top: 10px * $item;
    }
  }
}

@media (min-width: $break-large) {
  @each $item in $items {
    .m-lg--#{$item} {
      margin: 10px * $item;
    }

    .mb-lg--#{$item} {
      margin-bottom: 10px * $item;
    }

    .ml-lg--#{$item} {
      margin-left: 10px * $item;
    }

    .mr-lg--#{$item} {
      margin-right: 10px * $item;
    }

    .mt-lg--#{$item} {
      margin-top: 10px * $item;
    }

    .p-lg--#{$item} {
      padding: 10px * $item;
    }

    .pb-lg--#{$item} {
      padding-bottom: 10px * $item;
    }

    .pl-lg--#{$item} {
      padding-left: 10px * $item;
    }

    .pr-lg--#{$item} {
      padding-right: 10px * $item;
    }

    .pt-lg--#{$item} {
      padding-top: 10px * $item;
    }
  }
}

@media (min-width: $break-xlarge) {
  @each $item in $items {
    .m-xl--#{$item} {
      margin: 10px * $item;
    }

    .mb-xl--#{$item} {
      margin-bottom: 10px * $item;
    }

    .ml-xl--#{$item} {
      margin-left: 10px * $item;
    }

    .mr-xl--#{$item} {
      margin-right: 10px * $item;
    }

    .mt-xl--#{$item} {
      margin-top: 10px * $item;
    }

    .p-xl--#{$item} {
      padding: 10px * $item;
    }

    .pb-xl--#{$item} {
      padding-bottom: 10px * $item;
    }

    .pl-xl--#{$item} {
      padding-left: 10px * $item;
    }

    .pr-xl--#{$item} {
      padding-right: 10px * $item;
    }

    .pt-xl--#{$item} {
      padding-top: 10px * $item;
    }
  }
}

// Colors, Borders, Backgrounds
@mixin color($color) {
  color: map-get($colors, $color);
}

@mixin background($color) {
  background-color: map-get($colors, $color);
}

@mixin border($color) {
  border-color: map-get($colors, $color);
}

// colors
.g-bg-c--white1 {
  @include background(white1);
}

.g-c--white1 {
  @include color(white1);

  &--xl-dark {
    @media (min-width: $break-xlarge) {
      @include color(black1);
    }
  }
}

.g-bc--white1 {
  @include border(white1);
}

.g-bg-c--black1 {
  @include background(black1);
}

.g-c--black1 {
  @include color(black1);
}

.g-bc--black1 {
  @include border(black1);
}

.g-bg-c--orange1 {
  @include background(orange1);
}

.g-c--orange1 {
  @include color(orange1);
}

.g-bc--orange1 {
  @include border(orange1);
}

.g-bg-c--yellow1 {
  @include background(yellow1);
}

.g-c--yellow1 {
  @include color(yellow1);
}

.g-bc--yellow1 {
  @include border(yellow1);
}

.g-bg-c--yellow2 {
  @include background(yellow2);
}

.g-c--yellow2 {
  @include color(yellow2);
}

.g-bc--yellow2 {
  @include border(yellow2);
}

@for $i from 1 through 23 {
  $color: unquote('gray#{$i}');

  .g-bg-c--gray#{$i} {
    @include background($color);
  }

  .g-bg-c-md--gray#{$i} {
    @media (min-width: $break-medium) {
      @include background($color);
    }
  }

  .g-bg-c-lg--gray#{$i} {
    @media (min-width: $break-large) {
      @include background($color);
    }
  }

  .g-bg-c-xl--gray#{$i} {
    @media (min-width: $break-xlarge) {
      @include background($color);
    }
  }

  .g-c--gray#{$i} {
    @include color($color);

    &--link {
      &:hover {
        color: darken(map-get($colors, $color), 10%);
      }
    }
  }

  .g-bc--gray#{$i} {
    @include border($color);
  }
}

@for $i from 1 through 8 {
  $color: unquote('red#{$i}');

  .g-bg-c--red#{$i} {
    @include background($color);
  }

  .g-c--red#{$i} {
    @include color($color);

    &--link {
      &:hover {
        color: darken(map-get($colors, $color), 10%);
      }
    }
  }

  .g-bc--red#{$i} {
    @include border($color);
  }
}

@for $i from 1 through 5 {
  $color: unquote('green#{$i}');

  .g-bg-c--green#{$i} {
    @include background($color);
  }

  .g-c--green#{$i} {
    @include color($color);

    &--link {
      &:hover {
        color: darken(map-get($colors, $color), 10%);
      }
    }

    &--hover {
      @include color($color);

      &:hover {
        color: map-get($colors, $color) !important;
      }
    }
  }

  .g-c-lg--green#{$i} {
    @media (min-width: $break-large) {
      @include color($color);
    }
  }

  .g-bc--green#{$i} {
    @include border($color);
  }
}

@for $i from 1 through 2 {
  $color: unquote('purple#{$i}');

  .g-bg-c--purple#{$i} {
    @include background($color);
  }

  .g-c--purple#{$i} {
    @include color($color);

    &--link {
      &:hover {
        color: darken(map-get($colors, $color), 10%);
      }
    }
  }

  .g-bc--purple#{$i} {
    @include border($color);
  }
}

@for $i from 1 through 2 {
  $color: unquote('blue#{$i}');

  .g-bg-c--blue#{$i} {
    @include background($color);
  }

  .g-c--blue#{$i} {
    @include color($color);

    &--link {
      &:hover {
        color: darken(map-get($colors, $color), 10%);
      }
    }
  }

  .g-bc--blue#{$i} {
    @include border($color);
  }
}

.g-bg-c-lg--white1 {
  @media (min-width: $break-large) {
    @include background(white1);
  }
}

.g-bg-c-xl--white1 {
  @media (min-width: $break-xlarge) {
    @include background(white1);
  }
}

// sass-lint:disable-all

// Min Height Inherit
.g-mh {
  &--inherit {
    min-height: inherit !important;
  }
  $h-start: 0;
  $h-end: 99;

  @for $i from $h-start through $h-end {
    $number: 10 * $i;

    &--#{$i} {
      min-height: #{$number}px !important;
      height: expression(this.scrollHeight < #{$number + 1} ? '#{$number}px': 'auto');
    }
  }

  @media (min-width: $break-small) {
    &-sm--inherit {
      min-height: inherit !important;
    }

    @for $i from $h-start through $h-end {
      $number: 10 * $i;

      &-sm--#{$i} {
        min-height: #{$number}px !important;
        height: expression(this.scrollHeight < #{$number + 1} ? '#{$number}px': 'auto');
      }
    }
  }

  @media (min-width: $break-medium) {
    &-md--inherit {
      min-height: inherit !important;
    }

    @for $i from $h-start through $h-end {
      $number: 10 * $i;

      &-md--#{$i} {
        min-height: #{$number}px !important;
        height: expression(this.scrollHeight < #{$number + 1} ? '#{$number}px': 'auto');
      }
    }
  }

  @media (min-width: $break-large) {
    &-lg--inherit {
      min-height: inherit !important;
    }

    @for $i from $h-start through $h-end {
      $number: 10 * $i;

      &-lg--#{$i} {
        min-height: #{$number}px !important;
        height: expression(this.scrollHeight < #{$number + 1} ? '#{$number}px': 'auto');
      }
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl--inherit {
      min-height: inherit !important;
    }

    @for $i from $h-start through $h-end {
      $number: 10 * $i;

      &-xl--#{$i} {
        min-height: #{$number}px !important;
        height: expression(this.scrollHeight < #{$number + 1} ? '#{$number}px': 'auto');
      }
    }
  }
}

.g-max-w {
  &--inherit {
    max-width: inherit !important;
  }
  $max-w-start: 0;
  $max-w-end: 99;

  @for $i from $max-w-start through $max-w-end {
    &--#{$i} {
      max-width: 10px * $i;
    }
  }

  @media (min-width: $break-x4small) {
    &-xs--inherit {
      max-width: inherit !important;
    }
    @for $i from $max-w-start through $max-w-end {
      &-xs--#{$i} {
        max-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-small) {
    &-sm--inherit {
      max-width: inherit !important;
    }
    @for $i from $max-w-start through $max-w-end {
      &-sm--#{$i} {
        max-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    &-md--inherit {
      max-width: inherit !important;
    }
    @for $i from $max-w-start through $max-w-end {
      &-md--#{$i} {
        max-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    &-lg--inherit {
      max-width: inherit !important;
    }
    @for $i from $max-w-start through $max-w-end {
      &-lg--#{$i} {
        max-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl--inherit {
      max-width: inherit !important;
    }
    @for $i from $max-w-start through $max-w-end {
      &-xl--#{$i} {
        max-width: 10px * $i !important;
      }
    }
  }
}

.g-min-w {
  &--inherit {
    min-width: inherit !important;
  }
  $min-w-start: 0;
  $min-w-end: 50;

  @for $i from $min-w-start through $min-w-end {
    &--#{$i} {
      min-width: 10px * $i;
    }
  }

  @media (min-width: $break-x4small) {
    &-xs--inherit {
      min-width: inherit !important;
    }
    @for $i from $min-w-start through $min-w-end {
      &-xs--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-small) {
    &-sm--inherit {
      min-width: inherit !important;
    }
    @for $i from $min-w-start through $min-w-end {
      &-sm--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    &-md--inherit {
      min-width: inherit !important;
    }
    @for $i from $min-w-start through $min-w-end {
      &-md--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    &-lg--inherit {
      min-width: inherit !important;
    }
    @for $i from $min-w-start through $min-w-end {
      &-lg--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl--inherit {
      min-width: inherit !important;
    }
    @for $i from $min-w-start through $min-w-end {
      &-xl--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }
}

// Min Width Inherit
.g-mw {
  &--inherit {
    min-width: inherit;
  }
  $w-start: 0;
  $w-end: 50;

  @for $i from $w-start through $w-end {
    &--#{$i} {
      min-width: 10px * $i;
    }
  }

  @media (min-width: $break-small) {
    &-sm--inherit {
      min-width: inherit !important;
    }
    @for $i from $w-start through $w-end {
      &-sm--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    &-md--inherit {
      min-width: inherit !important;
    }
    @for $i from $w-start through $w-end {
      &-md--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    &-lg--inherit {
      min-width: inherit !important;
    }
    @for $i from $w-start through $w-end {
      &-lg--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl--inherit {
      min-width: inherit !important;
    }
    @for $i from $w-start through $w-end {
      &-xl--#{$i} {
        min-width: 10px * $i !important;
      }
    }
  }
}

.h {
  &--auto {
    height: auto;
  }
  $h-start: 1;
  $h-end: 10;

  @for $i from $h-start through $h-end {
    &--#{$i} {
      height: 10% * $i;
    }
  }

  @media (min-width: $break-small) {
    &-sm--auto {
      height: auto !important;
    }
    @for $i from $h-start through $h-end {
      &-sm--#{$i} {
        height: 10% * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    &-md--auto {
      height: auto !important;
    }
    @for $i from $h-start through $h-end {
      &-md--#{$i} {
        height: 10% * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    &-lg--auto {
      height: auto !important;
    }
    @for $i from $h-start through $h-end {
      &-lg--#{$i} {
        height: 10% * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl--auto {
      height: auto !important;
    }
    @for $i from $h-start through $h-end {
      &-xl--#{$i} {
        height: 10% * $i !important;
      }
    }
  }
}

//width % * 5
.g-w {
  &-auto {
    width: auto;
  }
  $w-start: 1;
  $w-end: 100;

  @for $i from $w-start through $w-end {
    &-#{$i} {
      width: 1% * $i;
    }
  }

  @media (min-width: $break-small) {
    &-sm-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-sm-#{$i} {
        width: 1% * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    &-md-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-md-#{$i} {
        width: 1% * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    &-lg-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-lg-#{$i} {
        width: 1% * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-xl-#{$i} {
        width: 1% * $i !important;
      }
    }
  }
}

//width calc
.g-pc {
  $wpc-start: 1;
  $wpc-end: 50;

  @for $i from $wpc-start through $wpc-end {
    &--#{$i} {
      width: calc(100% - #{10px * $i});
    }
  }

  @media (min-width: $break-small) {
    @for $i from $wpc-start through $wpc-end {
      &-sm--#{$i} {
        width: calc(100% - #{10px * $i});
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $wpc-start through $wpc-end {
      &-md--#{$i} {
        width: calc(100% - #{10px * $i});
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $wpc-start through $wpc-end {
      &-lg--#{$i} {
        width: calc(100% - #{10px * $i});
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $wpc-start through $wpc-end {
      &-xl--#{$i} {
        width: calc(100% - #{10px * $i});
      }
    }
  }
}

// Width PX
.w {
  $wpx-start: 1;
  $wpx-end: 99;

  @for $i from $wpx-start through $wpx-end {
    &-px--#{$i} {
      flex-shrink: 0;
      width: 10px * $i;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $wpx-start through $wpx-end {
      &-px-sm--#{$i} {
        flex-shrink: 0;
        width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $wpx-start through $wpx-end {
      &-px-md--#{$i} {
        flex-shrink: 0;
        width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $wpx-start through $wpx-end {
      &-px-lg--#{$i} {
        flex-shrink: 0;
        width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $wpx-start through $wpx-end {
      &-px-xl--#{$i} {
        flex-shrink: 0;
        width: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-2xlarge) {
    @for $i from $wpx-start through $wpx-end {
      &-px-2xl--#{$i} {
        flex-shrink: 0;
        width: 10px * $i !important;
      }
    }
  }
}

.w {
  &-auto {
    width: auto;
  }
  $w-start: 1;
  $w-end: 10;

  @for $i from $w-start through $w-end {
    &-#{$i} {
      width: 10% * $i;
    }
  }

  @media (min-width: $break-small) {
    &-sm-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-sm-#{$i} {
        width: 10% * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    &-md-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-md-#{$i} {
        width: 10% * $i !important;
      }
    }
    &-md-2-5 {
      width: 25% !important;
    }
  }

  @media (min-width: $break-large) {
    &-lg-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-lg-#{$i} {
        width: 10% * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-xl-#{$i} {
        width: 10% * $i !important;
      }
    }
    &-xl-2-5 {
      width: 25% !important;
    }
  }

  @media (min-width: $break-2xlarge) {
    &-2xl-auto {
      width: auto !important;
    }
    @for $i from $w-start through $w-end {
      &-2xl-#{$i} {
        width: 10% * $i !important;
      }
    }
  }
}

// Height PX
.h {
  $hpx-start: 1;
  $hpx-end: 50;

  @for $i from $hpx-start through $hpx-end {
    &-px--#{$i} {
      height: 10px * $i;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $hpx-start through $hpx-end {
      &-px-sm--#{$i} {
        height: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $hpx-start through $hpx-end {
      &-px-md--#{$i} {
        height: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $hpx-start through $hpx-end {
      &-px-lg--#{$i} {
        height: 10px * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $hpx-start through $hpx-end {
      &-px-xl--#{$i} {
        height: 10px * $i !important;
      }
    }
  }
}

.g-ans-duration {
  $ad-start: 0;
  $ad-end: 10;

  @for $i from $ad-start through $ad-end {
    &--#{$i} {
      animation-duration: 1s * $i;
    }
  }
}

// Border Radius
.g-b-radius {
  $br-start: 0;
  $br-end: 50;

  @for $i from $br-start through $br-end {
    &--#{$i} {
      border-radius: 1px * $i;
    }
    &-tl--#{$i} {
      border-top-left-radius: 1px * $i !important;
    }
    &-tr--#{$i} {
      border-top-right-radius: 1px * $i !important;
    }
    &-bl--#{$i} {
      border-bottom-left-radius: 1px * $i !important;
    }
    &-br--#{$i} {
      border-bottom-right-radius: 1px * $i !important;
    }

    &-t--#{$i} {
      border-top-left-radius: 1px * $i !important;
      border-top-right-radius: 1px * $i !important;
    }

    &-b--#{$i} {
      border-bottom-left-radius: 1px * $i !important;
      border-bottom-right-radius: 1px * $i !important;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $br-start through $br-end {
      &-sm--#{$i} {
        border-radius: 1px * $i !important;
      }
      &-tl-sm--#{$i} {
        border-top-left-radius: 1px * $i !important;
      }
      &-tr-sm--#{$i} {
        border-top-right-radius: 1px * $i !important;
      }
      &-bl-sm--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
      }
      &-br-sm--#{$i} {
        border-bottom-right-radius: 1px * $i !important;
      }

      &-t-sm--#{$i} {
        border-top-left-radius: 1px * $i !important;
        border-top-right-radius: 1px * $i !important;
      }

      &-b-sm--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
        border-bottom-right-radius: 1px * $i !important;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $br-start through $br-end {
      &-md--#{$i} {
        border-radius: 1px * $i !important;
      }
      &-tl-md--#{$i} {
        border-top-left-radius: 1px * $i !important;
      }
      &-tr-md--#{$i} {
        border-top-right-radius: 1px * $i !important;
      }
      &-bl-md--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
      }
      &-br-md--#{$i} {
        border-bottom-right-radius: 1px * $i !important;
      }

      &-t-md--#{$i} {
        border-top-left-radius: 1px * $i !important;
        border-top-right-radius: 1px * $i !important;
      }

      &-b-md--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
        border-bottom-right-radius: 1px * $i !important;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $br-start through $br-end {
      &-lg--#{$i} {
        border-radius: 1px * $i !important;
      }
      &-tl-lg--#{$i} {
        border-top-left-radius: 1px * $i !important;
      }
      &-tr-lg--#{$i} {
        border-top-right-radius: 1px * $i !important;
      }
      &-bl-lg--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
      }
      &-br-lg--#{$i} {
        border-bottom-right-radius: 1px * $i !important;
      }

      &-t-lg--#{$i} {
        border-top-left-radius: 1px * $i !important;
        border-top-right-radius: 1px * $i !important;
      }

      &-b-lg--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
        border-bottom-right-radius: 1px * $i !important;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $br-start through $br-end {
      &-xl--#{$i} {
        border-radius: 1px * $i !important;
      }
      &-tl-xl--#{$i} {
        border-top-left-radius: 1px * $i !important;
      }
      &-tr-xl--#{$i} {
        border-top-right-radius: 1px * $i !important;
      }
      &-bl-xl--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
      }
      &-br-xl--#{$i} {
        border-bottom-right-radius: 1px * $i !important;
      }

      &-t-xl--#{$i} {
        border-top-left-radius: 1px * $i !important;
        border-top-right-radius: 1px * $i !important;
      }

      &-b-xl--#{$i} {
        border-bottom-left-radius: 1px * $i !important;
        border-bottom-right-radius: 1px * $i !important;
      }
    }
  }
}

// Opacity
.g-opacity {
  $opacity-start: 0;
  $opacity-end: 10;

  @for $i from $opacity-start through $opacity-end {
    &--#{$i} {
      opacity: 0.1 * $i;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $opacity-start through $opacity-end {
      &-sm--#{$i} {
        opacity: 0.1 * $i;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $opacity-start through $opacity-end {
      &-md--#{$i} {
        opacity: 0.1 * $i;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $opacity-start through $opacity-end {
      &-lg--#{$i} {
        opacity: 0.1 * $i;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $opacity-start through $opacity-end {
      &-xl--#{$i} {
        opacity: 0.1 * $i;
      }
    }
  }
}

// Line Height
.g-line {
  $line-height-start: 10;
  $line-height-end: 20;

  @for $i from $line-height-start through $line-height-end {
    $number: $i / 10;
    &--#{$i} {
      line-height: $number;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $line-height-start through $line-height-end {
      $number: $i / 10;
      &-sm--#{$i} {
        line-height: $number;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $line-height-start through $line-height-end {
      $number: $i / 10;
      &-md--#{$i} {
        line-height: $number;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $line-height-start through $line-height-end {
      $number: $i / 10;
      &-lg--#{$i} {
        line-height: $number;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $line-height-start through $line-height-end {
      $number: $i / 10;
      &-xl--#{$i} {
        line-height: $number;
      }
    }
  }
}

// Z-index
.g-index {
  $zindex-start: 0;
  $zindex-end: 10;

  @for $i from $zindex-start through $zindex-end {
    &--#{$i} {
      z-index: 1 * $i;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $zindex-start through $zindex-end {
      &-sm--#{$i} {
        z-index: 1 * $i;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $zindex-start through $zindex-end {
      &-md--#{$i} {
        z-index: 1 * $i;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $zindex-start through $zindex-end {
      &-lg--#{$i} {
        z-index: 1 * $i;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $zindex-start through $zindex-end {
      &-xl--#{$i} {
        z-index: 1 * $i;
      }
    }
  }
}

// Column order
.g-column-count {
  $column-start: 0;
  $column-end: 10;

  @for $i from $column-start through $column-end {
    &--#{$i} {
      column-count: 1 * $i;
    }
  }

  @media (min-width: $break-small) {
    @for $i from $column-start through $column-end {
      &-sm--#{$i} {
        column-count: 1 * $i;
      }
    }
  }

  @media (min-width: $break-medium) {
    @for $i from $column-start through $column-end {
      &-md--#{$i} {
        column-count: 1 * $i;
      }
    }
  }

  @media (min-width: $break-large) {
    @for $i from $column-start through $column-end {
      &-lg--#{$i} {
        column-count: 1 * $i;
      }
    }
  }

  @media (min-width: $break-xlarge) {
    @for $i from $column-start through $column-end {
      &-xl--#{$i} {
        column-count: 1 * $i;
      }
    }
  }
}
// sass-lint:enable-all

// sass-lint:disable-all
@mixin only_ie11($selector, $map) {
  @media all and (-ms-high-contrast: none) {
    *::-ms-backdrop,
    #{$selector} {
      @each $property, $value in ($map) {
        #{$property}: $value + \0;
      }
    }
  }
}

/*--- Only iOS Safari ≥ 9 ---*/
@mixin only_ios($selector, $map) {
  @supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) and (not (-moz-appearance: none)) {
    #{$selector} {
      @each $property, $value in ($map) {
        #{$property}: $value;
      }
    }
  }
}

.g-shadow {
  &--none {
    box-shadow: none;
  }

  @media (min-width: $break-small) {
    &-sm--none {
      box-shadow: none !important;
    }
  }

  @media (min-width: $break-medium) {
    &-md--none {
      box-shadow: none !important;
    }
  }

  @media (min-width: $break-large) {
    &-lg--none {
      box-shadow: none !important;
    }
  }

  @media (min-width: $break-xlarge) {
    &-xl--none {
      box-shadow: none !important;
    }
  }
}
// sass-lint:enable-all

$font-start: 9;
$font-end: 75;

@for $i from $font-start through $font-end {
  $number: 1 * $i;

  .g-font--#{$i} {
    font-size: $number + px;
  }
}

@media (min-width: $break-small) {
  @for $i from $font-start through $font-end {
    $number: 1 * $i;

    .g-font-sm--#{$i} {
      font-size: $number + px;
    }
  }
}

@media (min-width: $break-medium) {
  @for $i from $font-start through $font-end {
    $number: 1 * $i;

    .g-font-md--#{$i} {
      font-size: $number + px;
    }
  }
}

@media (min-width: $break-large) {
  @for $i from $font-start through $font-end {
    $number: 1 * $i;

    .g-font-lg--#{$i} {
      font-size: $number + px;
    }
  }
}

@media (min-width: $break-xlarge) {
  @for $i from $font-start through $font-end {
    $number: 1 * $i;

    .g-font-xl--#{$i} {
      font-size: $number + px;
    }
  }
}
