.sect-nav {
  .btn-icons {
    background-color: map-get($colors, gray8);
    border-top: solid 1px map-get($colors, black1);
    bottom: 0;
    padding: 10px;
    padding-left: 22px;
    position: fixed;
    transition: 0.5s;
    width: 100%;

    @media (min-width: $break-large) {
      width: 240px;
    }

    @media (min-width: $break-xlarge) {
      position: absolute;
    }

    // sass-lint:disable nesting-depth
    a {
      color: map-get($colors, gray10);
      transition: $t-linear;

      &:hover {
        color: map-get($colors, white1);
        transition: $t-linear;
      }
    }
    // sass-lint:enable nesting-depth
  }
}
