<section id="landing-home">
  <div class="landing-home-content g-px--20 g-width">
    <div class="w-10 w-px-md--48">
      <search-landing-form></search-landing-form>
    </div>
  </div>
</section>

<section id="landing-activity" class="g-view-landing-activity g-mt--50 g-mt-lg--100 pb-lg-6 pt-2 pb-4">
  <div class="container landing-activity-content">
    <search-lading-steps></search-lading-steps>
  </div>
</section>
