<div class="d-flex position-relative justify-content-between align-items-center g-pb-lg--5 g-mh--6 {{addClass}}">

  {{#icon}}
    <div class="w-px--5 justify-content-center d-flex align-items-center d-block d-lg-none">
      <span class="{{iconFile}} {{iconClass}}"></span>
    </div>
  {{/icon}}

  <div class="d-flex justify-content-between align-items-center g-px-lg--20 w-10 g-o--hidden">

    <div class="d-flex align-items-center g-o--hidden {{contentSearch}}">
      {{#title}}
        <div class="text-truncate g-text--uppercase g-font--medium {{titleClass}}">
          {{{title}}}
        </div>
      {{/title}}

      {{#searchHead}}
        <div class="{{searchContentClass}}">
          {{>atoms-mf-search}}
        </div>
      {{/searchHead}}

      {{#payment}}
        <div class="g-font-lg--18 g-ml--10 {{textClass}}">
          {{{text}}}
        </div>
      {{/payment}}
    </div>

    {{#dots}}
      <div class="d-lg-none w-px--5 justify-content-center d-flex align-items-center g-ie-flex--0-1-auto">
        <span class="g-box-icons--menu icon-mapfre_094_dots g-font--25 g-font-md--21 g-c--green1 g-c--pointer"></span>
      </div>
    {{/dots}}

    {{#filter}}
      <div class="d-lg-none w-px--5 justify-content-center d-flex align-items-center g-ie-flex--0-1-auto">
        <span class="g-box-icons--menu icon-mapfre_098_filter g-font--25 g-font-md--21 g-c--green1 g-c--pointer"></span>
      </div>
    {{/filter}}

    {{#mont}}
      <div class="d-flex g-font-lg--18 {{textClass}}">
        {{text}}
      </div>
    {{/mont}}

    {{#dropdown}}

      <div class="g-box-icons--list g-none d-lg-flex g-ie-flex--0-1-auto">

        {{#lists}}
          <div class="g-box-icons--item d-flex align-items-center g-ml-lg--15 {{listClass}}">
            {{#icon}}
              <div class="">
                <span class="{{iconFile}} {{iconClass}} g-c--pointer"></span>
              </div>
            {{/icon}}
            {{#refres}}
              <div class="g-spinner-refres {{addClass}}"></div>
            {{/refres}}

            <div class="text-nowrap g-ml--10 g-c--pointer {{textClass}}">
              {{text}}
            </div>
          </div>
        {{/lists}}

        {{#inputs}}
          <div class="g-box-icons--item d-flex align-items-center g-ml-lg--15">
            <div class="text-nowrap {{textClass}}">
              {{text}}
            </div>
            <div class="">
              {{#combo}}
                {{>atoms-mf-select}}
              {{/combo}}
            </div>
          </div>
        {{/inputs}}

      </div>

    {{/dropdown}}

  </div>

  {{#accordion}}
    <div class="w-px--5 justify-content-center g-c--gray2 d-flex align-items-center {{addClass}} ">
      <span class="{{iconArrowDown}} g-c--pointer"></span>
      <span class="{{iconArrowUp}} d-none g-c--pointer"></span>
    </div>
  {{/accordion}}

</div>
{{#search}}
  <div class="{{searchContentClass}}">
    {{>atoms-mf-search}}
  </div>
{{/search}}