<div
  [ngClass]=" boxClass ? boxClass : 'g-box--shadow1 g-box--shadow1--xs-none d-flex w-100 g-b-radius--5 mt-0 mt-xl--2 flex-wrap flex-lg-nowrap'">
  <div class="w-100 w-px-lg--26 g-px--10 g-py--15 g-pb-xs--20" [ngClass]="bgColor">
    <div class="g-tablist-vertical g-tablist--list g-px--10" role="tablist">

      <!-- Select responsive -->
      <div class="g-tablist--select d-lg-none g-select-desing g-form-focus" (click)="toggle()">
        <label class="g-placeholder">{{ selectLabel }}</label>
        <div class="g-tablist--name">
          {{ selectName }}
        </div>
        <span class="icon-mapfre_004_triangle-down ico-select"></span>
      </div>

      <!-- Opciones -->
      <div class="g-tablist--menu g-inner" style="display: block" #menu>
        <ng-container *ngFor="let option of options">
          <ng-container *ngIf="option.visible">
            <div class="g-tablist-vertical__tab g-font--16"
              [routerLink]="option.route"
              [routerLinkActiveOptions]="{exact: option.exact}"
              routerLinkActive="active g-font--bold"
              [queryParams]="activatedRoute.queryParams | async"
              (click)="changeSelect(option.name)"
              ctrl="liTabVertical"
              (domChange)="onDomChange($event, { label: option.name })" #item>
              {{ option.name }}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Contenido a mostrar según opción -->
  <div class="g-px--10 g-py--15 g-pb-xs--20 w-10">
    <ng-content></ng-content>
  </div>
</div>
