<mf-tab-top [tabItemsList]="tabItemsList" [ga]="ga"></mf-tab-top>
<mf-modal-message [confirmButtonText]="btnConfirm" [messageDone]="titleAlert" [messageSuccessUpdate]="messageAlert"></mf-modal-message>
<router-outlet></router-outlet>
