.is-drop-over {
  background-color: rgb(240, 203, 168);
  border-color: #fff;
  border-style: solid;
}

.content-img {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: relative;

  input {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.item-wrap {
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}
