<div class="g-full-modal" name="table">
  <div class="g-full-modal--container">
    <div class="g-full-modal--wrapper">
      <!--Full Modal Header-->
      <div class="g-full-modal--header text-center">
        <div class="g-full-modal--closemodal" onclick="fullModal.close('table')">
          <span class="icon-mapfre_049_close2 g-font--30"></span>
        </div>
        <div class="g-font--18 g-font-md--20 g-font--bold d-none d-lg-block">Lista de asegurados</div>
        <div class="g-font--14 gCBlack1 g-font--bold  d-lg-none text-left">Lista de asegurados</div>
      </div>
      <!--Full Modal Body-->
      <div class="g-full-modal--content w-100">
        <div class="wrap">
        {{#table}}
          {{>molecules-table}}
        {{/table}}
        </div>
      </div>
      <!--Full Modal Footer-->
      <div class="g-full-modal--footer text-center  g-pt--15   g-pb--15  ">
        {{#closeButton}}
          {{>atoms-buttons}}
        {{/closeButton}}
      </div>
    </div>
  </div>
</div>