<div class="g-full-modal" name="condiciones">
  <div class="g-full-modal--container">
    <div class="g-full-modal--wrapper">
      <!--Full Modal Header-->
      <div class="g-full-modal--header text-center">
        <div class="d-flex align-items-center justify-content-between">
          <div class="g-font--18 g-font-md--20 g-font--bold d-none d-lg-block w-100">
            Condiciones generales
          </div>
          <div class="g-c--gray3 text-left d-lg-none">
            <span class="g-font--18 g-font-md--20 gCBlack1 g-font--bold">Condiciones generales</span>
          </div>
          <div class="g-full-modal--closemodal d-flex" onclick="fullModal.close('condiciones')">
            <span class="icon-mapfre_049_close2 g-font--30"></span>
          </div>
        </div>
      </div>
      <!--Full Modal Body-->
      <div class="g-full-modal--content w-100">
        <div class="wrap">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ante at nisi interdum commodo. Aenean tempor, erat sit amet lobortis porttitor, ex lacus fringilla tortor, et faucibus mi lorem eget ex. Sed erat velit, accumsan eu sem id, iaculis iaculis nulla. Vestibulum euismod velit vel orci condimentum tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc varius porta sapien, ut aliquam nisi pellentesque ut. Vestibulum suscipit tellus erat, id porta sem vulputate lacinia. Aliquam ac finibus neque. Nunc congue metus vitae quam accumsan cursus. Mauris viverra interdum metus, vitae fermentum odio pellentesque quis. Nullam sed sapien sit amet massa maximus facilisis sed vitae turpis. Vivamus vulputate nibh sed lectus euismod pulvinar. Aliquam accumsan aliquam augue sed tristique. Aenean ut leo elementum, molestie lectus vitae, semper justo.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ante at nisi interdum commodo. Aenean tempor, erat sit amet lobortis porttitor, ex lacus fringilla tortor, et faucibus mi lorem eget ex. Sed erat velit, accumsan eu sem id, iaculis iaculis nulla. Vestibulum euismod velit vel orci condimentum tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc varius porta sapien, ut aliquam nisi pellentesque ut. Vestibulum suscipit tellus erat, id porta sem vulputate lacinia. Aliquam ac finibus neque. Nunc congue metus vitae quam accumsan cursus. Mauris viverra interdum metus, vitae fermentum odio pellentesque quis. Nullam sed sapien sit amet massa maximus facilisis sed vitae turpis. Vivamus vulputate nibh sed lectus euismod pulvinar. Aliquam accumsan aliquam augue sed tristique. Aenean ut leo elementum, molestie lectus vitae, semper justo.</p>
        </div>
      </div>
      <!--Full Modal Footer-->
      <div class="g-full-modal--footer text-center  g-pt--15   g-pb--15  ">
        {{#closeButton}}
          {{>atoms-buttons}}
        {{/closeButton}}
      </div>
    </div>
  </div>
</div>