<section class="g-full-height h-100 align-items-center d-flex">
  <div class="container error text-center pb-lg--10 pb-xs--5">
    <img class="g-mw--6" src="assets/images/icons/404.svg">
    <div class="g-font--24 g-font-md--30 g-font--medium g-c--gray8">
      {{ title404 }}
    </div>
    <div class="g-font--18 g-c--gray8">
      {{ message404 }}
    </div>
  </div>
</section>
