<ul class="g-list green">
  <li *ngFor="let item of list; trackBy: trackByFn">
    <span class="g-list--ico icon-mapfre_003_check"></span>
    <span class="g-list--text">{{ item }}</span>
  </li>
</ul>
