<div class="w-100 g-mt--20 g-mt-lg--0">
  <div class="g-px--15 g-px-lg--0">
    <div class="text-center text-lg-left g-font--16 g-font--medium g-mb--5"> {{ content.title }} </div>
    <div class="text-left" [innerHTML]="content.content" *ngIf="content.content && flowFinished"></div>
  </div>
  <!-- Filtro -->
  <div *ngIf="insuredList && insuredList.length" class="g-mb--30 g-mx-n-lg--15">
    <div class="col-12 col-md-4">
      <mf-select [label]="labelInsured" [options]="insuredList" (change)="changeInsuranced($event.target.value)"></mf-select>
    </div>
  </div>
  <!-- Loading -->
  <mf-loader *ngIf="showLoading"></mf-loader>
  <!-- Contenido -->
  <div class="g-px--15 g-px-lg--0 g-mt--20" *ngIf="observationsText">
    <div class="text-left" [innerHTML]="observationsText"></div>
  </div>
</div>