<mf-card>
  <div class="g-bg-c--gray2 text-center g-p--15 w-10 d-none d-lg-block g-b-radius-t--5">
    <div class="g-c--white1 g-font--18">{{ paymentLang.SummaryPay }}</div>
  </div>
  <div class="w-10" [ngClass]="{'g-resumen--active': !collapse}">
    <!-- Header -->
    <div [ngClass]="{'d-block d-lg-none': !quote.isNotice}">
      <mf-card-header
        [header]="headerTitle"
        [uppercaseHeader]="false"
        [textRigth]="collapse ? (paymentLang.Price + ': ' + quote?.totalAmount): ''"
        [collapsed]="collapse"
        (expand)="collapse = $event">
      </mf-card-header>
    </div>

    <!-- pago normal -->
    <div [collapse]="collapse" (collapse-mobile)="collapse = $event" *ngIf="!quote.isNotice">
      <div class="d-flex justify-content-between g-p--15">
        <div class="g-font--light g-font--13 w-10">
          <div class="g-font--medium">{{ quote.policy }}</div>
          <ng-container *ngIf="!hiddenCuota">{{ paymentLang.Quota }} {{ quote.quota + ' - ' }}</ng-container> Nro. de Recibo {{ quote.billNumber }}
        </div>
        <div class="g-font--light g-bc--gray11 text-nowrap">{{ quote.totalAmount }}</div>
      </div>
    </div>

    <!-- pago con aviso -->
    <div [collapse]="collapse" (collapse-mobile)="collapse = $event" *ngIf="quote.isNotice">
      <div class="g-bt--1 g-bc--gray11 g-pt--5">
        <div class="d-flex justify-content-between g-px--25 g-py--10" *ngFor="let policy of quote.associatedReceipts">
          <div class="g-font--light g-font--13 w-10">
            <div class="g-font--medium">{{ policy.descripcionPoliza }}</div> {{ policyLang.Labels.PolicyNumber }}: {{ policy.numeroPoliza }}
          </div>
          <div class="g-font--light g-bc--gray11 text-nowrap g-pl--10">{{ policy.totalAmount }}</div>
        </div>
      </div>
      <div class="d-flex justify-content-between g-px--25 g-py--20 g-bt--1 g-bc--gray11">{{ policyLang.Texts.Fee }}: {{ quote.quota }}</div>
      <div class="d-flex justify-content-between g-px--25 g-py--20 g-font--medium g-bg-c--gray11 g-font--17">
        {{ paymentLang.QuotaValue }}
        <span>{{ quote.totalAmount }}</span>
      </div>
    </div>

  </div>
</mf-card>

<br>
