<div class="row">
  <div class="col-12 g-oim--header min-height--70">
    <div class="align-items-center d-flex flex-wrap h-100 g-ie-flex--0-1-auto">
      {{#icoNav}}
        <div class="d-flex  g-py--10 g-ie-flex--0-1-auto">
          <span class="{{iconFile}} {{addClass}} g-c--white1 d-xl-none g-block  g-pr--10  g-c--pointer js-hamb-open" onclick="openNav()"></span>
          <span class="icon-mapfre_080_close4 g-font--30  g-font--bold g-c--white1 d-none  g-pr--10  g-c--pointer js-hamb-close" onclick="closeNavBox()"></span>
          <span class="{{iconFileOIM}} {{addClassOIM}} g-c--white1 d-xl-none d-block"></span>
        </div>
      {{/icoNav}}

      {{#headOimMobile}}
        <div class="order-3 order-xl-1 flex-grow-1 w-xl-auto w-100 {{contentClass}}">
          <div class="row align-items-center g-title--header h-100">
            {{#icoBack}}
              <div class="col-auto g-br--1 g-c--pointer">
                <span class="{{icon}} {{addClass}}"></span>
              </div>
            {{/icoBack}}
            <div class="col-auto g-p--0 g-ml--10">
              <span class="g-text--uppercase {{llamadaClass}}">
                {{llamada}}
              </span>
              <h1 class="g-text--uppercase g-font--18  g-mb--0 ">
                {{bajada}}
              </h1>
            </div>
          </div>
        </div>
      {{/headOimMobile}}

      <div class="order-2 order-xl-2 d-flex flex-row ml-auto align-items-center g-mh--5 g-ie-flex--0-1-auto">
        <div class="d-inline-flex  g-p-lg--10 ">
          {{#alert}}
            {{>atoms-mf-dropdown-alert}}
          {{/alert}}
        </div>
        <div class="d-inline-flex  g-ml--30 ">
          {{#datos}}
            {{>atoms-mf-dropdown}}
          {{/datos}}
        </div>
      </div>
    </div>
  </div>
</div>
