<div class="g-pt--10 g-pt-lg--20 g-mr-lg--20 g-ml-lg--5 g-mx--10" data-accordion="container" data-group="">
  <!-- FAQ Group Selection -->
  <div *ngIf="faqGroup" class="g-mb--30 g-mx-n-lg--15">
    <div class="col-12 col-md-6">
      <form [formGroup]="frmSelect">
        <mf-select formControlName="select" [label]="faqGroupConfig.label" [options]="faqGroupConfig.options" (change)="onChangeSelection($event.target.value)"></mf-select>
      </form>
    </div>
  </div>
  <!-- FAQs -->
  <div class="mb-3" *ngFor="let faq of faqList">
    <mf-card *ngIf="faq.title">
      <mf-card-header [header]="faq.title" wot act [collapsed]="faq.collapse" (expand)="expand(faq, $event)"></mf-card-header>
      <mf-card-content [collapse]="faq.collapse">
        <div class="g-px--15 g-px-lg--10 g-mt-n--10 g-mt-n-lg--15 g-pb--15 g-pb-lg--5 g-pt--5 text-justify" [innerHTML]="faq.content">
        </div>
      </mf-card-content>
    </mf-card>
  </div>
</div>
