<mf-card-item>

  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--10 position-relative w-100 c-affiliate-item" [ngClass]="{ 'is-editing': isEditMode }">
    <div class="d-flex justify-content-center w-px-lg--8 px-3 pt-3 pt-lg-0 align-items-lg-center">
      <mf-checkbox
        *ngIf="isSelectMode"
        [checked]="checked"
        (change)="onCheck()">
      </mf-checkbox>
    </div>

    <!-- Non edit mode -->
    <div *ngIf="!isEditMode" class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">

      <div class="w-100 g-c--gray3 mb-2 mb-lg-0 g-o--hidden">
        <div class="g-font--medium text-lg-truncate" [title]="name">
          {{ name }}
        </div>
        <div>
          <div class="mb-0">{{ insured.tipoDocumento }}: {{ insured.nroDocumento }}</div>
        </div>
      </div>

      <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--25 g-font--13">
        <div class="mb-0 text-nowrap">
          {{ insured.descRamo }}
        </div>

        <div class="mb-0 text-nowrap d-flex align-items-center">
          <span class="g-font--medium pr-1">{{ insured.tipoMovimiento }}:</span>{{ insured.fechaDeclaracion | date: 'dd/MM/yyyy' }}
        </div>
      </div>

      <div class="px-lg-3 w-px-lg--25">
        <div class="mb-0 text-nowrap">
          Fecha nacimiento: {{ insured.fechaNacimiento  | date: 'dd/MM/yyyy' }}
        </div>
        <div class="mb-0 text-nowrap d-none d-lg-block">
          Sueldo: {{ insured.sueldo | currency: symbol }}
        </div>
      </div>

    </div>

    <!-- Edit mode -->
    <div *ngIf="isEditMode" [formGroup]="frmUpdate" class="w-100 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">

      <div class="pr-lg-4 g-c--gray3 mb-2 mb-lg-0 g-o--hidden {{ isFormExtended ? 'g-w-lg-33' : 'w-100' }}">
        <mf-input
          [label]="isFormExtended ? 'Apellido paterno' : 'Nombre completo'"
          name="firstName"
          formControlName="firstName"
          [maxlength]="isFormExtended ? 20 : 80">
        </mf-input>
      </div>

      <div *ngIf="isFormExtended" class="g-w-lg-33 pr-lg-4 g-c--gray3 mb-2 mb-lg-0 g-o--hidden">
        <mf-input
          [label]="'Apellido materno'"
          name="lastName"
          formControlName="lastName"
          [maxlength]="20">
        </mf-input>
      </div>

      <div *ngIf="isFormExtended" class="g-w-lg-33 pr-lg-4 g-c--gray3 mb-2 mb-lg-0 g-o--hidden">
        <mf-input
          [label]="'Nombres'"
          name="names"
          formControlName="names"
          [maxlength]="30">
        </mf-input>
      </div>

    </div>

    <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column">
      <ng-container *ngIf="!isEditMode">
        <span
          class="h-100 align-items-center d-flex justify-content-center g-font--18 icon-mapfre_035_edit p-lg-3 p-1"
          [ngClass]="{ 'g-c--gray12': isSelectMode, 'g-c--green1 g-c--pointer': !isSelectMode }"
          (click)="onEdit()">
        </span>
      </ng-container>
      <ng-container *ngIf="isEditMode">
        <span class="h-100 align-items-center d-flex justify-content-center g-font--18 w-100 p-lg-3 p-1 text-center" [ngClass]="{ 'g-c--gray12': frmUpdate.invalid, 'g-c--green1': frmUpdate.valid }">
          <span
            [spinnerPdf]="isUpdating"
            [iconPDF]="'icon-checked'"
            [defaultSize]="false"
            (click)="onUpdate()"></span>
        </span>
        <span
          class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 icon-comeback p-1 p-lg-3 w-100 text-center"
          [ngClass]="{ 'g-c--gray12': isUpdating, 'g-c--green1': !isUpdating }"
          (click)="onCancel()">
        </span>
      </ng-container>
    </div>

  </div>

</mf-card-item>
