.g-counlist {
  &--two {
    @media (min-width: $break-medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .g-counlist--item {
      @media (min-width: $break-medium) {
        width: 48%;
      }
    }
  }

  &--item {
    align-items: center;
    background: map-get($colors, white1);
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 $c-shadow1;
    display: flex;
    margin-bottom: 15px;
    padding: 20px;

    img {
      width: 30px;
    }
  }
}
