//Desplegable
.g-desplegable {
  position: relative;

  &--wrapper {
    left: -20px;
    min-width: 260px;
    position: absolute;
    top: 100%;
    z-index: 99;
  }

  &:hover {
    .g-desplegable--wrapper {
      display: block;
    }
  }

  &--triangle {
    position: relative;
    top: 1px;

    &.active {
      .g-desplegable--icon {
        top: -5px;
        transform: translateX(-50%) rotate(0deg);
      }
    }
  }

  &--icon {
    display: none;
    height: 25px;
    left: 11px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    transform: translateX(-50%) rotate(180deg);
    width: 50px;
    z-index: 97;

    &::after {
      background: map-get($colors, white1);
      box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.13);
      content: '';
      height: 10px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      width: 10px;
    }
  }
}
