// Modal
.g-modal {
  background-color: $c-shadow4;
  display: none;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  @media (min-width: $break-medium) {
    padding: 15px;
  }

  &--alert {
    @media (min-width: $break-large) {
      align-items: center;
      display: flex;
      min-height: 210px !important; // sass-lint:disable-line no-important
    }
  }

  &--closemodal {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &--header {
    padding-right: 25px;

    @media (min-width: $break-medium) {
      padding-right: 0;
    }
  }

  &--container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: calc(100vh - 30px);
    padding: 15px 0;
  }

  &--wrapper {
    background-color: map-get($colors, white1);
    border-radius: 5px;
    box-shadow: 0 1px 6px $c-shadow1;
    padding: 15px 15px 0;
    position: relative;
    width: 90%;

    @media (min-width: $break-large) {
      border-radius: 5px;
      padding: 30px 30px 0;
      width: 900px;
    }
  }

  &--footer {
    border-top: solid 1px map-get($colors, gray15);
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: $break-large) {
      margin-left: -30px;
      margin-right: -30px;
    }
  }

  &--content {
    height: calc(90vh - 165px);
    margin: 25px 0;
    overflow-y: auto;

    @media (min-width: $break-medium) {
      height: auto;
      max-height: calc(100vh - 300px);
    }
  }

  &--medium {
    @media (min-width: $break-large) {
      max-width: 690px;
      padding-left: 0;
      padding-right: 0;
    }

    .g-modal--section {
      @media (min-width: $break-large) {
        min-height: 320px;
        padding-top: 30px;
      }
    }
  }

  &--confirm {
    max-width: 480px;
    width: 90%;

    @media (min-width: $break-medium) {
      padding: 0;
    }
  }

  &--confirm-big {
    max-width: 690px;
    width: 90%;

    @media (min-width: $break-medium) {
      padding: 0;
    }
  }

  &--section {
    padding: 30px 0 20px;

    @media (min-width: $break-medium) {
      padding: 50px 50px 30px;
    }
  }

  &--wrap {
    max-height: 55vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px !important;
  }
}

// full modal
.g-full-modal {
  background-color: $c-shadow4;
  bottom: auto;
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: auto;
  transition: 0.5s ease;
  width: 100%;
  z-index: 110;

  &.g-full-modal-above {
    z-index: 99999;
  }

  @media (min-width: $break-large) {
    padding: 15px;
  }

  &:not(.open) {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .g-btn--default {
    width: 90%;

    @media (min-width: $break-medium) {
      width: inherit;
    }
  }

  &--faqs {
    @media (min-width: $break-large) {
      width: 990px !important; // sass-lint:disable-line no-important
    }

    .wrap {
      @media (min-width: $break-large) {
        padding-bottom: 0 !important; // sass-lint:disable-line no-important
        padding-left: 5px !important; // sass-lint:disable-line no-important
        padding-top: 0 !important; // sass-lint:disable-line no-important
      }
    }
  }

  &--alternative {
    @media (min-width: $break-large) {
      width: 750px !important; // sass-lint:disable-line no-important
    }

    .wrap {
      @media (min-width: $break-large) {
        padding: 0 !important; // sass-lint:disable-line no-important
      }
    }
  }

  &--closemodal {
    cursor: pointer;

    @media (min-width: $break-large) {
      position: absolute;
      right: -15px;
      top: -15px;
    }
  }

  &--container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &--wrapper {
    background-color: map-get($colors, white1);
    border-radius: 0;
    height: 100%;
    position: relative;
    width: 100%;

    @media (min-width: $break-large) {
      border-radius: 5px;
      box-shadow: 0 1px 6px 0 $c-shadow1;
      height: auto;
      padding: 30px 30px 0;
      width: 900px;
    }
  }

  &--medium {
    @media (min-width: $break-large) {
      width: 690px;
    }

    .g-full-modal--header {
      padding: 0;

      // sass-lint:disable nesting-depth
      > div {
        > div {
          height: 50px;

          @media (min-width: $break-large) {
            height: auto;
          }
        }
      }
      // sass-lint:enable nesting-depth

      @media (min-width: $break-large) {
        background: none;
        // border-bottom: 1px solid map-get($colors, gray12);
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -30px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
      }
    }

    .g-full-modal--closemodal {
      @media (min-width: $break-large) {
        position: relative;
        right: auto;
        top: auto;
      }
    }
  }

  &--header {
    background-color: map-get($colors, white1);
    left: 0;
    padding: 15px;
    position: fixed;
    right: 0;
    top: auto;
    z-index: -1;

    @media (min-width: $break-large) {
      box-shadow: 0 0 0 0 $bg-opacity--black0;
      left: auto;
      padding-right: 45px;
      position: relative;
      right: auto;
      top: auto;
    }
  }

  &--footer {
    background-color: map-get($colors, white1);
    border-top: solid 1px map-get($colors, gray15);
    bottom: auto;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;

    @media (min-width: $break-large) {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      bottom: auto;
      left: auto;
      margin-left: -30px;
      margin-right: -30px;
      position: relative;
      right: auto;
    }
  }

  &--content {
    background-color: map-get($colors, white1);
    height: auto;
    position: fixed;
    z-index: -1;

    @media (min-width: $break-large) {
      max-height: calc(100vh - 150px);
      overflow: auto;
      position: relative;
    }

    > div {
      &.wrap {
        height: 100%;
        overflow-y: auto;
        padding: 15px;
        position: relative;
        z-index: 99;
      }
    }
  }

  &--confirm {
    max-width: 480px;
    padding: 0;
    width: 90%;
  }

  &--section {
    padding: 30px 20px;
  }

  &.open {
    bottom: 0;
    overflow: auto;
    top: 0 !important; // sass-lint:disable-line no-important
    transition: opacity 0.15s linear;

    .g-full-modal--header,
    .g-full-modal--footer {
      z-index: 12;
    }

    .g-full-modal--header {
      top: 0;
    }

    .g-full-modal--footer {
      bottom: 0;
    }

    .g-full-modal--content {
      z-index: 11;
    }

    @media (max-height: 200px) {
      .g-full-modal--footer,
      .g-full-modal--header,
      .g-full-modal--content {
        position: relative;
      }

      .g-full-modal--content {
        top: 0 !important; // sass-lint:disable-line no-important
      }
    }
  }
}

.g-safari-iphone {
  @media (max-height: 100vh) and (orientation: landscape) {
    .g-full-modal--footer,
    .g-full-modal--header,
    .g-full-modal--content {
      position: relative;
    }

    .g-full-modal--content {
      top: 0 !important; // sass-lint:disable-line no-important
    }
  }
}
