// sass-lint:disable-all

.ngx-pagination {
  li {
    margin: 0 2px 10px !important;
    vertical-align: top;

    &.disabled {
      display: none !important;
    }

    &.current {
      background-color: map-get($colors, white1);
      border-radius: 3px !important;
      border: 1px solid #dedede;
      color: map-get($colors, gray2);
      height: 30px;
      line-height: 30px;
      padding: 0 11px !important;
    }

    a,
    button {
      background-color: map-get($colors, gray5);
      border-radius: 3px !important;
      border: 1px solid #dedede;
      color: map-get($colors, gray18);
      height: 30px;
      line-height: 30px;
      padding: 0 11px !important;
    }
  }

  .pagination-previous {
    a {
      background-color: map-get($colors, white1) !important;
      padding: 0 9px !important;

      &::before {
        content: '\e965' !important;
        filter: FlipH;
        font-family: 'MFAutoservicio';
        margin: 0 !important;
        transform: scaleX(-1);
      }
    }
  }

  .pagination-next {
    a {
      background-color: map-get($colors, white1) !important;
      padding: 0 9px !important;

      &::after {
        content: '\e965' !important;
        font-family: 'MFAutoservicio';
        margin: 0 !important;
      }
    }
  }
}

// sass-lint:enable-all
