// Box-Shadow
.g-box {
  &--shadow1 {
    box-shadow: 0 1px 6px $c-shadow1;
  }

  &--shadow1--xs-none {
    box-shadow: none;
  }

  &-sm--shadow1 {
    @media (min-width: $break-small) {
      box-shadow: 0 1px 6px $c-shadow1;
    }
  }

  &-md--shadow1 {
    @media (min-width: $break-medium) {
      box-shadow: 0 1px 6px $c-shadow1;
    }
  }

  &-lg--shadow1 {
    @media (min-width: $break-large) {
      box-shadow: 0 1px 6px $c-shadow1;
    }
  }

  &-lg--none {
    @media (min-width: $break-large) {
      box-shadow: 0 0 0 $c-shadow1;
    }
  }

  &-xl--shadow1 {
    @media (min-width: $break-xlarge) {
      box-shadow: 0 1px 6px $c-shadow1;
    }
  }

  &--shadow2 {
    box-shadow: 0 1px 6px $c-shadow2;
  }

  &-sm--shadow2 {
    @media (min-width: $break-small) {
      box-shadow: 0 1px 6px $c-shadow2;
    }
  }

  &-md--shadow2 {
    @media (min-width: $break-medium) {
      box-shadow: 0 1px 6px $c-shadow2;
    }
  }

  &-lg--shadow2 {
    @media (min-width: $break-large) {
      box-shadow: 0 1px 6px $c-shadow2;
    }
  }

  &-xl--shadow2 {
    @media (min-width: $break-xlarge) {
      box-shadow: 0 1px 6px $c-shadow2;
    }
  }

  &--shadow3 {
    box-shadow: 0 3px 6px $c-shadow1;
  }

  &--shadow5 {
    box-shadow: 1px 1px 3px 0px $c-shadow5;
  }

  &--circle {
    height: 29px;
    padding: 2px 4px;
    width: 29px;
  }
}
