// Toolip
.g-tooltip {
  position: relative;

  &--landing {
    min-width: 270px !important; // sass-lint:disable-line no-important
  }

  &--input {
    width: calc(100% - 30px);
  }

  &--icon {
    cursor: pointer;
    display: inline-block;
  }

  &--message {
    display: none;
    left: -15px;
    min-width: 245px;
    padding-top: 5px;
    position: absolute;
    top: 100%;
    z-index: 100;

    @media (min-width: $break-medium) {
      left: -35px;
    }

    &::before {
      border-color: transparent transparent map-get($colors, blue1);
      border-style: solid;
      border-width: 9px 15px;
      content: '';
      left: 10px;
      position: absolute;
      top: -13px;

      @media (min-width: $break-medium) {
        left: 30px;
      }
    }

    &::after {
      border-color: transparent transparent map-get($colors, blue2);
      border-style: solid;
      border-width: 9px 15px;
      content: '';
      left: 10px;
      position: absolute;
      top: -12px;
      z-index: 10;

      @media (min-width: $break-medium) {
        left: 30px;
      }
    }
  }

  &-bottom-left {
    .g-tooltip-message {
      left: -15px;
      top: 100%;

      @media (min-width: $break-medium) {
        left: -35px;
      }

      &::before {
        left: 10px;
        top: -13px;
        @media (min-width: $break-medium) {
          left: 30px;
        }
      }

      &::after {
        left: 10px;
        top: -12px;
        @media (min-width: $break-medium) {
          left: 30px;
        }
      }
    }
  }

  &-bottom-right {
    text-align: right;

    .g-tooltip-message {
      left: auto;
      right: -15px;
      top: 100%;

      @media (min-width: $break-medium) {
        left: auto;
        right: -35px;
      }

      &::before {
        left: auto;
        right: 10px;
        top: -13px;

        @media (min-width: $break-medium) {
          left: auto;
          right: 30px;
        }
      }

      &::after {
        left: auto;
        right: 10px;
        top: -12px;

        @media (min-width: $break-medium) {
          left: auto;
          right: 30px;
        }
      }
    }
  }

  &-top-left {
    .g-tooltip-message {
      bottom: 133%;
      left: -15px;
      top: auto;

      @media (min-width: $break-medium) {
        left: -35px;
      }

      &::before {
        bottom: -17px;
        left: 10px;
        top: auto;
        transform: rotate(180deg);

        @media (min-width: $break-medium) {
          left: 30px;
        }
      }

      &::after {
        bottom: -16px;
        left: 10px;
        top: auto;
        transform: rotate(180deg);

        @media (min-width: $break-medium) {
          left: 30px;
        }
      }
    }
  }

  &-top-right {
    text-align: right;

    .g-tooltip-message {
      bottom: 133%;
      left: auto;
      right: -15px;
      top: auto;

      @media (min-width: $break-medium) {
        left: auto;
        right: -35px;
      }

      &::before {
        bottom: -18px;
        left: auto;
        right: 10px;
        top: auto;
        transform: rotate(180deg);

        @media (min-width: $break-medium) {
          left: auto;
          right: 30px;
        }
      }

      &::after {
        bottom: -17px;
        left: auto;
        right: 10px;
        top: auto;
        transform: rotate(180deg);

        @media (min-width: $break-medium) {
          left: auto;
          right: 30px;
        }
      }
    }
  }

  &-content {
    background: map-get($colors, blue2);
    border: solid 1px map-get($colors, blue1);
    border-radius: 4px;
    font-size: $fz12;
    line-height: 1.2;
    padding: 12px;
    text-align: left;

    @media (min-width: $break-medium) {
      min-width: 295px;
      right: 0;
    }
  }

  &-info {
    position: relative;

    &:hover {
      .g-tooltip-message {
        display: block;
      }
    }
  }

  &--color {
    color: map-get($colors, green1);
  }

  &--disabled {
    cursor: not-allowed;

    .g-tooltip--color {
      color: map-get($colors, gray10);
    }

    .g-tooltip--alternative-message {
      display: none !important; // sass-lint:disable-line no-important
    }
  }
}

.g-tooltip--alternative {
  display: inline;
  position: relative;

  &-message {
    background: map-get($colors, white1);
    box-shadow: 0 5px 15px 0 $c-shadow1;
    display: none;
    height: auto;
    left: 50%;
    min-width: 250px;
    position: absolute;
    right: 0;
    top: 40px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 15;

    @media (min-width: $break-medium) {
      left: 50%;
      max-width: 300px;
      min-width: 250px;
      transform: translateX(-50%);

      &-300 {
        min-width: 300px;
      }
    }
  }

  &-message--left {
    left: 0;
    transform: translateX(-45px);

    @media (min-width: $break-medium) {
      transform: translateX(-15px);
    }

    .g-tooltip--alternative-arrow {
      left: 0;
      transform: translateX(0) rotate(180deg);
    }
  }

  &-message--left--30 {
    .g-tooltip--alternative-arrow {
      @media (max-width: $break-medium) {
        left: 30px;
      }
    }
  }

  &-message--right {
    left: auto;
    right: -15px;
    transform: translateX(0);

    .g-tooltip--alternative-arrow {
      left: auto;
      right: 0;
      transform: translateX(0) rotate(180deg);
    }
  }

  &-message--bottom {
    bottom: 25px;
    left: 0;
    right: 0;
    top: auto !important; // sass-lint:disable-line no-important
    transform: translateX(0);

    .content-arrow-small {
      bottom: -25px;
      top: auto;
      transform: translateX(-50%) rotate(0deg);
    }

    .g-tooltip--alternative-arrow {
      bottom: -25px;
      left: auto;
      right: 0;
      top: auto;
      transform: translateX(-50%) rotate(0deg);
    }
  }

  &-arrow {
    height: 25px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: -24px;
    transform: translateX(-50%) rotate(180deg);
    width: 50px;

    @media (min-width: $break-xlarge) {
      left: 50%;
      right: auto;
      transform: translateX(-50%) rotate(180deg);
    }

    &::after {
      background: map-get($colors, white1);
      box-shadow: 1px 1px 20px 0 $c-shadow1;
      content: '';
      height: 20px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      width: 20px;
    }
  }

  &-arrow-small {
    height: 25px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: -25px;
    transform: translateX(-50%) rotate(180deg);
    width: 50px;

    &::after {
      background: map-get($colors, white1);
      box-shadow: 1px 1px 20px 0 $c-shadow1;
      content: '';
      height: 10px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      width: 10px;
    }
  }

  &:hover,
  &:focus {
    .g-tooltip--alternative-message {
      display: block;
    }
  }
}
