<div class="g-mt--20 g-mt-lg--30">

  <!-- Sin resultados -->
  <client-item-not-found
    [imageTop]="true"
    [text]="textNotFound"
    [show]="!payment && !showLoading">
  </client-item-not-found>

  <!-- Header -->
  <div class="g-bg-c--white1">
    <client-payment-settings-policy
      *ngIf="payment"
      [payment]="payment">
    </client-payment-settings-policy>
  </div>

  <!-- Opciones -->
  <div *ngIf="payment">
    <!-- Contenido -->
    <router-outlet></router-outlet>
  </div>

  <!-- Loading -->
  <mf-loader *ngIf="showLoading"></mf-loader>

</div>
