
    <div class="d-flex justify-content-center linebox  g-mb--15  g-text--uppercase {{addClass}}">
        <div class="linebox--item linebox--left {{color}}"></div>
        <div class="{{size}}">{{text}}</div>
        <div class="linebox--item {{color}}"></div>
    </div>
