<div class="{{addClass}}">

  {{#address}}
    <div class="row">
      {{#check}}
        <div class="col-12 {{itemClass}}">
          {{>atoms-mf-checkbox}}
        </div>
      {{/check}}

      {{#select}}
        <div class="col-12 {{itemClass}}">
          {{>atoms-mf-select}}
        </div>
      {{/select}}

      {{#list}}
        <div class="col-12 {{itemClass}}">
          {{>atoms-items}}
        </div>
      {{/list}}
    </div>
  {{/address}}

  {{#message}}
    {{>molecules-messages2}}
  {{/message}}

  {{#attached}}
    {{>organisms-upload-file}}
  {{/attached}}

  {{#error}}
    {{>atoms-alert}}
  {{/error}}

  <div class="row">

    {{#itemInputs}}
      <div class="col-12 {{itemClass}}">
        {{>atoms-mf-input}}
      </div>
    {{/itemInputs}}

    {{#itemWorks}}
      {{#date}}
        <div class="col-12 col-md-6">
          {{>atoms-mf-input-datepicker}}
        </div>
      {{/date}}

      {{#range}}
        <div class="col-12 col-md-6">
          {{>atoms-mf-select}}
        </div>
      {{/range}}
    {{/itemWorks}}

    {{#itemSelects}}
      <div class="col-12 {{itemClass}}">
        {{>atoms-mf-select}}
      </div>
    {{/itemSelects}}

    {{#itemInputs2}}
      <div class="col-12 {{itemClass}}">
        {{>atoms-mf-input}}
      </div>
    {{/itemInputs2}}

  </div>
</div>