<div class="g-map-filter--desktop g-bg-c--white1 h-100 g-box--shadow1" #dad>
  <client-gm-list
    (criteriaSearch)="search($event)"
    (exit)="handlerSearchView()"
    (openFilter)="handlerFilterView(true)"
    (viewDetail)="viewDetailEvent($event)"
    (goToAppointment)="appointment($event)"
    (viewOnMap)="fnSelectItem($event)"
    [configView]="configView"
    [items]="tmpItems"
    [show]="showList"
    [showLoading]="showLoading"
    [title]="title"
    [ga]="ga"
    [policy]="policy"
  >
  </client-gm-list>
  <client-gm-filter-view
    (exit)="handlerFilterView()"
    [gmFilterViewItem]="gmFilterViewItem"
    [lightbox]="true"
    [show]="showFilter"
    [ga]="ga"
  >
  </client-gm-filter-view>
</div>

<client-gm-card-filter
  (centerButtonClick)="centerButtonFn()"
  (openFilter)="handlerFilterView(true)"
  (openSearch)="handlerSearchView(true)"
  [centerButton]="centerButton"
  [configView]="configView"
  class="d-lg-none"
  type="bottom"
  [ga]="ga"
  [policy]="policy"
>
</client-gm-card-filter>
