body {
  background-color: map-get($colors, gray11);
  color: map-get($colors, gray3);
}

// Overflow
.g-o {
  &--hidden {
    overflow: hidden;
  }

  &-y--auto {
    overflow-y: auto;
  }

  &-lg--hidden {
    @media (min-width: $break-large) {
      overflow: hidden;
    }
  }
}

// Display
.g-inlineblock {
  @include inlineblock;
}

// Border

.d-flex-1-auto {
  flex: 1 auto;
}

.letf-box {
  left: -55px;
}

// 100%

.w-md-50 {
  width: 100%;

  @media (min-width: $break-medium) {
    width: 50%;
  }
}

.mw--500 {
  max-width: 500px;
}

// sass-lint:disable-all
/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// sass-lint:enable-all

// min heigth
.min-height {
  &--70 {
    min-height: 70px;
  }

  &--100 {
    min-height: 100%;
  }

  &--280 {
    min-height: 280px;
  }

  &--360 {
    min-height: 360px;
  }
}

.g-max-width--calc {
  max-width: calc(100% - 35px);
}

// max min width
.g-mw--6 {
  max-width: 600px;

  &--lg-none {
    max-width: 100%;

    @media (min-width: $break-large) {
      max-width: 600px;
    }
  }
}

// Cursor
.g-c {
  &--pointer {
    cursor: pointer;
  }

  &--default {
    cursor: default;
  }

  &--initial {
    cursor: initial;
  }
}

// Overflow
.g-vfw--auto {
  overflow: auto;
}

.g-btn-xs-fixed {
  bottom: 0;
  min-height: 60px;
  position: fixed;

  @media (min-width: $break-large) {
    position: inherit;
  }
}

.g-no-scroll {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  @media (min-width: $break-xlarge) {
    overflow: auto;
    position: relative;
  }
}

html {
  &.body-hidden {
    overflow: hidden;
  }
}

// sass-lint:disable-all
.g-modal-no-scroll {
  overflow: initial;
  position: fixed;
  width: 100%;
  height: 100%;

  @media (min-width: $break-large) {
    position: relative;
  }
}

// sass-lint:enable-all

// position absolute
.g-pa--rb15 {
  bottom: -15px;
  position: absolute;
  right: -15px;
}

// max heigth scroll
.g-max-h-lg--60 {
  @media (min-width: $break-large) {
    max-height: 600px !important; // sass-lint:disable-line no-important
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

.g-shadow--line {
  border-top: 1px solid map-get($colors, gray11);
  box-shadow: inset 0 5px 13px -10px $c-shadow1;
  min-height: calc(100vh - 100px);

  @media (min-width: $break-medium) {
    min-height: inherit;
  }
}

.g-shadow--horz {
  box-shadow: inset 0 5px 13px -10px $c-shadow1;

  @media (min-width: $break-large) {
    box-shadow: 0 0 10px $c-shadow1;
  }
}

// sass-lint:enable-all

.g-height--full {
  min-height: calc(100vh - 100px);
  position: relative;

  @media (min-width: $break-large) {
    min-height: calc(100vh - 70px);
  }
}

.sect-container {
  position: relative;
}

.g-map--full {
  min-height: calc(100vh - 111px);
  padding-right: 0;

  @media (min-width: $break-xlarge) {
    min-height: calc(100vh - 70px);
  }
}

.g-max-w--570 {
  max-width: 570px;
}

.g-max-w-lg--570 {
  @media (min-width: $break-large) {
    max-width: 570px;
  }
}

.g-max-w-xl--570 {
  @media (min-width: $break-xlarge) {
    max-width: 570px;
  }
}

.g-max-w-md--570 {
  @media (min-width: $break-medium) {
    max-width: 570px;
  }
}

.g-max-w--inherit {
  @media (min-width: $break-medium) {
    max-width: inherit;
  }
}

.g-max-w-lg--500 {
  @media (min-width: $break-large) {
    max-width: 500px;
  }
}

.g-max-w-md--760 {
  @media (min-width: $break-medium) {
    max-width: 760px;
  }
}

.g-max-w-lg--690 {
  @media (min-width: $break-large) {
    max-width: 690px;
  }
}

.g-max-w-lg--990 {
  @media (min-width: $break-large) {
    max-width: 990px;
  }
}

.g-btn--80 {
  display: block;
  margin: auto;
  width: 100%;

  @media (min-width: $break-medium) {
    width: 80%;
  }
}

.g-mx-n--15 {
  margin-left: -15px;
  margin-right: -15px;
}

.g-mx-n-lg--15 {
  @media (min-width: $break-large) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.g-mr-n-lg--15 {
  @media (min-width: $break-large) {
    margin-right: -15px;
  }
}

.h-lg-100 {
  @media (min-width: $break-large) {
    height: 100%;
  }
}

// font family
.g-fm--roboto {
  font-family: roboto;
}

.g-mt-n--3 {
  margin-top: -3px;
}

.g-mt-n--10 {
  margin-top: -10px;
}

.g-mt-n--15 {
  margin-top: -15px;
}

.g-mb--03 {
  margin-bottom: 3px;
}

.g-mt-n-lg--15 {
  @media (min-width: $break-large) {
    margin-top: -15px;
  }
}

.d-2xl-block {
  @media (min-width: $break-2xlarge) {
    display: block !important; // sass-lint:disable-line no-important
  }
}

.h-info-modal {
  overflow: hidden;
  position: relative;

  .img {
    background-position: 0 0;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.g-list {
  &-bullet {
    > li {
      list-style: disc;
      margin-left: 15px;
    }
  }

  &-alpha {
    counter-reset: list;

    > li {
      list-style: none;
      margin-bottom: 3px;
      padding-left: 25px;
      position: relative;

      &::before {
        content: counter(list, lower-alpha) ') ';
        counter-increment: list;
        left: 0;
        position: absolute;
      }
    }
  }

  &-number {
    counter-reset: list;

    > li {
      list-style: none;
      margin-bottom: 3px;
      padding-left: 30px;
      position: relative;

      &::before {
        content: counter(list) '.';
        counter-increment: list;
        left: 10px;
        position: absolute;
      }
    }
  }
}

.text-lg-truncate {
  @media (min-width: $break-large) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.text-lg-nowrap {
  @media (min-width: $break-large) {
    white-space: nowrap !important; // sass-lint:disable-line no-important
  }
}

.g-mt--3 {
  margin-top: 3px;
}

.g-mt-lg--3 {
  @media (min-width: $break-large) {
    margin-top: 3px;
  }
}

.simplebar-track {
  &.vertical,
  &.horizontal {
    display: none;

    @media (min-width: $break-large) {
      display: block;
    }
  }
}

.g-min-full {
  @media (min-width: $break-medium) {
    min-height: calc(100vh - 100px);
  }

  @media (min-width: $break-large) {
    min-height: calc(100vh - 70px);
  }
}

.g-maxh--62 {
  max-height: 62px;
}

.g-container-block {
  width: 100%;

  @media (min-width: $break-2xlarge) {
    padding-right: 5%;
  }
}

// sass-lint:enable-all

.g-item-list {
  &--block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .g-item-list--option {
      width: 100%;

      @media (min-width: $break-small) {
        width: 50%;
      }
    }
  }
}

.g-table {
  &--row {
    &:nth-child(even) {
      background: map-get($colors, gray5);
    }
  }

  &--fixed {
    left: 25px;
    position: fixed;
    top: 0;
    width: calc(100% - 50px);
    z-index: 10;
  }
}

.g-box-icons--active {
  .w-10--active {
    width: 100%;

    @media (min-width: $break-large) {
      width: auto;
    }
  }
}

.g-pos--3 {
  top: 3px;
}

.g-text-shadow--10-white1 {
  text-shadow: 0 0 10px map-get($colors, white1);
}

.g-width {
  margin: auto;
  max-width: 1280px;
}

.g-flex-shrink--0 {
  flex-shrink: 0;
}

.g-flex-grow--1 {
  flex-grow: 1;
}

.g-up {
  bottom: 10px;
  position: fixed;
  right: 10px;
}

.g-banner {
  img {
    max-width: inherit;
  }

  &--ios {
    bottom: 90px;
    left: 20px;
    position: absolute;

    @media (min-width: $break-medium) {
      bottom: 70px;
      left: 50px;
    }
  }

  &--android {
    bottom: 25px;
    left: 20px;
    position: absolute;

    @media (min-width: $break-medium) {
      bottom: 70px;
      left: 230px;
    }
  }

  &--hover {
    display: none;
  }

  &--white {
    .g-banner--ios,
    .g-banner--android {
      border: 1px solid map-get($colors, black1);
      border-radius: 8px;
      bottom: 0;
      left: 0;
      position: relative;
    }
  }

  &--apps {
    &:hover {
      .g-banner--default {
        @media (min-width: $break-medium) {
          display: none;
        }
      }

      .g-banner--hover {
        @media (min-width: $break-medium) {
          display: block;
        }
      }
    }
  }
}

.g-none {
  display: none;
}

.g-block {
  display: block;
}

.g-xs-block {
  @media (min-width: $break-xsmall) {
    display: block;
  }
}

.g-xs-none {
  @media (min-width: $break-xsmall) {
    display: none;
  }
}

.g-sm-block {
  @media (min-width: $break-small) {
    display: block;
  }
}

.g-sm-none {
  @media (min-width: $break-small) {
    display: none;
  }
}

.g-md-block {
  @media (min-width: $break-medium) {
    display: block;
  }
}
@media (min-width: $break-medium) {
  .g-height-md {
    &--350 {
      height: 350px;
    }
  }
}

.g-md-none {
  @media (min-width: $break-medium) {
    display: none;
  }
}

.g-lg-block {
  @media (min-width: $break-large) {
    display: block;
  }
}

.g-lg-none {
  @media (min-width: $break-large) {
    display: none;
  }
}

.g-xl-block {
  @media (min-width: $break-xlarge) {
    display: block;
  }
}

.g-xl-none {
  @media (min-width: $break-xlarge) {
    display: none;
  }
}

.g-c-md--gray18 {
  @media (min-width: $break-medium) {
    color: map-get($colors, gray18);
  }
}

// sass-lint:disable-all
.g-bar-horz {
  overflow: hidden;

  .g-tablist__tab {
    text-transform: uppercase;

    @media (min-width: $break-large) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (min-width: $break-2xlarge) {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}

// sass-lint:enable-all

.g-notfound {
  &--content {
    @media (min-width: $break-large) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &--imagen {
    margin-bottom: 20px;

    @media (min-width: $break-large) {
      margin-bottom: 0;
      margin-right: 20px;
      width: 70px;
    }
  }

  &--medium {
    .g-notfound--content {
      @media (min-width: $break-large) {
        text-align: left;
      }
    }

    .g-notfound--imagen {
      @media (min-width: $break-large) {
        width: 140px;
      }
    }
  }

  &--default {
    .g-notfound--content {
      @media (min-width: $break-large) {
        align-items: initial;
        display: block;
        justify-content: initial;
        text-align: center;
      }
    }

    .g-notfound--imagen {
      margin-bottom: 0;

      @media (min-width: $break-large) {
        margin-bottom: 20px;
        margin-right: 0;
        width: auto;
      }
    }
  }
}

.g-navbar {
  &--fixed {
    @media (min-width: $break-large) {
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;
    }

    @media (min-width: $break-xlarge) {
      padding-left: 255px;
    }

    .g-navbar--hide {
      @media (min-width: $break-large) {
        display: none !important; // sass-lint:disable-line no-important
      }
    }

    .g-navbar--show {
      @media (min-width: $break-large) {
        display: block !important; // sass-lint:disable-line no-important
      }
    }

    .g-navbar--money {
      @media (min-width: $break-large) {
        display: inline-block;
      }
    }

    .g-navbar--title {
      @media (min-width: $break-large) {
        font-size: 13px;
        padding: 0;
      }
    }

    .g-navbar--bgto {
      @media (min-width: $break-large) {
        background: none;
        padding: 5px 20px;
      }
    }

    .g-navbar--shadow {
      @media (min-width: $break-large) {
        box-shadow: 0 0 10px map-get($colors, gray21);
      }
    }

    .g-navbar--gray {
      @media (min-width: $break-large) {
        padding: 6px 0;
      }
    }
  }

  &--title {
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  &--money {
    display: none;
  }

  &--bgto {
    background: map-get($colors, gray11);
    padding: 10px 20px;
  }

  &--menu {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: space-between;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 15;
  }

  &--active {
    display: flex !important; // sass-lint:disable-line no-important

    @media (min-width: $break-large) {
      display: none !important; // sass-lint:disable-line no-important
    }
  }
}

// sass-lint:disable-all
.g-tab {
  &--nav-right {
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(30%, rgba(255, 255, 255, 1))
    );
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    align-items: center;
    display: flex;
    height: calc(100% - 1px);
    justify-content: center;
    position: absolute;
    right: -15px;
    top: 1px;
    width: 50px;
  }

  &--nav-left {
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: -webkit-gradient(
      right top,
      left top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(30%, rgba(255, 255, 255, 1))
    );
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    align-items: center;
    display: flex;
    height: calc(100% - 1px);
    justify-content: center;
    position: absolute;
    left: -15px;
    top: 1px;
    width: 50px;
  }
}

// sass-lint:enable-all

.g-carousel {
  &--dots {
    .mx-carousel-wrapper {
      overflow: visible !important;
      position: relative;
      z-index: 16;
    }

    .carousel-indicators {
      bottom: 0;
      margin: 0;
      padding: 15px 0;
      position: relative;
    }
  }
}

.g-select--p-15 {
  .g-select-desing {
    padding-top: 15px;
  }
}

.input-icon--rigth {
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 5;
}

.g-input-icon-pin {
  .input-icon--rigth {
    top: 30px;
  }
}

.g-pt--2 {
  padding-top: 2px;
}

.g-menu--global {
  @media (min-width: $break-xlarge) {
    padding-bottom: 30px;
  }

  .active {
    > .g-menu--global-item {
      background-color: map-get($colors, gray9);
    }
  }

  &-item {
    &:hover {
      background-color: map-get($colors, gray9);
      color: map-get($colors, white1);
    }
  }

  &-suboption {
    .icon {
      opacity: 0;
    }

    &:hover {
      background-color: map-get($colors, gray9);
      color: map-get($colors, white1);

      .icon {
        opacity: 1;
      }
    }
  }

  &-subitem {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
  }
}

.g-br--circle {
  border-radius: 50%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}

.g-input-icon--rigth {
  input {
    padding-right: 25px !important; // sass-lint:disable-line no-important
  }
}

.g-py--7 {
  padding-bottom: 7px;
  padding-top: 7px;
}

.g-map {
  &--top {
    box-shadow: 0 6px 14px $c-shadow1;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;

    @media (min-width: $break-xlarge) {
      height: 70px !important; // sass-lint:disable-line no-important
    }
  }

  &--search {
    box-shadow: 0 6px 14px $c-shadow1;
    left: 0;
    position: absolute;
    top: 50px;

    @media (min-width: $break-xlarge) {
      left: 50%;
      max-width: 600px;
      top: 90px;
      transform: translateX(-50%);
    }
  }

  &--bottom {
    bottom: 0;
    box-shadow: 0 6px 14px $c-shadow1;
    left: 0;
    padding: 10px;
    position: fixed;

    @media (min-width: $break-xlarge) {
      padding-left: 240px;
    }
  }

  &--autocomplete {
    font-size: 13px;
    width: 100%;

    @media (max-width: $break-xlarge) {
      bottom: auto;
      height: calc(100vh - 157px);
      left: 0;
      overflow-y: scroll;
      position: fixed;
      top: 107px;
    }

    @media (min-width: $break-xlarge) {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 6px 14px $c-shadow1;
      left: calc(50% - 67px);
      max-width: 444px;
      overflow: hidden;
      position: absolute;
      top: 138px;
      transform: translateX(-50%);
    }

    &-item {
      background: map-get($colors, white1);
      color: map-get($colors, gray10);
      cursor: pointer;
      display: flex;
      line-height: 1.4;
      overflow: hidden;
      padding: 11px;

      &-active {
        @media (min-width: $break-large) {
          background: map-get($colors, blue3);
          color: map-get($colors, white1);
        }
      }

      &:hover {
        @media (min-width: $break-large) {
          background: map-get($colors, blue3);
          color: map-get($colors, white1);
        }
      }
    }
  }

  &--active {
    .g-map--bottom {
      @media (max-width: $break-medium) {
        display: none;
      }
    }
  }
}

.g-safari-iphone {
  .g-map--autocomplete {
    @media (max-width: $break-xlarge) {
      bottom: 0;
      height: calc(100vh - 183px);
      top: auto;
    }
  }

  .g-native-iphone-block {
    display: block;
  }

  .g-native-iphone-none {
    display: none;
  }
}

.g-android {
  .g-native-android-block {
    display: block;
  }

  .g-native-android-none {
    display: none;
  }
}

.g-maps--full {
  .gm-bundled-control-on-bottom {
    bottom: 145px !important; // sass-lint:disable-line no-important
    display: block !important; // sass-lint:disable-line no-important
    position: fixed !important; // sass-lint:disable-line no-important
  }
}

.g-shadow--header {
  box-shadow: 0 1px 6px 0 $c-shadow1;
}

.g-full-box--footer {
  @media (max-width: $break-large) {
    background: map-get($colors, white1);
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 15;
  }
}

.g-tooltip--alternative-top-left {
  .g-tooltip--alternative-message--right {
    left: auto !important; // sass-lint:disable-line no-important
    right: -15px !important; // sass-lint:disable-line no-important
    transform: translateX(0) !important; // sass-lint:disable-line no-important
  }

  .g-tooltip--alternative-message {
    .g-tooltip--alternative-arrow {
      left: auto !important; // sass-lint:disable-line no-important
      right: 0 !important; // sass-lint:disable-line no-important
    }

    &.g-tooltip--alternative-message--bottom {
      .g-tooltip--alternative-arrow {
        left: auto !important; // sass-lint:disable-line no-important
        right: -24px !important; // sass-lint:disable-line no-important
      }
    }
  }
}

.g-tooltip-mobile--alternative-top-left {
  .g-tooltip--alternative-message--right {
    @media (max-width: $break-large) {
      left: auto !important; // sass-lint:disable-line no-important
      right: -15px !important; // sass-lint:disable-line no-important
      transform: translateX(0) !important; // sass-lint:disable-line no-important
    }
  }

  .g-tooltip--alternative-message {
    .g-tooltip--alternative-arrow {
      @media (max-width: $break-large) {
        left: auto !important; // sass-lint:disable-line no-important
        right: 0 !important; // sass-lint:disable-line no-important
      }
    }

    &.g-tooltip--alternative-message--bottom {
      .g-tooltip--alternative-arrow {
        @media (max-width: $break-large) {
          left: auto !important; // sass-lint:disable-line no-important
          right: -24px !important; // sass-lint:disable-line no-important
        }
      }
    }
  }
}

.white-lg-space {
  @media (min-width: $break-large) {
    white-space: nowrap;
  }
}

.g-map-notifier--modal-open {
  @media (min-width: 992px) {
    .g-alert--temp {
      margin-left: -184px;
    }
  }
}

.g-pt--3 {
  padding-top: 3px;
}

.g-mh-lg--60 {
  max-height: 600px !important; // sass-lint:disable-line no-important
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.g-tooltip--left {
  .g-tooltip--alternative-message--left {
    left: 30px;
  }
}

.g-mt-minus--1 {
  margin-top: -1px;
}

html,
body {
  &.g-full-hidden {
    overflow: hidden;
  }
}

.g-font--4 {
  font-size: 4px;
}

// sass-lint:disable-all
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  box-shadow: 0 0 0px 1000px none inset;
  transition: background-color 5000s ease-in-out 0s;
}

// sass-lint:enable-all

.g-word-extend {
  hyphens: auto;
  word-break: break-all;
}

.g-flex {
  display: flex;
}

.d-2xl {
  &-flex {
    @media (min-width: $break-2xlarge) {
      display: flex !important; // sass-lint:disable-line no-important
    }
  }

  &-block {
    @media (min-width: $break-2xlarge) {
      display: block !important; // sass-lint:disable-line no-important
    }
  }
}

.g-mx-n--16 {
  margin-left: -16px;
  margin-right: -16px;
}

.g-float--close {
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 15px;

  @media (min-width: $break-large) {
    top: 22px;
  }
}

.c-badge {
  background: map-get($colors, green1);
  border-radius: 20px;
  box-shadow: 0 3px 8px 0 $c-shadow4;
  color: map-get($colors, white1);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.26px;
  line-height: 1;
  margin-right: 10px;
  padding: 4px 7px;
}

.g-position {
  &--relative {
    position: relative;
  }
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;

  &--active {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    padding-bottom: 10px;
  }
}

.map-acordion {
  position: absolute;
  top: 0;
  width: 100%;
}

.schedule-detail {
  .modal-footer-btn {
    justify-content: center;
  }
}

@media (min-width: $break-large) {
  .map-acordion {
    padding-right: 375px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.h-pl--28px {
  padding-left: 28px;
}

.box-height-fix {
  @media (min-width: $break-large) {
    height: 220px !important;
  }
  @media (min-width: $break-2xlarge) {
    height: 150px !important;
  }
}

.table-vigencia {
  &--header {
    align-items: center;
    display: flex;
    font-size: 13px;
    height: 46px;

    .title-rigth {
      align-items: center;
      background-color: map-get($colors, gray11);
      border-left: solid 1px map-get($colors, gray12);
      border-radius: 5px 5px 0 0;
      border-right: solid 1px map-get($colors, gray12);
      border-top: solid 1px map-get($colors, gray12);
      color: map-get($colors, gray2);
      display: flex;
      font-weight: bold;
      height: 46px;
      justify-content: center;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &--cont {
    align-items: center;
    border-left: solid 1px map-get($colors, gray12);
    border-right: solid 1px map-get($colors, gray12);
    display: flex;
    font-size: 13px;
    height: 46px;

    .text-left {
      align-items: center;
      background-color: map-get($colors, gray11);
      color: map-get($colors, gray2);
      display: flex;
      font-weight: bold;
      height: 46px;
      justify-content: center;
      margin: 0;
      padding: 0 10px;
    }

    .text-rigth {
      align-items: center;
      background-color: map-get($colors, gray5);
      color: map-get($colors, gray2);
      display: flex;
      font-weight: lighter;
      height: 46px;
      justify-content: center;
      margin: 0;
    }

    &:nth-child(2n) {
      .text-left {
        background-color: map-get($colors, gray5);
      }

      .text-rigth {
        background-color: white;
      }
    }

    &:last-child {
      border-bottom: solid 1px map-get($colors, gray12);
      border-radius: 0 0 5px 5px;

      .text-left {
        border-radius: 0 0 0 5px;
      }

      .text-rigth {
        border-radius: 0 0 5px;
      }
    }

    &:first-child {
      border-top: solid 1px map-get($colors, gray12);
    }
  }
}

.h-max-w--100 {
  max-width: 100%;
}

.direction--column-reverse {
  flex-direction: column-reverse;
}

.direction--column {
  flex-direction: column;
}

@media (min-width: $break-medium) {
  .direction-md--row {
    flex-direction: row;
  }
}

.g-table-par .row {
  background: #f7f8f9;
  padding: 10px 0;

  &:nth-last-child(2n) {
    background: white;
  }
}

.g-min-w--860 {
  min-width: 860px;
}

.item-image--edit {
  display: flex;
  width: 100%;
  margin: 0;
  margin-left: 0 !important;
  align-items: start;
}

.item-image--edit img {
  width: 25px;
  vertical-align: top;
}

.item-image--edit .content-recursos {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  margin: 0;
  background: transparent;
  padding-top: 4px;
}

.item-image--edit .content-recursos .size {
  margin: 0;
  align-self: initial;
  background: transparent;
  color: #4a4a4a;
  border: none;
  padding: 2px;
  font-size: 13px;
}

.item-image--edit .content-recursos .btn-close {
  color: #797b7f;
}

.box-error .title-error {
  width: 100%;
  display: flex;
  place-items: center;
  color: #d81e05;
  font-weight: bold;
}

.box-error .title-error .title {
  line-height: 1;
  padding-left: 6px;
}

.list-error {
  max-height: 170px;
  overflow: auto;
  font-size: 13px;
  color: #d81e05;
  padding-left: 20px;
  margin-top: 4px;
  font-weight: lighter;
}

.box-warning .title-warning {
  width: 100%;
  display: flex;
  place-items: center;
  color: #ef9454;
  font-weight: bold;
}

.box-warning .title-warning .title {
  line-height: 1;
  padding-left: 6px;
}

.list-warning {
  max-height: 170px;
  overflow: auto;
  font-size: 13px;
  color: #4a4a4a;
  padding-left: 20px;
  margin-top: 4px;
  font-weight: lighter;
}

.fixed-payroll {
  background: #f2f2f2;
  z-index: 100;
}

@media (min-width: 1200px) {
  .fixed-payroll {
    margin-left: 240px;
  }
}

.width-25 {
  width: 25px;
}

.item-icon {
  margin: 0 20px;
  width: 100%;

  .icon {
    align-items: center;
    background-color: #f7f8f9;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    display: flex;
    height: 84px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 84px;

    .primary {
      font-size: 42px;
    }

    .secondary {
      background: #8db602;
      border-radius: 50%;
      bottom: 0;
      color: white;
      font-size: 12px;
      left: 0;
      padding: 5px;
      position: absolute;
    }
  }
}

.g-line-height {
  &--1-2 {
    line-height: 1.2;
  }
}

.g-hg--100 {
  height: 100px;
}

.g-hg-lg--140 {
  @media (min-width: $break-large) {
    height: 140px;
  }
}

.g-wt--70 {
  width: 70px;
}

.g-wt-lg--120 {
  @media (min-width: $break-large) {
    width: 120px;
  }
}

.item-label {
  background-color: #d81e05;
  border-radius: 15px;
  color: white;
  padding: 0 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-wts {
  background: #8db602;
  border-color: #8db602;
}

.btn-wts:hover {
  background: #7ea202;
}

.item-button {
  background-color: #d81e05;
  border-radius: 20px;
  color: white;
  padding: 8px 10px;
  position: absolute;
  right: 20px;
  width: 100px;
}

.li-red li::marker {
  color: #d81e05;
}

.dropdown-relative {
  position: relative;
  top: 0;
}

.item-label-menu {
  background-color: #d81e05;
  border-radius: 15px;
  color: white;
  padding: 0 10px;
  right: 10px;
  top: 10px;
}

.g-ol-decimal > li {
  list-style-type: decimal;
}

.custom-clear-button {
  position: absolute;
  right: 50px;
  top: 10px;
  z-index: 5;
}
