// sass-lint:disable-all
@include only_ie11(
  '.d-flex, .d-md-flex, .d-lg-flex, .d-xl-flex, .row',
  (
    flex: 1 0 auto
  )
);

@include only_ie11(
  '.g-inpsel-design .ico-select, .g-select-desing .ico-select',
  (
    display: none
  )
);

@include only_ie11(
  '.g-inpsel-design select, .g-select-desing select',
  (
    padding-right: 0
  )
);

@include only_ie11(
  '.g-ie-flex--1',
  (
    flex: 1
  )
);

@include only_ie11(
  '.g-ie-flex--0-1-auto',
  (
    flex: 0 1 auto
  )
);

@include only_ie11(
  '.g-fixed',
  (
    height: 100vh
  )
);

@include only_ie11(
  '.g-ie-body--login',
  (
    background: $red1 url('../../images/bg_login.jpg') top center no-repeat
  )
);

@include only_ie11(
  '.g-ie-view--login',
  (
    background: none,
    overflow: visible
  )
);

@include only_ie11(
  '.g-ie-full-modal--content',
  (
    height: auto
  )
);

@include only_ie11(
  '.g-ie-fixed',
  (
    display: block,
    height: auto
  )
);

@include only_ie11(
  '.g-ie-flex',
  (
    display: flex,
    flex: 0 1 auto
  )
);

@include only_ie11(
  '.g-ie-flex-column',
  (
    display: flex,
    flex: 0 1 auto,
    flex-direction: column
  )
);

.g-ie-mh--13 {
  min-height: 130px;
  height: expression(this.scrollHeight < 131 ? '130px': 'auto');
}

.g-ie-mh-lg--14 {
  @media (min-width: $break-large) {
    min-height: 140px;
    height: expression(this.scrollHeight < 141 ? '140px': 'auto');
  }
}

// sass-lint:enable-all
