.g-number {
  display: inline-block;
  position: relative;

  &--data {
    align-items: center;
    background: map-get($colors, green1);
    border-radius: 50%;
    color: map-get($colors, white1);
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 38px;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: 0;
    width: 38px;
    z-index: 1;
  }
}
