.g-tablist {
  background: map-get($colors, white1);
  height: 55px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 100%;

  // sass-lint:disable-all
  &::-webkit-scrollbar {
    display: none;
  }
  // sass-lint:enable-all

  > .g-inner {
    display: table;
    margin: 0;
    padding: 0;
  }

  @for $i from 1 through 5 {
    // sass-lint:disable-all
    &__tab:first-child:nth-last-child(#{$i}),
    &__tab:first-child:nth-last-child(#{$i}) ~ &__tab {
      width: (100% / $i);
    }
    // sass-lint:enable-all
  }

  // sass-lint:disable class-name-format
  &__tab {
    background-color: map-get($colors, white1);
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
    color: map-get($colors, gray3);
    cursor: pointer;
    display: table-cell;
    font-size: 14px;
    height: 55px;
    margin: 0;
    padding: 5px 30px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
      background: map-get($colors, gray5);
      color: map-get($colors, gray2);
    }

    &:focus,
    &--active {
      border-color: map-get($colors, green1);
      color: map-get($colors, green1);

      &:hover {
        background: transparent;
        color: map-get($colors, green1);
      }
    }
  }

  &--name {
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    outline: none;
    padding: 0 25px 0 0;
  }

  &--list {
    position: relative;
  }

  &--menu {
    background: map-get($colors, white1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 5px $c-shadow1;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    transition: 0.4s ease;
    width: 100%;
    z-index: 11;

    @media (min-width: $break-large) {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      display: block;
      left: auto;
      max-height: inherit !important; // sass-lint:disable-line no-important
      position: relative;
      top: auto;
    }
  }

  // sass-lint:enable class-name-format
}

// vertical
.g-tablist-vertical {
  padding: 0;
  width: 100%;

  > .g-inner {
    margin: 0;
    padding: 0;
    // width: 100%;
  }

  // sass-lint:disable-all
  &__tab {
    align-items: center;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    color: map-get($colors, gray3);
    cursor: pointer;
    display: flex;
    height: 46px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    white-space: nowrap;

    @media (min-width: $break-large) {
      padding: 0 60px 0 13px;
    }

    &:hover {
      border-left: 5px solid transparent;
      color: map-get($colors, green1);
    }

    &:focus,
    &.active {
      @media (min-width: $break-large) {
        border-left: 5px solid map-get($colors, green1);
        color: map-get($colors, green1);
      }

      &:hover {
        @media (min-width: $break-large) {
          border-left: 5px solid map-get($colors, green1);
        }
      }
    }
  }

  // sass-lint:enable-all
}

.g-modaltab {
  &--wrapper {
    left: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    @media (min-width: $break-large) {
      left: auto;
      min-height: inherit;
      overflow: hidden;
      position: relative;
      top: auto;
      width: auto;
    }
  }

  &--header {
    box-shadow: 0 1px 6px 0 $c-shadow1;
    padding: 15px;

    @media (min-width: $break-large) {
      padding: 0;
    }
  }

  &--content {
    padding: 15px;

    @media (min-width: $break-large) {
      padding: 0;
    }
  }
}

// tabsearch
.g-tabsearch {
  background: map-get($colors, white1);
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  position: relative;
  width: 100%;

  @media (min-width: $break-large) {
    height: 46px;
    padding: 0;
  }

  // sass-lint:disable-all
  &::-webkit-scrollbar {
    display: none;
  }

  // sass-lint:enable-all

  > .g-inner {
    display: table;
    margin: 0;
    padding: 0;
    // width: 100%;
  }

  @for $i from 1 through 10 {
    // sass-lint:disable-all
    &__tab:first-child:nth-last-child(#{$i}),
    &__tab:first-child:nth-last-child(#{$i}) ~ &__tab {
      width: (100% / $i);
    }

    // sass-lint:enable-all
  }

  // sass-lint:disable class-name-format
  .g-tablist__tab {
    background-color: map-get($colors, white1);
    border-bottom: 3px solid map-get($colors, white1);
    box-sizing: border-box;
    color: map-get($colors, gray3);
    cursor: pointer;
    display: table-cell;
    height: 46px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    .tab-icon {
      font-size: 20px;
    }

    @media (min-width: $break-xlarge) {
      padding: 0 20px;
    }

    &:hover,
    &:focus,
    &--active {
      border-bottom: 3px solid map-get($colors, green1);
      color: map-get($colors, green1);
    }
  }

  // sass-lint:enable class-name-format
}

// steps horizontal
.g-steps {
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0 20px;
  width: 100%;

  &.g-steps--hidden {
    @media (min-width: $break-large) {
      overflow-x: hidden;
    }
  }

  &.g-steps--timeline {
    overflow: visible;
  }

  // sass-lint:disable-all
  &::-webkit-scrollbar {
    display: none;
  }

  // sass-lint:enable-all

  > .g-inner {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  // sass-lint:disable-all

  &__item {
    color: map-get($colors, gray3);
    display: table-cell;
    min-width: 105px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 12.5%;

    &::after,
    &::before {
      background: map-get($colors, gray21);
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 14px;
      width: 50%;
    }

    &::before {
      left: auto;
      right: 0;
    }

    &:last-child::before {
      left: 0;
      right: auto;
      width: 50%;
    }

    &--first-none {
      &::after {
        display: none;
      }
    }

    &--icon {
      background: map-get($colors, white1);
      border-radius: 50%;
      border: 1px solid map-get($colors, gray12);
      display: inline-block;
      height: 28px;
      position: relative;
      width: 28px;
      z-index: 1;
    }

    .status {
      color: map-get($colors, gray21);
      position: relative;
      z-index: 1;
    }

    &--active {
      .status {
        color: map-get($colors, green1);
      }

      .g-steps__item--icon {
        background: map-get($colors, gray12);
      }

      &:first-child {
        &::after {
          display: none;
        }
      }
    }

    &--active-last {
      &::before {
        background: map-get($colors, gray21);
      }

      .g-steps__item--icon {
        background: map-get($colors, green1);

        &:before {
          background: map-get($colors, green1);
          border-radius: 50%;
          border: 5px solid map-get($colors, white1);
          content: '';
          display: block;
          height: 26px;
          width: 26px;
        }
      }
    }
  }

  &--name {
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    outline: none;
    padding: 0 25px 0 0;
  }

  &--list {
    position: relative;
  }

  &--menu {
    background: map-get($colors, white1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 5px $c-shadow1;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    transition: all 0.4s ease-out;
    width: 100%;
    z-index: 99;

    @media (min-width: $break-large) {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      display: block;
      left: auto;
      position: relative;
      top: auto;
    }
  }

  // sass-lint:enable-all
}

.c-tab--secondary {
  .row {
    margin: 0;
  }

  .g-inner {
    background-color: map-get($colors, gray11);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .g-tablist {
    box-shadow: none;

    .tab-icon {
      font-size: 20px;
    }

    &__tab {
      align-items: center;
      background-color: map-get($colors, gray11);
      border-bottom: 2px solid map-get($colors, gray18);
      border-top: 2px solid transparent;
      color: map-get($colors, gray18);
      cursor: pointer;
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      font-size: 16px;
      justify-content: space-between;
      max-width: 100%;
      padding: 15px;
      position: relative;
      text-align: left;
      text-transform: none;
      transition: all 0.25s linear;

      &--active {
        background-color: map-get($colors, white1);
        border-bottom: none;
        border-left: 1px solid map-get($colors, gray18);
        border-right: 1px solid map-get($colors, gray18);
        border-top: 1px solid map-get($colors, gray18);
        color: map-get($colors, gray2);
      }
    }
  }
}
