// Screen Sizes
$break-x4small: 320px;
$break-xxxsmall: 375px;
$break-xxsmall: 414px;
$break-xsmall: 480px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$break-2xlarge: 1378px;

$colors: (
  white1: #fff,
  black1: #000,
  gray1: #666,
  gray2: #4a4a4a,
  gray3: #4c4c4c,
  gray4: #b9c6d1,
  gray5: #f7f8f9,
  gray6: #888383,
  gray7: #d5d5d5,
  gray8: #4b4b4b,
  gray9: #747474,
  gray10: #8e8e8e,
  gray11: #f2f2f2,
  gray12: #e8e8e8,
  gray13: #444,
  gray14: #aaa,
  gray15: #dee3e7,
  gray16: #d8d8d8,
  gray17: #d0d0d1,
  gray18: #797b7f,
  gray19: #f6f6f6,
  gray20: #4f4f4f,
  gray21: #ddd,
  gray22: #fefefe,
  gray23: #eaeaea,
  gray24: #5b5b5b,
  red1: #d81e05,
  red2: #d51c07,
  red3: #b80800,
  red4: #ea6676,
  red5: #ef4e4e,
  red6: #e85273,
  red7: #fff4ec,
  red8: #520000,
  green1: #8db602,
  green2: #86c414,
  green3: #20af97,
  green4: #37bd74,
  green5: #159139,
  green6: #e8f0d0,
  green7: #f8ffe0,
  purple1: #8e187e,
  purple2: #7d49a3,
  blue1: #00b6ff,
  blue2: #d8f0fb,
  blue3: #4d97ed,
  blue4: #dcf5ff,
  orange1: #ef9454,
  yellow1: #fcc500,
  yellow2: #f5a623,
  info1: #fff6ce,
  success1: #f8ffe0,
  warning1: #fff4ec
);

$red1: map-get($colors, red1);

// Shadow
$c-shadow1: rgba(0, 0, 0, 0.13);
$c-shadow2: rgba(121, 123, 127, 0.1);
$c-shadow3: rgba(133, 24, 24, 0.7);
$c-shadow4: rgba(0, 0, 0, 0.4);
$c-shadow5: rgba(0, 0, 0, 0.2);

//bg opacity
$bg-opacity--white1: rgba(255, 255, 255, 0.95);
$bg-opacity--black0: rgba(0, 0, 0, 0);

// Transition
$t-linear: all 0.25s linear;
$t-ease: all 0.5s ease;

// fontSize
$fz2: 2px;
$fz4: 4px;
$fz10: 10px;
$fz11: 11px; //necesario error
$fz12: 12px; //necesario
$fz13: 13px; //breadcrumbs
$fz14: 14px;
$fz15: 15px;
$fz16: 16px;
$fz17: 17px;
$fz18: 18px;
$fz20: 20px;
$fz22: 22px;
$fz24: 24px;
$fz28: 28px;
$fz30: 30px;
$fz34: 34px;
$fz40: 40px;
$fz42: 42px;
$fz45: 45px;
$fz100: 100px;
$fz180: 180px;

// FONTS
$fontfamily: 'Roboto', sans-serif;
$Mapfre: 'MFAutoservicio'; // sass-lint:disable-line variable-name-format

// Weight
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// border
$border-color--white: map-get($colors, white1) transparent transparent transparent;

//imagenes
$imgurl: '../../images';
