<div class="g-box--shadow1 g-bg-c--white1 w-100 g-b-radius--3">

  <div class="d-flex align-items-center g-px--20 g-py--15 g-bb--1">
    <div class="g-mr--10">
      <span class="icon-mapfre_016_heart g-font--18"></span>
    </div>
    <div class="g-font--16 g-font--medium">
      PREFERENCIAS DE CONTACTO
    </div>
  </div>

  <div class="g-px--20 g-py--15">

    <div class="g-mb--15">
      Quiero recibir comunicación sobre:
    </div>

    {{#list}}
      <div class="g-mb--10">
        {{>atoms-mf-checkbox}}
      </div>
    {{/list}}
  </div>

  <div class="g-px--20 g-py--15 g-bt--1">
    He leído y aceptado los <a href="#" class="g-c--green1 g-font--medium">términos y condiciones</a> sobre el uso de datos
  </div>

</div>