<mf-modal
  [title]="titleSendReceipt"
  [titleMobile]="titleSendReceipt"
  [secondTitleMobile]=""
  [confirm]="true"
  [showLoading]="showLoading"
  [disableButton]="!formEmail.valid"
  [confirmButtonText]="btnSend" (closeEvent)="resetForm()" (confirmResponse)="sendData($event)"
  [editFooter]="isSubmitting">
  <div class="pb-5 px-lg-5">
    <div class="">
      <form [formGroup]="formEmail">
        <div class="row">
          <div class="col-12 pt-5 pb-1 text-center">
            {{ messageHelp }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mf-input label="{{ labelEmail }}" [enableCheck]="email.valid" [formControl]="email" [maxlength]="generalMaxLength.email"
              [error]="showErrors('email')">
            </mf-input>
            <mf-show-errors [control]="email"></mf-show-errors>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ng-container footer>
    <div class="d-flex">
      <div class="w-50">
        <button mf-button outline class="g-btn--default" (click)="closeModalSend()">
          {{ btnFooterEdit.BtnSubmit1 }}
        </button>
      </div>
      <div class="w-50">
        <button mf-button outline class="g-btn--default" [disabled]="true">
          {{ btnFooterEdit.BtnSubmit2 }}
        </button>
      </div>
    </div>
  </ng-container>

</mf-modal>

<mf-modal-message
  *ngIf="showModal"
  [success]='successDataSend'
  [messageDone]="messageTitle"
  [messageSuccessUpdate]="messageText">
</mf-modal-message>
