<div class="login--form g-box g-bg-c--white1">
  <div class="clearfix p-xs--1 p-sm-3 p-dm-2 px-lg-0 px-xl-5 py-lg-4">
    <!-- Titulo -->
    <div class="row justify-content-md-center" *ngIf="!success">
      <client-app-title-box [text]="text" [icon]="icon"></client-app-title-box>
    </div>
    <!-- Formularios y acciones -->
    <router-outlet></router-outlet>
  </div>
  <!-- Seccion: acciones dentro del portal -->
  <client-app-options-list *ngIf="!success"></client-app-options-list>
</div>
<!-- Icono -->
<div class="float-icon d-none d-lg-block" *ngIf="showIcon">
  <div class="g-icon--circle ">
    <span class="icon-mapfre_033_angle2-right g-font--21 g-font--bold g-c--green1 align-self-center"></span>
  </div>
</div>
