<mf-card dropdown-close>
  <mf-card-header
    [header]="titlePeriods"
    [icon]="calendarIcon"
    [collapsed]="collapse"
    (expand)="collapse = $event">
  </mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>

    <!-- Lista de periodos -->
    <client-card-sctr-period-item *ngFor="let period of periodList" [period]="period" [policyNumber]="policyNumber" [isAdditional]="isAdditional"></client-card-sctr-period-item>

    <!-- Sin periodos -->
    <div *ngIf="!periodList?.length && !showLoading" class="d-flex align-items-center justify-content-center">
      <mf-card-without-data [icon]="noPeriodsIcon" [message]="messageWithoutData"></mf-card-without-data>
    </div>
  </mf-card-content>

  <mf-card-footer *ngIf="isAdditional ? (environment.ACTIVATE_SCTR_PERIODOS_ADICIONALES_VER_TODOS && hasMorePeriods && !collapse) : (environment.ACTIVATE_SCTR_PERIODOS_VER_TODOS && hasMorePeriods && !collapse)">
    <mf-link-green [text]="footerText.toLocaleUpperCase()" (click)="goToPeriodReceipts()"></mf-link-green>
  </mf-card-footer>

</mf-card>
