<!-- Titulo -->
<div class="d-flex text-center" *ngIf="title">
  <div class=" mx-auto g-font--16 g-font-lg--30 g-font--bold g-text--uppercase g-pt--20 g-pt-lg--30 g-pb--20 g-pb-lg--40">
    {{ title }}
  </div>
</div>

<!-- Contenido -->
<div class="g-timeline-content" *ngIf="itemList && itemList.length">
  <div class="g-timeline mx-auto">
    <div class="g-timeline--line" [ngClass]="{'g-timeline--inverted': item.rigth}" *ngFor="let item of itemList">

      <!-- Items  -->
      <div class="g-timeline--items g-b-radius--5 g-mb--30"
        [ngClass]="{'g-bg-c--white1': !item.estimated,
                    'g-shadow--none g-bg-c--gray11 g-b--1 g-bc--gray21': item.estimated }">
        <div class="g-timeline--badge d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{'g-bg-c--green1': !item.estimated && !item.finish,
                      'g-bg-c--gray18': item.finish,
                      'g-bg-c--gray11 g-b--1 g-bc--gray21 g-c--gray18': item.estimated}">
          <div class="g-line--10 g-font--bold g-font--12 g-font-md--16">
            {{ item?.day }}
            <span class="g-font--12 g-font-md--13">{{ item?.month }}</span>
          </div>
          <div class="g-line--10 g-font--light g-font--11 g-font-md--13">{{ item?.year }}</div>
        </div>

        <!-- Header -->
        <div class="g-timeline--items-header g-p--15" [ngClass]="{'g-timeline--items-pending': item.estimated}">
          <div class="">
            <div class="g-font-lg--18 g-font--medium">{{ item.title }}</div>
          </div>
        </div>

        <!-- Card -->
        <ng-container *ngIf="item.card" clientDynamicCard
          (outputEvent)="eventCard(item.card, $event)"
          [card]="item.card"
          [content]="item.content">
        </ng-container>

        <!-- Footer -->
        <ng-container *ngIf="item.footer" clientDynamicCard
          (outputEvent)="eventFooter(item.status, $event)"
          [card]="item.footer"
          [content]="item.content">
        </ng-container>

        <!-- Contenido opcional -->
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>


