<div class="g-p--10 g-py--15 g-bt--1 g-bc--gray11">
  <div class="d-flex justify-content-lg-between flex-lg-row flex-column">
    <div (click)="downloadFile()" *ngIf="content?.action?.icon">
      <div class="g-c--green1 g-font--medium g-c--pointer d-flex g-pl--5">
        <span class="{{ content?.action.icon }} g-font--21 g-pr--8"></span> {{ content?.action.text }}
      </div>
    </div>
    <div *ngIf="content?.action?.textLink">
      <div class="d-flex align-items-md-center flex-column flex-md-row g-pl--5">
        <div class="g-font--light">{{ content?.action.text }}</div>
        <div class="g-c--green1 g-font--medium g-c--pointer g-pl-md--10" (click)="downloadFile()">{{ content?.action.textLink }}</div>
      </div>
    </div>
  </div>
</div>

<!-- Descargar varios archivos -->
<client-modal-download
  *ngIf="showModalDownLoad"
  [fileList]="fileList"
  (downLoadFile)="downloadFileEvent($event)">
</client-modal-download>
