<div class="g-filterbox--filter h-100">

  <div class="d-flex align-items-center g-px--20 h-px--5 justify-content-between g-bb--1 d-lg-none">
    <div class="d-flex align-items-center g-o--hidden">
      <div class="g-mr--15" (click)="close()">
        <span class="g-map-filter--close d-block icon-mapfre_010_arrow-left g-font--16 g-c--gray9 g-c--pointer"></span>
      </div>
      <div class="px-3 g-line--12 d-flex flex-column justify-content-center g-o--hidden w-100 g-ie-flex--1">
        <span class="g-font--light g-text-uppercase g-c--gray18" *ngIf="header.subTitle">
          {{ header.subTitle }}
        </span>
        <div class="g-text-uppercase g-font--14 g-font-xl--20 mb-xs--0 g-font--medium text-truncate g-c--gray2">
          {{ header.title }}
        </div>
      </div>
    </div>
  </div>

  <div class="g-map-filter--content g-p-md--20 g-bg-c--white1" *ngIf="data" data-simplebar>

    <!-- Mensaje de confirmacion -->
    <div class="g-px--20">
      <div class="d-flex g-pt--30 justify-content-center">
        <img [src]="data.icon" alt="data.title">
      </div>
      <div class="d-flex g-pt--15 justify-content-center ">
        <div class="text-center g-font--medium g-c--gray2 ">{{ data.title }}</div>
      </div>
      <div class="d-flex justify-content-center g-pb--20 ">
        <div class="text-center g-font--light g-c--gray2 g-font--13 g-line--17">{{ data.text }}</div>
      </div>
    </div>

    <!-- Resumen -->
    <div class="g-px--20 g-pt--20 g-pt-lg--0 g-p-lg--0 g-bt--1 g-bc--gray11">

      <!-- Items Detalle -->
      <div class="d-flex align-items-start g-pt--20"
        *ngFor="let item of data.itemsDetail; let i = index; let itemLast = last"
        [ngClass]="{'g-pb--20 g-bb--1 g-bc--gray11': itemLast}">
        <div class="{{ item.icon }} g-font--16 g-c--gray2 g-pr--10 g-pt--5" *ngIf="item.icon"></div>
        <div class="g-c-gray2 g-font--light">
          {{ item?.label }} {{ item?.text }}
          <div>{{ item?.other }}</div>
        </div>
      </div>

      <!-- Items Servicio -->
      <div class="g-pt--5" *ngFor="let item of data.itemsSchedule; let itemLast = last">
        <div *ngIf="item?.label" class="g-pt--15 g-font--light g-font--13 text-uppercase">
          {{ item?.label }}
        </div>
        <div *ngIf="item?.text" class="g-pt--5 g-font--medium" [ngClass]="{'g-pb--20': itemLast && !item?.other}">
          {{ item?.text }}
        </div>
        <div *ngIf="item?.other" class="g-pt--5 g-font--light g-font--13" [ngClass]="{'g-pb--20': itemLast}">
          {{ item?.other }}
        </div>
      </div>

      <!-- Alerta - Detalle -->
      <mf-custom-alert *ngIf="data.warning" [status]="status" [text]="data.warning"></mf-custom-alert>

      <div class="g-pb--50 g-pb-md--0"></div>

    </div>

  </div>

</div>
