<div class="g-list-results--item g-p--10 g-px-lg--15 g-bb--1" [ngClass]="{ 'g-bg-c--gray5': active }">
  <div class="d-flex justify-content-between">
    <div class="w-10 pr-xs--1 g-c--pointer" (click)="viewMaker()">
      <div class="g-font--medium">
        {{ item?.title }}
      </div>
      <div class="g-font--13 g-mb--5" *ngIf="configView?.canViewDeductibles && deductibles">
        {{ deductibles }}
      </div>
      <div class="g-font--13 mb-1" *ngIf="item?.description">
        {{ item?.description }}
      </div>
      <div class="d-flex g-mt--10 g-mb--5">
        <div class="icon-mapfre_015_location-pin mr-2 g-mt--3"></div>
        <div class="g-font--13">
          {{ item?.address }}
        </div>
      </div>
      <div class="d-flex g-mb--5">
        <div class="icon-mapfre_128_telephone mr-2 g-mt--3"></div>
        <div class="g-font--13">
          {{ item?.phone || noInfo }}
        </div>
      </div>
      <div class="d-flex g-mb--5">
        <div class="icon-mapfre_062_reloj mr-2 g-mt--3"></div>
        <div class="g-font--13">
          {{ item?.timetable || noInfo }}
        </div>
      </div>
    </div>
    <div class="text-center g-mr--10" *ngIf="item.showFavoriteButton">
      <span
        class="g-c--red1 g-font--21 g-c--pointer"
        (click)="favoriteFn()"
        [ngClass]="item.isFavorite ? heartIcon : heartOutIcon"
        ctrl="gmFilterFavorite"
        [attr.data-favoritetoogle]="item.isFavorite ? 'Añadir a' : 'Quitar de'"
        (domChange)="onDomChange($event, { officeName: item?.title })"
      ></span>
    </div>
  </div>
  <div class="d-flex" *ngIf="configView?.canViewFooterButtons">
    <div class="w-10 pt-xs--1 pr-xs--1">
      <div
        (click)="appointment()"
        *ngIf="item.canScheduleAppointment"
        class="g-c--green1 g-font--14 g-c--pointer g-font--medium"
      >
        {{ buttonTexts.goToAppointment }}
      </div>
    </div>
    <div class="w-10 pt-xs--1 pr-xs--1 text-right">
      <div class="g-c--green1 g-font--14 g-c--pointer g-font--medium"
        *ngIf="!activateSearchClinicKey || (policy?.codRamo !== codRamoClinicDigital && activateSearchClinicKey)"
        (click)="detail()"
        ctrl="gmFilterViewDetail"
        (domChange)="onDomChange($event, { label: buttonTexts.ViewDetail, officeName: item?.title })"
      >
        {{ buttonTexts.ViewDetail }}
      </div>
    </div>
  </div>
</div>
