<div [id]="insuredFragment" class="mt-xs--2">
  <mf-card dropdown-close>
    <mf-card-header [header]="titleMyVehicles" [icon]="policyIcon" [collapsed]="collapse" (expand)="collapse = $event"></mf-card-header>
    <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
      <!-- Loading -->
      <mf-loader *ngIf="showLoading"></mf-loader>
      <!-- Lista -->
      <mf-card-item *ngFor="let item of vehiclesList">
        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
          <!-- Icono-->
          <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
            <client-icon-policies [policyType]="policyType"></client-icon-policies>
          </div>
          <!-- Datos del Vehiculo -->
          <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
            <div class="w-100 g-mb--03 mb-lg-0 g-o-lg--hidden">
              <div class="text-lg-truncate">
                <span class="g-font--medium g-text--uppercase" [title]="item.title">
                  {{ item.title }}
                </span>
              </div>
              <!-- Accesorios -->
              <span *ngIf="false">
                <div *ngIf="item.accesorios?.length === 1">
                  <div class="mb-0 text-lg-truncate">
                    {{ item.accesorios[0].tipoAccesorioDescripcion }}
                  </div>
                </div>
                <!-- Dropdown -->
                <br class="d-none d-lg-inline-block" *ngIf="item.accesorios?.length > 1">
                <client-dropdown-accesories
                  *ngIf="item.accesorios?.length > 1"
                  [path]="getPath(item)"
                  [currency]="item.codigoMonedaValorSugerido"
                  [accesories]="item.accesorios">
                </client-dropdown-accesories>
              </span>
            </div>

            <div class="px-lg-3 w-px-lg--20" *ngIf="!isPPFM">
              <div class="mb-0 text-nowrap ">
                <span class="g-font--light g-font--12"> {{ labelUse }}: {{ item.uso }} </span>
              </div>
              <div class="mb-0 text-nowrap text-truncate">
                <span class="g-font--light g-font--12"> {{ labelColor }}: {{ item.color }}</span>
              </div>
            </div>

            <div class="px-lg-2 w-px-lg--23">
              <div class="mb-0 text-nowrap ">
                <span class="g-font--light g-font--12">{{ labelChassis }}: {{ item.numeroChasis }}</span>
              </div>

              <div class="mb-0 text-nowrap">
                <span class="g-font--light g-font--12">{{ labelMotor }}: {{ item.numeroMotor }}</span>
              </div>
            </div>
          </div>
          <!-- Btn Ver Detalle -->
          <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2">
            <mf-link-green [text]="labelViewDetail" (click)="goToDetailVehicle(item)"></mf-link-green>
          </div>
        </div>
      </mf-card-item>
    </mf-card-content>
  </mf-card>
</div>
