<div class="view-health pt-xs--2">
  <!-- Lista de Pólizas -->
  <div class="row">
    <div class="col mb-xs--2">
      <client-card-my-policies-sctr [ga]='ga'></client-card-my-policies-sctr>
    </div>
  </div>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <!-- Qué quieres hacer -->
  <div class="row">
    <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
      <client-card-what-you-want-to-do [policyType]="policyType"></client-card-what-you-want-to-do>
    </div>
  </div>
</div>
