
    <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slider--box--wrapper">
                    <div class="row align-items-center justify-content-center">

                        <div class="col col-9 col-lg-5 d-none d-lg-block">
                            {{#iconMore}}
                                {{>molecules-img-icon}}
                            {{/iconMore}}
                        </div>

                        <div class="col col-9 col-lg-5">

                            <div class="g-font--18 g-font-md--24 g-font--medium  g-pl--20 ">
                                SCTR SALUD
                            </div>

                            <div class="g-font--14 g-font-md--18 g-font--bold  g-pl--20 ">
                                Coberturas
                            </div>

                            {{#listA}}
                                {{>atoms-lists}}
                            {{/listA}}

                            {{>atoms-buttons(addClass: "g-btn-outline pl-lg-9 pr-lg-9 g-text--uppercase g-ml--25 g-modal--link", text: "Ver más información", data: "cobertura" )}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider--box--wrapper">
                    <div class="row align-items-center justify-content-center">

                        <div class="col col-9 col-lg-5 d-none d-lg-block">
                            {{#iconMore}}
                                {{>molecules-img-icon}}
                            {{/iconMore}}
                        </div>

                        <div class="col col-9 col-lg-5">

                            <div class="g-font--18 g-font-md--24 g-font--medium  g-pl--20 ">
                                SCTR SALUD
                            </div>

                            <div class="g-font--14 g-font-md--18 g-font--bold  g-pl--20 ">
                                Coberturas
                            </div>

                            {{#listA}}
                                {{>atoms-lists}}
                            {{/listA}}

                            {{>atoms-buttons(addClass: "g-btn-outline pl-lg-9 pr-lg-9 g-text--uppercase g-ml--25 g-modal--link", text: "Ver más información", data: "cobertura" )}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider--box--wrapper">
                    <div class="row align-items-center justify-content-center">

                        <div class="col col-9 col-lg-5 d-none d-lg-block">
                            {{#iconMore}}
                                {{>molecules-img-icon}}
                            {{/iconMore}}
                        </div>

                        <div class="col col-9 col-lg-5">

                            <div class="g-font--18 g-font-md--24 g-font--medium  g-pl--20 ">
                                SCTR SALUD
                            </div>

                            <div class="g-font--14 g-font-md--18 g-font--bold  g-pl--20 ">
                                Coberturas
                            </div>

                            {{#listA}}
                                {{>atoms-lists}}
                            {{/listA}}

                            {{>atoms-buttons(addClass: "g-btn-outline pl-lg-9 pr-lg-9 g-text--uppercase g-ml--25 g-modal--link", text: "Ver más información", data: "cobertura" )}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {{>molecules-navigation}}

    </div>

    <div class="slider--box">

    </div>
