<div class="container-fluid">
  <div class="row">
    <aside class="col g-box-nav">
      <!--Begin: Menu-->
      <div class="g-bg-c--gray8 h-100">
        {{#acordion}}
          {{>organisms-nav}}
        {{/acordion}}
      </div>
      <!--End: Menu-->
    </aside>
    <section class="col g-box-container">
      <!--Begin: Header-->
      {{#headerOIM}}
        {{>organisms-header}}
      {{/headerOIM}}
      <!--End: Header-->

      <!--Begin: content-->
      <div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
        {{#messagesProfile}}
          {{>templates-messages}}
        {{/messagesProfile}}
      </div>
      <!--End: content-->
    </section>
  </div>
</div>