<div *ngIf="!showLoading" [ngClass]="{ 'g-full-form--load': showLoadingOperation }">
  <div class="g-b-radius--5 g-bg-c--white1 g-mb--20 g-p--20 g-box--shadow1">
    <div class="d-flex">
      <h3 class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase">
        {{ isDeclaration ? lang.DeclarationSummaryTitle : lang.InclusionSummaryTitle }}
      </h3>
      <span class="g-c--green1 g-c--pointer text-nowrap" (click)="showSummary.emit(false)">
        <em class="icon-mapfre_035_edit g-font--18 mr-2"></em>
        <span>{{ isDeclaration ? lang.EditDeclaration : lang.EditInclusion }}</span>
      </span>
    </div>

    <form [formGroup]="formAditional">
      <div class="row mt-xs--2 mb-xs--2">
        <div class="col">
          <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
            <div class="g-px-lg--25 g-px--20 pt-3 pb-5">
              <div class="row">
                <div class="col">
                  <div class="g-items-text g-font--medium w-100 g-font--14 g-font-lg--18 g-text--uppercase">
                    {{ lang.AdditionalInfo }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mf-input
                    [label]="lang.AdditionalInfo1"
                    name="jobCenter"
                    formControlName="jobCenter"
                    (paste)="onPaste($event, 'jobCenter')"
                    [upperCase]="true"
                    [maxlength]="500">
                  </mf-input>
                  <mf-show-errors [control]="formAditional.controls['jobCenter']"></mf-show-errors>
                </div>
                <div class="col-md-6">
                  <mf-input
                    [label]="lang.AdditionalInfo2"
                    name="costCenter"
                    formControlName="costCenter"
                    (paste)="onPaste($event, 'costCenter')"
                    [upperCase]="true"
                    [maxlength]="80">
                  </mf-input>
                  <mf-show-errors [control]="formAditional.controls['costCenter']"></mf-show-errors>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Detalle de riesgos -->
    <div class="col-12">
      <div class="g-font--medium" [innerHTML]="lang.RiskDetail + ':'"></div>
    </div>

    <!-- tablas -->
    <client-card-sctr-period-summary-table *ngFor="let riskDetail of summary.riskDetailList" [riskDetail]="riskDetail"></client-card-sctr-period-summary-table>
    <!-- End Detalle re riesgos -->

    <!-- Planilla pendiente -->
    <ng-container *ngIf="summary.pendingPayroll">
      <div class="d-flex direction--column-reverse direction-md--row g-pt--20">
        <div class="w-100 g-pl--15">
          <div class="g-font--medium" [innerHTML]="lang.PendingPayroll + ':'"></div>
          <div>{{ lang.BilledPerdiod }}: <strong>{{ summary.pendingPayroll.billingPeriod }}</strong></div>
        </div>
        <div *ngIf="false" class="g-box-icons--item d-flex align-items-center">
          <mf-card-action-link>
            <div class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3 g-c--pointer" (click)="downloadPendingPayroll()">
              <div>
                <span [spinnerPdf]="showSpinnerPayroll" [iconPDF]="xlsIcon"></span>
              </div>
              <div class="g-font--medium text-nowrap ml-2" [ngClass]="{ 'g-c--gray21': showSpinnerPayroll }">
                {{ lang.DownloadPendingPayroll }}
              </div>
            </div>
          </mf-card-action-link>
        </div>
      </div>

      <!-- tablas -->
      <client-card-sctr-period-summary-table *ngFor="let riskDetail of summary.pendingPayroll.pendingPayrollList" [riskDetail]="riskDetail"></client-card-sctr-period-summary-table>

    </ng-container>
    <!-- End Planilla pendiente -->

  </div>

  <client-card-sctr-period-summary-billing
    *ngIf="!isDeclaration"
    [movement]="movement"
    (isBilled)="isBilled = $event">
  </client-card-sctr-period-summary-billing>

</div>
<mf-loader *ngIf="showLoading"></mf-loader>

<div class="row justify-content-md-center">
  <div class="col-md-4 col-lg-3 g-pt--20 g-pb--20">
    <button mf-button
      class="w-lg-10 mx-auto g-btn g-text--uppercase g-btn-primary size-md block"
      [disabled]="!canContinue || !formAditional.valid"
      (click)="generateOperation()">
      {{ isDeclaration ? lang.GenerateDeclaration : lang.GenerateInclusion }}
    </button>
  </div>
</div>
