<ul class="sg-colors">
  {{#basicColors}}
    <li>
      <span class="sg-swatch {{bgcClass}}"></span>
      <span class="sg-label">
        Background: {{bgcClass}} <br />
        ColorClass: {{colorClass}} <br />
        BorderClass: {{borderClass}}<br />
        color: {{colorCode}}
      </span>
    </li>
  {{/basicColors}}
</ul>
<br>
<hr>
<br>
<ul class="sg-colors">
  {{#grayColors}}
    <li>
      <span class="sg-swatch {{bgcClass}}"></span>
      <span class="sg-label">
        Background: {{bgcClass}} <br />
        ColorClass: {{colorClass}} <br />
        BorderClass: {{borderClass}}<br />
        color: {{colorCode}}
      </span>
    </li>
  {{/grayColors}}
</ul>
<br>
<hr>
<br>
<ul class="sg-colors">
  {{#redColors}}
    <li>
      <span class="sg-swatch {{bgcClass}}"></span>
      <span class="sg-label">
        Background: {{bgcClass}} <br />
        ColorClass: {{colorClass}} <br />
        BorderClass: {{borderClass}}<br />
        color: {{colorCode}}
      </span>
    </li>
  {{/redColors}}
</ul>
<br>
<hr>
<br>
<ul class="sg-colors">
  {{#greenColors}}
    <li>
      <span class="sg-swatch {{bgcClass}}"></span>
      <span class="sg-label">
        Background: {{bgcClass}} <br />
        ColorClass: {{colorClass}} <br />
        BorderClass: {{borderClass}}<br />
        color: {{colorCode}}
      </span>
    </li>
  {{/greenColors}}
</ul>
<br>
<hr>
<br>
<ul class="sg-colors">
  {{#otherColors}}
    <li>
      <span class="sg-swatch {{bgcClass}}"></span>
      <span class="sg-label">
        Background: {{bgcClass}} <br />
        ColorClass: {{colorClass}} <br />
        BorderClass: {{borderClass}}<br />
        color: {{colorCode}}
      </span>
    </li>
  {{/otherColors}}
</ul>
<br>
<hr>
<br>
<ul class="sg-colors">
  {{#blueColors}}
    <li>
      <span class="sg-swatch {{bgcClass}}"></span>
      <span class="sg-label">
        Background: {{bgcClass}} <br />
        ColorClass: {{colorClass}} <br />
        BorderClass: {{borderClass}}<br />
        color: {{colorCode}}
      </span>
    </li>
  {{/blueColors}}
</ul>
