<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Primary font: 'Roboto', sans-serif;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
      {{#fontList1}}
        <p class="{{fontSizeClass}}">Classname: {{{fontSizeClass}}} - {{fontSize}}</p>
      {{/fontList1}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
      {{#fontList2}}
        <p class="{{fontWeightClass}}">Classname: {{{fontWeightClass}}}, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
      {{/fontList2}}
    </div>
  </div>
</div>