<mf-modal [title]="title"
          [titleMobile]="titleMobile"
          [secondTitleMobile]="secondTitleMobile"
          [disableButton]="!numberPlate?.valid"
          [confirm]="true"
          [showLoading]="showLoading"
          (confirmResponse)="saveForm($event)">
  <ng-container *ngIf="numberPlate">
    <div class="pt-lg-3 g-pb-lg--70 px-lg-5">
      <mf-input [upperCase]="true" [NumberLetter]="true" [maxlength]="generalMaxLength.numberPlate"
              [placeholder]="labelPlateNumber" [formControl]="numberPlate"></mf-input>
    </div>
  </ng-container>
</mf-modal>
<mf-modal-message [messageDone]="doneMessage" [success]="doneUpdate"
                  [messageSuccessUpdate]="messageSuccessOrError"></mf-modal-message>
