<div class="g-container-block g-pt--20" *ngIf="sublimitList && sublimitList.length">
  <div class="text-center text-lg-left g-px--15 g-px-lg--0 g-pb--15">
    <div class="d-flex  flex-column flex-md-row justify-content-between">
      <div>
        <div class="g-font--16 g-font--medium g-mb--5 g-pt--20 g-pt-lg--0 d-lg-none">{{ content.title }}</div>
        <div>{{ content.content }}</div>
      </div>
    </div>
  </div>
  <div class="g-table g-bc--gray12 g-b--1 g-b-radius-lg--5 g-mt--20">
    <!-- TODO: add class g-table--fixed -->
    <div class="g-table--head g-bc--gray12 g-bb--1 g-bg-c--gray11">
      <div class="d-flex text-center align-items-center align-items-lg-start">
        <div class="w-5 g-py--10 g-pl--15 g-pr--5" *ngFor="let column of content.table.columns; trackBy: trackByFn">
          {{ column }}
        </div>
      </div>
    </div>
    <div class="g-table--body">
      <div class="g-table--row d-flex" *ngFor="let sublimit of sublimitList; trackBy: trackByFn">
        <div class="w-5 g-py--15 g-pl--15 g-pr--5">{{ sublimit.sublimite }}</div>
        <div class="w-5 g-py--15 g-pr--15 g-pl--5">{{ sublimit.indemnizable }}</div>
      </div>
    </div>
  </div>
</div>
