<div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--5 g-mt--10 {{contentClass}}">
  {{#boxHead}}
    {{>molecules-header-box}}
  {{/boxHead}}
  <div class="g-p--0 g-px-lg--20 g-pb-lg--20 g-pt-lg--0 g-bc--gray11">
    <div class="row">
      {{#misDatos}}
        <div class="col-12 col-lg-4 g-mb--20 g-mb-lg--0 g-box-flex">
          {{>organisms-card-box-small}}
        </div>
      {{/misDatos}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 g-mt--20 ">
    <div class="row  g-mb--20">
      <div class="col-12">
        {{#vehicular}}
          {{>organisms-card-box}}
        {{/vehicular}}
      </div>
    </div>
  </div>
</div>