{{#titleHeader}}
  <div class="d-flex text-center">
    {{>molecules-titles2}}
  </div>
{{/titleHeader}}

{{#selectPlan}}
  <div class="{{addClass}}">
    {{#content}}
      <div class="{{contentClass}}">
        <div class="{{textClass}}">{{{text}}}</div>

        {{#select}}
          {{>atoms-mf-select}}
        {{/select}}

      </div>
    {{/content}}
  </div>
{{/selectPlan}}

<div class="g-p-lg--15 g-p--5">

  {{#headTables}}
    <div class="d-flex align-items-end {{planClass}}">

      {{#coberturas}}
        <div class="g-w-lg-25 {{classCoberturas}}">

          <div class="g-bl--1 g-bt--1 g-bc--gray21 g-p--15">
            <div class="d-flex justify-content-between g-mb--5">
              <div class="g-font--bold">
                Datos de tu vehículo
              </div>
              <div class="d-flex g-c--green1">
                <div class="icon-mapfre_035_edit g-mr--5 g-mt--3 g-c--pointer"></div>
                <div class="g-font--medium g-c--pointer">
                  Editar
                </div>
              </div>
            </div>
            <div class="g-c--gray2">
              <div class="g-mt--3 g-font--13">
                Placa: NEF 306
              </div>
              <div class="g-mt--3 g-font--13">
                Toyota Yaris 1.6 2009
              </div>
              <div class="g-mt--3 g-font--13">
                Valor sugerido: $ 20,000
              </div>
              <div class="g-mt--3 g-font--13">
                Uso: Particular
              </div>
              <div class="g-mt--3 g-font--13">
                Ciudad: Lima
              </div>
            </div>
          </div>

          <div class=" g-p--20 g-bg-c--gray7 g-font--medium g-font--16 g-text--uppercase">{{{coberturas}}}</div>

        </div>
      {{/coberturas}}

      {{#tdHead}}
        <div class="g-w-lg-25  w-100 g-bg-c--white1 {{tdHeadClass}}">

          {{#destacado}}
            <div class="g-border-radius--tlr5 g-py--10 text-center {{colorpoliza}}">
              <div class="g-c--white1 g-font--18 g-font--medium {{polizaClass}}">{{{poliza}}}</div>
              <div class="g-float--arrow-bottom {{classDestacado}}"></div>
            </div>
          {{/destacado}}

          <div class="g-p--5 d-flex justify-content-center flex-column">
            <div class="g-font--medium g-pt--15 mx-auto g-font--18  text-center {{titleClass}}">{{{title}}}</div>

            {{#contentRadio}}
              <div class="d-flex mx-auto g-pt--15 w-px--20">
                {{#radio}}
                  {{>atoms-mf-radiobutton}}
                {{/radio}}

                {{#tooltip}}
                  {{>molecules-tooltip}}
                {{/tooltip}}
              </div>
            {{/contentRadio}}

            {{#cuotas}}
              <div class="g-mx--20">
                {{>atoms-mf-select}}
              </div>
            {{/cuotas}}

            <div class="g-bg-c--gray11 g-b-radius--5 g-mt--15">
              <div class="d-flex justify-content-center align-items-start flex-column text-center g-py--15 g-px--25">

                {{#price}}
                  <div class="d-flex justify-content-center align-items-start mx-auto text-center">
                    <div class="g-mr--5">
                      <div class="g-font--13 g-font-medium">{{{typeMoney}}}</div>
                    </div>
                    <div>
                      <div class="g-font--24 g-font--bold g-line--10">{{{price}}}</div>
                    </div>
                  </div>
                {{/price}}

                {{#text1}}
                  <div class="line-10 {{textClass}}">
                    {{{text}}}
                  </div>
                {{/text1}}

                {{#text2}}
                  <div class="line-10 {{textClass}}">
                    {{{text}}}
                  </div>
                {{/text2}}

                {{#btn}}
                  {{>atoms-buttons}}
                {{/btn}}

              </div>
            </div>
          </div>
        </div>
      {{/tdHead}}

    </div>
  {{/headTables}}


  <div class="g-content-table">

  <div class="g-bl--1 g-bt--1 g-br--1 g-bb--1 g-bc--gray21 g-p--15 d-block d-lg-none">
    <div class="d-flex justify-content-between g-mb--5">
      <div class="g-font--bold">
        Datos de tu vehículo
      </div>
      <div class="d-flex g-c--green1">
        <div class="icon-mapfre_035_edit g-mr--5 g-mt--3 g-c--pointer"></div>
        <div class="g-font--medium g-c--pointer">
          Editar
        </div>
      </div>
    </div>
    <div class="g-c--gray2">
      <div class="g-mt--3 g-font--13">
        Placa: NEF 306
      </div>
      <div class="g-mt--3 g-font--13">
        Toyota Yaris 1.6 2009
      </div>
      <div class="g-mt--3 g-font--13">
        Valor sugerido: $ 20,000
      </div>
      <div class="g-mt--3 g-font--13">
        Uso: Particular
      </div>
      <div class="g-mt--3 g-font--13">
        Ciudad: Lima
      </div>
    </div>
  </div>

    {{#contentDropdown}}
      <div class="{{addClass}}">
        <div class="{{titleClass}}">{{title}}</div>
        {{#dropdown}}
          <div class="icon-drop">
            <span class="{{icon}} {{iconClass}}"></span>
          </div>
        {{/dropdown}}
      </div>
    {{/contentDropdown}}

    <div class="g-content-table--columns">
      {{#contentTabs}}
        <div class="g-content-table--td {{addClass}}">

          {{#tdContent}}
          <div class="{{tdClass}}">
            <div class="{{contentClass1}}">

              {{#tooltip}}
                {{>molecules-tooltip}}
              {{/tooltip}}

              {{#icon}}
                <span class="{{icon}} {{iconClass}}"></span>
              {{/icon}}

            </div>
            <div class="{{contentClass2}}">
              <div class="{{titleClass}}">{{{title}}}</div>

                {{#subtitle}}
                  <div class="{{textClass}}">{{{text}}}</div>
                {{/subtitle}}

                {{#desplegable}}
                  {{>atoms-texto-icono}}
                {{/desplegable}}

            </div>
          </div>
          {{/tdContent}}
        </div>
      {{/contentTabs}}
    </div>

    {{#otros}}

      {{#headDropdown}}
        <div class="dropdown-resp d-flex">
          <div class="{{headDropClass}}">
            <div class="{{titleClass}}">{{{title}}}</div>

            {{#iconDropdown}}
              <div class="icon-drop d-lg-none d-block">
                <span class="{{icon}} {{iconClass}}"></span>
              </div>
            {{/iconDropdown}}

          </div>
          <div class="w-75 d-none d-lg-block"></div>
        </div>
      {{/headDropdown}}

    <div class="g-content-table--columns">
      {{#otroscontentTabs}}
      <div class="d-flex w-100 g-content-table--td">

        {{#tdContent}}
        <div class="{{tdClass}}">
          <div class="{{contentClass1}}">

            {{#tooltip}}
              {{>molecules-tooltip}}
            {{/tooltip}}

            {{#icon}}
              <span class="{{icon}} {{iconClass}}"></span>
            {{/icon}}

          </div>
          <div class="{{contentClass2}}">
            <div class="{{titleClass}}">{{{title}}} </div>
            {{#subtitle}}
              <div class=" {{textClass}}">{{{text}}} </div>
            {{/subtitle}}

            {{#desplegable}}
              {{>atoms-texto-icono}}
            {{/desplegable}}
          </div>
        </div>
        {{/tdContent}}
      </div>
      {{/otroscontentTabs}}
    </div>
    {{/otros}}
  </div>
</div>