<div class="g-tab--hrz {{visible}}">
  <ul class="tab-header g-mb--0">
    <li class="on d-flex justify-content-between align-items-center" #t1>
      <a>{{txtTab1}}</a>
      <div class="icon-mapfre_055_card g-font--25 g-font-md--21  g-pl--10 "></div>
    </li>
    <li class=" d-flex justify-content-between align-items-center" #t2>
      <a>{{txtTab2}}</a>
      <div class="icon-mapfre_211_payment g-font--25 g-font-md--21  g-pl--10 "></div>
    </li>
  </ul>
  <div class="tab-container">

    <div class="tab-content on">
      {{#content1}}

        {{#text}}
          <div class="{{textClass}}">{{{text}}}</div>
        {{/text}}

        {{>organisms-quotation-step}}

        {{#footerTabs}}
          {{>molecules-footer-tabs}}
        {{/footerTabs}}
      {{/content1}}


    </div>

    <div class="tab-content ">
      {{#content2}}
        {{#text}}
          <div class="{{textClass}}"> {{{text}}}</div>
        {{/text}}

        {{#messages}}
          {{>molecules-messages}}

          {{#table}}
            {{>organisms-boxbrands}}
          {{/table}}
        {{/messages}}

        {{#brands}}
          {{>molecules-brands}}
        {{/brands}}

        {{#footerTabs}}
          {{>molecules-footer-tabs}}
        {{/footerTabs}}

      {{/content2}}


    </div>
  </div>
</div>