<div class="g-tabs {{tabsClass}}">
  <ul class="tab-header justify-content-start g-mb--0">

    {{#headerTabs}}
    <li class="d-flex {{addClass}}" #{{idTabs}}>

      {{#iconsContent}}
      <div class="{{iconsClass}}">
        {{#icons}}
          <div class="{{iconFile}} {{iconClass}}"></div>
        {{/icons}}
      </div>
      {{/iconsContent}}

      <div class="contentText">

        {{#textContent}}
          <div class="{{textClass}}">{{{text}}}</div>
        {{/textContent}}
      </div>

    </li>
    {{/headerTabs}}

  </ul>
  {{#tabContent}}
  <div class="tab-container">
    <div class="tab-content {{active}}">

      {{#content}}
      <div class="{{content}}">

        <div class="{{leftClass}}">

          {{#contentLeft}}

            {{#text}}
              <div class="{{textClass}}">{{{text}}}</div>
            {{/text}}

            {{#list}}
              {{>atoms-lists}}
            {{/list}}

            {{#textFooter}}
              <div class="{{textClass}}">{{{text}}}</div>
            {{/textFooter}}

          {{/contentLeft}}

          {{#contetFull}}
          <div class="{{contetFullClass}} ">

            {{#container}}
            <div class="{{containerClass}}">

              <div class=" d-flex justify-content-center flex-wrap  {{maxWidthClass}}">

                {{#boxBrandBanks}}
                  <div class="{{addClass}} ">
                    <img src=" {{src}}" alt="" class="{{srcClass}}">
                  </div>
                {{/boxBrandBanks}}

                {{#text}}
                  <div class="{{textClass}}"> {{{text}}}</div>
                {{/text}}

                {{#list}}
                  <div class="{{listClass}}">
                    {{>atoms-lists}}
                  </div>
                {{/list}}

              </div>

            </div>
            {{/container}}

          </div>

          {{#btns}}
            <div class="{{btnClass}}">
              {{#btn}}
              {{>atoms-buttons}}
              {{/btn}}
            </div>
          {{/btns}}
          {{/contetFull}}

        </div>

        {{#rightClass}}
        <div class="{{rightClass}}">

          {{#typeCards}}

            {{#titleContent}}
            <div class="{{textClass}}">{{{text}}}</div>
            {{/titleContent}}

            {{>organisms-quotation-step}}

          {{/typeCards}}

          {{#btns}}
            <div class="{{btnClass}}">
              {{#btn}}
              {{>atoms-buttons}}
              {{/btn}}
            </div>
          {{/btns}}

        </div>
        {{/rightClass}}

      </div>
      {{/content}}

    </div>
  </div>
  {{/tabContent}}

</div>