<div class="login--form g-box g-bg-c--white1">
  <div class="clearfix g-p--15 g-p-md--20  g-px-lg--0  g-px-xl--50 g-py-lg--25">
    {{>organisms-login}}
  </div>
  <div class="clearfix g-box no-btl-radius no-btr-radius  g-px--25  g-py--30  g-bg-c--gray5">
    {{#listItems}}
      {{>organisms-login-list}}
    {{/listItems}}
  </div>
</div>