<div class="d-flex flex-column  g-mb--20 g-mb-lg--30 ">
  {{#driverTittle}}
    {{>molecules-titles2}}
  {{/driverTittle}}
</div>

{{#cardbox}}
  <div class=" g-mb--20  g-bg-c--white1 g-b-radius--5">
    {{>molecules-card-box-payments-altern}}
  </div>
{{/cardbox}}

{{#banner}}
  <div class="g-banner g-o--hidden g-box--shadow1 g-b-radius--5 position-relative g-mb--20">
    <img class="g-none g-xl-block" src="{{srcXL}}" alt="alt">
    <img class="g-none g-lg-block g-xl-none" src="{{srcLG}}" alt="alt">
    <img class="g-none g-md-block g-lg-none" src="{{srcMD}}" alt="alt">
    <img class="g-md-none" src="{{src}}" alt="alt">

    {{#apps}}
      <div class="g-banner--apps {{appsClass}} g-c--pointer">
        <a class="g-block" target="_blank" href="{{link}}">
          <img class="g-banner--default" src="{{src}}" alt="alt">
          <img class="g-banner--hover" src="{{srcHover}}" alt="">
        </a>
      </div>
    {{/apps}}
  </div>
{{/banner}}


<div class="row {{contentTabs}}">
  <div class="g-box-lg--shadow1 g-bg-c--gray5 g-b-radius-lg--5 g-mh-lg--65 g-bg-c-lg--white1 d-flex w-100 g-mb--20 flex-wrap flex-xl-nowrap g-px--20 g-px-lg--0">
    <div class="g-bg-c-xl--gray5 w-10 g-max-w-lg--28 g-p-lg--20 g-b-radius-lg--5 {{leftClass}}">

      {{#titleTabs}}
        <div class="g-font-lg--24 g-font--18 g-c--gray3  g-pt--30 g-pl--5  g-font--medium g-line--13 g-mb--0 g-mb-xl--20 ">
          {{{titleTabs}}}
        </div>
      {{/titleTabs}}

      <div class="d-none d-xl-block">
        {{#tabVertical}}
        {{>molecules-tabs-vertical}}
        {{/tabVertical}}
      </div>
      <div class="d-block d-xl-none">
        {{#mfselect}}
        {{>atoms-mf-select}}
        {{/mfselect}}
      </div>

    </div>
    <div class="w-10 g-p--15 g-p-lg--25 g-mx--0 g-mt--25 g-mt-lg--0 g-b-radius-lg--5 g-box--shadow1 g-box-lg--none g-bg-c--white1 {{contentRight}}">
      <div class="{{addClassContent}}">

        {{#section}}
          <section id="{{lidLink}}">
            <div class="{{titleClass}}">{{{title}}}</div>
            <div class="d-flex cards flex-wrap g-mb-xl--50 ">
              {{#card}}
              <div class="cards--box d-flex justify-content-center {{addClass}}">
                <div class="g-box--shadow1  g-p--20 g-max-w-lg--24 w-10 cards--item">
                  <div class="g-font--medium g-font--30 g-c--green1">{{{number}}}</div>
                  <div class="g-font--medium g-font--14 g-pb--20 g-text--uppercase">{{{title}}}</div>
                  <div class="g-font--light g-font--14 g-line--12">{{{description}}} </div>

                </div>
              </div>
              {{/card}}
            </div>
          </section>
        {{/section}}

        {{#contentPayments}}

          {{#title}}
            <div class="{{textClass}}">{{{text}}}</div>
          {{/title}}

          <div class="{{addClass}}">

            {{#content}}
              <div class="{{content}}">

                {{#contentText}}
                  <div class="{{contentClass}}">
                    <div class="{{textClass}}">{{{text}}}</div>
                  </div>
                {{/contentText}}

                {{#lista}}
                  {{>atoms-lists}}
                {{/lista}}

                {{#quotePayments}}
                  {{>molecules-card-quote-payments}}
                {{/quotePayments}}

                {{#cardBoxMin}}
                  <div class="{{addClass}} ">
                    {{#content}}
                      <div class="{{contentClass}} ">

                      {{#text}}
                        <div class="{{textClass}}">{{{text}}}</div>
                      {{/text}}
                      </div>
                    {{/content}}
                  </div>
                {{/cardBoxMin}}

                {{#messages}}
                  <div class="{{addClass}}">

                    {{#icon}}
                      <div class="{{iconClass}}">
                          {{>atoms-number}}
                      </div>
                    {{/icon}}

                    {{#text}}
                      <div class="{{textClass}}">{{{text}}}</div>
                    {{/text}}

                  </div>
                {{/messages}}

                {{#check}}
                  {{>atoms-mf-checkbox}}
                {{/check}}

                {{#radioCardsPayments}}

                  {{#titleText}}
                    <div class="{{textClass}}">{{{text}}}</div>
                  {{/titleText}}

                  {{#contentRadio}}
                    <div class="{{addContentClass}}">

                      {{#radioCards}}
                        {{>organisms-radio-cards}}
                      {{/radioCards}}

                    </div>
                  {{/contentRadio}}

                {{/radioCardsPayments}}

                {{#btns}}
                  <div class="{{btnClass}}">
                  {{#btn}}
                    {{>atoms-buttons}}
                  {{/btn}}
                  </div>
                {{/btns}}

              </div>
            {{/content}}

          </div>
        {{/contentPayments}}

        {{#tabsAlternative}}

          {{#title}}
            <div class="{{textClass}}">{{{text}}}</div>
          {{/title}}

          {{>templates-tabs-my-payments}}
        {{/tabsAlternative}}

      </div>
    </div>
  </div>
</div>
