<div class=" g-pt--20  g-pb--20 ">
  <div class=" {{textTitleClass}}">{{textTitle}}</div>
</div>
<div class="g-bg-c--white1 g-box--shadow1 d-flex justify-content-center align-items-end w-100 g-b-radius--5  g-p--20  g-pt--0 flex-wrap g-mb--15">
  {{#filter}}
  <div class="g-font--light g-font--18  g-p--10   g-pr--20  flex-shrink-1 w-100 w-lg-auto text-center">Filtrar por:</div>
  <div class="w-50 w-lg-auto  g-pr--10 ">
    {{#filter1}}
    {{>atoms-mf-select}}
    {{/filter1}}
  </div>
  <div class="w-50 w-lg-auto g-pr--0">
    {{#filter2}}
    {{>atoms-mf-select}}
    {{/filter2}}
  </div>
  {{/filter}}
</div>
<div class="g-bg-c--white1 g-box--shadow1 g-b-radius--5 g-mb--15 g-p--10 ">
  <div class="d-flex justify-content-between align-items-center g-mb--10">
    <div class=" g-p--0  g-pl-md--10 g-pt-md--10  w-100">
      <div class="g-items-text g-font--14 g-font-lg--18 g-font--bold g-text--uppercase">
        SEP 2018 <span class="g-font--light g-font--14">- 2 pagos</span>
      </div>
    </div>
    <div class=" g-p--10  ml-auto g-c--pointer g-c--gray2 d-flex align-items-center">
      <span class="g-font--light g-font--13 g-font-lg--14 text-nowrap g-pr--10">S/ 1,200.00</span>
      <span class="icon-mapfre_008_angle-down g-font--25 g-font-md--21 d-block d-lg-none"></span>
    </div>
  </div>

  <div class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 g-mb--0 g-mb-lg--15">
    <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
      <div class="d-flex justify-content-center g-px--15 g-pt--10 g-pt-lg--0 align-items-lg-center">
        <client-icon-policies>
          <span class="g-items-icon g-font--45 icon-mapfre_019_car"></span>
        </client-icon-policies>
      </div>
      <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 g-p--15  g-p-lg--0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
        <div class="w-100 g-mb--10 g-mb-lg--0 g-o--hidden">
          <div class=""><span class="g-font--medium">Poliza Full cobertura</span></div>

          <div class="">
            <div class="g-mb--0 text-truncate"> Toyota Yaris 2018 </div>
          </div>

        </div>

        <div class="g-px-lg--15 w-px-lg--17">
          <div class="g-mb--0 text-nowrap">
            <span class="g-font--light g-font--12">Cuota: 3/6</span>
          </div>
          <div class="g-mb--0 text-nowrap ">
            <span class="g-font--light g-font--12">Nro. de póliza: 75689867</span>
          </div>
        </div>

        <div class="g-px-lg--15 g-mb--10 g-mb-lg--0 w-px-lg--20 g-font--13">
          <div class="g-mb--0 text-nowrap  d-flex align-items-center">
            <span class="icon-mapfre_066_circle g-pr--5 g-c--red1"></span>
            <span class="g-font--light"> Atrasada: 12/09/2018 </span>
          </div>
          <div class="g-mb--0 text-nowrap g-font--light g-font--13 g-c--red1"> Fecha límite 12/11/2018 </div>
        </div>

        <div class="g-px-lg--15 w-px-lg--17">
          <div class="g-mb--0 text-nowrap">
            <span class="g-font--medium g-font--14">S/ 1,200.00</span>
          </div>
        </div>

      </div>
      <div class="g-bt--1 g-bt-lg--0 g-py--15 g-py-lg--0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 g-px--10">
        <button class="g-btn block g-text--uppercase g-c--pointer" onclick="">PAGA</button>
      </div>
    </div>
  </div>

  <div class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 g-mb--0 g-mb-lg--15">
    <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
      <div class="d-flex justify-content-center g-px--15 g-pt--10 g-pt-lg--0 align-items-lg-center">
        <client-icon-policies>
          <span class="g-items-icon g-font--45 icon-mapfre_019_car"></span>
        </client-icon-policies>
      </div>
      <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 g-p--15  g-p-lg--0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
        <div class="w-100 g-mb--10 g-mb-lg--0 g-o--hidden">
          <div class=""><span class="g-font--medium">Poliza Full cobertura</span></div>

          <div class="">
            <div class="g-mb--0 text-truncate"> Toyota Yaris 2018 </div>
          </div>

        </div>

        <div class="g-px-lg--15 w-px-lg--17">
          <div class="g-mb--0 text-nowrap">
            <span class="g-font--light g-font--12">Cuota: 3/6</span>
          </div>
          <div class="g-mb--0 text-nowrap ">
            <span class="g-font--light g-font--12">Nro. de póliza: 75689867</span>
          </div>
        </div>

        <div class="g-px-lg--15 g-mb--10 g-mb-lg--0 w-px-lg--20 g-font--13">
          <div class="g-mb--0 text-nowrap  d-flex align-items-center">
            <span class="icon-mapfre_066_circle g-pr--5 g-c--red1"></span>
            <span class="g-font--light"> Atrasada: 12/09/2018 </span>
          </div>
          <div class="g-mb--0 text-nowrap g-font--light g-font--13 g-c--red1"> Fecha límite 12/11/2018 </div>
        </div>

        <div class="g-px-lg--15 w-px-lg--17">
          <div class="g-mb--0 text-nowrap">
            <span class="g-font--medium g-font--14">S/ 1,200.00</span>
          </div>
        </div>

      </div>
      <div class="g-bt--1 g-bt-lg--0 g-py--15 g-py-lg--0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 g-px--10">
        <button class="g-btn block g-text--uppercase g-c--pointer" onclick="">PAGA</button>
      </div>
    </div>
  </div>
</div>

<div class="g-bg-c--white1 g-box--shadow1 g-b-radius--5 g-mb--15 g-p--10 ">
    <div class="d-flex justify-content-between align-items-center g-mb--10">
      <div class=" g-p--0  g-pl-md--10 g-pt-md--10  w-100">
        <div class="g-items-text g-font--14 g-font-lg--18 g-font--bold g-text--uppercase">
          JUL 2018 <span class="g-font--light g-font--14">- 2 pagos</span>
        </div>
      </div>
      <div class=" g-p--10  ml-auto g-c--pointer g-c--gray2 d-flex align-items-center">
        <span class="g-font--light g-font--13 g-font-lg--14 text-nowrap g-pr--10">S/ 1,200.00</span>
        <span class="icon-mapfre_008_angle-down g-font--25 g-font-md--21 d-block d-lg-none"></span>
      </div>
    </div>

    <div class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 g-mb--0 g-mb-lg--15">
      <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
        <div class="d-flex justify-content-center g-px--15 g-pt--10 g-pt-lg--0 align-items-lg-center">
          <client-icon-policies>
            <span class="g-items-icon g-font--45 icon-mapfre_019_car"></span>
          </client-icon-policies>
        </div>
        <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 g-p--15  g-p-lg--0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
          <div class="w-100 g-mb--10 g-mb-lg--0 g-o--hidden">
            <div class=""><span class="g-font--medium">Poliza Full cobertura</span></div>

            <div class="">
              <div class="g-mb--0 text-truncate"> Toyota Yaris 2018 </div>
            </div>

          </div>

          <div class="g-px-lg--15 w-px-lg--17">
            <div class="g-mb--0 text-nowrap">
              <span class="g-font--light g-font--12">Cuota: 3/6</span>
            </div>
            <div class="g-mb--0 text-nowrap ">
              <span class="g-font--light g-font--12">Nro. de póliza: 75689867</span>
            </div>
          </div>

          <div class="g-px-lg--15 g-mb--10 g-mb-lg--0 w-px-lg--20 g-font--13">
            <div class="g-mb--0 text-nowrap  d-flex align-items-center">
              <span class="icon-mapfre_066_circle g-pr--5 g-c--red1"></span>
              <span class="g-font--light"> Atrasada: 12/09/2018 </span>
            </div>
            <div class="g-mb--0 text-nowrap g-font--light g-font--13 g-c--red1"> Fecha límite 12/11/2018 </div>
          </div>

          <div class="g-px-lg--15 w-px-lg--17">
            <div class="g-mb--0 text-nowrap">
              <span class="g-font--medium g-font--14">S/ 1,200.00</span>
            </div>
          </div>

        </div>
        <div class="g-bt--1 g-bt-lg--0 g-py--15 g-py-lg--0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 g-px--10">
          <button class="g-btn block g-text--uppercase g-c--pointer" onclick="">PAGA</button>
        </div>
      </div>
    </div>

    <div class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 g-mb--0 g-mb-lg--15">
      <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
        <div class="d-flex justify-content-center g-px--15 g-pt--10 g-pt-lg--0 align-items-lg-center">
          <client-icon-policies>
            <span class="g-items-icon g-font--45 icon-mapfre_019_car"></span>
          </client-icon-policies>
        </div>
        <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 g-p--15  g-p-lg--0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
          <div class="w-100 g-mb--10 g-mb-lg--0 g-o--hidden">
            <div class=""><span class="g-font--medium">Poliza Full cobertura</span></div>

            <div class="">
              <div class="g-mb--0 text-truncate"> Toyota Yaris 2018 </div>
            </div>

          </div>

          <div class="g-px-lg--15 w-px-lg--17">
            <div class="g-mb--0 text-nowrap">
              <span class="g-font--light g-font--12">Cuota: 3/6</span>
            </div>
            <div class="g-mb--0 text-nowrap ">
              <span class="g-font--light g-font--12">Nro. de póliza: 75689867</span>
            </div>
          </div>

          <div class="g-px-lg--15 g-mb--10 g-mb-lg--0 w-px-lg--20 g-font--13">
            <div class="g-mb--0 text-nowrap  d-flex align-items-center">
              <span class="icon-mapfre_066_circle g-pr--5 g-c--red1"></span>
              <span class="g-font--light"> Atrasada: 12/09/2018 </span>
            </div>
            <div class="g-mb--0 text-nowrap g-font--light g-font--13 g-c--red1"> Fecha límite 12/11/2018 </div>
          </div>

          <div class="g-px-lg--15 w-px-lg--17">
            <div class="g-mb--0 text-nowrap">
              <span class="g-font--medium g-font--14">S/ 1,200.00</span>
            </div>
          </div>

        </div>
        <div class="g-bt--1 g-bt-lg--0 g-py--15 g-py-lg--0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-wrap g-bl-lg--1 g-px--10">
          <div class="g-font--light g-font--11 text-nowrap w-100 text-center g-c--gray10 g-line--11">
          RENOVACIÓN AUTOMÁTICA
            <div class="g-font--16 g-font--medium g-c--gray10"> 08/08</div>
          </div>

        </div>
      </div>
    </div>
  </div>
