<ng-container *ngIf="showBanner">
  <a
    (click)="clickBanner()"
    [hidden]="!existUrlImage"
    *ngIf="isValidLink else imgBanner"
    #linkBanner
    href="javascript:void(0)"
  >
    <ng-container *ngTemplateOutlet="imgBanner"></ng-container>
  </a>
</ng-container>

<ng-template #imgBanner>
  <img *ngIf="existUrlImage"
    [img-loader]="pathImgBanner.lg"
    [img-sm]="pathImgBanner.sm"
    [img-md]="pathImgBanner.md"
    [img-xl]="pathImgBanner.xl"
    alt="image banner"
    class="w-10 g-b-radius--5 g-box--shadow1"
    (hasImage)="notLoading($event)"
    (error)="notLoading()">
</ng-template>
