<div class="header--box--page g-bg-c--white1 gCBlack1 g-box--shadow1 header--step pl-md-3 pr-md-3 pb-md-0 ">
  <div class="container">
    <div class="d-md-flex justify-content-sm-between align-items-center g-bg-c--white1">
      <div class="header--step--logo d-flex flex-wrap align-items-md-center g-ie-flex--0-1-auto w-10">
        <div class="header--logo">
          <div class="g-bg-c--red1 g-c--white1 pr-3 header--step--height d-flex align-items-center pl-2 pl-md-0">
            <a href="#" class="g-link--white g-text-decoration"><span class="icon-mapfre_044_logo_landing g-font--45"></span></a>
          </div>
          <div class="header--box--icon  g-font--30 d-block d-md-none"></div>
        </div>
        <div class="header--title g-font--14 g-font-md--18 g-font--medium pl-3 pt-2 pb-2">
          / {{ title }}
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center text-lg-nowrap">
        <div class="icon-mapfre_045_call g-font--30 d-none d-md-block"></div>
        <a [href]="'tel:' + phoneNumber">
          <div class="header--box--icon icon-mapfre_045_call g-font--30 d-block d-md-none"></div>
        </a>
        <div class="header--box--phone lineH13">
          <span class="d-block g-font--14 g-font--medium">{{ lima }}: {{ phoneNumber }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
