.is-drop-over {
  background-color: rgb(240, 203, 168);
  border-color: #fff;
  border-style: solid;
}

input[type=file] {
  height: 0px;
  overflow: hidden;
  width: 0px;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.item-wrap {
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}
