<div class="sect-container g-height--full g-mx-n--15">
  <!-- Loading -->
  <ng-container *ngIf="!profile">
    <mf-loader-full-screen></mf-loader-full-screen>
  </ng-container>
  <!-- Forma -->
  <div *ngIf="profile" [formGroup]="profileForm">
    <div class="">
      <div class="g-max-w-md--760 g-max-w-lg--690 mx-auto my-md-5 p-0">
        <div class="d-flex">
          <div class="ml-auto">
            <div class="tag--icon justify-content-center align-items-center d-none d-lg-flex g-bg-c--gray2 g-c--white1 mt-4 pl-2">
              <span class="icon-mapfre_014_perfil g-font--42"></span>
            </div>
          </div>
          <div [ngClass]="{'g-full-form--load': showLoading}"
            class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 g-max-w-md--60 mr-auto">
            <div class="g-p--15 g-px-md--60 g-pt-md--40 g-pb-md--15">
              <div class="g-font--18 g-font-md--20 g-text--uppercase g-font--medium">
                {{ lang.title }}
              </div>
              <div class="row">
                <div class="col-12 mb-4">
                  <!-- <div class="d-flex align-items-start align-items-md-center justify-content-between g-b-radius--5 g-bg-c--red7 g-bg-c--red7 g-b--1 g-bc--orange1 g-p--10 mt-2">
                    <div class="d-flex ">
                      <span class="icon-mapfre_051_alerta g-font--30 g-c--orange1 g-pr--10"></span>
                      <div class="g-line--13 d-flex g-ie-flex--1 align-items-center flex-wrap">
                        <div class="g-c--orange1">{{ lang.messageProfile }} </div>
                      </div>
                    </div>
                  </div> -->
                  <mf-custom-alert [status]="warningStatus" [text]="lang.messageProfile"></mf-custom-alert>

                  <div class="row">
                    <div class="col-sm col-sm-6">
                      <mf-input [label]="lang.form.LNames"
                        [formControl]="nombres"
                        (keydown)="onKeydown($event, 'name')"
                        [maxlength]="generalMaxLength.name"
                        [pattern]="nameRegExp"
                        [error]="showErrors('nombres')"></mf-input>
                      <mf-show-errors [control]='profileForm.controls["nombres"]'></mf-show-errors>
                    </div>

                    <div class="col-sm col-sm-6">
                      <mf-input [label]="lang.form.LLastNameFather"
                        [formControl]="apellidoPaterno"
                        (keydown)="onKeydown($event, 'lastname')"
                        [maxlength]="generalMaxLength.last_name_father"
                        [pattern]="lastnameRegExp"
                        [error]="showErrors('apellidoPaterno')"></mf-input>
                      <mf-show-errors [control]='profileForm.controls["apellidoPaterno"]'></mf-show-errors>
                    </div>

                    <div class="col-sm col-sm-6">
                      <mf-input [label]="lang.form.LLastNameMother"
                        (keydown)="onKeydown($event, 'lastname')"
                        [formControl]="apellidoMaterno"
                        [maxlength]="generalMaxLength.last_name_mother"
                        [pattern]="lastnameRegExp"
                        [error]="showErrors('apellidoMaterno')"></mf-input>
                      <mf-show-errors [control]='profileForm.controls["apellidoMaterno"]'></mf-show-errors>
                    </div>

                    <div class="col-sm col-sm-6">
                      <mf-input-datepicker
                        [label]="lang.form.LDateOfBirth"
                        [maxD]="limitBirthDay"
                        [error]="showErrors('fechaNacimiento')"
                        [formControl]="fechaNacimiento"></mf-input-datepicker>
                      <mf-show-errors [control]='profileForm.controls["fechaNacimiento"]'></mf-show-errors>
                    </div>

                    <div class="col-sm col-sm-6">
                      <mf-select *ngIf="lstDocumentType"
                        [label]="lang.form.LTypeDocument"
                        [formControl]="tipoDocumento"
                        [options]="lstDocumentType"
                        [error]="showErrors('tipoDocumento')"
                        (change)="clearInput()"></mf-select>
                      <mf-show-errors [control]='profileForm.controls["tipoDocumento"]'></mf-show-errors>
                    </div>

                    <div class="col-sm col-sm-6">
                      <mf-input
                        [label]="lang.form.LNumberDocument"
                        [formControl]="numeroDocumento"
                        [maxlength]="maxLength"
                        [minlength]="minLength"
                        [error]="showErrors('numeroDocumento')"></mf-input>
                      <mf-show-errors [control]='profileForm.controls["numeroDocumento"]'></mf-show-errors>
                    </div>

                    <div class="col-sm col-sm-6">
                      <mf-input
                        [Number]="true"
                        [label]="lang.form.LPhone"
                        [formControl]="telefonoMovil"
                        [type]="'tel'"
                        [minlength]="generalMinLength.cellPhone"
                        [maxlength]="generalMaxLength.cellPhone"
                        [error]="showErrors('telefonoMovil')"></mf-input>
                      <mf-show-errors [control]='profileForm.controls["telefonoMovil"]'></mf-show-errors>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="col-12 g-bt--1">
              <div class="row g-py--10 g-py-md--15 g-px-md--20">
                <div class="col-6 text-center">
                  <button class="g-btn g-btn--80 g-btn-outline px-0 g-text--uppercase" (click)="cancel()">{{ lang.form.BCancel }}</button>
                </div>
                <div class="col-6 text-center">
                  <button
                    mf-button
                    class="g-btn--80"
                    (click)="evaluateData()"
                    [disabled]="!isReadyToGo()">
                      {{ lang.form.BSubmit }}
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<mf-modal-message [confirmButtonText]="'Ok'" [success]="false"
  [messageDone]="titleAlert"
  [messageSuccessUpdate]="messageAlert"></mf-modal-message>
