    <div class="row">
        <div class="col col-12 col-md-6 col-lg-6 d-flex  g-mb--10 ">
            <div class=" g-pt--20   g-pl--20   g-pr--20  pb-xs-0 pt-sm-4 pl-sm-4 pr-sm-4 pb-sm-0 p-lg-5 g-bg-c--white1 compare-plan sctr-selected g-b-radius--5">
              {{#planLeft}}
                {{>organisms-plans}}
              {{/planLeft}}
            </div>
        </div>

        <div class="col col-12 col-md-6 col-lg-6 d-flex  g-mb--10 ">
            <div class=" g-pt--20   g-pl--20   g-pr--20  pb-xs-0 pt-sm-4 pl-sm-4 pr-sm-4 pb-sm-0 p-lg-5 g-bg-c--white1 compare-plan g-b-radius--5">
              {{#planRight}}
                {{>organisms-plans}}
              {{/planRight}}
            </div>
        </div>
    </div>