<mf-stepper  [currentStep]="2"
    [stepList]="stepList"></mf-stepper>
  <div class="g-mb--60">
    <client-form-base
        (actionCancel)="actionCancel()"
        (actionConfirm)="actionConfirm()"
        [btnCancel]="graLng?.Buttons?.Back"
        [btnConfirm]="graLng?.Buttons?.Next"
        [disableConfirm]="!frm?.valid"
        [showLoading]="showLoading"
      >
        <div class="g-p--20 g-p-lg--40">
          <!-- Titulo -->
          <div class="d-flex justify-content-between text-center">
            <div class="g-w--80">
              <div class="g-font--18 g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
                {{ lang.StepTwo.Title }}
              </div>
            </div>
            <div class="g-w--20">
              <span class="icon-mapfre_048_tooltip g-font--35 g-font-md--30 g-c--red1 g-pr--10 g-c--pointer" (click)="viewInfo()"></span>
            </div>
          </div>
          <!-- Datos -->
          <form [formGroup]="frm">
            <div class="d-flex flex-wrap w-100 g-pt--20">
              <div class="g-w-100 g-pr-lg--15 g-pb--10">
                <mf-select formControlName="policy" [error]="showErrors('policy')" [label]="lang.StepTwo.Labels.Policy" [options]="serviceType"></mf-select>
              </div>
              <div class="g-w-100 g-pr-lg--15 g-pb--10">
                <mf-select formControlName="patient" [error]="showErrors('patient')" [label]="lang.StepTwo.Labels.Patient" [options]="beneficiaries"></mf-select>
              </div>
              <div class="g-w-100 g-pr-lg--15 g-pb--10">
                <mf-select formControlName="specialty" [error]="showErrors('specialty')" [label]="lang.StepTwo.Labels.Specialty" [options]="specialties"></mf-select>
              </div>
              <div class="g-w-100 g-pr-lg--15 g-pb--10">
                <mf-input
                  [label]="lang.StepTwo.Labels.Telephone"
                  [maxlength]="18"
                  [OnlyNumber]="true"
                  formControlName="telephone">
                </mf-input>
                <mf-show-errors [control]="frm?.controls['telephone']"></mf-show-errors>
              </div>
              <div class="g-w-100 g-pr-lg--15 g-pb--10">
                <mf-textarea
                  [label]="lang.StepTwo.Labels.ReasonForConsultation"
                  [maxlength]="150"
                  formControlName="reasonForConsultation">
                </mf-textarea>
                <mf-show-errors [control]="frm?.controls['reasonForConsultation']"></mf-show-errors>
              </div>
            </div>
          </form>
        </div>
    </client-form-base>
  </div>
<client-modal-how-works *ngIf="openModalHowWorks" [modalData]="howItWorks" [modalHeader]="header"></client-modal-how-works>
