<!-- Titulo -->
<div class="text-center">
  <div class="g-font--20 g-font--medium g-c--gray3 g-mb--20">{{ content.title }}</div>
</div>

<!-- Planes -->
<div class="row">

  <!-- Vista Web -->
  <div class="col-12 d-lg-flex g-pb--15 d-none" [ngClass]="{'g-slider': (content.plans && content.plans.length < 3) }">
    <div *ngFor="let plan of content.plans; let i = index" [ngClass]="{'mr-lg-3': (i < 2) }"
      class="d-flex flex-column g-box--shadow1 g-bg-c--white1 w-100 g-b-radius-t--5 g-o--hidden g-ie-flex--0-1-auto  g-slider--item">
      <ng-container *ngTemplateOutlet="planContent; context: {$implicit: plan}"></ng-container>
    </div>
  </div>

  <!-- Vista Responsive - Carousel -->
  <div class="g-pb--5 w-100 d-lg-none">
    <div id="carouselTop" class="carousel slide" *ngIf="content.plans">
      <div role="listbox" class="carousel-inner">
        <div class="wrapper-slider">
          <mx-carousel #carousel="carousel" [showControls]="true">
            <ng-container *ngFor="let plan of content.plans; let i = index">
              <ng-container *carouselItem>
                <div class="h-100" [ngClass]="{'active': i===0 }">
                  <div class="g-px--15 h-100">
                    <div class="d-flex flex-column g-box--shadow1 g-bg-c--white1 w-100 match-heigth g-b-radius-t--5 g-o--hidden h-100">
                      <ng-container *ngTemplateOutlet="planContent; context: {$implicit: plan}"></ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </mx-carousel>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Template comun Contenido del Plan -->
<ng-template #planContent let-plan>
  <div class="g-bg-c--gray8 g-py--15 d-flex align-items-center justify-content-center">
    <div class="g-font--18 g-font--medium g-c--white1 g-text--uppercase g-line--10">{{ plan.title }}</div>
  </div>

  <div class="d-flex flex-column pl-xs--3 pr-xs--3 g-mt--20 pb-xs--3 h-100 g-ie-flex--0-1-auto g-mh--44">
    <div class="d-flex justify-content-center align-items-center g-ie-flex--0-1-auto g-mb--20" *ngIf="plan.subtitle">
      <div class="g-bb--1 g-bc--gray7 flex-fill"></div>
      <div class="g-font--light g-font--12 px-3 g-text--uppercase">{{ plan.subtitle }}</div>
      <div class="g-bb--1 g-bc--gray7 flex-fill"></div>
    </div>

    <div class="mb-auto">
      <ng-container *ngFor="let content of plan.content">
        <div class="g-font--14 pb-1 g-mb--20" *ngIf="content.text" [innerHTML]="content.text"></div>

        <div class="g-font--medium g-font--14 pb-1" *ngIf="content.title" [innerHTML]="content.title"></div>

        <div class="text-center g-mb--20" *ngIf="content.price">
          <span class="g-font--20">{{ content.price.amount }}</span>
          <span>&nbsp;{{ content.price.desc }}</span>
        </div>

        <ul class="g-list green g-pt--0 g-mb--20" *ngIf="content.items">
          <li *ngFor="let item of content.items">
            <span class="g-list--ico icon-mapfre_003_check"></span>
            <span class="g-list--text g-font--14 mb-1" [innerHTML]="item.text"></span>
          </li>
        </ul>
      </ng-container>
    </div>

    <div class="text-center w-100">
        <div class="g-font--18 g-c--gray3 g-font--medium mx-auto mt-xs--2" *ngIf="plan.price">{{ plan.price }}</div>
        <div class="g-font--13 g-c--gray2" *ngIf="plan.conditionPrice">{{ plan.conditionPrice }}</div>
        <button mf-button *ngIf="plan.textBtnGetQuote || content.textBtnGetQuote" class="mt-xs--3 d-lg-block w-lg-10 g-btn--mobile" 
        (click)="eventQuoteClick()"
        ctrl="linkPlanQuote"
        (domChange)="onDomChange($event, {
          label: plan.title,
          button: plan.textBtnGetQuote ? plan.textBtnGetQuote : content.textBtnGetQuote,
          amount: plan.price
        })">
          {{ plan.textBtnGetQuote ? plan.textBtnGetQuote : content.textBtnGetQuote }}
        </button>
        <button mf-button outline *ngIf="plan.textBtnInformation || content.textBtnInformation" class="d-lg-block w-lg-10 g-btn--mobile"
                [ngClass]="plan.textBtnGetQuote || content.textBtnGetQuote? 'mt-xs--2': 'mt-xs--3'" (click)="eventInfoClick()">
          {{ plan.textBtnInformation ? plan.textBtnInformation : content.textBtnInformation }}
        </button>
      </div>
  </div>
</ng-template>
