<div class="w-100 g-mx-lg--10 g-mt-lg--20">

  <mf-card style="margin-bottom: 20px;">
    <mf-card-content>
      <div class="align-items-center g-mh--6 mt-3">
        <div class="row p-3 align-items-center">
          <div class="col-12 d-flex align-items-center mb-3 mb-lg-0" [ngClass]=" isBusinessAccount ? '' : 'col-lg-4' ">
            <div class="w-100 g-font--medium g-font--18 g-font--medium g-ml-lg--10 g-ml--0">
              {{ titleGuaranteeLetters }}
            </div>
          </div>

          <div class="col-12 mb-3 mb-lg-0" [ngClass]="isBusinessAccount ? 'col-lg-3' : 'col-lg-4' ">
            <div class="input-group">
              <input type="text" class="form-control custom-input-search"
                [placeholder]="lang.Texts.SearchByDocumentPlaceholder" style="box-shadow: none; border-color: #e8e8e8;"
                [(ngModel)]="textoBuscar" (keydown)="onPressEnter($event)">
              <span class="icon-mapfre_121_close g-font--21 g-c--gray9 g-c--pointer custom-clear-button"
                [ngClass]="{ 'd-none': (textoBuscar || '').length === 0 }" (click)="clearAndSearch()"></span>
              <div class="input-group-append">
                <button class="btn btn-light" (click)="getGuaranteeLetters()">
                  <span class="icon-mapfre_099_search g-c--black1"></span>
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="isBusinessAccount" class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 d-flex">
            <div class="input-group">
              <div class="input-group-prepend d-flex align-items-center w-3 mr-2">
                <div class="mb-0 g-font--14 text-nowrap">
                  {{ lang.Labels.Clinic }}
                </div>
              </div>
              <select class="w-6 d-flex justify-content-lg-end" [(ngModel)]="clinicaId" style="color: #9E9E9E;"
                (change)="onClinicChange($event)">
                <option *ngFor="let item of clinicList" [value]="item.clinicaId"> {{ item.nombre }} </option>
              </select>
            </div>
          </div>

          <div class="col-12 mb-3 mb-lg-0 d-flex"
            [ngClass]="isBusinessAccount ? 'col-md-6 col-lg-3  g-bl-lg--3 g-br-lg--3' : 'col-lg-4' ">
            <div class="input-group" [ngClass]="isBusinessAccount ? '' : '' ">
              <div class="input-group-prepend d-flex w-3 mr-2">
                <div class="mb-0 g-font--14 text-nowrap">
                  {{ lang.Buttons.FilterBy }}
                </div>
              </div>
              <select class="w-6 d-flex justify-content-lg-end" [(ngModel)]="estado" style="color: #9E9E9E;"
                (change)="onStatusChange($event)">
                <option *ngFor="let item of statusList" [value]="item.codigo"> {{ item.descripcion }} </option>
              </select>
            </div>
          </div>

          <div *ngIf="isBusinessAccount" class="col-12 col-lg-3 mb-3 mb-lg-0 d-md-flex flex-lg-column p-0">
            <div class="col-12 col-md-6 col-lg-12 mb-3 mb-lg-0">
              <div class="d-flex">
                <div class="w-3 mr-2">
                  <div class="mb-0 g-font--14 text-nowrap">
                    {{ lang.Buttons.From }}
                  </div>
                </div>
                <input type="date" [min]='minDate' [max]='maxDate' [(ngModel)]="fechaIngresoInicial"
                  (change)="onStartDateChange($event)">
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12">
              <div class="d-flex">
                <div class="w-3 mr-2">
                  <div class="mb-0 g-font--14 text-nowrap">
                    {{ lang.Buttons.To }}
                  </div>
                </div>
                <input type="date" [min]='minDate' [max]='maxDate' [(ngModel)]="fechaIngresoFinal"
                  (change)="onEndDateChange($event)">
              </div>
            </div>
          </div>

        </div>
      </div>
    </mf-card-content>
  </mf-card>

  <mf-card>
    <mf-card-content>

      <mf-paginator (itemsPerPageChange)="itemsPerPageChange($event)" (pageChange)="pageChange($event)"
        [autoHide]="true" [isHeaderLabelsVisible]="false" [page]="page" [perPageList]="[10, 25, 50]" [total]="total"
        marginCard="g-mx-lg--10 g-my--0" [hasBorder]="false" [marginTop]="false" perPageListColor="g-c--green1">

        <mf-loader *ngIf="showLoading"></mf-loader>

        <client-item-not-found [icon]="iconNotFound" [iconMedium]="true" [imageTop]="true"
          [show]="!showLoading && listGuaranteeLetters.length === 0" [title]="msgNotFound">
        </client-item-not-found>

        <div *ngIf="!showLoading">
          <mf-card-item *ngFor="let item of listGuaranteeLetters | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total };
    let i = index">
            <ng-container *ngTemplateOutlet="letter; context: { $implicit: item }"> </ng-container>
          </mf-card-item>
        </div>
      </mf-paginator>

    </mf-card-content>
  </mf-card>
</div>


<ng-template #letter let-item>
  <div class="d-flex flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">

    <client-download-option [letter]="item" (check)="ifDownloadNotAllowed($event)"></client-download-option>

    <div class="w-7 w-sm-8 w-lg-9 g-bl--3 p-3 d-flex align-items-lg-center flex-column flex-lg-row flex-lg-grow-1">

      <!-- Versión -->
      <div class="w-5 d-flex flex-column mb-3 mb-lg-0">
        <div class="d-flex w-10">
          <div class="mb-0 text-nowrap g-font--13 g-font--bold">
            {{ item.anio }}-{{ item.correlativo }}-{{ item.version }}
          </div>
        </div>
        <div class="d-flex w-10">
          <div class="mb-0 text-nowrap g-font--12"> {{ item.descripcionRamo }} </div>
        </div>
      </div>

      <!-- Paciente -->
      <div class="w-100 d-flex flex-column  g-mt-lg--0 g-ml-lg--20 g-o-lg--hidden mb-3 mb-lg-0">
        <div class="mb-0 text-capitalize g-font--medium g-font--13 text-lg-truncate"
          [title]="item.paciente.nombreCompleto">
          <span>
            <img [src]="userIcon" width="18">
          </span>
          {{ item.paciente.nombreCompleto | lowercase }}
        </div>
        <div class="d-flex w-10 g-ml--25">
          <div class="mb-0 text-nowrap g-font--12"> {{ item.paciente.tipoDocumento }} - {{ item.paciente.documento }}
          </div>
        </div>
      </div>

      <!-- Clinica -->
      <div class="w-100 d-flex flex-column g-mt-lg--0 g-ml-lg--20 g-o-lg--hidden mb-3 mb-lg-0">
        <div class="d-flex w-10">
          <div class="mb-0 g-font--13 g-font--medium">
            <span>
              <img [src]="clinicIcon" width="18">
            </span>
            {{ lang.Labels.Clinic }}
          </div>
        </div>
        <div class="g-ml--25" [title]="item.clinica.nombre">
          <div class="mb-0 text-capitalize text-lg-truncate g-font--12">
            {{ item.clinica.nombre | lowercase }}
          </div>
        </div>
      </div>

      <!-- Fecha y Hora -->
      <div class="w-100 d-flex flex-column g-mt-lg--0 g-o-lg--hidden mb-3 mb-lg-0">
        <div class="d-flex w-10">
          <div class="mb-0 text-nowrap text-lg-truncate g-font--13 g-font--medium">
            <span>
              <img [src]="calendarIcon" width="18">
            </span>
            {{ lang.Labels.SolicitudeDate }}
          </div>
        </div>
        <div class="d-flex w-10 g-ml--25" [title]="item.fechaIngreso">
          <div class="mb-0 text-nowrap text-lg-truncate g-font--12"> {{ item.fechaIngreso }}</div>
        </div>
      </div>


      <!-- Estado -->
      <div class="w-100 d-flex  g-mt-lg--0 mb-3 mb-lg-0 align-items-center">
        <div class="d-flex align-items-center pr-3">
          <span class="icon-mapfre_066_circle g-font--12"
            [ngClass]="item.semaforo === 'VERDE' ? 'g-c--green1' : item.semaforo === 'ROJO' ? 'g-c--red1' : item.semaforo === 'GRIS' ? 'g-c--gray10' : 'g-c--yellow2' "></span>
        </div>
        <div class="w-100 d-flex flex-column">
          <div class="d-flex w-10" [title]="item.estado">
            <div class="mb-0 text-lg-truncate text-capitalize g-font--medium g-font--13">
              {{ item.estado | lowercase }}
            </div>
          </div>
          <div *ngIf="item.fechaEstado" class="d-flex w-10" [title]="item.fechaEstado">
            <div class="mb-0 g-font--12"> {{ item.fechaEstado }}</div>
          </div>
        </div>
        <mf-tooltips *ngIf="item.estado === 'OBSERVADA'" 
          [classAlign]="'g-tooltip--alternative-message--right'"
          [classIcon]="iconTooltip"
          [classPosition]="'d-none d-lg-block'">
          <span *ngIf="item.descripcionEstadoObs" class="g-font--13 d-flex aling-items-left g-pb--10 text-capitalize">{{ item.descripcionEstadoObs | lowercase }}</span>
        </mf-tooltips>
      </div>

    </div>

  </div>
</ng-template>

<mf-modal-alert [confirmButtonText]="'ACEPTAR'" [isDisabledAutoClose]="false" [noMinHeight]="true" [confirm]="false"
  [outline]="true" (confirmResponse)="confirmModal($event)" [sizeClass]="'g-modal--medium'">
  <div class="m-auto text-center g-py--20 g-px--20">
    <div class=" text-center g-mb--20">
      <img [src]="iconModal" [alt]="altTextIconModal" width="100">
    </div>
    <div class="g-font--18 mb-4 g-font--medium">{{ titleModal }}</div>
    <p class="text-left">{{ subTitleModal }}</p>
  </div>
</mf-modal-alert>