<div class="g-map-filter--header d-flex align-items-center g-px--20 h-px--5 d-lg-none">
  <div (click)="close()" class="g-mr--15">
    <span class="g-map-filter--close d-block icon-mapfre_010_arrow-left g-font--16 g-c--gray9 g-c--pointer"></span>
  </div>
  <div class="g-font--medium g-text--uppercase g-font--18 ">
    {{ lang.Buttons.Search }}
  </div>
</div>

<!-- Titulo -->
<div class="g-bg-c--gray8 g-c--white1 text-center g-p--10 g-font--18  g-font--medium g-text--uppercase d-none d-lg-block">
  {{ title }} ({{ (items || []).length }})
</div>

<!-- Filtro en web y en listado en v.mobile -->
<client-gm-card-filter
  (openFilter)="openfilter()"
  (search)="search($event)"
  [configView]="configView"
  [ga]="ga"
  [policy]="policy"
>
</client-gm-card-filter>

<!-- Listado -->
<div
  *ngIf="items && items.length && !showLoading"
  id="simplebar"
  class="g-map-filter--content"
  data-simplebar>
  <client-gm-card-item
    *ngFor="let item of items"
    [configView]="configView"
    [active]="item.openInfoWindow"
    [item]="item"
    (viewOnMap)="viewonmap(item)"
    (viewDetail)="detail(item)"
    (goToAppointment)="appointment(item)"
    [ga]="ga"
    [policy]="policy"
  ></client-gm-card-item>
</div>

<client-item-not-found [show]="(!items || !items.length) && !showLoading" [text]="lang.Text.ItemNotFound"></client-item-not-found>

<mf-loader *ngIf="showLoading"></mf-loader>
