/* BEGIN Light */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Light/Roboto-Light.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Light/Roboto-Light.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Light/Roboto-Light.ttf?v=2.136") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-LightItalic/Roboto-LightItalic.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-LightItalic/Roboto-LightItalic.woff?v=2.136") format("woff"), url("../../fonts/Roboto-LightItalic/Roboto-LightItalic.ttf?v=2.136") format("truetype");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular/Roboto-Regular.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Regular/Roboto-Regular.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Regular/Roboto-Regular.ttf?v=2.136") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular/Roboto-Regular.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Regular/Roboto-Regular.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Regular/Roboto-Regular.ttf?v=2.136") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Italic/Roboto-Italic.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Italic/Roboto-Italic.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Italic/Roboto-Italic.ttf?v=2.136") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Italic/Roboto-Italic.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Italic/Roboto-Italic.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Italic/Roboto-Italic.ttf?v=2.136") format("truetype");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Medium/Roboto-Medium.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Medium/Roboto-Medium.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Medium/Roboto-Medium.ttf?v=2.136") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-MediumItalic/Roboto-MediumItalic.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-MediumItalic/Roboto-MediumItalic.woff?v=2.136") format("woff"), url("../../fonts/Roboto-MediumItalic/Roboto-MediumItalic.ttf?v=2.136") format("truetype");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Bold/Roboto-Bold.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Bold/Roboto-Bold.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Bold/Roboto-Bold.ttf?v=2.136") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Bold/Roboto-Bold.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-Bold/Roboto-Bold.woff?v=2.136") format("woff"), url("../../fonts/Roboto-Bold/Roboto-Bold.ttf?v=2.136") format("truetype");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff?v=2.136") format("woff"), url("../../fonts/Roboto-BoldItalic/Roboto-BoldItalic.ttf?v=2.136") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff2?v=2.136") format("woff2"), url("../../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff?v=2.136") format("woff"), url("../../fonts/Roboto-BoldItalic/Roboto-BoldItalic.ttf?v=2.136") format("truetype");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */