<div class="sect-container g-mx-n--15 g-pr-lg--375" >
  <client-google-map-filter-view
    [latitude]="defaultCoords.latitude"
    [longitude]="defaultCoords.longitude"
    [markers]="markers"
    (userPosition)="userPosition($event.latitude, $event.longitude)"
    (viewDetail)="viewDetail($event)"
    [configView]="configView">
  </client-google-map-filter-view>

  <client-gm-filter
    [items]="markers"
    [title]="title"
    [showLoading]="showLoading"
    [gmFilterViewItem]="gmFilterViewItem"
    (viewDetail)="viewDetail($event)"
    [configView]="configView"
    [ga]="ga">
  </client-gm-filter>

  <client-office-detail
    [office]="officeDetail"
    [show]="showOfficeDetail"
    (exit)="exitOfficeDeta()">
  </client-office-detail>
</div>
