<div class="{{cardFileClass}}">

  <div class="w-100 w-px-md--15">
    <img src="../../images/pngs/mapfre.png" alt="" class="w-10 w-px-md--15 h-md--10 h-xl--0 d-none d-md-block">
    <img src="../../images/pngs/imagenclinica.jpg" alt="" class="w-10 d-block d-md-none">
  </div>

  <div class="g-px--15 g-pl-md--20 g-pt--20 mr-md-auto g-ie-flex--0-1-auto w-100">

    {{#title}}
      {{>molecules-info}}
    {{/title}}

    {{#contentInfo}}
      <div class="d-md-flex g-pt--10 g-pt-xl--20 flex-wrap">

        {{#info}}
          <div class="{{infoClass}}">
              <div class="{{iconFile}} {{iconClass}}"></div>
              <div class="{{textClass}}">{{{text}}}</div>
          </div>
        {{/info}}

      </div>
    {{/contentInfo}}

  </div>

  {{#right}}
    <div class="{{rightClass}}">

      {{#btns}}
        {{>atoms-buttons}}
      {{/btns}}

    </div>
  {{/right}}

</div>