<div class="d-flex flex-column g-bg-c--white1 h-100"
  [ngClass]="{'g-full-form--load': showLoading}">

  <!-- Titulo -->
  <div class="g-bg-c--gray8 g-py--15 g-pl--15 g-pr--15 pl-lg--2 pr-lg--2 d-flex align-items-center justify-content-center g-ie-flex--0-1-auto">
    <div class="g-font-lg--18 g-font--16 g-font--medium g-c--white1">{{ formTitle }}</div>
  </div>

  <div class="g-px--20 g-px-lg--45">

    <form [formGroup]="formRefund">

      <!-- Póliza -->
      <mf-select formControlName="policy" [label]="policyLabel" [options]="policyOptions"></mf-select>

      <!-- Paciente -->
      <mf-select formControlName="patient" [label]="patientLabel" [options]="beneficiaryOptions"></mf-select>

      <div class="g-my--20 d-sm-flex d-lg-block w-100">
        <!-- Descargar formato -->
        <div class="g-w-sm-50 g-w-lg-100 g-pr-sm--10 g-pr-lg--0">
          <button mf-button outline (click)="downloadPDF()"
            class="g-my--15 w-10 g-max-w--27 mx-auto d-block"
            [disabled]="!formRefund.valid"
            ctrl="linkFormRefund"
            (domChange)="onDomChange($event, { label: downaloadFormatButton })">
            {{ downaloadFormatButton }}
          </button>
        </div>

        <!-- Solicitar reembolso -->
        <div class="g-w-sm-50 g-w-lg-100 g-pr-sm--10 g-pr-lg--0">
          <button mf-button (click)="requestRefund()"
            class="g-my--15 w-10 g-max-w--27 mx-auto d-block"
            [disabled]="!formRefund.valid"
            ctrl="linkFormRefund"
            (domChange)="onDomChange($event, { label: requestRefundButton })">
            {{ requestRefundButton }}
          </button>
        </div>
      </div>

    </form>

  </div>

</div>