<div class="contect-float-menu patternlab-none d-none d-md-block {{addClass}}">
  {{#btnIcon}}
  <div class="g-btn-float d-flex align-items-center justify-content-center g-c--pointer {{iconClass}}" data-name="{{dataTitle}}">
    <span class="{{icon}}"></span>
  </div>
  {{/btnIcon}}

</div>