<form [formGroup]="formLogin" [ngClass]="{'g-full-form--load': showLoading}">
  <ng-container *ngIf="userInvalid">
    <div class="row justify-content-md-center mb-xs--1">
      <div class="col col-lg-10">
        <mf-custom-alert [status]="status" [text]="messageUserInvalid"></mf-custom-alert>
      </div>
    </div>
  </ng-container>

  <div class="row justify-content-md-center mb-xs--1 g-mt--5">
    <div class="col col-lg-10">
      <span>{{ welcomeMessage }}</span>
    </div>
  </div>

  <iframe title="" class="iframe-mediktor" width="100%" height="400px"
  [src]="urlMediktor" style="overflow: hidden;display:none;"></iframe>

  <div class="row justify-content-md-center mb-xs--1">
    <div class="col col-lg-10">
      <div class="row">
        <div class="col col-12">
          <mf-input
            autocomplete="nope"
            [formControl]="numberDoc"
            [label]="labelDocumentNumber"
            [error]='formLogin.controls["numberDoc"].errors && (formLogin.controls["numberDoc"].dirty || formLogin.controls["numberDoc"].touched)'
            [maxlength]="maxLengthNumberDoc"
            [minlength]="minLengthNumberDoc"
            (onkeyup)="removeSpaces('numberDoc')"
            (onpaste)="onPasteNumberDoc($event)">
          </mf-input>
          <mf-show-errors [control]='formLogin.controls["numberDoc"]'></mf-show-errors>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center mb-xs--2">
    <div class="col col-lg-10">
      <mf-input
        [formControl]="password"
        [label]="labelPassword"
        type="password"
        autocomplete="new-password"
        [error]='formLogin.controls["password"].errors && (formLogin.controls["password"].dirty || formLogin.controls["password"].touched)'
        [minlength]="passwordMinLength"
        [maxlength]="passwordMaxLength">
      </mf-input>
      <mf-show-errors [control]='formLogin.controls["password"]'></mf-show-errors>
    </div>
  </div>
  <div class="row justify-content-md-center mb-xs--2" *ngIf="showForgotPasswordLink">
    <div class="col col-lg-10">
      <span
      (click)="recoverUser()"
      class="g-underline g-c--green1 g-c--pointer g-text--underline g-font--medium"
      ctrl="forgotPasswordLink"
      (domChange)="onDomChange($event, { forgotPasswordLinkText: linkForgotPassword })">
        {{ linkForgotPassword }}
      </span>
    </div>
  </div>

  <div class="row mb-xs--2 mt-xs--3">
    <button
      mf-button class="g-btn--default"
      (click)="login()">
      {{ btnLogin }}
    </button>
  </div>

  <div class="row mb-xs--1" *ngIf="showEnableUserLink">
    <button
      mf-button
      outline
      class="g-btn--default"
      (click)="enableUser()"
      ctrl="secondButton"
      (domChange)="onDomChange($event, { buttonText: btnEnableUser })">
      {{ btnEnableUser }}
    </button>
  </div>
</form>
