<div class="g-bg-c--white1 g-box--shadow1">
  <div class="d-lg-flex g-p--15 g-py-lg--35 g-px-lg--50 g-bb--1 g-font--light justify-content-between">
    <div class="d-flex g-ie-flex--0-1-auto w-10">
      <div class="w-px-lg--6 text-right g-pr--10 g-pr-lg--20 g-pt--5">
        <span
          [ngClass]="
            record.estado === recordState.Found?
              ['icon-mapfre_057_circle-check', 'g-c--green1']:
              ['icon-mapfre_051_alerta', 'g-c--orange1']"
          class="g-font--21 g-font-lg--40">
        </span>
      </div>
      <div>
        <div class="g-font--18 g-font-lg--24 g-line--11 g-mb--5">
          {{ lang.Detail.title1 }} {{ record.nroConstancia }}
          {{ record.estado === recordState.Found? lang.Detail.title2 : lang.Detail.title3 }}
        </div>
        <div class="d-lg-flex" *ngIf="record.estado === recordState.Found">
          <div class="g-pr--25">
              {{ lang.Detail.Validity1 }} {{ record.fechaInicioVigenciaConstancia | date:'dd/MM/yyyy' }} {{ lang.Detail.Validity2 }} {{ record.fechaFinVigenciaConstancia | date:'dd/MM/yyyy' }}
          </div>
          <div>
              {{ lang.Detail.Contractor }}: {{ record.descripcionContratante }}
          </div>
        </div>
        <div *ngIf="record.estado === recordState.Found">
          {{ lang.Detail.PlaceActivity }}: {{ record.lugarActividad }}
        </div>
        <div *ngIf="record.estado === recordState.NotValid">
          {{ lang.Detail.ActiveYourSCTR }} <a class="g-c--green1 g-text--underline g-font--medium" [href]="'mailto:' + emailcontact">{{ emailcontact }}</a>
        </div>
      </div>
    </div>
    <div
      *ngIf="record.estado === recordState.Found"
      class="d-flex align-items-center g-mt--5 g-ml--30 g-m-lg--0 g-c--pointer g-c--green1 text-lg-nowrap"
      (click)="downloadRecord()">
      <div class="g-mr--5">
        <span [spinnerPdf]="showSpinner" class="g-font--21 g-font-lg--25"></span>
      </div>
      <div class="g-font--medium">
        {{ lang.Detail.DownloadRecord }}
      </div>
    </div>
  </div>
</div>
