<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Portal de Clientes MAPFRE</title>
  <meta name="commit" content="{{ commit }}">
  <base href="/">
  <script src="https://apps.mypurecloud.com/widgets/9.0/cxbus.min.js" onload="javascript:CXBus.configure({debug:false,pluginsPath:'https://apps.mypurecloud.com/widgets/9.0/plugins/'}); CXBus.loadPlugin('widgets-core');"></script>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script>
    if (global === undefined) {
      var global = window;
    }
    window._genesys = {
    "widgets": {
      "main":{
          "themes": {
            "blue": "cx-theme-blue"
          },
        "theme": "blue",
        "i18n": {

        "en": {

          "webchat": {
                "RestoreTimeoutTitle": "Chat finalizado",
                "RestoreTimeoutBody": "Se agotó el tiempo de espera de su sesión de chat anterior. ¿Le gustaría comenzar una nueva?",
                "RestoreTimeoutReject": "No, gracias",
                "RestoreTimeoutAccept": "Iniciar chat",
                "ChatTitle": "¿NECESITAS AYUDA?",
                "ChatStarted": "Buenas tardes, en que podemos ayudarlo",
                "ChatEnded": "El chat ha finalizado",
                "ConfirmCloseWindow": "¿Estas seguro que deseas terminar la sesión de chat?",
                "ConfirmCloseCancel": "Cancelar",
                "ConfirmCloseConfirm": "si",
                "ChatEndQuestion": "¿Estas seguro que deseas terminar la sesión de chat?",
                "ChatEndCancel": "Cancelar",
                "ChatEndConfirm": "si",
                "ChatFormSubmit": "Iniciar Chat",
                "AriaChatFormSubmit": "Iniciar Chat",
                "ChatFormCancel": "Cancelar",
                "AriaChatFormCancel": "Cancelar Chat",
                "ChatInputPlaceholder": "Introducir un mensaje",
                "todayLabel": "Hoy",
            },
        }
}
      }
    }
  };
</script>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZMGB8Q');
  </script>
</head>
<body class="g-bg-c--gray11 g-ie-body--login">
  <noscript>
    <iframe title="" src="https://www.googletagmanager.com/ns.html?id=GTM-KZMGB8Q"
      height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  <client-root></client-root>
</body>
</html>
<!-- git describe info
  {{{ toJSON gitdescribe }}}
-->

