<mf-modal
[confirm]="true"
[title]="lang.TitleModal"
[titleMobile]="title"
[secondTitleMobile]="lang.TitleModal"
[confirmButtonText]="generalLang.Buttons.Confirm"
[disableButton]="!form.valid || pendingLoadAllFile() || uploadsFileSub.length < minFiles"
(confirmResponse)="onConfirm($event)"
(closeEvent)="onCloseModal()">

  <div class="g-my--20 g-my-lg--50 g-mx--10 g-mx-lg--20">
    <div class="g-mb--40">
      <client-health-search-provider
        [form]="form"
        [description]="lang.DescriptionModal">
      </client-health-search-provider>
    </div>

    <client-upload-files
      #upload
      [disabledOutside]="!numeroRuc || !form.valid"
      [buttonPosition]="yAxis.TOP"
      [useWarmingError]="true"
      [maxFiles]="maxFiles"
      [maxSize]="maxSize"
      [inValidFileNames]="inValidFileNames"
      (addFile)="addFile($event, type, numeroRuc)"
      (removeFile)="removeFile($event, type, tmpListFile)">
    </client-upload-files>
  </div>

</mf-modal>
