<div class="pt-xs--2">

  <div class="row mb-xs--2" [ngClass]="{ 'g-full-form--load': isLoadingFilterVisible }" [formGroup]="frmPeriod">
    <div class="col">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div class="g-px-lg--25 g-px--20 pt-3 pb-2">
          <div class="row">
            <div class="col">
              <div class="g-items-text w-100 g-font--bold g-font--18 g-font-lg--24">
                Periodos<span class="g-font--light g-font--14 g-font-lg--16"> - ¿Qué periodo deseas ver a detalle?</span>
              </div>
            </div>
          </div>
          <div class="row pb-xs--2">
            <div class="col-md-6">
              <mf-select
                (getLoadingState)="getCboLoadingState($event)"
                [label]="lang.SelectPeriod"
                [frm]="frmPeriod"
                [dependent1]="policyNumber"
                [config]="configCbo"
                [name]="'periodMonth'"
                [type]="'periodMonth'"
                formControlName="periodMonth">
              </mf-select>
            </div>
          </div>
          <div *ngIf="period && !showLoadingPeriod" class="row">
            <div class="col-md-12">
              <client-card-sctr-period-item [period]="period" [policyNumber]="policyNumber" [isAdditional]="isAdditional" [showPayroll]="false"></client-card-sctr-period-item>
            </div>
          </div>
          <mf-loader *ngIf="showLoadingPeriod"></mf-loader>
        </div>
      </div>
    </div>
  </div>

  <div [formGroup]="frmFilter" class="g-box--shadow1 justify-content-between g-bg-c--white1 d-lg-flex align-items-center w-100 g-b-radius--3 g-py--15 g-px--15 g-px-md--20 g-my--20">
    <div class="g-font--16 g-font-lg--24 g-font--bold g-mb--15 g-mb-lg--0">
      Planillas<span class="g-font--light g-font--14 g-font-lg--16"> {{ totalPluralized }}</span>
    </div>
    <div [ngClass]="{ 'd-none': !isSctrDoubleEmission }">
      <div class="d-md-flex flex-md-wrap g-ie-flex--0-1-auto">
        <label class="g-radio d-flex align-items-center m-0 text-nowrap">
          <div class="d-flex align-items-center g-ml-md--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
            <input formControlName="policyType" value="Todos" type="radio" />
            <span class="radio"></span>
            {{ 'Todos' }}
          </div>
        </label>

        <label class="g-radio d-flex align-items-center m-0 text-nowrap">
          <div class="d-flex align-items-center g-ml-md--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
            <input formControlName="policyType" value="702" type="radio" />
            <span class="radio"></span>
            {{ 'SCTR Salud' }}
          </div>
        </label>

        <label class="g-radio d-flex align-items-center m-0 text-nowrap">
          <div class="d-flex align-items-center g-ml-md--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
            <input formControlName="policyType" value="701" type="radio" />
            <span class="radio"></span>
            {{ 'SCTR Pensión' }}
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="row affiliates c-inbox_affiliate mb-xs--6" [ngClass]="{'is-editing': isEditing}">
    <div class="col mb-xs--2">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div>
          <!-- Buscador -->
          <div [ngClass]="{ 'g-full-form--load': false }">
            <div class="row align-items-top g-px--10 g-px-lg--20 mt-4">
              <div class="col-md-4 mb-3">
                <div class="g-mx--10 g-mx-md--0">
                  <client-input-search #inputSearch
                    [hideClear]="true"
                    [maxLength]="100"
                    (search)="onSearch($event)"
                    [placeholder]="'Buscar por Nro. de documento o nombre'">
                  </client-input-search>
                  <div class="g-mt--5">
                    <span
                      *ngIf="searchText && !(searchText?.length >= minLengthSearch)"
                      class="txt-error">
                      {{ lang.minLengthText }} {{ minLengthSearch }}.
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="d-flex">
                  <button
                    (click)="search()"
                    [disabled]="searchText?.length < minLengthSearch"
                    class="g-btn g-text--uppercase g-btn-primary d-block w-100 mr-1"
                    mf-button>{{ 'Buscar' }}</button>
                  <button
                    (click)="clear()"
                    class="g-btn g-text--uppercase g-btn-primary d-block w-100 g-btn-outline ml-1"
                    mf-button
                    outline>{{ 'Limpiar' }}</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Paginador -->
          <mf-paginator
            (itemsPerPageChange)="itemsPerPageChange($event)"
            (pageChange)="pageChange($event)"
            [autoHide]="true"
            [isHeaderLabelsVisible]="false"
            [perPageList]="[10, 25, 50]"
            [total]="total"
            [marginTop]="total > 10"
            [hasBorder]="false"
            marginCard="g-mx-lg--20"
            perPageListColor="g-c--green1"
          >
            <!-- Loading -->
            <mf-loader *ngIf="showLoading"></mf-loader>

            <!-- No encontrado -->
            <client-item-not-found
              [show]="!showLoading && !insuredList.length && period"
              [text]="'No se encontró ningun asegurado.'">
            </client-item-not-found>

            <ng-container *ngIf="isSelectMode && insuredList.length && page === 1">
              <client-sctr-period-payroll-select-all
                [isSelectAll]="isSelectAll"
                [total]="total"
                (doSelectAll)="doSelectAll($event)">
              </client-sctr-period-payroll-select-all>
            </ng-container>

            <!-- Lista de asegurados -->
            <ng-container *ngFor="let insured of insuredList | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total } let i = index">
              <client-sctr-period-payroll-insured
                *ngIf="!showLoading"
                [insured]="insured"
                [policyNumber]="policyNumber"
                [period]="period"
                [isSelectMode]="isSelectMode"
                [isSelectAll]="isSelectAll"
                (doEdit)="doEdit($event)"
                (doSelect)="doSelect($event)">
              </client-sctr-period-payroll-insured>
            </ng-container>

          </mf-paginator>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer fixed -->
  <div class="fixed-bottom fixed-payroll" [ngClass]="{'d-none': (showLoading || !insuredList.length) && !isSelectMode}">
    <div class="row m-0 py-3 align-items-center">
      <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
        <p *ngIf="isSelectMode" class="m-0">Selecciona a quienes agregar a la constancia - Seleccionados ({{ selected }})</p>
        <p *ngIf="!isSelectMode" class="m-0">Haga click en "Generar constancia" para seleccionar a los asegurados.</p>
      </div>
      <div class="col-md-6">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-6">
            <ng-container *ngIf="isSelectMode">
              <button class="g-btn g-text--uppercase g-btn-primary d-block w-100 g-btn-outline" (click)="onCancelSelectMode()">Cancelar</button>
            </ng-container>
          </div>
          <div class="col-md-6 mb-2 mb-md-0">
            <button class="g-btn g-text--uppercase g-btn-primary d-block w-100" [ngClass]="{ 'disabled': isEditing || (isSelectMode && !isSelectAll && !sctrService.getInsuredConstancyList().length) }" (click)="onAction()">
              {{ isSelectMode ? 'Descargar' : 'Generar' }} constancia
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal para agregar dato de obra o centro de tranajo -->
<mf-modal *ngIf="showModal"
  class="sect-container"
  [confirm]="true"
  [confirmButtonText]="lang.DownloadConstancy"
  [disableButton]="isDownloading"
  (confirmResponse)="confirmResponse($event)">
  
  <div class="m-auto g-px--20 g-py--20" [ngClass]="{ 'g-full-form--load': isDownloading }">
    <div class="text-center g-mb--20"><img [src]="downloadIcon" alt="download"></div>
    <div class="d-block g-font--bold g-font--16 g-mt--10 g-text--uppercase text-center">
      <span [innerHTML]="lang.DownloadConstancy"></span>
    </div>
    <div class="d-block g-mt--10 text-center g-px--50">
      <span [innerHTML]="lang.DownloadConstancyHelp"></span>
    </div>
    <div class="d-block g-px--60 g-mt--10 g-font--13 g-mb--20">
      <form [formGroup]="formAditional">
        <mf-input
          [label]="lang.AdditionalInfo1"
          name="jobCenter"
          formControlName="jobCenter"
          (paste)="onPaste($event, 'jobCenter')"
          [upperCase]="true"
          [maxlength]="500">
        </mf-input>
        <mf-show-errors [control]="formAditional.controls['jobCenter']"></mf-show-errors>
      </form>
    </div>
  </div>

</mf-modal>