<div *ngIf="type === Y_AXIS.TOP">
  <div
    class="g-py--10 g-px--15 d-flex align-items-center g-bb--1 g-bc--gray11"
    *ngIf="configView?.inDesktop?.hasFilter || configView?.inDesktop?.hasSeeker"
  >
    <div
      class="g-map-filter--click mr-3"
      (click)="action('filter')"
      *ngIf="configView?.inDesktop?.hasFilter && (!activateSearchClinicKey || (policy?.codRamo !== codRamoClinicDigital && activateSearchClinicKey))"
      ctrl="gmFilterBtn"
      (domChange)="onDomChange($event, {})"
    >
      <div class="g-items">
        <div class="g-items-list d-flex align-items-center g-c--green1 g-c--pointer" onclick="">
          <div
            class="g-items-icon mr-2 g-font--21"
            [ngClass]="{ 'icon-mapfre_098_filter': !filterActived, 'icon-mapfre_216_filter_out': filterActived }"
          ></div>
          <div class="g-items-text g-font--medium text-capitalize d-none d-lg-block">
            {{ buttonTexts.Filter }}
          </div>
        </div>
      </div>
    </div>
    <div class="w-10" *ngIf="configView?.inDesktop?.hasSeeker">
      <client-input-search
      [searchText]="searchText"
      [placeholder]="SearchPlaceholder"
      [maxLength]="maxLengthSearch"
      (search)="fnSearch($event)"
      (cancel)="fnSearch()"
      [ga]="ga"
      ></client-input-search>
    </div>
  </div>
</div>

<div *ngIf="type === Y_AXIS.BOTTOM" class="g-map-filter--mobile d-flex justify-content-around g-font--bold">
  <div
    class="g-map-filter--click-filter d-flex flex-column text-center g-c--pointer g-ml--10"
    (click)="action('filter')"
    *ngIf="configView?.inResponsive?.hasFilter"
    ctrl="gmFilterBtn"
    (domChange)="onDomChange($event, {})"
  >
    <div
      class="g-font--21"
      [ngClass]="{ 'icon-mapfre_098_filter': !filterActived, 'icon-mapfre_216_filter_out': filterActived }"
    ></div>
    <div class="mt-1 g-font--13 text-capitalize">
      {{ buttonTexts.Filter }}
    </div>
  </div>
  <div
    class="g-map-filter--click-filter d-flex flex-column text-center g-c--pointer g-o--hidden g-mx--20"
    *ngIf="centerButton"
    (click)="action('center')"
  >
    <div class="g-font--21 {{ centerButton.icon }}"></div>
    <div class="mt-1 g-font--13 text-capitalize text-truncate w-px--10" [title]="centerButton.label">
      {{ centerButton.label }}
    </div>
  </div>
  <div
    class="g-map-filter--click-search d-flex flex-column text-center g-c--pointer g-mr--10"
    (click)="action()"
    *ngIf="configView?.inResponsive?.hasSeeker"
  >
    <div class="icon-mapfre_099_search g-font--21"></div>
    <div class="mt-1 g-font--13 text-capitalize">
      {{ buttonTexts.Search }}
    </div>
  </div>
</div>
