<div class="align-self-center col-12  g-ie-flex--0-1-auto">
  <div class=" text-center g-mb--20">
    <img class="mt-5" [src]="completeIcon">
  </div>
  <div class=" justify-content-md-center  g-mb--10 w-10">
    <div class="">
      <div class="g-message--primary text-center g-font--medium g-font--22">
        {{ success }}
      </div>
      <div class="w-10 g-bg-c--gray12 g-p--25 g-b-radius--5 w-px-xl--45 g-max-w-md--45 mx-auto g-mt--30 ">
        <div class="text-center">
          {{ lang.Messages.ConfirmRestorePassword }}
        </div>
        <div class="text-center">
          {{ lang.Messages.EnjoyYourPrivateArea }}
        </div>
      </div>
      <div class="w-10 w-px-xl--45 g-mt--20 g-mb-lg--50 mx-auto">
        <div class="text-center g-font--light g-font--13" [innerHTML]="contactEmailInvalid"></div>
      </div>
    </div>
  </div>
  <div class="row text-center g-mb-lg--90 g-mb--30">
    <button mf-button class="g-btn--default" (click)="goToLogin()">{{ lang.Buttons.GoToLogin }}</button>
  </div>
</div>
