<h2 class="g-font--30 g-line--10" id="layout">Layout</h2>
<div class="g-py--10 g-mb--20">
  <p>Use container-fluid para un contenedor de ancho completo, que abarque todo el ancho de la ventana , adicional la
    clase g-ui--view permite corregir que los modales y alertas se mantenga dentro de su contenedor cuando se este
    visualizando en patternlab.</p>
  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0 g-mb--15">
    <pre class="g-m--0"><code class="html">
        <div class="container-fluid g-ui--view">
          <div class="row">
            <aside class="g-box-nav">
            </aside>
            <section class="g-box-container">
              <div class="sect-container">
              </div>
            </section>
          </div>
        </div>
      </code></pre>
  </figure>

  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-box-nav</code> clase que
    reserva el espacio del aside para el menu</p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-box-container</code>
    contiene el header</p>
  <p class="g-mb--0 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.sect-container</code> el resto del
    contenido debe estar dentro del elemento que lleve esta clase</p>
</div>
<h2 class="g-font--30 g-line--10">Responsive breakpoints</h2>
<div class="g-py--10 g-mb--20">
  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0 g-mb--15">
    <pre class="g-m--0"><code  class="css">
          $break-x4small: 320px;
          $break-xxxsmall: 375px;
          $break-xxsmall: 414px;
          $break-xsmall: 480px;
          $break-small: 576px;
          $break-medium: 768px;
          $break-large: 992px;
          $break-xlarge: 1200px;
          $break-2xlarge: 1378px;
          @media (min-width: $break-small) {...}
          @media (min-width: $break-medium) {...}
          @media (min-width: $break-large) {...}
          @media (min-width: $break-xlarge) {...}
        </code></pre>
  </figure>
</div>

<h2 class="g-font--30 g-line--10" id="myp">Margin & padding</h2>
<div class="g-py--10">
  <p>Use los margin y los padding de manera que pueda jugar con los espacios dentro del contenido.<br> el mixin esta
    expresado en px y tiene un rango del (0 al 50). </p>
  <p class="g-mb--0 g-mb--5 g-font--12">los sufijos <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-p-md--, .g-p-lg--, .g-p-xl--, .g-p-xs-- </code> se adaptara al
    responsive breakpoints segun sea la medida especificada. </p>

  <div class="d-flex">
    <div class="g-pr--20">
      <p class="g-text--uppercase g-c--gray2 g-mb--0 g-font--12 g-font--medium">padding</p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-p--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-px--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-py--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-pl--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-pr--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-pt--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-pb--</code></p>
    </div>
    <div>
      <p class="g-text--uppercase g-c--gray2 g-mb--0 g-font--12 g-font--medium">margin</p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-m--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-mx--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-my--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-ml--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-mr--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-mt--</code></p>
      <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-mb--</code></p>
    </div>
  </div>

  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
          <div class="g-p--20 g-p-lg--30"> </div>
      </code></pre>
  </figure>
  <p class="g-pt--5 g-mb--0 g-font--12">ej. Si deseas colocar por defecto un padding de 20px pero en resolución desktop
    desea que sea de 30px.</p>
  <p class="g-font--12 g-c--yellow2 ">Nota: las clases con sufijo <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-py--</code> hacen referencia a los bordes (top, bottom) y <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-px--</code> a los bordes (left, right). </p>
</div>

<h2 class="g-font--30 g-line--10" id="wyh">Width & height</h2>
<div class="g-py--10 g-mb--20">
  <p class="g-font--12">el mixin esta expresado en px, % y tiene un rango del (0 al 100 * 10) </p>
  <p class="g-mb--0 g-mb--5 g-font--12">los sufijos <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.w-md-, .w-lg-, .w-xl-, .w-xs- </code> y <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.w-px-md--, .w-px-lg--, .w-px-xl--, .w-px-xs-- </code> se adaptara al
    responsive breakpoints segun sea la medida especificada. </p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.w-</code> expresado
    porcentualmente %</p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.w-px--</code> expresado en px
  </p>

  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
          <div class="w-100 w-md-50"> </div>
      </code></pre>
  </figure>

  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.h-</code> expresado
    porcentualmente % (10 en 10)</p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.h-px--</code> expresado en px
    (0 al 50)</p>

  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
          <div class="h-50 h-md-auto"> </div>
      </code></pre>
  </figure>

</div>

<h2 class="g-font--30 g-line--10" id="hack">Hack</h2>
<div class="g-py--10 g-mb--20">
  <p class="g-font--12">Las siguientes clases cumplen funciones de corregir errores en el navegador o en el movil.</p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-ie-flex--0-1-auto</code>: es
    un fix que resuelve problemas de alineación y comportamiento del flex en IE.</p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-no-scroll, .g-modal-no-scroll </code>: estas clases es activada
    cuando el menú en responsive es abierto, o si un modal es abierto y evita el scroll dentro de la pagina, resuelve
    problemas con IOS iphone. </p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-safari-iphone </code>: esta
    es una clase que se manipula desde dom para hacer una acción directa sobre el navegador especificado. </p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-chrome</code>: esta es una
    clase que se manipula desde dom para hacer una acción directa sobre el navegador especificado. </p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-firefox</code>: esta es una
    clase que se manipula desde dom para hacer una acción directa sobre el navegador especificado. </p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-ie</code>: esta es una clase
    que se manipula desde dom para hacer una acción directa sobre el navegador especificado. </p>
  <p class="g-mb--0 g-mb--5 g-font--12"><code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-android</code>: esta es una
    clase que se manipula desde dom para hacer una acción directa sobre el navegador especificado. </p>

  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
        <html class="g-no-scroll">
          <body class="g-no-scroll">
          </body>
        </html>
      </code></pre>
  </figure>
  <p class="g-pt--5 g-mb--0 g-font--12">ej. a traves de DOM se añade y se elimina la clase <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-no-scroll</code> para controlar el comportamiendo del scroll.</p>


</div>

<h2 class="g-font--30 g-line--10" id="colors">Colors & borders</h2>
<div class="g-py--10 g-mb--20">
  <p class="g-font--12">las clases que aplican color</p>
  <p class="g-mb--0 g-mb--5 g-font--12">Los prefijos <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-c--, g-bg-c--, g-bc--</code> aplican color de textos, fondos y
    bordes.</p>

  <div class="d-flex flex-wrap">
    <div class="g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--white1 g-b--1"></div>white1 </div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--black1 g-b--1"></div>black1</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--gray2 g-b--1"></div>gray2</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--gray5 g-b--1"></div>gray5</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--gray10 g-b--1"></div>gray10</div>

    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--gray11 g-b--1"></div>gray11</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--gray12 g-b--1"></div>gray12</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--gray18 g-b--1"></div>gray18</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--gray21 g-b--1"></div>gray21</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--red1 g-b--1"></div>red1</div>

    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--red2 g-b--1"></div>red2</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--red3 g-b--1"></div>red3</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--red4 g-b--1"></div>red4</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--red5 g-b--1"></div>red5</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--red6 g-b--1"></div>red6</div>

    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--red7 g-b--1"></div>red7</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--green1 g-b--1"></div>green1</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--green2 g-b--1"></div>green2</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--green3 g-b--1"></div>green3</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--green4 g-b--1"></div>green4</div>

    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--orange1 g-b--1"></div>orange1</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--purple1 g-b--1"></div>purple1</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--purple2 g-b--1"></div>purple2</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--yellow1 g-b--1"></div>yellow1</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--yellow2 g-b--1"></div>yellow2</div>

    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--blue1 g-b--1"></div>blue1</div>
    <div class=" g-m--10 "><div class="g-b-radius--3 w-px--10 g-p--10 g-bg-c--blue2 g-b--1"></div>blue2</div>
  </div>

  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0 g-mb--20">
    <pre class="g-m--0"><code class="html">
          <div class="g-c--green3 "> Lorem, ipsum. </div>
      </code></pre>
  </figure>

  <p class="g-mb--0 g-mb--5 g-font--12">Los prefijos <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-b--, .g-bl--, .g-br--, .g-bt--, .g-bb--</code> aplican para
    especificar donde ubicar el borde y sera acompañado de un numero al final del 0 al 5. </p>
  <p class="g-mb--0 g-mb--5 g-font--12">los sufijos <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-b-md--, .g-b-lg--, .g-b-xl--, .g-b-xs-- </code> se adaptara al
    responsive breakpoints segun sea la medida especificada. </p>
  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
          <div class="g-b--1 g-bc--green3"> Lorem, ipsum. </div>
      </code></pre>
  </figure>

</div>

<h2 class="g-font--30 g-line--10" id="icons">Icons</h2>
<div class="g-py--10 g-mb--20">
  <p class="g-mb--0 g-mb--5 g-font--12">Los prefijos <code
      class="g-bg-c--gray5 g-p--3 g-b-radius--3">.icon-mapfre_</code> ayudan a clasificar los iconos en la librería personalizada.</p>
  <p class="g-mb--0 g-mb--5 g-font--12">
    Los iconos deben ser exportados en svg con medidas de 1000px x 1000px.<br>
    Al subir un nuevo icono debe ir a <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">/source/fonts/MFAutoservicio.json</code> descargar el Json, ir a la web <a href="https://icomoon.io/app/" target="_blank" class="g-c--green1 g-font--medium"> <span class="icon-mapfre_208_planet"></span> https://icomoon.io/app/ </a><br>
    presionar <strong> Import icons</strong> seleccionar el Json que descargamos <span class="g-c--yellow2">Nota: solo si es la primera ves que haces este proceso.</span><br>
    Para añadir el nuevo svg debes ir al menú de la librería importada, hacer clic en <strong> Import to set </strong> seleccionar el icono.<br>
    Descargar el paquete de fuentes e importarlo dentro de las ruta especifica para cada uno de los proyectos.
  </p>

  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
          <span class="icon-mapfre_044_logo_landing g-font--20 g-c--red1"> </span>
      </code></pre>
  </figure>
  <p class="g-mb--0 g-mb--5 g-pt--10 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=atoms-fonts-icons" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de iconos en patternlab.</a></p>


</div>

<h2 class="g-font--30 g-line--10" id="buttons">Buttons</h2>
<div class="g-py--10 g-mb--20">
  <p class="g-mb--0 g-mb--5 g-font--12">La clase <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.g-btn</code> especifica el estado default, la cual puede ir acompañada de  <code class="g-bg-c--gray5 g-p--3 g-b-radius--3"> .g-btn-outline, .g-btn-special, .disabled, .block,</code> para cambiar su apariencia segun sea su necesidad.</p>
  <p class="g-mb--0 g-mb--5 g-font--12">La clase <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">.disabled</code> es acompañada de la clase  <code class="g-bg-c--gray5 g-p--3 g-b-radius--3"> .g-btn-outline</code> .</p>

  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
          <button class="g-btn"> </button>
      </code></pre>
  </figure>


</div>

<h2 class="g-font--30 g-line--10" id="mya">Modals & Alerts</h2>
<div class="g-py--10 g-mb--20">
  <p class="g-font--medium g-mb--0">Modal Alert</p>
  <p class="g-mb--0 g-mb--5 g-font--12">Este tipo de modal alerta busca mostrar un mensaje de poco contenido, en su versión responsiva mantiene su proporción (no ocupar la pantalla completa) adaptándose de manera fluida horizontalmente. </p>
  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0 g-mb--20">

    <pre class="g-m--0"><code class="html">
          <html class="body-hidden g-modal-no-scroll">
            <head> ... </head>
            <body class="g-modal--open">
              <div class="g-modal">
                <div class="g-modal--container">
                  <div class="g-modal--medium g-modal--wrapper">
                    <div class="g-modal--closemodal g-modal--close">
                      <span class="icon-mapfre_121_close g-font--21 g-c--gray2"> </span>
                    </div>
                    <div class="g-modal--section g-modal--alert">
                      <div class="m-auto text-center">
                          Lorem ipsum ...
                      </div>
                    </div>
                    <div class="g-bt--1 g-bc--gray7 text-center g-py--10">
                    </div>
                  </div>
                </div>
              </div>
            </body>
          </html>
      </code></pre>
  </figure>

  <p class="g-font--medium g-mb--0">Modal</p>
  <p class="g-mb--0 g-mb--5 g-font--12">Mejor conocido como full modal por su capacidad de adaptarse pantalla completa en versiones movile.</p>
  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">

    <pre class="g-m--0"><code class="html">

          <html class="body-hidden g-modal-no-scroll">
              <head> ... </head>
              <body class="g-modal--open">
                <div class="g-full-modal open">
                  <div class="g-full-modal--container">
                    <div class="g-full-modal--medium g-full-modal--wrapper">
                      <div class="g-full-modal--header g-shadow--header g-shadow-lg--none g-bb-lg--1 g-bc--gray11 border-0">
                        <div class="d-flex align-items-center g-o--hidden w-10">
                          <div class="g-full-modal--closemodal d-none d-lg-flex g-c--gray2">
                            <span class="icon-mapfre_121_close g-font--21 g-c--gray2"> </span>
                          </div>
                        </div>
                      </div>
                      <div class="g-full-modal--content g-ie-full-modal--content w-100">
                           ...
                      </div>
                      <div class="g-full-modal--footer g-p--10 text-center mt-auto">
                           ...
                      </div>
                    </div>
                  </div>
                </div>
              </body>
            </html>
      </code></pre>
  </figure>


</div>

<h2 class="g-font--30 g-line--10" id="dropdown">Menu dropdown</h2>
<div class="g-py--10 g-mb--40">
  <p class="g-mb--0 g-mb--5 g-font--12"></p>
  <div class="w-100 w-px--20 g-max-w--20">
      <div data-accordion="item" data-open="true">
        <div data-accordion="title" class="g-px--10 g-py--0">
          <div data-accordion="click" class="d-flex align-items-center w-100 g-c--pointer g-ie-flex--0-1-auto">
            <div class="g-text--uppercase g-font--bold g-py--10">
              Item
            </div>
          </div>
        </div>
        <div data-accordion="content" style="display: block;" class="g-bg-c--white1 g-b--1">
          <div class="d-flex align-items-center">
            <a class="g-hover-nav g-p--10">
              sub items
            </a>
          </div>
        </div>
      </div>
  </div>
  <p class="g-pt--5 g-mb--0 g-font--12 g-mb--20">ej. dropdown en su estado open.</p>


  <figure class="g-bg-c--gray5 g-b-radius--5 g-p--20 g-m--0">
    <pre class="g-m--0"><code class="html">
        <div data-accordion="item" data-open="true">
          <div data-accordion="title" class="g-px--10 g-py--0">
            <div data-accordion="click" class="d-flex align-items-center w-100 g-c--pointer g-ie-flex--0-1-auto">
              <div class="g-text--uppercase g-font--bold g-py--10">
                Item
              </div>
            </div>
          </div>
          <div data-accordion="content" style="display: block;" class="g-bg-c--white1 g-b--1">
            <div class="d-flex align-items-center">
              <a class="g-hover-nav g-py--10">
                sub items
              </a>
            </div>
          </div>
        </div>
      </code></pre>
  </figure>


</div>

<h2 class="g-font--30 g-line--10" id="imgbanners">Images y Banners</h2>
<div class="g-py--10 g-mb--40">
  <p class="g-pt--5 g-mb--0 g-font--12 g-mb--20">las imágenes que son usadas para representar la iconografía de algunos mensajes deben ser guardadas en las siguientes rutas:</p>
  <p class="g-pt--5 g-mb--0 g-font--12 ">iconos para mensajes: <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">source/images/messages</code></p>
  <p class="g-pt--5 g-mb--0 g-font--12 ">iconos para bancos: <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">source/images/banks</code></p>
  <p class="g-pt--5 g-mb--0 g-font--12 ">iconos para pngs: <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">source/images/pngs</code></p>
  <p class="g-pt--5 g-mb--0 g-font--12 ">iconos para servicios: <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">source/images/services</code></p>

  <p class="g-pt--5 g-mb--20 g-font--12 ">iconos para banners: <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">source/images/banner</code></p>

  <p class="g-pt--5 g-mb--0 g-font--12 "> Las medidas para los banner segun sea adaptativo responsive breakpoints son:</p>
  <p class="g-pt--5 g-mb--0 g-font--12 "> <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">break-xlarge</code>: 1732px x 371px</p>
  <p class="g-pt--5 g-mb--0 g-font--12 "> <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">break-large</code>: 1200px x 371px</p>
  <p class="g-pt--5 g-mb--0 g-font--12 "> <code class="g-bg-c--gray5 g-p--3 g-b-radius--3">break-small</code>: 768px x 322px</p>

</div>


<h2 class="g-font--30 g-line--10" id="otras">Otras </h2>
<div class="g-py--10">

    <p class="g-pt--5 g-font--12 g-mb--20">Los siguientes enlaces hacen referencia a la implementación de de otros componentes </p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">Forms</h4>
    <p class=" g-pt--0 g-font--12 g-font--medium g-mb--20"><a href="http://localhost:3000/?p=viewall-atoms-forms" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de forms en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">List</h4>
    <p class=" g-pt--10 g-font--12 g-font--medium g-mb--20"><a href="http://localhost:3000/?p=viewall-atoms-lists" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de Lists en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">Tooltip</h4>
    <p class="g-mb--0 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-input-tooltip" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de tooltip en patternlab.</a></p>
    <p class=" g-pt--0 g-font--12 g-font--medium g-c--gray18 g-mb--20"> Este componente tiene una regla en Js que permite según en lugar donde se encuentre ubicado (top, left. right, bottom, center) muestre el card del mensaje en una posición conveniente para mejor lectura del mensaje. </p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">Radiobutton</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-fm-radio" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de radiobutton en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">tablas</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-table" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de tablas en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">List Checkbox</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-list-checkbox" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de checkbox en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">Mensaje con imagen</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-messages2" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de messages en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">Steps</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-steps-alternative" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de steps en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">tabs</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-tabs" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de tabs en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">tabs search</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-tabs-search" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de tabs search en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">tabs vertical</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-tabs-vertical" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de tabs vertical en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">progress bar</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=molecules-progress-bar" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de progress bar en patternlab.</a></p>

    <h4 class="g-pt--0 g-font--15 g-font--medium g-mb--0">Upload file</h4>
    <p class="g-mb--20 g-pt--0 g-font--12 g-font--medium"><a href="http://localhost:3000/?p=organisms-add-img" target="_blank" class="g-c--green1"> <span class="icon-mapfre_058_file g-font--10"></span> Ir a la libreria de Upload file en patternlab.</a></p>





</div>