// Input
.g-inpsel-design,
.g-input-design {
  label {
    transform: translate(0, 0);
  }

  input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: map-get($colors, gray2);
    font-family: $fontfamily;
    font-size: $fz14;
    font-weight: $normal;
    height: 35px;
    line-height: 35px;
    margin-top: 12px;
    min-width: 0;
    outline: none;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;

    &:focus + label {
      font-size: $fz13;
      font-weight: $light;
      transform: translate(0, -15px);
      width: auto;

      &.is-focused {
        transform: translate(0, 0);
      }
    }
  }

  .ico-right {
    bottom: 0;
    line-height: 35px;
    position: absolute;
    right: 0;
  }

  .ico-text {
    border-radius: 50%;
    bottom: 9px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    line-height: 19px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 18px;
  }

  &.msn-error {
    border-bottom: 1px solid map-get($colors, red1);
  }
}

.g-input-file {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;

  + .g-js-filename {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// TODO: @Raul Renombrar clase
// INFO: Clase para drag and drop file ( edit profile & home sinister)
.item-image {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  width: 100px;

  figure {
    margin: 0;
    padding: 0;

    img {
      display: block;
      height: 100px;
      max-height: inherit;
      max-width: inherit;
      width: 100px;
    }
  }

  &:hover {
    .content-recursos {
      opacity: 1;
    }
  }

  .content-recursos {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s;

    .size {
      align-self: center;
      border: 1px solid;
      border-radius: 4px;
      color: map-get($colors, white1);
      font-size: 11px;
      margin: auto;
      padding: 5px 7px;
    }

    .btn-close {
      color: map-get($colors, white1);
      cursor: pointer;
      font-size: 1.2rem;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}
