// Select
.g-inpsel-design,
.g-select-desing {
  label {
    transform: translate(0, 0);
  }

  select {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: map-get($colors, gray2);
    font-family: $fontfamily;
    font-size: $fz14;
    font-weight: $normal;
    height: 37px;
    line-height: 35px;
    margin-top: 10px;
    outline: none;
    padding: 0 25px 0 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }

  .ico-select {
    background: none;
    bottom: 0;
    color: map-get($colors, gray18);
    cursor: default;
    font-size: 14px;
    font-weight: $bold;
    height: 35px;
    line-height: 35px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    width: 20px;
    z-index: 10;
  }
}

.g-form-focus {
  label {
    font-size: $fz13;
    font-weight: $light;
    transform: translate(0, -15px) !important;
  }
}

.g-placeholder {
  color: map-get($colors, gray18);
  cursor: text;
  display: block;
  font-size: $fz14;
  font-weight: $normal;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 35px;
  transition: $t-linear;
  white-space: nowrap;
  width: calc(100% - 25px);
  z-index: 1;

  &.is-focused,
  &.block {
    color: map-get($colors, gray1);
    font-size: $fz13;
    font-weight: $light;
    top: 0;
  }

  &.block {
    position: static;
  }
}

.txt-error {
  color: map-get($colors, red1);
  font-size: $fz13;
}

.g-box-icons {
  &--item {
    .g-inpsel-design,
    .g-select-desing {
      select {
        margin-right: 10px;
        margin-top: 0;
      }
    }
  }
}

.g-select-padding {
  .g-select-desing {
    padding-top: 0;
  }
}
