// Textarea
.g-textarea {

  &-design {
    label {
      transform: translate(0, 0);
    }

    textarea {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      color: map-get($colors, gray2);
      font-family: $fontfamily;
      font-size: $fz14;
      font-weight: $normal;
      height: 40px;
      line-height: 20px;
      margin-top: 22px;
      outline: none;
      padding: 0;
      position: relative;
      width: 100%;
      z-index: 5;

      &:focus + label {
        font-size: $fz13;
        font-weight: $light;
        transform: translate(0, -15px) !important; // sass-lint:disable-line no-important
        width: auto;

        &.is-focused {
          transform: translate(0, 0);
        }
      }
    }

    .ico-right {
      bottom: 0;
      line-height: 35px;
      position: absolute;
      right: 0;
    }

    .ico-text {
      border-radius: 50%;
      bottom: 9px;
      cursor: pointer;
      display: inline-block;
      height: 18px;
      line-height: 19px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 18px;
    }

    &.msn-error {
      border-bottom: 1px solid map-get($colors, red1);
    }
  }

  &--counter {
    bottom: -21px;
    position: absolute;
    right: 0;
  }

  &--error {
    padding-right: 45px;
  }
}
