<div class="g-number {{addClass}}">
  {{#image}}
    <div class="g-number--imagen {{imageClass}}">
      <img src="{{imageData}}" alt="">
    </div>
  {{/image}}
  {{#number}}
    <div class="g-number--data {{numberClass}}">
      {{numberData}}
    </div>
  {{/number}}
</div>
