<div
  [ngClass]="{ 'justify-content-lg-start': !center }"
  class="g-b-radius-lg--5 card-box-simple py-3 py-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center h-lg-10">
  <div
    [ngClass]="{ 'justify-content-lg-start': !center }"
    class="d-block d-lg-flex align-items-center justify-content-center h-lg-100">
      <div class="px-2 my-3 my-lg-0">
        <img [src]="icon" alt="">
      </div>
    <div [ngClass]="{ 'pl-lg-3': pl }" class="g-items-text">
      <div class="g-font--20 mb-0 g-font--medium">{{ message }}</div>
      <div *ngIf="subMessage" class="g-mb--0 ">{{ subMessage }}</div>
    </div>
  </div>
</div>
