<div class="row">
    <div [ngClass]="{ 'g-full-form--load': isVisibleLoaderReview }" class="g-bg-c--gray12 d-lg-flex align-items-center justify-content-between w-100">
        <div class="d-lg-flex align-items-center g-p-lg--20">
            <div class="d-flex align-items-center g-p--20 g-pb--15 g-p-lg--0 g-bb--1 g-bb-lg--0 g-bc--gray16 g-ie-flex--0-1-auto">
                <div class="icon-mapfre_256_mapfre_dolares g-font--58 g-c--gray18"></div>
                <div class="g-line--12 g-pl--20 w-px-2xl--28 g-pr-md--35">
                    <div>
                        {{ lang.Titles.MDCurrent }}
                    </div>
                    <div class="">
                        <span class="g-font--26 g-font-md--30 g-font--bold">M$ {{ review?.currentPartInteger }}</span>
                        <span class="g-font--18 g-font--medium">.{{ review?.currentPartDecimal }}</span>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex g-p--20 g-p-lg--0">
                <div class="g-line--13 w-px-2xl--24 g-pr--35 g-mb--10 g-mb-sm--0">
                    <div class="g-font--16 g-font--medium">
                        {{ lang.Titles.MDWon }} <span class="text-nowrap">M$ {{ review?.montoGanado }}</span>
                    </div>
                    <div class="g-font--light" *ngIf="review?.fechaAniversario">
                        {{ lang.Titles.MDDateWon }} {{ review?.fechaAniversario }}
                    </div>
                </div>
                <div class="g-line--13 w-px-2xl--24">
                    <div class="g-font--16 g-font--medium">
                        {{ lang.Titles.MDUsed }} <span class="text-nowrap">M$ {{ review?.montoUsado }}</span>
                    </div>
                    <div class="d-none d-lg-block">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="review?.hasBeatenMD" class="w-px-lg--34 d-flex g-bl-lg--1 g-bt--1 g-bt-lg--0 g-bc--gray16 g-p--20 g-ie-flex--1 ">
            <div class="icon-mapfre_066_circle g-c--red1 g-font--9 g-pt--5 g-mr--15"></div>
            <div class="g-font--13 g-font--light">
                {{ review?.montoXVencer }} MAPFRE Dólares están por vencer el {{ review?.fechaXVencer }}
            </div>
        </div>
        <div *ngIf="!review?.hasBeatenMD" class="w-px-lg--34 d-flex g-bl-lg--1 g-bt--1 g-bt-lg--0 g-bc--gray16 g-p--20 g-ie-flex--1">
            <div class="icon-mapfre_066_circle g-c--green1 g-font--9 g-pt--5 g-mr--15"></div>
            <div class="g-font--13 g-font--light">
                {{ lang?.Titles.MDNOBeaten }}
            </div>
        </div>
    </div>
</div>

<div class="d-md-flex g-py--20 g-px--0 g-px-md--15 position-relative" *ngIf="review && !review?.flagInformacion">
    <div class="w-md-50 g-pr-md--10">
        <div class="g-font--14 g-font-md--20 g-font-lg--24 g-font--bold g-mb--10">
            {{ lang.Titles.WhatIsMD }}
        </div>
        <div class="g-line--13 g-font--18">
            {{ lang.Texts.WhatIsMD }}
        </div>
    </div>

    <div class="w-md-50 g-pl-md--10 g-mt--30 g-mt-md--0">
        <div class="g-font--14 g-font-md--20 g-font-lg--24 g-font--bold g-mb--10">
            {{ lang.Titles.HowGenerateMD }}
        </div>
        <div class="g-line--13 g-font--18">
            {{ lang.Texts.HowGenerateMD }}
        </div>
    </div>

    <div (click)="saveInfoMD()" class="g-float--close">
        <span class="icon-mapfre_121_close g-c--pointer"></span>
    </div>
</div>

<div [formGroup]="frm" class="g-box--shadow1 justify-content-between g-bg-c--white1 d-lg-flex align-items-center w-100 g-b-radius--3 g-py--15 g-px--15 g-px-md--20 g-my--20">
    <div class="g-font--16 g-font-lg--24 g-font--bold g-mb--15 g-mb-lg--0">
        {{ lang.Titles.Movements }}
    </div>

    <div class="d-flex flex-wrap g-ie-flex--0-1-auto" *ngIf="!(frm.pristine && !list?.length)">
        <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
            <label class="g-radio d-flex align-items-center m-0">
        <input formControlName="estado" value="" type="radio" />
        <span class="radio"></span>
      </label> Mostrar todos
        </div>

        <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
            <label class="g-radio d-flex align-items-center m-0">
        <input formControlName="estado" value="{{ movementStatus.GANADO.code }}" type="radio" />
        <span class="radio"></span>
      </label> Mostrar ganados
        </div>

        <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
            <label class="g-radio d-flex align-items-center m-0">
        <input formControlName="estado" value="{{ movementStatus.USADO.code }}" type="radio" />
        <span class="radio"></span>
      </label> Mostrar usados
        </div>

        <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
            <label class="g-radio d-flex align-items-center m-0">
        <input formControlName="estado" value="{{ movementStatus.VENCIDO.code }}" type="radio" />
        <span class="radio"></span>
      </label> Mostrar vencidos
        </div>
    </div>
</div>

<mf-paginator (itemsPerPageChange)="itemsPerPageChange($event)" (pageChange)="pageChange($event)" [isHeaderLabelsVisible]="false" [autoHide]="true" [page]="page" [perPageList]="[10, 25, 50]" [total]="total" marginCard="g-mx-lg--20 g-mt-lg--20" perPageListColor="g-c--green1">
    <mf-loader *ngIf="isVisibleLoaderListMD"></mf-loader>
    <client-item-not-found [icon]="iconNotFound" [iconMedium]="true" [imageTop]="false" [show]="!isVisibleLoaderListMD && !list?.length" [title]="msgNotFound">
    </client-item-not-found>
    <mf-card-item [mustRemoveClassForIE]="true" *ngFor="
      let item of list | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total };
      let i = index
    ">
        <ng-container *ngTemplateOutlet="row; context: { $implicit: item }"> </ng-container>
    </mf-card-item>
</mf-paginator>

<ng-template #row let-item>
    <div class="g-box-lg--shadow1 g-bg-c--white1 d-flex w-100 g-b-radius--3 g-p-lg--20 g-bb--1 g-bb-lg--0 g-my-lg--20">
        <div class="g-c--gray18 g-pr-lg--20 g-px--15 g-pl-lg--10 g-pt--15 g-pt-lg--0">
            <span [ngClass]="item.icoMovement" class="g-c--gray18 g-font--30 g-font-lg--40"> </span>
        </div>

        <div class="d-lg-flex w-100 justify-content-between g-bl--1 g-bl-lg--0 g-py--10 g-px--15 g-p-lg--0 align-items-center g-ie-flex--1">
            <div class="d-lg-flex">
                <div class="w-px-lg--36">
                    <div class="g-font--16 g-font--medium text-lg-truncate">
                        {{ item.descripcionMovimiento }}
                    </div>
                    <div class="g-font--16 g-font--light">
                        {{ item.fechaMovimiento }}
                    </div>
                </div>
                <div class="d-flex g-font--13 w-px-lg--26 g-o--hidden g-pl-lg--20 g-mb--10 g-mb-lg--0 g-ie-flex--0-1-auto">
                    <div class="g-pr--5">
                        <span [ngClass]="item.icoDescription" *ngIf="item.descripcionProducto"> </span>
                    </div>
                    <div>
                        {{ item.descripcionProducto }}
                    </div>
                </div>
            </div>

            <div [ngClass]="item.isPositive ? 'h-color--green' : 'h-color--red'" class="g-font--18 g-font--normal">
                M$ {{ item.montoMovimiento }}
            </div>
        </div>
    </div>
</ng-template>