<div class="d-lg-flex align-items-center justify-content-center text-center text-lg-left p-3 py-lg-4 px-lg-0">
  <div>
    <div class="d-flex align-items-center justify-content-center">
      <span class="icon--mail icon--mail-small g-items-icon pr-xs--2"></span>
    </div>
  </div>
  <div class="g-items-text pl-xs--2 g-c--gray9">
    <div class="g-font--20 g-font-lg--24 mb-0 g-font--medium">{{ messageWithoutMailAddress }}</div>
    <div class="mb-0">{{ messageAddMailAddress }} </div>
  </div>
</div>
