<div class="text-center text-lg-left">
  <div class="mx-auto d-inline-block">
    <div class="d-flex flex-row flex-lg-column justify-content-end" *ngIf="clientInformation.tipoUsuario">
      <div class="mb-xs--0 g-font--13 pr-1 pr-lg-0 g-font--light">
        {{ textClient }}
      </div>
      <div class="mb-xs--0 g-font--13 g-font--medium text-uppercase">
        <strong> {{ clientInformation?.tipoUsuario }} </strong>
      </div>
    </div>
    <!-- Quitar d-none al activar -->
    <a *ngIf="urlBenefits" class="d-none g-c--green1 g-c--green1--link g-font--medium text-right g-hover--inherit"
       href="{{ urlBenefits }}" target="_blank" rel="nofollow"
       gaClick [gaCategory]="'Portal Del Cliente'" [gaAction]="'MFP - Conocer mis Beneficios'" [gaLabel]="'Ir a: ' + linkMyBenefits">
       {{ linkMyBenefits }}
    </a>
  </div>
</div>
