<mf-modal-alert
  [sizeClass]="sizeClass"
  [confirm]="confirm"
  [confirmButtonText]="confirmButtonText"
  (confirmResponse)="onConfirm($event)"
  (closeModal)="close()">
  <div class="row justify-content-md-center mb-xs--1">
    <div class="col col-12 col-lg-10 text-center">
      <ng-container *ngIf="!icon; else one">
        <div *ngIf="!pathIcon" class="g-message--icon mt-5" [ngClass]="{'icon--fail': !success, 'icon--success': success}"></div>
        <div *ngIf="pathIcon" class="g-message--icon mt-5"><img [src]="pathIcon" [alt]="pathIcon"></div>
      </ng-container>
      <ng-template #one>
        <div class="g-message--icon mt-5" [ngClass]="[icon]"></div>
      </ng-template>
    </div>
  </div>
  <div class="row justify-content-md-center mb-xs--1">
    <div class="col col-12 col-lg-10 text-center">
      <span class="g-message--primary g-font--medium">{{ messageDone }}</span>
      <div class="row justify-content-md-center block  g-modal--link">
        <div class="col col-12 col-lg-12">
          <div class="g-box p-xs--2 text-center ">
            <div class="g-message--secondary" [innerHTML]="messageSuccessUpdate"></div>
            <div class="g-message--secondary "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</mf-modal-alert>
