<div class="sect-container g-mx-n--15 g-o--hidden">
  <client-google-map-my-service
    [fullMap]="showSearch"
    [poligons]="poligons"
    [useFilter]="useFilterMapService"
    [endPosition]="endMarker">
  </client-google-map-my-service>

  <client-gm-ms-home-doctor-form
    [show]="showForm"
    [poligons]="poligons"
    [useFilter]="!useFilterMapService"
    (openSummary)="openSummary($event)"
    (openSearch)="openSearch()">
  </client-gm-ms-home-doctor-form>
</div>
