<div
  [formGroup]="frm"
  *ngIf="isVisibleFilterHeader"
  class="g-bg-c--white1 g-box--shadow1 mb-3 g-b-radius-lg--5 d-flex w-100">

  <div class="d-flex g-ie-flex--0-1-auto w-10 g-mh--6 g-mh-lg--7 justify-content-between">
    <div class="g-box-icons--title d-flex align-items-center px-3 g-ie-flex--0-1-auto w-100">
      <div class="g-font--bold g-font--14 g-font-lg--20">
        {{ data.subtitleListPolicies }}
      </div>
    </div>
    <div (clickOutside)="showFilter = false" class="g-filter-dropdown d-flex g-font-lg--14 align-items-center" *ngIf="!showLoading">
      <!-- Mostrar/Ocultar Filtros -->
      <div
        class="w-px--5 w-lg-auto justify-content-center d-flex align-items-center g-c--green1 pr-lg-3"
        (click)="showFilter = !showFilter;">
        <div
          class="g-items-icon mr-2 g-font--21 g-c--pointer"
          [ngClass]="isFilteredFrm ? 'icon-mapfre_216_filter_out' : 'icon-mapfre_098_filter'">
        </div>
        <div class="g-items-text g-font--medium g-c--pointer d-none d-lg-block">
          {{ btnFilter }}
        </div>
      </div>

      <!-- Filtros -->
      <div class="g-filter-dropdown--content g-p--20 g-b-radius--5 g-box--shadow1" *ngIf="showFilter">
        <div class="g-font--medium">{{ labelFilterBy }}</div>

        <div class="">
          <mf-select
            [name]="'tipoPoliza'"
            [frm]="frm"
            [type]="'insuranceType'"
            [label]="labelInsuranceType"
            formControlName="tipoPoliza">
          </mf-select>
        </div>
        <div class="">
          <mf-select
            [name]="'anio'"
            [frm]="frm"
            [type]="'anioLimitePoliza'"
            [label]="lang.Labels.HiringYear"
            formControlName="anio">
          </mf-select>
        </div>
        <div class="">
          <mf-input
            [label]="lang.Texts.PolicyNumber"
            [maxlength]="maxLengthPolice"
            [OnlyNumber]="true"
            [pattern]="numericRegExp"
            formControlName="numeroPoliza">
          </mf-input>
        </div>
        <div class="g-mt--30">
          <mf-checkbox
            [checked]="false"
            [label]="lang.Labels.NoCurrentPolicy"
            formControlName="estadoPoliza">
          </mf-checkbox>
        </div>
        <div class="g-mt--20">
          <mf-checkbox
            [checked]="false"
            [label]="lang.Labels.BeatenSoat"
            formControlName="activarSoatVencidos">
          </mf-checkbox>
        </div>

        <div class="text-center">
          <button mf-button class="g-btn--default mt-xs--3" (click)="filter()">
            {{ btnFilter }}
          </button>
        </div>
        <div class="text-center">
          <button mf-button outline class="g-btn--default mt-xs--3" (click)="resetFilter()">
            {{ lang.Buttons.RestoreFilter }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<mf-card *ngIf="!hasPaginator">
  <mf-card-header
  [header]="titleMyPolicies"
  [collapsed]="collapse"
  [disableCollapse]="disableCollapse"
  (expand)="collapse = $event"
  [icon]="disableIcon ? '' : fileIcon">
  </mf-card-header>
  <div [collapse]="collapse" [disableCollapse]="disableCollapse" (collapse-mobile)="collapse = $event">
    <!-- Contenido -->
    <mf-card-content dropdown-close>
      <!-- Loading -->
      <mf-loader *ngIf="showLoading"></mf-loader>
      <!-- Lista -->
      <mf-card-item *ngFor="let item of listPolicies | slice:0:slicePolicies">
        <ng-container
          *ngTemplateOutlet="policy;context: {$implicit: item}">
        </ng-container>
      </mf-card-item>
    </mf-card-content>
    <!-- Item-not-found -->
    <client-item-not-found
      [imageTop]="false"
      [iconMedium]="true"
      [show]="!showLoading && !listPolicies.length"
      [title]="lang.Messages.ItemNotFound">
    </client-item-not-found>
    <!-- Ver Todos -->
    <mf-card-footer *ngIf="!disableCollapse">
      <mf-link-green
        [text]="data.labelViewAll"
        [routerLink]="['/myPolicies']"
        ctrl="linkViewAll"
        (domChange)="onDomChange($event, {})">
      </mf-link-green>
    </mf-card-footer>
  </div>
</mf-card>

<mf-paginator
  (itemsPerPageChange)="itemsPerPageChange($event)"
  (pageChange)="pageChange($event)"
  [autoHide]="true"
  [isHeaderLabelsVisible]="false"
  [page]="page"
  [perPageList]="[10, 25, 50]"
  [total]="total"
  *ngIf="hasPaginator"
  marginCard="g-mx-lg--20 g-mt-lg--20"
  perPageListColor="g-c--green1">
  <mf-loader *ngIf="showLoading"></mf-loader>
  <client-item-not-found
    [icon]="iconNotFound"
    [iconMedium]="true"
    [imageTop]="false"
    [show]="!showLoading && !listPolicies.length"
    [title]="msgNotFound">
  </client-item-not-found>
  <mf-card-item
    *ngFor="
      let item of listPolicies | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total };
      let i = index">
  <ng-container *ngTemplateOutlet="policy;context: {$implicit: item}">
  </ng-container>
  </mf-card-item>
</mf-paginator>

<ng-template #policy let-item>
    <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">

      <!-- Icono de poliza -->
      <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
        <client-icon-policies [policyType]="item.policyType" [customIcon]="item.customIcon"></client-icon-policies>
      </div>

      <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
        <!-- Nombre de la poliza y beneficiario(s) -->
        <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
          <div class="g-font--medium text-lg-truncate g-text--uppercase" [title]="item.policy">
            {{ item.policy }}
          </div>

          <!-- Pólizas EPS -->
          <div *ngIf="item.isEPS">
            <div *ngIf="item.isEPSContractor">
              <div class="text-lg-truncate" [title]="item.affiliates">{{ item.affiliates }}</div>
            </div>
            <div *ngIf="!item.isEPSContractor">
              <div *ngIf="item.beneficiaries.length == 1">
                <div class="mb-0 text-lg-truncate">
                  {{ item.beneficiaries[0].nombreBeneficiario }}
                </div>
              </div>
            </div>
            <br *ngIf="item.beneficiaries?.length > 1" class="d-none d-lg-inline-block">
            <client-dropdown-items-policy
              *ngIf="item.beneficiaries?.length > 1"
              [policyNumber]="item.policyNumber"
              [policyType]="item.policyType"
              [items]="item.beneficiaries"
              [descripcionItem]="'nombreBeneficiario'">
            </client-dropdown-items-policy>
          </div>

          <!-- Pólizas SCTR -->
          <div *ngIf="item.isSCTR">
            <div *ngIf="item.isContractor">
              <div class="mb-0 text-lg-truncate">{{ item?.response?.colectivoAsegurado }}</div>
            </div>
            <div *ngIf="!item.isContractor">
              <div class="mb-0 text-lg-truncate">{{ item?.response?.colectivoAsegurado }}</div>
            </div>
          </div>

          <!-- Todas las demás pólizas -->
          <div *ngIf="!(item.isEPS || item.isSCTR)">
            <div *ngIf="item.beneficiaries.length == 1">
              <div class="mb-0 text-lg-truncate">
                {{ item.beneficiaries[0].nombreBeneficiario }}
              </div>
            </div>
            <br *ngIf="item.beneficiaries?.length > 1" class="d-none d-lg-inline-block">
            <client-dropdown-items-policy
              *ngIf="item.beneficiaries?.length > 1"
              [policyNumber]="item.policyNumber"
              [policyType]="item.policyType"
              [items]="item.beneficiaries"
              [descripcionItem]="'nombreBeneficiario'">
            </client-dropdown-items-policy>
          </div>

        </div>

        <!-- Nro de poliza, semaforo, vencimiento de poliza -->
        <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--30 g-font--13">
          <div
            class="mb-0 text-nowrap"
            [title]="(isEPS(item) ? data.labelNumberContract : data.labelNumberPolicy) + ': ' + item.policyNumber">
            {{ isEPS(item) ? data.labelNumberContract : data.labelNumberPolicy }}: {{ item.policyNumber }}
          </div>
          <div *ngIf="!item.isVIP && !item.isPPFM">
            <div *ngIf="!!item.bulletColor || !!item.endDate; else noEndDate" class="mb-0 text-nowrap align-items-center d-flex">
              <span
                *ngIf="item.isCurrent && !!item.bulletColor && !item.isVitalicia && !item.isExpiredEps"
                class="icon-mapfre_066_circle g-font--10 pr-1 {{ item.bulletColor }}"
                [ngClass]="{'d-none': fnHideCol2EPS(item.policyType) && !item.isEPSContractor}"></span>
              <span *ngIf="item.isEPSContractor">{{ item.labelEndDate }} {{ item.endDate }}</span>
              <span *ngIf="!item.isEPSContractor">
                <span *ngIf="!item.txtEndDate && item.endDate"> {{ item.labelEndDate }} </span>
                <span *ngIf="item.txtEndDate" [ngClass]="{'d-none': fnHideCol2EPS(item.policyType) && !item.isEPSContractor}"> {{ item.txtEndDate }} </span>
                <span *ngIf="!item.txtEndDate"> {{ item.endDate }} </span>
              </span>
            </div>
            <ng-template #noEndDate>
              <div class="mb-0 text-nowrap d-none d-lg-block">
                &nbsp;
              </div>
            </ng-template>
          </div>
          <span *ngIf="item.isVIP || item.isPPFM">&nbsp;</span>
        </div>

        <!-- Estado de la cobertura -->
        <div class="px-lg-3 w-px-lg--17">
          <div>
            <div class="mb-0 text-nowrap" [ngClass]="item.coverageStatus === coverageStatus.SIN_COBERTURA ? colorStatus.RED : ''">
              {{ item.isVisibleCoverage ? item.coverageStatus : '' }}
            </div>
            <div class="mb-0 text-nowrap d-none d-lg-block">
              &nbsp;
            </div>
          </div>
        </div>

      </div>

      <div class="g-bt--1 g-bt-lg--0 py-lg-0 w-100 w-px-lg--15 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1">
        <!-- Ver Detalle -->
        <a
          *ngIf="
          	!item.showIconPdf &&
          	((item.response.codRamo !== codRamoClinicaDigital && detailPolicyCldKey) || !detailPolicyCldKey)
          "
          href="javascript:void(0)"
          (click)="goToDetail(item.policyNumber, item.policyType, item)"
          class="g-c--green1 g-font--medium g-c--pointer g-link--green1 py-3"
          [ngClass]="{'d-none': item.hiddenViewDetail}"
          ctrl="linkViewDetail"
          (domChange)="onDomChange($event, {label: data.labelViewDetail, policy: item.policy, policyNumber: item.policyNumber, coverageStatus: item.coverageStatus})">
          {{ data.labelViewDetail }}
        </a>

        <!-- Descargar Poliza -->
        <div *ngIf="item.showIconPdf">
          <div class="mb-0 text-lg-center g-c--green1 g-py--15 g-py-lg--0" (click)="seePolicePdf(item.policyNumber)" >
            <span [spinnerPdf]="showSpinnerPolicy && item.policyNumber === policySelected"
              class="icon-mapfre_093_pdf g-font--25 g-font-md--21 g-c--pointer"></span>
          </div>
        </div>

        <!-- Boton de Renovar -->
        <client-payment-button
          *ngIf="item?.isSoat && item?.estado === expiredStatusSoat"
          [comesSoat]="true"
          [item]="item"
          [renewDays]="renewDays"
          routerLink="/vehicles/soat/renew"
          ctrl="buttonRenewSoat"
          (domChange)="onDomChange($event, {label: lang.Buttons.ReNew , policy: item.policy, policyNumber: item.policyNumber, coverageStatus: item.coverageStatus, policyType: item.policyType})">
        </client-payment-button>
      </div>

    </div>
</ng-template>
