<div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--gray11">
  <mf-stepper stepper [stepList]="stepList" [currentStep]="3"></mf-stepper>

  <div class="d-flex flex-column flex-lg-row align-items-start flex-nowrap g-max-w-lg--990 mx-lg-auto g-mx--10 g-mb-lg--40 g-mt--40">
    <client-payment-method></client-payment-method>
    <div class="w-px-lg--36 w-10 order-1 order-lg-2">
    </div>
  </div>
</div>
