<div class="g-fixed g-bg-c--gray5" >
  <div class="g-ui--sckity">
    <div class="g-ui--view g-bg-c--gray5">
      {{#header}}
          {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-form-thanks  g-my--25 ">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-9">

              <div class="g-bg-c--white1 g-p--20 g-p-lg--25  g-box--shadow1 g-b-radius--5">

                {{#confirm}}
                  {{>templates-phone}}
                {{/confirm}}

              </div>

            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

  {{#footer}}
      {{>molecules-footer}}
  {{/footer}}

</div>