<div class="{{addClass}}">

  {{#header}}
    <div class="{{contentHeaderClass}}">
      {{#content}}
        <div class="{{contentClass}}">
          {{{text}}}
          {{#iconRight}}
            <span class="{{iconFile}} {{iconClass}}"></span>
          {{/iconRight}}
        </div>
      {{/content}}

    </div>
  {{/header}}

  {{#conteiner}}
    <div class="{{conteinerClass}}">

      {{#contentLeft}}
        <div class="{{contentClass}}">

          {{#img}}
            <img src="{{src}}" alt="{{alt}}" class="{{srcClass}}">
          {{/img}}

          {{#text}}
            <div class="{{textClass}}">
              {{{text}}}
            </div>
          {{/text}}

        </div>
      {{/contentLeft}}

    </div>
  {{/conteiner}}

</div>