<div class="align-self-center col-12  g-ie-flex--0-1-auto">
  <div class=" text-center g-mb--20">
    <img class="mt-5" [src]="failIcon">
  </div>
  <div class=" justify-content-md-center  g-mb--10 w-10">
    <div class="">
      <div class="g-message--primary text-center g-font--medium g-font--16">
        {{ lang.Texts.ExpiredSession.title }}
      </div>
      <div class="w-10 w-px-xl--46 g-max-w-md--46 mx-auto g-mt--15 g-mb-md--50">
        <div class="text-center g-font--light"> {{ message }}</div>
        <div class="text-center g-font--light" *ngIf="!tryAgain"> {{ lang.Messages.UpdatePassword }}</div>
      </div>
    </div>
  </div>
  <div class="row text-center g-mb-lg--90 g-mb--30 g-mt--30 g-mt-lg--0">
    <button mf-button class="g-btn--default" (click)="goToUpdate()">
      {{ buttonUpdate }}
    </button>
  </div>
  <div class="g-bt--1 g-bc--gray11 w-10 g-pt--20 g-pt-md--30 g-pb-lg--25 g-ie-flex--0-1-auto">
    <div class="text-center {{ mapfreIcon }} g-c--red1 g-font--35 g-line--10">
    </div>
    <div class="text-center g-font--10 g-pb--5 g-c--gray18 ">
      {{ lang.Titles.MAPFRE }}
    </div>
    <div class="text-center g-font--10 g-c--gray18 ">
      {{ helpContact }}
    </div>
  </div>
</div>
