<div class="g-filterbox">
  <div class="g-filterbox--desktop g-filterbox--show g-bg-c--white1 h-100 g-box--shadow1 {{addClass}}">
    <div class="g-map-filter--column g-map-filter-md--fixed h-100 g-bg-c--white1 d-flex flex-column">

      {{#headerFixed}}
        <div class=" w-100 g-box--shadow1 d-block d-lg-none {{contentClass}}">
            <div class="row align-items-center g-title--header h-100">
              {{#icoBack}}
                <div class="col-auto g-br--1 g-c--pointer">
                  <span class="{{icon}} {{addClass}}"></span>
                </div>
              {{/icoBack}}
              <div class="col-auto g-p--0 g-ml--10">
                <span class="g-text--uppercase {{llamadaClass}}">
                  {{llamada}}
                </span>
                <h1 class="g-text--uppercase g-font--18  g-mb--0 ">
                  {{bajada}}
                </h1>
              </div>
            </div>
          </div>
      {{/headerFixed}}

      <div class="{{contentClass}}">

        {{#icon}}
          <div class="{{iconFile}} {{iconClass}}"></div>
        {{/icon}}

        {{#image}}
          <div class=" {{imageClass}}">
            <img src="{{imageFile}}" alt="">
          </div>
        {{/image}}

        {{#iconText}}
          <div class="{{addClass}}">
            {{#icon}}
              <div class="{{iconFile}} {{iconClass}}"></div>
            {{/icon}}
            <div class="{{textClass}}">{{{text}}}</div>
          </div>
        {{/iconText}}


      </div>

      {{#footerBtns}}
        <div class="{{footerClass}}">
          {{#btns}}
            <div class="{{addClass}}">
              {{#icon}}
                <div class="{{iconFile}} {{iconClass}}"></div>
              {{/icon}}
              <div class="{{textClass}}">{{{text}}}</div>
            </div>
          {{/btns}}

        </div>
      {{/footerBtns}}

    </div>
  </div>
</div>