<div>

  <!-- Boton -->
  <div
    *ngIf="buttonPosition === Y_AXIS.TOP && !readonly"
    class="g-btn-upload g-c--pointer g-font--medium g-mb--10"
    [ngClass]="{ 'disabled': disabled || disabledOutside }"
    (click)="open()">
    <span [ngClass]="uploadIcon" class="g-font--14 g-pr--5"></span> {{ uploadText || generalLang.AttachFile }}
  </div>

  <div *ngIf="useWarmingError && showError" class="g-mb--20">
    <mf-custom-alert [status]="status" [text]="messageAlert"></mf-custom-alert>
  </div>

  <div
    [ngClass]="{ 'g-pb--20': buttonPosition !== Y_AXIS.TOP, 'g-mt--10': buttonPosition === Y_AXIS.TOP}"
    class="d-flex flex-md-row flex-column flex-wrap"
    *ngIf="listFile && listFile.length">
    <div
      *ngFor="let item of listFile; let i = index"
      class="d-flex w-10 g-bt--1 g-bb--1 g-bc--gray21 g-py--10 g-px--15 g-mt-minus--1 g-mh--8 g-ie-flex--0-1-auto"
      [ngClass]="{'align-items-center': !withDescription, 'w-md-50': maxFiles > 1 }">

      <span [ngClass]="paperIcon" class="g-font--19 g-pl-10"></span>

      <div class="g-pl--10 w-10 text-truncate g-pr--5">
        <div *ngIf="withDescription" class="g-font--medium g-font--13 text-truncate">
          {{ item.text1 }}
        </div>
        <div *ngIf="withDescription" class="g-font--light g-c--gray18 text-truncate" [title]="item.text2">
          {{ item.text2 }}
        </div>
        <div class="g-font--light g-c--gray2 d-flex">
          <div class="w-10 text-truncate" [title]="item.file.name">{{ item.file.name }}</div>
          <div class="g-pl--10"> ({{ item.file.size | fileSize }})</div>
        </div>
        <div class="g-loader" *ngIf="item.load"></div>
      </div>

      <div class="ml-auto g-pt--3 g-pl--5" *ngIf="!readonly" (click)="remove(item.tmpKey, i)">
        <span [ngClass]="closeIcon" class="g-c--pointer g-line--10 g-font--19"></span>
      </div>

    </div>
  </div>

  <!-- Boton -->
  <div
    *ngIf="buttonPosition === Y_AXIS.BOTTOM && !readonly"
    class="g-btn-upload g-c--pointer g-font--medium"
    [ngClass]="{ 'disabled': disabled }"
    (click)="open()">
    <span [ngClass]="uploadIcon" class="g-font--14 g-pr--5"></span> {{ uploadText || generalLang.AttachFile }}
  </div>

</div>

<mf-modal-message
  [confirmButtonText]="generalLang.Confirm"
  [success]="false"
  [messageDone]="titleAlert"
  [messageSuccessUpdate]="messageAlert">
</mf-modal-message>

<input type="file" class="d-none" id="file"/>
