<div class="view-vehicles pt-xs--2">
  <div class="row">
    <div class="col mb-xs--2">
      <client-card-my-policies-by-type [policyType]="policyType" [ga]="ga"></client-card-my-policies-by-type>
    </div>
  </div>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <div class="row">
    <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
      <client-card-what-you-want-to-do [policyType]="policyType"></client-card-what-you-want-to-do>
    </div>
  </div>
</div>
