<!-- Título -->
<client-page-title [title]="titleVehiclesAccidents" [message]="messageVehiclesAccidents"></client-page-title>

<!-- Mensaje Ayuda -->
<client-notification-help [message]="textVehiclesAccidentsHelp"></client-notification-help>

<!-- Notificación de talleres preferentes -->
<client-notification-workshops [ga]="ga"></client-notification-workshops>

<!-- Banner App Download -->
<div class="row">
  <div class="col mb-xs--2">
    <client-banner-app-download [ga]="ga"></client-banner-app-download>
  </div>
</div>

<!-- Landing -->
<client-landing [landingContent]="landingContent" [ga]="ga"></client-landing>
