<div class="d-inline-block">
  <div class="g-items-list d-flex align-items-center g-c--green1 g-c--pointer">
    <div *ngIf="icon" class="pr-1" [ngClass]="icon"></div>
    <div
      class="g-c--green1 g-text-uppercase g-font--medium"
      [ngClass]="{ 'text-center w-10': center }"
      [routerLink]="routerLink"
      ctrl="linkGreen"
      (domChange)="onDomChange($event, { lbl: text })"
    >
      {{ text }}
    </div>
  </div>
</div>
