<!-- Mensaje Ayuda -->
<div class="mb-xs--2 g-bg-c--white1 g-b-radius--5">
  <mf-card>
    <mf-card-content>
      <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 w-100">
        <div class="w-7 w-lg-10 p-3 p-lg-0 d-flex align-items-lg-center g-o--hidden flex-column flex-lg-row flex-fill">
          <div class="d-flex justify-content-between align-items-center w-100 pl-lg--2">
            <div class="w-100" [innerHTML]="message">
            </div>
          </div>
        </div>
        <div class="g-pb--15 g-pr-lg--20 py-lg-0 w-100 d-flex align-items-center justify-content-center justify-content-lg-end flex-grow-1 w-px-lg--22">
          <div class="d-flex align-items-center justify-content-center flex-lg-column flex-row-reverse flex-lg-column-reverse" *ngIf="phoneNumber">
            <!-- Desktop -->
            <div class="d-none d-md-block d-md-flex align-items-center justify-content-center m-1" [ngClass]="{'g-btn g-c--pointer btn-wts' : styleWhatsapp}"
              (click)="redirectToWhatsapp()"
            >
              <span class="icon-mapfre_045_call g-font--21 mr-2"></span>
              <span class="g-font--medium g-font--14" [ngClass]="{'g-c--gray18' : !styleWhatsapp}">
                {{ styleWhatsapp ? phoneNumberWhatsapp : phoneNumber}}
              </span>
            </div>
            <!-- Responsive -->
            <a class="g-btn d-flex align-items-center m-1" [ngClass]="{'d-md-none ': !styleWhatsapp}" (click)="callPhone()">
              <span class="icon-mapfre_045_call g-font--21 mr-2 g-c--white1"></span>
              <span class="g-c--white1 g-font--medium g-font--12">
                {{ phoneNumber }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </mf-card-content>
  </mf-card>
</div>
