<div class="sect-container g-mx-n--15" [ngClass]="{ 'g-pr-lg--375' : !showSearch }">
  <client-google-map-my-service
    [fullMap]="showSearch"
    [poligons]="poligons">
  </client-google-map-my-service>

  <client-gm-ms-substitute-driver-summary
    #summary
    [show]="showSummary"
    (exit)="backToForm()">
  </client-gm-ms-substitute-driver-summary>

  <client-gm-ms-substitute-driver-form
    [show]="showForm"
    (openSummary)="openSummary($event)"
    (openSearch)="openSearch()">
  </client-gm-ms-substitute-driver-form>

  <client-gm-ms-search
    *ngIf="showSearch"
    [poligons]="poligons"
    (exit)="backToForm()">
  </client-gm-ms-search>
</div>
