<!-- Talleres -->
<div class="g-my--20" *ngIf="showNotification">
  <client-notification-workshops></client-notification-workshops>
</div>

<!-- Carousel -->
<client-banner-carousel></client-banner-carousel>

<!-- Loading  -->
<mf-loader *ngIf="showLoading"></mf-loader>

<!-- Lista -->
<client-view-item-list
  (viewDetail)="viewDetail($event)"
  [configUI]="configUI"
  [itemsHistory]="itemsHistory"
  [itemsProcess]="itemsProcess"
  [numberLabel]="lang.AssistanceNumber"
  [textNotFound]="lang.NoRegisterAssists"
  [textNotFoundHistory]="lang.NoRegisterHistory"
  [textNotFoundProcess]="lang.NoRegister"
  [yearsRange]="yearsRange"
  *ngIf="!showLoading"
>
</client-view-item-list>
