<div *ngIf="!showLoading" class="g-b-radius--5 g-bg-c--white1 g-mb--20 g-p--20 g-box--shadow1">
  <h3 class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase">
    {{ lang.BillingTitle }}
  </h3>
  <p>{{ lang.BillingDescription }}</p>

  <div [formGroup]="frm" class="d-flex flex-wrap g-ie-flex--0-1-auto g-my--20">

    <label class="g-radio d-flex align-items-center m-0">
      <div class="d-flex align-items-center g-ml-lg--15 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
        <input formControlName="billed" [value]="true" type="radio" />
        <span class="radio"></span>
        {{ lang.Billed }}
      </div>
    </label>

    <label class="g-radio d-flex align-items-center m-0" [title]="tooltip" [ngClass]="{'g-c--gray18': !this.canSelectNonBilling}">
      <div class="d-flex align-items-center g-ml-lg--35 g-mb--15 g-mb-lg--0 w-50 w-lg-auto g-ie-flex--0-1-auto">
        <input formControlName="billed" [value]="false" type="radio" #nonBilled />
        <span class="radio"></span>
        {{ lang.NonBilled }}
      </div>
    </label>

  </div>

</div>
<mf-loader *ngIf="showLoading"></mf-loader>
