<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <mf-stepper [stepList]="stepList"></mf-stepper>

  <client-form-base
    (actionCancel)="actionCancel()"
    (actionConfirm)="actionConfirm()"
    [btnConfirm]="graLng?.Buttons?.Next"
    [disableConfirm]="!frm?.valid"
    [iconClass]="fileIcon"
    [showLoading]="showLoading"
  >
    <div class="g-px--40 g-pt--40 g-pb--30">
      <!-- Titulo -->
      <div class="d-md-flex justify-content-between text-center">
        <div class="g-w-lg--50">
          <div  class="g-font--20 g-font--medium g-px--10 g-px--0 g-mb--5 g-mb-md--0  pb-3">
            {{ lang.Titles.DataMedicalAppointmentStepOne }}
          </div>
        </div>
      </div>
      <!-- Datos -->
        <form [formGroup]="frm">
          <!-- BOX CITA VIRTUAL -->
          <mf-card>
            <mf-card-content>
            
              <div class="d-flex align-items-initial w-lg-auto g-ie-flex--0-1-auto g-mt--10 g-pb--5">
                <label class="g-radio d-flex align-items-center m-0">
                <input [disabled]="disableConfirmInput" 
                type="radio"
                name="selectedPolicy"
                [value]="typeAppoiment.VIRTUAL"
                formControlName="selectedPolicy"/>
                <span class="radio"></span>
                <div class="order-md-1 g-ml--10 g-ml-md--0 w-100">
                  <div class="g-font--medium g-font--16">{{ lang.Texts.VirtualMeeting }}</div>
                </div>
              </label>
              </div>
                <div class="d-flex flex-wrap w-100 g-pl--40">
                  <div class="g-w-100 g-pr--15 g-pb--5">
                    <div class="g-font--light g-font--13">
                      {{ lang.Texts.VirtualMeetingDescription }}
                    </div>
                  </div>
                </div>
            </mf-card-content>
          </mf-card>
          <div style="height: 15px; width: 100%;">

          </div>
          <!-- BOX CITA PRESENCIAL -->
          <mf-card>
            <mf-card-content>
              <div class="d-flex align-items-initial w-lg-auto g-ie-flex--0-1-auto g-mt--10 g-pb--5 ">
                <label class="g-radio d-flex align-items-center m-0">
                <input
                 type="radio"
                 name="selectedPolicy"
                 [value]="typeAppoiment.PRESENCIAL" 
                 formControlName="selectedPolicy"/>
                <span class="radio"></span>
                <div class="order-md-1 g-ml--10 g-ml-md--0 w-100">
                  <div class="g-font--medium g-font--16">{{ lang.Texts.Appointment }}</div>
                </div>
              </label>
              </div>
                <div class="d-flex flex-wrap w-100 g-pl--40">
                  <div class="g-w-100 g-pr-lg--15 g-pb--5">
                    <div class="g-font--light g-font--13">
                      {{ lang.Texts.AppointmentDescription }}
                    </div>
                  </div>
                </div>
            </mf-card-content>
          </mf-card>
        </form>
    </div>
  </client-form-base>
</div>
<mf-modal-message
  (confirmResponse)="onConfirmModal($event)"
  [confirm]="true"
  [messageDone]="graLng.Messages.EstimatedUser"
  [messageSuccessUpdate]="graLng.Messages.DeleteData"
  [pathIcon]="iconError"
  [sizeClass]="'g-modal--medium'"
>
</mf-modal-message>