<div class="d-flex align-items-start align-items-md-center justify-content-between g-box--shadow5 g-b-radius--5 g-bg-c--info1 g-b--1 g-p--1 mb-3">

  <div class="d-flex align-items-center align-self-center mr-auto" [ngClass]="policyNotification.title ? 'py-3' : 'py-2'">
    <!-- Icono -->
    <span class="g-font--30 g-c--orange1 pr-1 alert-box" [ngClass]="policyNotification?.icon?.iconName"></span>
    <div class="flex-wrap g-ie-flex--1">
      <!-- Titulo -->
      <div *ngIf="policyNotification.title" class="g-font--16 g-line--10 g-font--medium g-c--orange1">
        {{ policyNotification.title }}
      </div>
      <!-- Subtitulo -->
      <div *ngIf="policyNotification.subtitle" class="g-font--14 pr-1 g-c--orange1" [ngClass]="policyNotification.title ? 'g-font--normal' : 'g-font--medium'">
        {{ policyNotification.subtitle }}
      </div>
    </div>
  </div>

  <!-- Accion -->
  <div *ngIf="policyNotification.action" class="g-bl--1 g-bc--orange1 pl-xs--1 pr-xs--1 pl-md-5 pr-md-5 text-center text-md-left" [ngClass]="policyNotification.title ? 'py-4' : 'py-3'">
    <span class="g-font--14 g-c--orange1 g-font--medium g-c--pointer">{{ policyNotification.action.actionLabel }}</span>
  </div>

</div>