<div class="g-box-lg--shadow1 g-bg-c-lg--white1 d-flex w-100 g-b-radius--5 mb-xs--2 flex-wrap flex-lg-nowrap">
  <!-- Navegación -->
  <div class="g-bg-c-lg--gray5 px-3 px-lg-4 w-100 w-lg-auto">
    <!-- Titulo -->
    <div
      [innerHTML]="landingContent.title"
      class="g-font-lg--24 g-font--18 g-c--gray3 pt-xs--2 pt-lg--3 g-font--medium g-line--13 mb-lg--2"
    >
    </div>
    <!-- Tabs Web -->
    <div class="d-none d-lg-block">
      <div class="g-tablist-vertical" role="tablist">
        <ul class="g-inner">
          <li ctrl="liTabVertical" (domChange)="onDomChange($event, { label: section.text })"
            (click)="scrollTo(section.value)"
            [ngClass]="{ 'active': currentSection === ('section' + section.value) }"
            *ngFor="let section of sections; let i = index"
            class="g-tablist-vertical__tab g-font--medium false"
          >
            <a>{{ section.text }}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Select Mobile -->
    <div class="d-block d-lg-none">
      <div class="g-form-focus">
        <mf-select ctrl="liTabVertical" (domChange)="onDomChange($event)"
          [label]="labelSelect" [options]="sections" [value]="1" (change)="selectChanged($event)"></mf-select>
      </div>
    </div>
  </div>

  <!-- Contenido -->
  <div class="w-100 p-lg--3">
    <!-- Vista Web -->
    <div class="g-mh-lg--60 d-none d-lg-block" #simplebar data-simplebar>
      <section
        *ngFor="let section of landingContent.sections; let i = index"
        id="section{{i+1}}"
      >
        <div class="g-font--16 g-font--bold pt-2 px-3 w-100">{{ i+1 }}. {{ section.nameSectionBody || section.nameSection }} </div>
        <div class="d-flex cards flex-wrap">
          <div
            [ngClass]="{'cards--box': section.linkedItems}"
            *ngFor="let item of section.items; let i = index"
            class="cards--width g-ie-flex--0-1-auto d-flex justify-content-center p-xs--1 pt-lg--3 pb-lg--3 g-pl-lg--15 g-pr-lg--15"
          >
            <div class="g-box--shadow1 g-p--20 g-max-w-lg--24 w-10 cards--item" [ngClass]="{'text-center g-py--35': item.icon}">
              <span *ngIf="item.icon" class="g-font--45 g-c--gray10 {{ item.icon }}"></span>
              <div *ngIf="!item.icon" class="g-font--medium g-font--30 g-c--green1">
                {{ item.bullet ? item.bullet : (i+1).toString() + '.' }}
              </div>
              <div class="g-font--medium g-font--14 pb-xs--2 g-text--uppercase">{{ item.titleItem }}</div>
              <div class="g-font--light g-font--14 g-line--13" [innerHTML]="item.textItem"></div>
            </div>
          </div>
        </div>
        <!-- Para casos con pocos items por opción y queden las dos últimas secciones a la vista -->
        <div class="g-pb-lg--40" *ngIf="i === landingContent.sections.length - 1"></div>
      </section>
      <client-travel-emergency-phones *ngIf="hasCountriesPhones"></client-travel-emergency-phones>
    </div>
    <!-- Vista Mobile -->
    <div class="d-block d-lg-none py-3 position-relative g-index--1">
      <section id="section{{numberSection}}">
        <div class="g-font--16 text-center g-font--bold px-3 w-100">
          {{ numberSection }}. {{ showSection.nameSectionBody || showSection.nameSection }}
        </div>
        <div class="d-flex cards flex-wrap mb-lg--5">
          <div
            *ngFor="let item of showSection.items; let i = index"
            class="cards--box d-flex w-100 justify-content-center p-xs--1 pt-lg--3 pb-lg--3 g-pl-lg--15 g-pr-lg--15"
          >
            <div class="g-box--shadow1 g-p--20 g-max-w-lg--24 w-10 cards--item" [ngClass]="{'text-center': item.icon}">
              <span *ngIf="item.icon" class="g-font--45 g-c--gray10 {{ item.icon }}"></span>
              <div *ngIf="!item.icon" class="g-font--medium g-font--30 g-c--green1">
                {{ item.bullet ? item.bullet : (i+1).toString() + '.' }}
              </div>
              <div class="g-font--medium g-font--14 pb-xs--2 g-text--uppercase">{{ item.titleItem }}</div>
              <div class="g-font--light g-font--14 g-line--13" [innerHTML]="item.textItem "></div>
            </div>
          </div>
        </div>
      </section>
      <client-travel-emergency-phones *ngIf="hasCountriesPhones"></client-travel-emergency-phones>
    </div>
  </div>
</div>
