<div class="g-ui--sckity d-flex align-items-center">
  <section class="g-view-login text-center">
    <div class="container login-content">
      <div class="row login-content--top text-left">
        <!-- Mensaje lateral -->
        <client-app-login-welcome></client-app-login-welcome>
        <!-- Card formularios y acciones -->
        <client-app-login-form></client-app-login-form>
      </div>
    </div>
  </section>
</div>
