<div class="g-dropdown-ico">
  <a href="#" class="g-icon--circle link-hover">
    <span [ngClass]="icon"></span>
    <span class="notification">{{ number }}</span>
  </a>
  <div class="dropdown-content">
    <h5 class="p-xs--1 bb-xs">{{ title }}</h5>
    <div class="cont">
      <a href="item.url" class="link" *ngFor="let item of list; trackBy: trackByFn">
        <span class="icon-mapfre_014_perfil ico g-font--30"></span>
        <ul class="datos">
            <li class="fech">{{ item.fecha }}</li>
            <li class="tipo"><strong>{{ item.tipo }}</strong></li>
            <li class="desc">{{ item.descripcion }}</li>
        </ul>
        <span class="icon-mapfre_033_angle2-right g-c--red3 ico-arrow"></span>
      </a>
    </div>
  </div>
</div>
