<!-- SCTR Period Info -->
<mf-loader *ngIf="!periodInfoCard"></mf-loader>
<client-card-sctr-period-info *ngIf="periodInfoCard" [periodInfo]="periodInfoCard"></client-card-sctr-period-info>

<!-- Declaración o Inclusión -->
<div [ngClass]="{'d-none': showSummary }">
  <!-- Riesgos -->
  <client-card-sctr-period-risks [isDeclaration]="isDeclaration" [policyNumber]="policyNumber"></client-card-sctr-period-risks>
  
  <!-- Upload XLS template -->
  <client-card-sctr-period-upload
    [isDeclaration]="isDeclaration"
    [period]="period"
    (movementNumber)="movement = $event"
    (canContinue)="canContinue = $event">
  </client-card-sctr-period-upload>

  <div class="row justify-content-md-center">
    <div class="col-md-4 col-lg-3 g-pt--20 g-pb--20">
      <button mf-button
        class="w-lg-10 mx-auto g-btn g-text--uppercase g-btn-primary size-md block"
        [disabled]="!canContinue"
        (click)="doSummary()">
        {{ lang.Continue }}
      </button>
    </div>
  </div>
</div>

<!-- Summary -->
<client-card-sctr-period-summary
  *ngIf="showSummary"
  [isDeclaration]="isDeclaration"
  [movement]="movement"
  (showSummary)="showSummary = $event">
</client-card-sctr-period-summary>
