<agm-map
  class="w-100 h-10 p-0 g-maps"
  [latitude]="options?.latitude"
  [longitude]="options?.longitude"
  [zoom]="options?.zoom"
  [minZoom]="options?.minZoom"
  [disableDefaultUI]="options?.disableDefaultUI"
  [zoomControl]="options?.zoomControl"
  [scrollwheel]="options?.scrollwheel"
  [gestureHandling]="options?.gestureHandling"
  [streetViewControl]="options?.streetViewControl"
  [styles]="options?.styles"
  [clickableIcons]="options?.clickableIcons"
>
  <agm-marker-cluster [styles]="clusterStyles" [averageCenter]="true" [maxZoom]="15">
    <agm-marker
      *ngFor="let marker of markers; let ind = index; trackBy: trackByIndex"
      (markerClick)="fnClickMarker(marker, ind)"
      [latitude]="marker.latitude"
      [longitude]="marker.longitude"
      [iconUrl]="marker.pinUrl"
    >
      <agm-info-window [isOpen]="marker.openInfoWindow" (infoWindowClose)="closeInfoWindowEvent(marker)">
        <div class="d-flex">
          <!-- Imagen landscape -->
          <div *ngIf="marker?.imageUrl" class="w-px--14 h-info-modal d-none d-lg-block">
            <mf-loader *ngIf="marker?.imageUrl"></mf-loader>
            <div
              class="img"
              [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + marker?.imageUrl + ')' }"
            ></div>
          </div>
          <div class="g-pl--15 g-pr--15 g-pt--15 g-pb--5 w-px-lg--30 g-o--hidden">
            <div class="d-flex justify-content-between g-mb--15">
              <!-- Titulo deducibles, descripción -->
              <div class="g-o--hidden w-10">
                <div
                  class="g-font--14 g-font--medium text-lg-truncate position-relative g-pos--3"
                  [title]="marker?.title"
                >
                  {{ marker?.title }}
                </div>
                <div class="g-font--13 d-lg-none g-pt--5" *ngIf="marker?.payload">
                  {{ getDeductibles(marker?.payload) }}
                </div>
                <div class="g-font--13" *ngIf="marker?.description">
                  {{ marker?.description }}
                </div>
              </div>
              <!-- Boton favorito -->
              <div
                *ngIf="marker.showFavoriteButton"
                class="d-flex g-mr--40 g-mt-lg--3 g-ie-flex--0-1-auto w-px--3 justify-content-end"
              >
                <span
                  (click)="favoriteFn(marker)"
                  class="g-c--red1 g-font--16 g-c--pointer"
                  [ngClass]="marker?.isFavorite ? heartIcon : heartOutIcon"
                >
                </span>
              </div>
              <div
                *ngIf="!marker.showFavoriteButton"
                class="d-flex g-mr--40 g-mt-lg--3 g-ie-flex--0-1-auto w-px--3 justify-content-end"
              ></div>
            </div>

            <!-- Dirección -->
            <div class="d-flex g-mb--10">
              <div class="icon-mapfre_015_location-pin g-font--16"></div>
              <div class="g-font--13 ml-1 text-lg-truncate" [title]="marker?.address">
                {{ marker?.address }}
              </div>
            </div>

            <!-- Teléfono -->
            <div class="d-flex g-mb--10">
              <div class="icon-mapfre_128_telephone g-font--16"></div>
              <div class="g-font--13 ml-1 text-lg-truncate" [title]="marker?.phone">
                {{ marker?.phone || noInfo }}
              </div>
            </div>

            <!-- Horario de atención -->
            <div class="d-flex g-mb--10">
              <div class="icon-mapfre_062_reloj g-font--16"></div>
              <div class="g-font--13 ml-1 text-lg-truncate" [title]="marker?.timetable">
                {{ marker?.timetable || noInfo }}
              </div>
            </div>

            <!-- infowindow: footer buttons -->
            <div class="g-mt--25 d-flex">
              <div class="d-flex w-100" *ngIf="configView?.canViewFooterButtons">
                <div
                  *ngIf="marker.canScheduleAppointment"
                  (click)="appointment(marker)"
                  class="w-10 g-font--14 g-c--green1 g-link--green1 g-font--medium g-mb--10"
                >
                  {{ btnTexts?.goToAppointment }}
                </div>
                <div
                  *ngIf="!activateSearchClinicKey || (policy?.codRamo !== codRamoClinicDigital && activateSearchClinicKey)"
                  (click)="viewDetailEvent(marker)"
                  class="w-10 g-font--14 g-c--green1 g-link--green1 g-font--medium g-mb--10 text-right"
                >
                  {{ viewDetailText }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-marker-cluster>

  <agm-marker
    *ngIf="userMarker.latitude"
    [latitude]="userMarker.latitude"
    [longitude]="userMarker.longitude"
    [iconUrl]="userMarker.pinUrl"
  >
  </agm-marker>
</agm-map>

<!-- Boton de geolocalización -->
<div *ngIf="hasPermisionGPS" (click)="goToMyPosition()" class="g-map-filter--button" [ngClass]="geolocationButtonClass">
  <span [class]="geolocationIcon"></span>
</div>

<!-- Indicador de Filtros -->
<div *ngIf="filterNotification" class="g-map-notifier--modal-open">
  <client-gm-filter-notifier></client-gm-filter-notifier>
</div>
