<div class="fixed--box g-bg-c--white1" style="display: none;">
  <div class="container">
    <div class="fixed--box--wrapper">
      <nav>
        <ul class="g-list g-list--horz">
          <li>
            <a id="home" href="javascript:;" (click)="h.routerToNavigate('#landing-home','#home')">
              <span class="g-list--text">{{ lang.Home }}</span>
            </a>
          </li>
          <li>
            <a id="activity" href="javascript:;" (click)="h.routerToNavigate('#landing-activity','#activity')">
              <span class="g-list--text">{{ lang.HowToDo }}</span>
            </a>
          </li>
        </ul>
      </nav>
      <a
        href="javascript:;"
        mf-button
        special
        class="pl-lg-5 pr-lg-5 mxmodal"
        (click)="h.routerToNavigate('#landing-home', '#home')">{{ lang.RequestHere }}</a>
    </div>
  </div>
</div>
