<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">

  <div class="d-flex justify-content-center mx-auto g-pt-lg--40 g-pt--20 g-pb-lg--40 g-pb--20 g-px--20 g-px-lg--0">

    <div class="g-circle-steps" [ngClass]="{'active': steps.step1 || index === 1,'active--last': index === 1}">
      <div class="g-circle-steps--items d-flex justify-content-center align-items-center mx-auto">
        <div class="g-font--normal g-font-lg--medium g-font--12 g-font-lg--14 g-c--white1">
          {{ step1NumberLang }}
        </div>
      </div>
      <div class="g-circle-steps--text text-center">
        <div class="g-font--13 g-font-lg--14 g-pt--5 g-font--light g-line--10">
          {{ step1TextLang }}
        </div>
      </div>
    </div>

    <div class="g-circle-steps" [ngClass]="{'active': steps.step2 || index === 2,'active--last': index === 2}">
      <div class="g-circle-steps--items d-flex justify-content-center align-items-center mx-auto">
        <div class="g-font--normal g-font-lg--medium g-font--12 g-font-lg--14 g-c--white1">
          {{ step2NumberLang }}
        </div>
      </div>
      <div class="g-circle-steps--text text-center">
        <div class="g-font--13 g-font-lg--14 g-pt--5 g-font--light g-line--10">
          {{ step2TextLang }}
        </div>
      </div>
    </div>

    <div class="g-circle-steps" [ngClass]="{'active': steps.step3 || index === 3,'active--last': index === 3}">
      <div class="g-circle-steps--items d-flex justify-content-center align-items-center mx-auto">
        <div class="g-font--normal g-font-lg--medium g-font--12 g-font-lg--14 g-c--white1">
          {{ step3NumberLang }}
        </div>
      </div>
      <div class="g-circle-steps--text text-center">
        <div class="g-font--13 g-font-lg--14 g-pt--5 g-font--light g-line--10">
          {{ step3TextLang }}
        </div>
      </div>
    </div>
  </div>


  <div class="g-max-w-md--760 mx-auto g-mb-lg--50 ">
    <div class="d-flex">

      <div class="ml-auto d-none d-lg-block">
        <div class="tag--icon justify-content-center align-items-center d-flex g-bg-c--gray2 g-c--white1 g-mt--45 g-pl--15">
          <span class="icon-mapfre_042_home g-font--42"></span>
        </div>
      </div>

      <div class="g-bg-c--white1 g-box-lg--shadow1 g-b-radius-md--5 w-100 g-max-w-md--60 g-max-w-lg--69 mr-auto">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>

</div>
