<div class="g-container-block">
  <div class="d-flex align-items-center flex-column flex-lg-row">
    <div class="mx-auto ml-lg-0 mb-3 mb-lg-0 mr-0 mr-lg-auto mt-3 mt-lg-0">
      <div class="g-font--medium g-font--16">{{ title }}</div>
    </div>
    <!-- Buscar-->
    <client-input-search *ngIf="!showLoading" (search)="filter($event)" (cancel)="filter()" [placeholder]="labelFindYourVehicle"></client-input-search>
  </div>
   <!-- Loading -->
   <mf-loader *ngIf="showLoading"></mf-loader>
   <!-- Lista -->
  <div class="col-12 d-flex g-px--0 g-px-lg--0 mt-xs--2" *ngIf="((itemsList || []).length)">
    <div class="g-services--item g-bg-c--white1 g-c--gray8 g-b--1 d-block d-lg-flex flex-column g-b-radius--3 g-box--shadow1 w-10 mb-3 mb-lg-4">
      <div class="g-services--content g-p--10 g-p-lg--20">
        <ng-container *ngFor="let item of itemsList">
          <client-card-policy-deductible [item]="item"></client-card-policy-deductible>
        </ng-container>
      </div>
      <div class="g-services--footer g-font--medium g-bt--1 p-3 mt-auto g-c--green1 text-center g-c--pointer" (click)="showAll()"
        *ngIf="!isHideButtonShowAll()">
        {{ labelViewAll }}
      </div>
    </div>
  </div>

  <!-- Sin datos -->
  <div *ngIf="!((itemsList || []).length) && !showLoading">
    <client-item-not-found
      [show]="!((itemsList || []).length) && !showLoading"
      text="{{ messageNotFound }}">
    </client-item-not-found>
  </div>

</div>
