<div class="clearfix g-box no-btl-radius no-btr-radius pl-xs--2 pr-xs--2 pl-lg-4 pr-lg-4 pt-xs--3 pb-xs--3 g-bg-c--gray5">
  <div class="row justify-content-md-center">
    <div class="col col-12 col-lg-10">
      <div class="row">
        <div class="col mb-1">
          <span class="g-font--medium">{{ actions.title }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-12 col-xl-6">
          <ul class="g-list green g-font--12 g-font-md--14">
            <li>
              <span class="g-list--ico icon-mapfre_003_check"></span>
              <span class="g-list--text green g-font--12 g-font-md--14 g-font--light">
                {{ actions.items[0] }}
              </span>
            </li>
            <li>
              <span class="g-list--ico icon-mapfre_003_check"></span>
              <span class="g-list--text green g-font--12 g-font-md--14 g-font--light">
                {{ actions.items[1] }}
              </span>
            </li>
          </ul>
        </div>
        <div class="col col-12 col-xl-6">
          <ul class="g-list green g-font--12 g-font-md--14">
            <li>
              <span class="g-list--ico icon-mapfre_003_check"></span>
              <span class="g-list--text green g-font--12 g-font-md--14 g-font--light">
                {{ actions.items[2] }}
              </span>
            </li>
            <li>
              <span class="g-list--ico icon-mapfre_003_check"></span>
              <span class="g-list--text green g-font--12 g-font-md--14 g-font--light">
                {{ actions.items[3] }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
