<div class="g-bl--3 g-bc--green1 pl-2 pl-md-3 d-flex d-md-block">
  <div class="title--icon">
    <div class="g-icon--circle g-icon--circle--md">
      <span class="{{ icon }} g-font--18 g-c--gray18 align-self-center"></span>
    </div>
  </div>
  <div class="g-font--18 g-font-md--30 g-font--bold pl-2 pl-md-0 align-self-center g-c--gray2" [title]="text">
    {{ text.length > maxLength ? (text | slice:0:maxLength) + '...' : text }}
  </div>
</div>
