<div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--5">

  {{#boxHead}}
    {{>molecules-header-box}}
  {{/boxHead}}

  {{#search}}
    <div class="g-px-lg--15 g-py-lg--10 g-bb--1 g-bc--gray11">
      <div class="g-search ">
        {{>atoms-mf-search}}
      </div>
    </div>
  {{/search}}

  <div data-tab="container" class="g-box--shadow1 g-box--shadow1--xs-none g-bg-c-lg--white1 d-flex w-100 g-b-radius--5 flex-wrap flex-lg-nowrap  g-my--15 ">
    <div class="g-ml-lg--10 g-ml--0  g-px--20 w-100 w-lg-auto">
      {{#tabVertical}}
        {{>molecules-tabs-vertical}}
      {{/tabVertical}}
    </div>

    <div class="w-100 g-px--15 g-px-lg--0">

      <div data-tab="item">
        <div class="{{titleClassPrimary}}">{{{titlePrimary}}}</div>
        <div class="{{subtitleClassPrimary}}">{{{SubtitlePrimary}}}</div>

        <div class="d-flex flex-wrap w-100 align-content-around">
          {{#iconsPoliza}}
            {{>molecules-icon-box}}
          {{/iconsPoliza}}
        </div>
      </div>

      <div data-tab="item">

        {{#exclusiones}}
          <div class="">
            <div class="{{title1Class}}"> {{{title1}}}</div>

            {{#list}}
              <div class="g-list--text"> a)	Deficiencias en el mantenimiento y/o en el uso del vehículo.</div>
              <div class="g-list--text"> b)	Desgaste y/o deterioro u otro motivo vinculado al uso del vehículo, o por factores climáticos.</div>
              <div class="g-list--text"> c)	Actos intencionales o negligentes del ASEGURADO y/o del conductor del vehículo; entendiéndose como actos negligentes a:</div>
              <div class=" g-pl--10">
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Conducir el vehículo en estado de somnolencia.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Distraer la atención en la conducción por el uso de teléfonos móviles, radios u otros dispositivos, salvo que se utilice el sistema “manos libres”.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Conducir el vehículo en exceso de las jornadas máximas de conducción establecidas en el Reglamento Nacional de Administración de Transporte o la norma que la sustituya, independientemente que el asegurado se encuentre regulado por el señalado reglamento.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Conducir el vehículo sin utilizar las dos manos en el volante.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Continuar conduciendo el vehículo luego de un impacto, agravando el daño causado. En este caso únicamente se excluye el daño producto de la agravación.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Circular por lugares en los que la unidad infrinja los límites de altura y/o peso.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Dejar el vehículo estacionado sin activar los seguros de las puertas y/o los dispositivos de alarma de los que esté provisto el vehículo.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Dejar el vehículo estacionado en terrenos fangosos, pantanosos o movedizos.</div>
                <div class="g-list--text d-flex"><span class=" g-px--15 ">•</span> Dejar el vehículo estacionado sin activar el freno de mano o no tomar medidas a fin de evitar que terceros lo desactiven.</div>
              </div>
              <div class="g-list--text d-flex"> d)  La participación del ASEGURADO o conductor del vehículo en riñas, grescas, alteración del orden público u otros hechos que pudieran provocar agresiones de terceros.</div>
              <div class="g-list--text d-flex"> e)  Cortocircuito originado en el vehículo, así como los daños que este pueda ocasionar a terceros.</div>
              <div class="g-list--text d-flex"> f).  Otras expresamente nombradas en las Condiciones Generales del Producto.</div>
            {{/list}}

          </div>
        {{/exclusiones}}

        {{#deducibles}}
          <div class=" g-pr--0 g-pr-lg--20 g-pr-xl--90 g-pl--0  g-pl-xl--0 w-10 g-mt--0 g-mt-lg--15 g-mt-xl--0 ">
            <div class="d-flex align-items-center flex-column flex-lg-row w-100 ">
              <div class="mx-auto g-ml-lg--0 g-mb--15 g-mb-lg--0  g-mr--0 mr-lg-auto g-mt--15 g-mt-lg--0">
                <div class="{{titleClass}}">{{{title}}}</div>
              </div>
              {{#search}}
              <div class="w-px-lg--35 w-10 g-px--10 g-px-lg--0">
                {{>atoms-mf-search}}
              </div>
              {{/search}}
            </div>
            {{#boxSearch}}
              {{>molecules-boxitems-boxsearch}}
            {{/boxSearch}}
            {{#withoutResult}}
              {{>molecules-card-box-icon}}
            {{/withoutResult}}
          </div>
        {{/deducibles}}

        {{#pdf}}
          <div class="g-c--green1 g-font--14 g-mt--20 d-flex align-items-center {{addClass}}">
            <span class="icon-mapfre_093_pdf g-font--25 g-font-md--21  g-pr--10  g-c--pointer"></span>
            <span class="g-font--medium g-c--pointer">{{text}}</span>
          </div>
        {{/pdf}}

      </div>

      <div data-tab="item">

      </div>

      <div class="d-flex w-100 flex-wrap flex-xl-nowrap">
        <div class="w-100 g-px--10 g-mb--10 g-mb-lg--0">
          {{#cardGray}}
            {{>organisms-card-head-gray}}
          {{/cardGray}}
        </div>
        <div class="w-100 g-px--10">
          {{#cardGray2}}
            {{>organisms-card-head-gray}}
          {{/cardGray2}}
        </div>
      </div>

    </div>
  </div>

</div>
