<div class="{{addClass}}">
  {{#list}}
    <div class="g-mb--20">
      {{#header}}
        <div class="d-flex justify-content-between align-items-center g-mb--10">
          {{#title}}
            <div class="{{textClass}}">
              {{text}}
            </div>
          {{/title}}

          {{#icon}}
            <div class="">
              <span class="{{iconFile}} {{iconClass}}"></span>
            </div>
          {{/icon}}
        </div>
      {{/header}}

      {{#content}}
        <div class="d-lg-flex justify-content-between">
          {{#item}}
            <div class="{{boxClass}}">
              <div class="{{infoClass}}">
                {{info}}
              </div>
              <div class="{{textClass}}">
                {{text}}
              </div>
            </div>
          {{/item}}
        </div>
      {{/content}}

      {{#images}}
        <div class="d-flex">
          {{#item}}
            <div class="{{srcClass}}">
              <img src="{{src}}" alt="">
            </div>
          {{/item}}
        </div>
      {{/images}}
    </div>
  {{/list}}
</div>