<div class="d-none d-lg-flex justify-content-between flex-wrap flex-lg-nowrap g-bt--1 g-pt--15">
  <div class="g-steps g-steps--timeline">
    <ul class="g-inner mx-auto">
      <li
        *ngFor="let step of steps; let i = index; let last = last"
        [ngClass]="
          {
            'g-steps__item--active': step.complete,
            'g-steps__item--active-last': (step.complete) && ( last || steps[i + 1] && !steps[i + 1].complete)
          }"
        class="g-steps__item">
        <span class="g-steps__item--icon"></span>
        <div class="g-font--13 g-font--medium g-line--12 g-px--25 g-mh--4">{{ step.description }}</div>
        <div class="g-font--13 g-font--normal">
          <div class="text-capitalize">
            {{ calculateDay(step.date) }} {{ calculateMonth(step.date) }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
