<div class="d-flex flex-wrap w-100 {{addClass}}">

  {{#cardBoxMin}}
    <div class="{{addClass}} ">

      {{#content}}
        <div class="{{contentClass}} ">

        {{#text}}
          <div class="{{textClass}}">{{{text}}}</div>
        {{/text}}

        </div>
      {{/content}}

    </div>
  {{/cardBoxMin}}


  {{#title}}
    <div class="{{textClass}}">{{{text}}}</div>
  {{/title}}

  {{#formCase}}
    <div class="{{addContentClass}}">

      {{#select}}
        {{>atoms-mf-select}}
      {{/select}}

      {{#radioCards}}
        {{>organisms-radio-cards}}
      {{/radioCards}}

      {{#radio}}
        <label class="{{labelClass}}">
          {{>atoms-mf-radiobutton}}
        </label>
      {{/radio}}

      {{#check}}
        {{>atoms-mf-checkbox}}
      {{/check}}

      {{#input}}
        {{>atoms-mf-input-currency}}
      {{/input}}

      {{#inputDatepicker}}
        {{>atoms-mf-input-datepicker}}
      {{/inputDatepicker}}

      {{#inputTooltip}}
        {{>molecules-input-tooltip}}
      {{/inputTooltip}}

      {{#img}}
        <img src="{{src}}" alt="{{alt}}" class="{{imgClass}}">
      {{/img}}

    </div>
  {{/formCase}}

  {{#uploadFile}}
    <div class="{{addClass}}">
      {{#inputFile}}
        {{#titleLabel}}
          <div class="{{textClass}}">{{{text}}}</div>
        {{/titleLabel}}
        {{>atoms-mf-inputfile-alternative}}
      {{/inputFile}}

    </div>
  {{/uploadFile}}

  {{#imgText}}
    <div class="{{addClass}}">

      {{#leftCLass}}
        <div class="{{lefClass}}">
          {{#img}}
            <img class="{{imgClass}}" src="{{src}}" alt="{{alt}}">
          {{/img}}

          {{#icon}}
            <span class="{{iconFile}} {{iconClass}}"></span>
          {{/icon}}
        </div>
      {{/leftCLass}}

      {{#righClass}}
        <div class="{{righClass}}">
          {{#text}}
            <div class="{{textClass}}">{{{text}}}</div>
          {{/text}}
        </div>
      {{/righClass}}

    </div>
  {{/imgText}}

</div>