<div class="text-center g-mb--30">
  <div class="g-font--14 g-font-sm--18 g-font--medium g-mb--5">
    ¿Estás seguro de cambiar de modalidad?
  </div>

  <div class="g-font--13 g-font-sm--14">
    Al cambiar de póliza se modificará tu prima:
  </div>
</div>

<div class="d-sm-flex justify-content-between w-px-sm--48 mx-auto g-mb--25 g-bt--1 g-bb--1 g-py--15 g-px--25 g-px-sm--0">
  <div class="">
    <div class="g-font--13 g-font--light g-c--gray18">ANTIGUO</div>
    <div class="g-font--medium g-font--16">Daño parcial</div>
    <div>Prima: S/ 658.23</div>
    <div class="g-font--13 g-font--light">Cuota: S/ 23.00</div>
  </div>

  <div class="d-sm-flex align-items-center g-my--15 g-my-sm--0 g-font--20 g-c--gray18">
    <span class="icon-mapfre_075_arrow-right d-none d-sm-block"></span>
    <span class="icon-mapfre_219_arrow_down d-sm-none"></span>
  </div>

  <div class="">
    <div class="g-font--13 g-font--light g-c--gray18">NUEVO <span class="g-font--normal g-c--gray2">+ 200</span></div>
    <div class="g-font--medium g-font--16">Full Cobertura Premiun</div>
    <div>Prima: S/ 858.23</div>
    <div class="g-font--13 g-font--light">Cuota: S/ 44.00</div>
  </div>
</div>

<div class="w-px-sm--50 w-lg-auto mx-auto">
  <div class="d-flex align-items-start align-items-md-center justify-content-between g-b-radius--5 g-bg-c--red7 g-b--1 g-bc--orange1 g-p--10">
    <div class="d-flex">
      <span class="icon-mapfre_051_alerta g-c--orange1 g-mr--10 g-font--20 g-font-lg--28"></span>
      <div class="g-line--13 d-flex g-ie-flex--1 align-items-center flex-wrap ">
        <div class="w-100 g-c--orange1">
          El cambio de modalidad será en XX días.
        </div>
      </div>
    </div>
  </div>
</div>
