<!-- Loading -->
<mf-loader *ngIf="showLoading"></mf-loader>

<mf-card *ngIf="!showLoading && !noContent">
  <mf-card-header
    [header]="contractor.title"
    [icon]="contractor.icon"
    [collapsed]="collapse"
    (expand)="collapse = $event"
    hlg
  ></mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event" wpd>
    <div
      class="g-font--light d-flex justify-content-between d-flex-1-auto g-bt--1 g-bc--gray11 g-ie-mh-lg--14 box-height-fix"
    >
      <div class="d-flex g-ie-flex--0-1-auto g-p--15 g-p-lg--20 g-pl-lg--25 g-pb-lg--25">
        <div class="d-none d-lg-flex w-px--9">
          <span class="g-c--gray18 g-font--65 g-ie-flex--0-1-auto" [ngClass]="contractor.icon"></span>
        </div>
        <div class="w-10">
          <div class="g-items">
            <div class="g-items-list d-none d-lg-flex g-mt--5">
              <div class="g-items-text g-font--18 g-font--medium">{{ contractor.title }}</div>
            </div>
            <div class="g-items-list d-flex g-mt--5">
              <div class="g-items-text g-c--gray3">{{ contractor.contractor }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mf-card-item-icon [icon]="ICONS.RUC_ICON" [text]="contractor.document"></mf-card-item-icon>
    <mf-card-item-icon [icon]="ICONS.PHONE_ICON" [text]="contractor.phone"></mf-card-item-icon>
    <mf-card-item-icon [icon]="ICONS.PIN_ICON" [text]="contractor.address"></mf-card-item-icon>
  </mf-card-content>
</mf-card>