<mf-card-item>

  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--9 position-relative w-100">
    <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center"></div>

    <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">

      <div class="w-100 g-c--gray3 mb-2 mb-lg-0 g-o--hidden">
        <div class="g-font--medium text-lg-truncate g-text--uppercase" [title]="receipt.descripcion">
          {{ receipt.descripcion }}
        </div>
        <div>
          <div class="mb-0">&nbsp;</div>
        </div>
      </div>

      <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--20 g-font--13">
        <div class="mb-0 text-nowrap">
          Fecha de emisión: {{ receipt.fechaEmision | date: 'dd/MM/yyyy' }}
        </div>

        <div *ngIf="receipt.tipoSituacion === situationType.PAGADO" class="mb-0 text-nowrap d-flex align-items-center">
          <span class="g-mt--3 pr-1 {{ calendarIcon }}"></span>Pagado: {{ receipt.fechaPago | date: 'dd/MM/yyyy' }}
        </div>

        <div *ngIf="receipt.tipoSituacion === situationType.PENDIENTE" class="mb-0 text-nowrap d-flex align-items-center">
          <span *ngIf="trafficLightColor[receipt.semaforo] != trafficLightColor.NINGUNO" class="icon-mapfre_066_circle g-font--10 pr-1" [ngClass]="colorStatus[trafficLightColor[receipt.semaforo]]"></span>
          <span class="g-font--light">{{ trafficLightColor[receipt.semaforo] === trafficLightColor.ROJO ? 'Venció' : 'Vence' }}: {{ receipt.fechaExpiracion | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>

      <div class="px-lg-3 w-px-lg--15">
        <div class="mb-0 text-nowrap text-right">
          <span class="g-font--medium g-font--16 g-text--uppercase">{{ receipt.montoTotal | currency: symbol }}</span>
        </div>
        <div class="mb-0 text-nowrap d-none d-lg-block">
          &nbsp;
        </div>
      </div>
    </div>

    <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--20 align-items-center justify-content-center flex-grow-1 px-4 d-flex g-bl-lg--1">
      
      <ng-container *ngIf="receipt.tipoSituacion === situationType.PAGADO">
        <div class="g-c--green1">
          <span [spinnerPdf]="showSpinner" (click)="downloadPDF(receipt)"></span>
        </div>
      </ng-container>
      
      <ng-container *ngIf="receipt.tipoSituacion === situationType.PENDIENTE">
        <client-payment-button
          routerLink="/payments/quota"
          [item]="receipt.paymentReceipt"
          [renewDays]="renewDays"
          [ga]="ga">
        </client-payment-button>
      </ng-container>

    </div>

  </div>

</mf-card-item>
