<div [ngClass]="{ 'g-notfound--default': imageTop, 'g-notfound--medium': iconMedium }">
  <div class="text-center g-px--20 mx-auto g-notfound--content" [ngClass]="{'w-px--24': imageTop}"
    *ngIf="show">
    <div class="g-notfound--imagen">
      <img [src]="icon" alt="">
    </div>
  </div>
  <div class="text-center g-px--20 mx-auto g-notfound--content" *ngIf="show">
    <div class="g-notfound--text g-c--gray18">
      <div class="g-notfound--title g-font--medium mb-1 g-font--24">
        {{ title }}
      </div>
      <div class="g-notfound--description">
        {{ text }}
      </div>
    </div>
  </div>
</div>