<div class="tab-content g-p--10">
  <div class="w-px--24 w-px-sm--35 w-lg-auto mx-auto g-pt--10 g-c--gray2 g-mb--30 text-center">
    <span class="g-font--light" [innerHTML]="content.content2"></span>
    <!-- Tooltips -->
    <div class="d-block d-lg-inline-block">
      <div class="g-font--medium d-inline-block">{{ digitalPlatform }}</div>
      <div class="position-relative d-inline-block g-ml--5 g-pos--3" *ngIf="content.tooltips">
        <mf-tooltips>
          <div class="text-left g-font--13 g-pb--10 g-font--bold">{{ content.tooltips.title }}
          </div>
          <div class="text-left g-font--13 g-pb--5 g-font--normal">{{ content.tooltips.text }}</div>
          <div *ngIf="content.tooltips.items">
            <ol class="g-list-number">
              <li class="text-left g-font--13 g-pl--5 g-font--light" *ngFor="let text of content.tooltips.items">{{ text }}</li>
            </ol>
          </div>
        </mf-tooltips>
      </div>
    </div>
  </div>
  <div class="g-b--1 g-bc--gray11">
    <div class="d-flex flex-column g-mb--20">
      <div class=" g-p--10 text-center g-bb--1 g-bc--gray11 w-10 ">
          <div class="g-font--light g-font--13">{{ labelDocument }}:</div>
          <div class="g-font--medium g-font--18 ">{{ documentData }}</div>
      </div>
      <div class=" g-pt--10 g-px--10 text-center w-10">
          <div class="g-font--13 g-font--light">{{ isNotice ? labelNoticeNumber : labelBankPaymentCode }}:</div>
          <div class="">{{ isNotice ? quote.response.numeroAviso : quote.billNumber }}</div>
      </div>
    </div>
    <client-bank-payment [confirm]="true"></client-bank-payment>
  </div>
</div>
