<div
  [formGroup]="frm"
  *ngIf="isVisibleFilterHeader"
  class="g-bg-c--white1 g-box--shadow1 mb-3 g-b-radius-lg--5 d-flex w-100"
>
  <div class="d-flex g-ie-flex--0-1-auto w-10 g-mh--6 g-mh-lg--7 justify-content-between">
    <div class="g-box-icons--title d-flex align-items-center px-3 g-ie-flex--0-1-auto w-100">
      <div class="g-font--bold g-font--14 g-font-lg--20">
        {{ generalLang.Titles.MyRecordProcedures }}
      </div>
    </div>
    <div *ngIf="!showLoading" class="g-filter-dropdown d-flex g-font-lg--14 align-items-center">
      <!-- Mostrar/Ocultar Filtros -->
      <div
        (click)="showFilter = !showFilter"
        *ngIf="!isFirstRequest || total"
        class="w-px--5 w-lg-auto justify-content-center d-flex align-items-center g-c--green1 pr-lg-3"
      >
        <div
          class="g-items-icon mr-2 g-font--21 g-c--pointer"
          [ngClass]="isFilteredFrm ? 'icon-mapfre_216_filter_out' : 'icon-mapfre_098_filter'"
        ></div>
        <div class="g-items-text g-font--medium g-c--pointer d-none d-lg-block">
          {{ btnFilter }}
        </div>
      </div>

      <!-- Filtros -->
      <div class="g-filter-dropdown--content g-p--20 g-b-radius--5 g-box--shadow1" *ngIf="showFilter">
        <div class="g-font--medium">{{ labelFilterBy }}</div>

        <div class="">
          <mf-select
            [name]="'tipoPoliza'"
            [frm]="frm"
            [type]="'insuranceType'"
            [label]="generalLang.Labels.InsuranceType"
            formControlName="tipoPoliza"
          >
          </mf-select>
        </div>
        <div class="">
          <mf-select
            [name]="'estado'"
            [frm]="frm"
            [type]="'sinisterStatus'"
            [label]="generalLang.Labels.SinisterStatus"
            formControlName="estado"
          >
          </mf-select>
        </div>
        <div class="">
          <mf-select
            [name]="'anioOcurrencia'"
            [frm]="frm"
            [type]="'anioLimiteSiniestro'"
            [label]="generalLang.Labels.Year"
            formControlName="anioOcurrencia"
          >
          </mf-select>
        </div>
        <div class="">
          <mf-input
            [label]="generalLang.Texts.PolicyNumber"
            [maxlength]="maxLengthPolice"
            [OnlyNumber]="true"
            [pattern]="numericRegExp"
            formControlName="numeroPoliza"
          >
          </mf-input>
        </div>

        <div class="text-center">
          <button mf-button class="g-btn--default mt-xs--3" (click)="filter()">
            {{ btnFilter }}
          </button>
        </div>
        <div class="text-center">
          <button mf-button outline class="g-btn--default mt-xs--3" (click)="resetFilter()">
            {{ generalLang.Buttons.CleanFilter }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<mf-card *ngIf="!hasPaginator">
  <mf-card-header
    [header]="titleCard"
    [collapsed]="collapse"
    (expand)="collapse = $event"
    [icon]="disableIcon ? '' : 'icon-mapfre_081_tramites'"
  ></mf-card-header>

  <div
    [collapse]="collapse"
    (collapse-mobile)="collapse = $event"
    class="h-lg-100 d-lg-flex flex-column g-ie-flex--0-1-auto position-relative g-pb-lg--60"
  >
    <mf-card-content>
      <mf-loader *ngIf="showLoading"></mf-loader>

      <mf-card-item *ngFor="let item of listSinisterInProgress">
        <ng-container *ngTemplateOutlet="cardItem; context: { $implicit: item }"> </ng-container>
      </mf-card-item>

      <mf-card-without-data
        *ngIf="!listSinisterInProgress?.length && !showLoading"
        [icon]="iconNoPending"
        [message]="messageWithoutProceduresOnGoing"
      >
      </mf-card-without-data>
    </mf-card-content>

    <mf-card-footer *ngIf="!disableViewAll" class="g-btn-bottom">
      <mf-link-green
        [text]="labelViewAll"
        [routerLink]="['/sinistersInProgress']"
        ctrl="linkViewAllBox"
        (domChange)="onDomChange($event, {label: labelViewAll, boxTitle: generalLang.Titles.Sinister})"
      ></mf-link-green>
    </mf-card-footer>
  </div>
</mf-card>

<mf-paginator
  (itemsPerPageChange)="itemsPerPageChange($event)"
  (pageChange)="pageChange($event)"
  [autoHide]="true"
  [isHeaderLabelsVisible]="false"
  [page]="page"
  [perPageList]="[10, 25, 50]"
  [total]="total"
  *ngIf="hasPaginator"
  marginCard="g-mx-lg--20 g-mt-lg--20"
  perPageListColor="g-c--green1"
>
  <mf-loader *ngIf="showLoading"></mf-loader>
  <client-item-not-found
    [icon]="iconNotFound"
    [iconMedium]="true"
    [imageTop]="false"
    [show]="!showLoading && !listSinisterInProgress.length"
    [title]="msgNotFound"
  >
  </client-item-not-found>
  <mf-card-item
    *ngFor="
      let item of listSinisterInProgress
        | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total };
      let i = index
    "
  >
    <ng-container *ngTemplateOutlet="cardItem; context: { $implicit: item }"> </ng-container>
  </mf-card-item>
</mf-paginator>

<ng-template #cardItem let-item>
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 w-100">
    <!-- Fecha de ocurrencia -->
    <div
      class="w-px--7 w-px-lg--8 g-line--11 d-flex justify-content-center align-items-lg-center g-br-lg-1 pt-3 pt-lg-0"
    >
      <div class="g-items-text text-center g-font--light">
        <div class="mb-0 g-font--24 g-font--medium g-c--gray8">
          {{ calculateDay(item.fechaOcurrencia) }}
        </div>
        <div class="mb-0 g-font--12 g-c--gray2">
          {{ calculateMonth(item.fechaOcurrencia) }}
        </div>
        <div class="mb-0 g-font--13 g-c--gray8">
          {{ calculateYear(item.fechaOcurrencia) }}
        </div>
      </div>
    </div>

    <div
      class="w-7 w-lg-10 g-bl--1 p-3 p-lg-0 d-flex align-items-lg-center g-o--hidden flex-column flex-lg-row flex-fill"
    >
      <!-- Numero y estado de siniestro -->
      <div class="justify-content-between align-items-center w-100 text-lg-truncate pl-lg-3">
        <div class="text-lg-truncate">
          <div
            class="text-lg-truncate g-line--13 g-font--medium"
            [title]="item.labelTipoSinistro + ' ' + item.numeroSiniestro.toString()"
          >
            {{ item.labelTipoSinistro }} {{ item.numeroSiniestro }}
          </div>
          <div class="text-lg-truncate g-line--13 text-capitalize" [title]="item.descripcionEstado">
            {{ item.descripcionEstado.toLowerCase() }}
          </div>
        </div>
      </div>

      <!-- Numero y descripcion de poliza -->
      <div class="pl-lg-3 w-px-lg--22 w-px-2xl--25 pb-xs--1 pb-lg-0 g-o--hidden" *ngIf="disableCollapse">
        <div class="text-lg-truncate">
          <span class="g-font--light g-font--13" [title]="lang.PolicyNumber + ' ' + item.numeroPoliza">
            <span class="g-font--medium">{{ lang.PolicyNumber }}</span>
            {{ item.numeroPoliza }}
          </span>
        </div>
        <div class="text-lg-truncate" [title]="item.descripcionPoliza">
          <span class="g-font--medium g-font--13">{{ item.descripcionPoliza }}</span>
        </div>
      </div>

      <!-- Causa y riesgo -->
      <div class="px-lg-3 pb-xs--1 pb-lg-0 w-px-lg--26 w-px-2xl--35 g-o--hidden" *ngIf="disableCollapse">
        <div class="d-lg-flex w-10">
          <span class="pr-1 g-mt--3 {{ fileIcon }}"></span>
          <span class="g-font--light g-font--13 d-lg-flex g-o--hidden g-ie-flex--1">
            <span class="g-font--medium g-mr--5">{{ sinistersLang.Labels.Cause }}:</span>
            <span class="text-lg-truncate" [title]="item.descripcionCausa">
              {{ item.descripcionCausa }}
            </span>
          </span>
        </div>

        <div class="d-lg-flex w-10">
          <span class="pr-1 g-mt--3 {{ item.riskIcon }}"></span>
          <span class="g-font--light g-font--13 d-lg-flex g-o--hidden g-ie-flex--1">
            <span class="g-font--medium text-lg-truncate" [title]="item.descripcionRiesgo">
              {{ item.descripcionRiesgo }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Ver Detalle -->
    <div
      *ngIf="showViewDetail"
      class="g-bt-lg--0 py-lg-0 w-100 w-px-lg--12 d-flex align-items-center justify-content-center flex-grow-1 {{
        item.hasDeail ? 'g-bl-lg--1' : ''
      }}"
      (click)="goToSinisterDetail(item.numeroSiniestro, item.tipoExpediente)"
      ctrl="linkViewDetailBox"
      (domChange)="onDomChange($event, {label: labelViewDetail, numeroAccidente: item.numeroSiniestro})"
    >
      <span
        *ngIf="item.hasDeail"
        class="g-bt--1 g-bt-lg--0 g-c--green1 py-3 g-font--medium g-c--pointer w-10 text-center"
      >
        {{ labelViewDetail }}
      </span>
    </div>
  </div>
</ng-template>
