<div class="row justify-content-md-center">
  <div class="col col-12 col-lg-10">
    <div class="row">
      <div class="col g-mb--5 g-font--medium">
        Dentro del portal de clientes podrás:
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-xl-6 ">
        {{#listA}}
          {{>atoms-lists}}
        {{/listA}}
      </div>
      <div class="col col-12 col-xl-6 ">
        {{#listB}}
          {{>atoms-lists}}
        {{/listB}}
      </div>
    </div>
  </div>
</div>