<div class="align-self-center col-12  g-ie-flex--0-1-auto">

  {{>molecules-messages}}

  {{#linkText}}
    <div class="row justify-content-md-center g-mb--20 {{linkAddClass}}">
      <div class="col col-lg-10 text-center">
        <span class="g-underline g-c--green1 g-c--pointer">{{{linkText}}}</span>
      </div>
    </div>
  {{/linkText}}

  <div class="row text-center">
    {{#btn-primary}}
      {{>atoms-buttons}}
    {{/btn-primary}}
  </div>

</div>

{{#footerMessage}}
  <div class="{{fooClass}}">

    {{#image}}
      <img scr="{{src}}" alt="{{alt}}" class="{{srcClass}}">
    {{/image}}

    {{#text}}
      <div class="{{textClass}}">
          {{{text}}}
      </div>
    {{/text}}

  </div>
{{/footerMessage}}

