<div class="align-self-center col-12">

  {{>molecules-messages(text-primary: "¡No tienes pagos pendientes!", text-secondary : "Por ser un gran cliente hemos decidido regalarte 30 Mapfre dólares!")}}

  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      {{>atoms-buttons(text: "Iniciar sesión", addClass: "block g-text--uppercase")}}
    </div>
  </div>
</div>