<div class="sect-nav h-100">
  <div class="g-bg-c--red1 text-center g-p--10 min-height--70 d-none d-xl-flex align-items-center justify-content-center">
    <div class="d-block text-center">
      <span class="{{iconFile}} {{addClass}} g-c--white1"></span>
    </div>
  </div>
  <div class="g-bg-c--gray8 g-o—auto">
    {{#acordion}}
      {{>molecules-acordion}}
    {{/acordion}}
    <div class="btn-icons">
      {{#list-btn}}
      <a href="" class="g-mr--10">
        <span class="{{iconFile}} {{addClass}}"></span>
      </a>
      {{/list-btn}}
    </div>
  </div>
</div>
