<div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--5">
  {{#boxHead}}
    {{>molecules-header-box}}
  {{/boxHead}}
  <div class="g-px-lg--15 g-py-lg--10 g-bc--gray11">
    {{#cardboxCheck}}
      {{>molecules-list-checkbox}}
    {{/cardboxCheck}}

    {{#cardboxDirection}}
      {{>molecules-card-box}}
    {{/cardboxDirection}}

    {{#cardboxPayments}}
      {{>molecules-card-box-payments}}
    {{/cardboxPayments}}

    {{#cardboxPaymentsNot}}
      {{>molecules-card-box-face}}
    {{/cardboxPaymentsNot}}

    {{#cardboxMessage}}
      {{>molecules-card-box-icon}}
    {{/cardboxMessage}}

    {{#cardboxPoliza}}
      {{>molecules-card-box-poliza}}
    {{/cardboxPoliza}}

    {{#cardboxProgress}}
      {{>molecules-card-box-procedure-progress}}
    {{/cardboxProgress}}
  </div>
 {{#btnVerTodos}}
    <div class="mt-auto g-b--1 w-100 text-center  g-p--20 d-none d-md-block">
      <span class="{{textClass}} g-c--pointer">{{{text}}}</span>
    </div>
  {{/btnVerTodos}}
</div>
