<div class="d-flex flex-wrap align-items-center">
  <div class=" g-mr-md--10  w-100 w-lg-auto">
    <div class="g-circle--white g-box--shadow2 d-flex align-items-center justify-content-center mx-auto g-mx-lg--0">
      <span class="g-font--30 g-font--bold">GA</span>
    </div>
  </div>
  <div class="w-100 w-lg-auto text-center text-lg-left  g-pl--0  g-pl-lg--15">
    <div class="g-font--24 g-font--medium  g-c--black1  g-p--20 g-px--0   g-p-lg--0 g-bb--1 g-bc--gray7 g-bb-lg--0">{{{text}}}</div>
    <div class="d-flex flex-wrap g-py--10 g-py-lg--0">
      {{#dataEdit}}
        {{>molecules-data-profile-edit}}
      {{/dataEdit}}
    </div>
  </div>
</div>
