<div class="g-filterbox--filter">

  <!-- Titulo -->
  <div class="d-flex align-items-center g-px--20 h-px--5 justify-content-between g-bb--1">
    <div class="d-flex align-items-center g-o--hidden">
      <div class="g-mr--15" (click)="close()">
        <span class="g-map-filter--close d-block icon-mapfre_010_arrow-left g-font--16 g-c--gray9 g-c--pointer"></span>
      </div>
      <div class="g-font--medium g-text--uppercase g-font--18 text-truncate">
        {{ serviceLang.SummaryTitle }}
      </div>
    </div>
  </div>

  <div class="g-map-filter--content g-p-md--20 g-bg-c--white1" data-simplebar>

    <!-- Resumen -->
    <div class="g-px--20 g-pt--20 g-pt-lg--0 g-p-lg--0">
      <!-- Chofer -->
      <div class="d-flex align-items-center">
        <div class="icon-mapfre_037_user g-font--16 g-c--gray2 g-pr--10 "></div>
        <div class="g-c-gray2 g-font--light">
          {{ generalLang.Labels.Driver.toUpperCase() }}: {{ data?.driver }}
        </div>
      </div>
      <!-- Vehiculo -->
      <div class="d-flex g-pt--15 align-items-center g-pb--20 g-bb--1 g-bc--gray11 ">
        <div class="icon-mapfre_019_car g-font--16 g-c--gray2 g-pr--10 "></div>
        <div class="g-c-gray2 g-font--light">{{ data?.vehicle }}</div>
      </div>
      <!-- Fecha -->
      <div class="g-pt--20 g-font--light g-font--13 text-uppercase">
        {{ generalLang.Labels.DateTime }}
      </div>
      <div class="g-pt--5 g-font--medium">
        {{ data?.date }}
      </div>
      <!-- Desde -->
      <div class="g-mt--15 g-font--light g-font--13 text-uppercase">
        {{ serviceLang.StartPoint }}
      </div>
      <div class="g-pt--5 g-font--medium">
        {{ data?.from }}
      </div>
      <div class="">
        {{ serviceLang.Reference }}: {{ data?.referenceFrom }}
      </div>
      <!-- Hasta -->
      <div class="g-mt--15 g-font--light g-font--13 text-uppercase">
        {{ serviceLang.EndPoint }}
      </div>
      <div class="g-pt--5 g-font--medium">
        {{ data?.to }}
      </div>
      <div class="">
        {{ serviceLang.Reference }}: {{ data?.referenceTo }}
      </div>
      <!-- Contacto -->
      <div class="g-mt--15 g-font--light g-font--13 text-uppercase">
        {{ serviceLang.ContactPhone }}
      </div>
      <div class="g-pt--5 g-font--medium">
        {{ data?.phone }}
      </div>
      <!-- Precio -->
      <div class="g-mt--15 g-font--light g-font--13 text-uppercase">
        {{ generalLang.Labels.Price }}
      </div>
      <div class="g-pt--5 g-pb--20 g-font--medium">
        {{ data?.price }}
      </div>
    </div>

  </div>

  <!-- Acciones -->
  <div class="g-full-box--footer g-p--10 g-bt--1 text-center">

    <!-- Por Confirmar -->
    <div class="d-flex">
      <div class="w-50 text-center g-pr--5">
        <button mf-button outline class="w-10 w-md-8 w-lg-10" (click)="cancelRequest()">
          {{ generalLang.Buttons.Cancel }}
        </button>
      </div>
      <div class="w-50 text-center g-pl--5">
        <button mf-button class="w-10 w-md-8 w-lg-10" (click)="confirmRequest()">
          {{ generalLang.Buttons.Agree }}
        </button>
      </div>
    </div>
  </div>

</div>

<!-- Notificar envío de solicitud -->
<mf-modal-message *ngIf="showModal"
  [sizeClass]="'g-modal--medium'"
  [messageDone]="modalTitle"
  [messageSuccessUpdate]="modalMessage"
  (confirmResponse)="goToServiceList()"
  (closeModal)="goToServiceList()">
</mf-modal-message>

<!-- Error de fecha -->
<mf-modal-message *ngIf="showModalError"
  [sizeClass]="'g-modal--medium'"
  [pathIcon]="iconError"
  [messageDone]="modalTitleError"
  [messageSuccessUpdate]="modalMessageError"
  (confirmResponse)="cancelRequest()"
  (closeModal)="cancelRequest()">
</mf-modal-message>
