<div class="justify-content-md-center mt-xs--1 mb-xs--1" [ngClass]="sizeNotification">
  <div
    class="d-flex align-items-start align-items-md-center justify-content-between g-b-radius--5  g-bg-c--green7 g-b--1 g-bc--green1 g-p--10">
    <div class="d-flex">
      <span class="icon-mapfre_003_check g-c--green1 g-mr--10" [ngClass]="sizeIcon"></span>
      <div class="g-line--13 d-flex g-ie-flex--1 align-items-center flex-wrap ">
        <div class="w-100 g-c--green1" [innerHTML]="text"></div>
      </div>
    </div>
  </div>
</div>
