<mf-modal
  [confirm]="true"
  [titleMobile]="quotasLang.titleMobile"
  [secondTitleMobile]="quotasLang.subTitleMobile"
  [confirmButtonText]="confirmButtonText"
  [showLoading]="showLoading"
  [disableButton]="!selectedQuota"
  [editFooter]="false"
  (confirmResponse)="onSend($event)"
  (closeEvent)="closeEvent($event)"
  class="sect-container"
>
  <div *ngIf="refinancing" class="wrap">
    <div>
      <div>
        <div class="text-center">
          <div class="g-font--18 g-font--medium d-none d-lg-block">{{ quotasLang.labels.refinanceMyPolicy }}</div>
        </div>
        <div *ngIf="!!refinancing.fechaUltimoRefinanciamiento" class="w-px-md--48 mx-auto">
          <mf-custom-alert [status]="status" [text]="warningRefinancing"></mf-custom-alert>
        </div>
        <div class="g-pt--10 text-center text-lg-left">
          <div class="g-font--18 g-font--medium w-px-md--48 mx-auto">{{ refinanceAmount }}</div>
        </div>
      </div>
      <div>
        <div class="w-px-md--48 mx-auto g-mt--20 d-md-flex justify-content-between">
          <div
            *ngFor="let quota of refinancing.cuotasRefinanciamiento.slice(0, 4); let i = index"
            (click)="onSelected(quota.permiteRefinanciar ? quota : null, quota.permiteRefinanciar)"
            [ngClass]="{
              'g-radio-items--disabled': !quota.permiteRefinanciar,
              'g-radio-items--active': i === selectedIndex
            }"
            class="g-radio-items text-md-center w-10"
          >
            <label class="d-flex flex-md-column align-items-center g-mb--0 g-py-md--25">
              <div class="order-md-2 g-radio d-flex justify-content-center g-radio-items--circle">
                <input
                  type="radio"
                  name="selectedOption"
                  [(ngModel)]="selectedIndex"
                  [value]="i"
                  [disabled]="!quota.permiteRefinanciar"
                />
                <span class="radio"></span>
              </div>
              <div class="order-md-1 g-ml--10 g-ml-md--0 w-100">
                <div class="g-font--13 g-font--medium g-line--11 g-mb-md--5">{{ quota.tipoCuotaNueva }}</div>
                <div class="g-font--10 g-font-md--12 g-font--light g-line--11 g-mb-md--15">
                  {{ getInterestLabel(quota) }}
                </div>
              </div>
            </label>
          </div>
        </div>

        <div class="g-b--1 g-bc--gray11 g-b-radius--5 w-px-md--48 mx-auto g-mt--10 g-mb--40">
          <div class="g-py--30 text-center">
            <div class="g-font--light">{{ quotasLang.labels.payment }}</div>
            <div class="g-font--24 g-font-lg--30 g-font--bold">{{ refinancingAmount }}</div>
            <div class="g-font--medium g-font--13">{{ refinancingFrecuency }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mf-modal>
