<div class="g-modal" data-modal="edit">
    <div class="g-modal--container">
        <div class="g-modal--wrapper">

            <div class="g-modal--closemodal g-modal--close">
              <span class="icon-mapfre_049_close2 g-font--30"></span>
            </div>

            <div class="g-modal--header text-center">
              <div class="g-font--18 g-font-md--20 g-font--bold">{{title}}</div>
            </div>

            <div class="g-modal--content">
              <div class="container-fluid">
                {{#itemInsured}}
                  {{>organisms-insured}}
                {{/itemInsured}}
              </div>

            </div>

            {{#buttonLink}}
              <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
                {{>atoms-buttons}}
              </div>
            {{/buttonLink}}

        </div>
    </div>
</div>