<div class="g-modal" data-modal="table">
    <div class="g-modal--container">
        <div class="g-modal--wrapper">
            <div class="g-modal--closemodal g-modal--close">
              <span class="icon-mapfre_049_close2 gng-icon-Icon-md"></span>
            </div>

            <div class="g-modal--header text-center">
              <div class="g-font--18 g-font-md--20 g-font--bold">Lista de asegurados</div>
            </div>

            <div class="g-modal--content">
              {{#table}}
                {{>molecules-table}}
              {{/table}}
            </div>

            <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
              {{>atoms-buttons(addClass: "g-text--uppercase g-btn-outline  g-px-lg--35  g-modal--close", text: "Cerrar") }}
            </div>
        </div>
    </div>
</div>