// Accordion
.g-hover-nav {
  background-color: map-get($colors, gray24);
  border-top: 1px solid map-get($colors, gray8);
  cursor: pointer;
  padding-bottom: 6px;
  padding-left: 55px;
  padding-right: 20px;
  padding-top: 6px;
  position: relative;
  width: 100%;

  &:hover,
  &.active {
    background-color: map-get($colors, gray9);
    border-right: 5px solid map-get($colors, white1);
    color: map-get($colors, white1) !important;
    width: 100%;

    &::before {
      background-color: map-get($colors, white1);
      content: '';
      height: 7px;
      position: absolute;
      right: -2px;
      top: 50%;
      transform: rotate(45deg) translateY(-50%);
      width: 7px;
      z-index: 1100;
    }
  }
}

.g-accordion {
  overflow-x: hidden;
  overflow-y: auto;

  @media (min-width: $break-xlarge) {
    height: 100%;
  }

  .active {
    color: map-get($colors, white1);
  }

  .g-nav {
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    word-wrap: break-word;

    .card-header {
      background-color: map-get($colors, gray8);
      border-bottom: none;
      border-radius: 0;
      color: map-get($colors, white1);
      cursor: pointer;
      display: block;
      transition: $t-linear; // sass-lint:disable-all

      &:hover,
      &.active {
        color: map-get($colors, white1);
        transition: $t-linear;

        p {
          opacity: 1;
        }
      }

      p {
        @include inlineblock;
        font-weight: 500;
        margin-bottom: 0;
        opacity: .49;
        padding-left: 16px;
        padding-top: 5px;
        vertical-align: top;
      }

      span {
        opacity: .49;
      }

      .ico-arrow {
        float: right;
        padding: 7px;
      } // sass-lint:enable-all
    }

    .card-body {
      padding: 0;
    }

    .fa {
      transition: .3s transform ease-in-out;
    }

    .collapsed {
      .fa {
        transform: rotate(90deg);
      }
    }

    .something-else {
      .fa {
        transition: .3s transform ease-in-out;
      }

      .collapsed {
        .fa {
          transform: rotate(-90deg);
        }
      }
    }

    .list {
      .collapsed {
        .fa {
          transform: rotate(90deg);
        }
      }
    }
  }
}
