// Filter
.g-filter {
  background-color: map-get($colors, white1);
  border-radius: 5px;
  bottom: auto;
  box-shadow: 0 1px 6px $c-shadow1;
  left: 0;
  position: fixed;
  right: 0;
  top: auto;
  transition: $t-ease;
  z-index: 12;

  &--none {
    display: none;

    @media (min-width: $break-large) {
      display: block;
    }
  }

  .title--1 {
    background-color: map-get($colors, black1);
    box-shadow: 0 1px 6px $c-shadow1;
    color: map-get($colors, white1);
    cursor: pointer;
    padding: 15px;

    .ico {
      margin-top: 6px;
    }
  }

  .title--2 {
    background-color: map-get($colors, white1);
    box-shadow: 0 1px 6px $c-shadow1;
    cursor: pointer;
    padding: 15px;
  }

  &.show {
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
    top: -72px !important; // sass-lint:disable-line no-important

    .g-filter--none {
      display: block;
    }
  }

  &--head {
    background: map-get($colors, black1);
    padding-bottom: 13px;
    padding-top: 13px;
  }

  &--resumen {
    border-radius: 0;

    &.show {
      top: -65px !important; // sass-lint:disable-line no-important
    }
  }

  &--mount {
    font-size: $fz17;
  }
}

@media (min-width: $break-large) {
  .g-filter {
    padding: 20px 40px;
    position: relative;

    &--resumen {
      border-radius: 5px;
    }

    &--head {
      background: map-get($colors, gray8);
    }

    &--mount {
      font-size: $fz20;
    }
  }
}

.g-filter-dropdown {
  position: relative;

  &--content {
    background: map-get($colors, white1);
    position: absolute;
    right: 0;
    top: 100%;
    width: calc(100vw - 45px);
    z-index: 9;

    @media (min-width: $break-large) {
      top: 83%;
      width: 280px;
    }

    &::before {
      background: map-get($colors, white1);
      box-shadow: -3px -3px 4px map-get($colors, gray11);
      content: '';
      height: 10px;
      position: absolute;
      right: 25px;
      top: -5px;
      transform: rotate(45deg);
      width: 10px;

      @media (min-width: $break-large) {
        right: 67px;
      }
    }
  }
}

.g-filterbox--content-filter {
  bottom: 0;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  width: 100%;
}
