// Footer
.brand-lg-footer {
  position: relative;

  @media (min-width: $break-large) {
    span {
      left: -165px;
      position: absolute;
      top: 50%;
      transform: translatey(calc(-50%));
    }
  }
}
