// Icons
.g-icon {
  &--circle {
    align-items: center;
    background-color: map-get($colors, gray5);
    border-radius: 50%;
    box-shadow: 0 2px 4px $c-shadow1;
    display: flex;
    height: 49px;
    justify-content: center;
    text-align: center;
    width: 49px;

    &--big {
      background-color: map-get($colors, white1);
      box-shadow: 0 2px 4px $c-shadow1;
      height: 80px;
      width: 80px;
      @media (min-width: $break-large) {
        height: 103px;
        width: 103px;
      }
    }

    &--border {
      border: 3px solid map-get($colors, green1);
    }
  }

  &--tab {
    background: map-get($colors, gray5);
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 $c-shadow1;
    height: 100px;
    transition: .5s;
    width: 100px;

    @media (min-width: $break-large) {
      height: 120px;
      width: 120px;
    }

    &.active {
      background: map-get($colors, white1);
      border: 1px solid map-get($colors, green1);
      color: map-get($colors, green1);
      transition: .5s;
    }
  }
}

.g-ico--center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.g-ico-card-quote {
  position: relative;

  &--arrow {
    border-bottom: 30px solid transparent;
    border-left: 20px solid map-get($colors, gray11);
    border-top: 30px solid transparent;
    height: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }

  &::before {
    border-color: map-get($colors, gray11) transparent transparent;
    border-style: solid;
    border-width: 20px 26px;
    bottom: -40px;
    content: '';
    left: 50%;
    margin-left: -26px;
    position: absolute;

    @media (min-width: $break-large) {
      display: none;
    }
  }
}
