// sass-lint:disable-all

.ngx-pagination {
  li {
    margin: 0 2px !important;
    vertical-align: top;

    &.disabled {
      display: none !important;
    }

    &.current {
      background-color: map-get($colors, white1);
      border-radius: 3px !important;
      border: 1px solid #DEDEDE;
      color: map-get($colors, gray2);
      height: 30px;
      line-height: 30px;
      padding: 0 11px !important;
    }

    a,
    button {
      background-color: #F7F8F9;
      border-radius: 3px !important;
      border: 1px solid #DEDEDE;
      color: #797b7f;
      height: 30px;
      line-height: 30px;
      padding: 0 11px !important;
    }
  }

  .pagination-previous {
    a {
      background-color: white !important;
      padding: 0 9px !important;

      &::before {
        content: '\e965' !important;
        filter: FlipH;
        font-family: 'MFAutoservicio';
        margin: 0 !important;
        transform: scaleX(-1);
      }
    }
  }

  .pagination-next {
    a {
      background-color: white !important;
      padding: 0 9px !important;

      &::after {
        content: '\e965' !important;
        font-family: 'MFAutoservicio';
        margin: 0 !important;
      }
    }
  }
}
// sass-lint:enable-all
