// sass-lint:disable-all

[data-simplebar] {
  @media (min-width: $break-large) {
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: inherit;
    justify-content: flex-start;
    max-height: inherit;
    max-width: inherit;
    position: relative;
    width: inherit;
  }
}

.simplebar-wrapper {
  @media (max-width: $break-large) {
    margin: 0 !important;
  }

  @media (min-width: $break-large) {
    height: inherit;
    max-height: inherit;
    max-width: inherit;
    overflow: hidden;
    width: inherit;
  }
}

.simplebar-mask {
  @media (min-width: $break-large) {
    bottom: 0;
    direction: inherit;
    height: auto !important;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
    z-index: 0;
  }
}

.simplebar-offset {
  @media (min-width: $break-large) {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    box-sizing: inherit !important;
    direction: inherit !important;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    resize: none !important;
    right: 0;
    top: 0;
  }
}

.simplebar-offset {
  @media (max-width: $break-large) {
    right: auto !important;
    bottom: auto !important;
  }
}

.simplebar-content {
  @media (max-width: $break-large) {
    overflow: visible !important;
    padding: 0 !important;
  }

  @media (min-width: $break-large) {
    box-sizing: border-box !important;
    direction: inherit;
    display: block;
    height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
    max-height: 100%; /* Needed for vertical scroll to trigger */
    max-width: 100%; /* Not required for horizontal scroll to trigger */
    overflow: scroll; /* Scroll on this element otherwise element can't have a padding applied properly */
    position: relative;
    visibility: visible;
    width: auto;
    overflow-y: auto !important;
  }
}

.simplebar-placeholder {
  @media (max-width: $break-large) {
    height: auto !important;
  }

  @media (min-width: $break-large) {
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    width: 100%;
  }
}

.simplebar-height-auto-observer-wrapper {
  @media (min-width: $break-large) {
    box-sizing: inherit !important;
    flex-basis: 0;
    flex-grow: inherit;
    flex-shrink: 0;
    float: left;
    height: 100%;
    margin: 0;
    max-height: 1px;
    max-width: 1px;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: inherit;
    z-index: -1;
  }
}

.simplebar-height-auto-observer {
  @media (min-width: $break-large) {
    box-sizing: inherit;
    display: block;
    height: 1000%;
    left: 0;
    min-height: 1px;
    min-width: 1px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 1000%;
    z-index: -1;
  }
}

.simplebar-track {
  @media (min-width: $break-large) {
    bottom: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.simplebar-scrollbar {
  @media (max-width: $break-large) {
    height: auto !important;
    transform: none !important;
  }

  @media (min-width: $break-large) {
    min-height: 10px;
    position: absolute;
    right: 2px;
    width: 7px;
  }
}

.simplebar-scrollbar:before {
  @media (min-width: $break-large) {
    background: map-get($colors, black1);
    border-radius: 7px;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 0.2s linear;
  }
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  @media (min-width: $break-large) {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.5;
    transition: opacity 0s linear;
  }
}

.simplebar-track.simplebar-vertical {
  @media (min-width: $break-large) {
    top: 0;
    width: 11px;
  }
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  @media (min-width: $break-large) {
    bottom: 2px;
    top: 2px;
  }
}

.simplebar-track.simplebar-horizontal {
  @media (min-width: $break-large) {
    height: 11px;
    left: 0;
  }
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  @media (min-width: $break-large) {
    height: 100%;
    left: 2px;
    right: 2px;
  }
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  @media (min-width: $break-large) {
    height: 7px;
    left: 0;
    min-height: 0;
    min-width: 10px;
    right: auto;
    top: 2px;
    width: auto;
  }
}

/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  @media (min-width: $break-large) {
    left: 0;
    right: auto;
  }
}

.hs-dummy-scrollbar-size {
  @media (min-width: $break-large) {
    direction: rtl;
    height: 500px;
    opacity: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    position: fixed;
    visibility: hidden;
    width: 500px;
  }
}

.simplebar-placeholder {
  width: auto !important;
}

.simplebar-horizontal {
  display: none !important;
}
