// sass-lint:disable-all

.g-tabs {
  &--list {
    position: relative;

    &.active {
      .g-tabs--select:before {
        content: "\f0de";
        top: 17px;
      }
    }
  }

  &--select {
    background: green;
    color: map-get($colors, white1);
    display: none;
    padding: 15px 20px;
    position: relative;

    &::before {
      content: "\f0dd";
      font-family: "FontAwesome";
      font-size: 18px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }

  &--menu {
    display: flex;
    justify-content: center;

    > div {
      background: red;
      color: map-get($colors, white1);
      cursor: pointer;
      display: block;
      list-style: none;
      margin-left: 1px;
      padding: 15px 0;
      text-align: center;
      text-decoration: none;
      width: 180px;

      &:hover {
        background: map-get($colors, black1);
        color: map-get($colors, white1);
      }
    }
  }

  &--item {
    display: none;
    padding: 15px;

    &:first-child {
      display: block;
    }
  }

  @media screen and (max-width: 780px) {

    &--select {
      display: block;
      text-align: left;
      width: auto;
    }

    &--menu {
      display: none;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 100%;
      width: 100%;
    }

    &--menu > div {
      background: red;
      border-bottom: 1px solid map-get($colors, gray21);
      color: map-get($colors, black1);
      margin-left: 0;
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      width: 100%;
    }
  }
}
// sass-lint:enable-all
