// Tab horizontal
.g-tab--hrz {
  .tab-header {
    background-color: map-get($colors, gray11);
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &::after {
      clear: both;
      content: '';
      display: block;
    }

    > li {
      border-bottom: 1px solid map-get($colors, gray18);
      border-top: 1px solid transparent;
      color: map-get($colors, gray18);
      cursor: pointer;
      flex-basis: 0;
      flex-grow: 1;
      font-size: 16px;
      max-width: 100%;
      padding: 15px;
      position: relative;
      transition: $t-linear;

      &.on {
        background-color: map-get($colors, white1);
        border-bottom: none;
        border-left: 1px solid map-get($colors, gray18);
        border-right: 1px solid map-get($colors, gray18);
        border-top: 1px solid map-get($colors, gray18);
        color: map-get($colors, gray2);
      }

      a {
        font-size: 16px;
      }

      span {
        position: absolute;
        right: 25px;
        top: 20px;
      }
    }
  }

  .tab-container {
    .tab-content {
      display: none;

      &.on {
        color: map-get($colors, gray6);
        display: block;
      }
    }
  }
}

.g-tabs {
  .tab-header {
    background-color: map-get($colors, gray11);
    display: inline-flex;

    &::after {
      clear: both;
      content: '';
      display: block;
    }

    > li {
      border-bottom: none;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
      color: map-get($colors, gray18);
      cursor: pointer;
      font-size: 14px;
      padding: 15px 15px 5px;
      position: relative;
      transition: $t-linear;

      @media (min-width: $break-large) {
        max-width: 275px;
      }

      &.on {
        background-color: map-get($colors, white1);
        border-bottom: none;
        border-left: 1px solid map-get($colors, gray18);
        border-right: 1px solid map-get($colors, gray18);
        border-top: 1px solid map-get($colors, gray18);
        color: map-get($colors, gray2);
      }

      a {
        font-size: 16px;
      }

      span {
        position: absolute;
        right: 25px;
        top: 20px;
      }
    }
  }

  .tab-container {
    .tab-content {
      display: none;

      &.on {
        color: map-get($colors, gray6);
        display: block;
      }
    }
  }
}
