<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <mf-stepper [currentStep]='1' [stepList]="stepList"></mf-stepper>

  <div class="row">
    <div class="col-12 col-md-6 offset-md-1">
      <client-form-base (actionCancel)="actionCancel()" (actionConfirm)="actionConfirm()" [disableConfirm]="!frm.valid"
        [btnConfirm]="lang?.Buttons?.Next" [disableConfirm]="!frm?.valid" [showLoading]="showLoading">
        <div class="g-p--20 g-p-lg--40">
          <!-- Titulo -->
          <div class="d-md-flex justify-content-between text-center mb-3">
            <div class="g-w-lg--50">
              <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
                Tipo de Prueba
              </div>
            </div>
          </div>
          <!-- Datos -->

          <form [formGroup]="frm">
            <div *ngFor="let p of testTypeList">
              <mf-card>
                <mf-card-content>
                  <div class="d-flex align-items-initial w-lg-auto g-ie-flex--0-1-auto g-mt--10 g-pb--5">
                    <label class="g-radio d-flex align-items-center m-0">
                      <input type="radio" name="especialidadId" [value]="p.codigo" formControlName="especialidadId" (click)="onTestTypeSelected(p.codigo)">
                      <span class="radio"></span>
                      <div class="order-md-1 g-ml--10 g-ml-md--0 w-100">
                        <div class="g-font--medium g-font--16">{{ p.descripcion }}</div>
                      </div>
                    </label>
                  </div>
                </mf-card-content>
              </mf-card>
              <div style="height: 15px; width: 100%;"></div>
            </div>
          </form>

          <div class="mt-3" [innerHTML]="timeResult"></div>
          <div class="justify-content-md-center mt-xs--1 mb-xs--1">
            <div class="row g-box--shadow5 g-bg-c--warning1 g-b-radius--5 g-b--1 p-3">
              <div class="d-flex align-items-center col-6 g-c--red1 text-left g-font--16 g-font--bold">
                Total a pagar
              </div>
              <div class="col-6 g-c--red1 text-right g-font--24 g-font--bold">
                S/. {{ amount.toFixed(2) }}
              </div>
            </div>
          </div>

        </div>
      </client-form-base>

    </div>

    <div class="col-4 d-none d-md-block">
      <div class="card g-box-lg--shadow1 g-b-radius--5 g-b-radius-lg--10 border-0 w-100 mx-1">
        <div class="card-header g-bg-c--gray19 border-0 text-left text-dark g-text--uppercase g-font--bold">
          RESUMEN PRUEBA
        </div>
        <div class="card-body g-bg-c--white1 g-line--20" [innerHTML]="testDescription"></div>
      </div>
    </div>
  </div>


</div>
<mf-modal-message (confirmResponse)="onConfirmModal($event)" [confirm]="true"
  [messageDone]="lang.Messages.EstimatedUser" [messageSuccessUpdate]="lang.Messages.DeleteData" [pathIcon]="iconError"
  [sizeClass]="'g-modal--medium'">
</mf-modal-message>