<div class="{{cardContent}}">
  <div class="{{contentBrand}}">
    <img src="{{brand}}" alt="">
  </div>

  {{#textContent}}
    <div class="{{infoContent}}">
      <div class="{{contentText}}">
          <div class="{{textClass}}">{{{text}}}</div>
      </div>
      {{#icon}}
        <div class="{{iconContent}}">
          <div class="{{iconFile}} {{iconClass}}"></div>
        </div>
      {{/icon}}
    </div>
  {{/textContent}}

</div>