<div class="d-flex">
  <div class="ml-auto">
    {{#icon}}
      {{>molecules-icon-tag}}
    {{/icon}}
  </div>
  <div class="g-bg-c--white1 g-box--shadow1 g-box--shadow1--xs-none g-b-radius--5 w-100 g-mw-6 g-mw-6--lg-none mr-auto">
    <div class=" g-pt--20 g-pl--20 g-pr--20 g-px-lg--25 ">
      <div class="g-font--18 g-font-md--20 g-text--uppercase g-font--medium">
        {{title}}
      </div>
      {{#subtitle}}
      <div class=" g-mb--15  g-c--gray1">
        {{subtitle}}
      </div>
      {{/subtitle}}
      <div class="row">
        <div class="col-12  g-mb--20 ">
        </div>
        <div class="col-12  g-mb--20 ">
          {{#dateGeneral}}
            {{>organisms-date-compare}}
          {{/dateGeneral}}

          {{#addPhoto}}
            {{>organisms-add-img}}
          {{/addPhoto}}
        </div>
      </div>
    </div>
    <div class="col-12 g-b--1 g-bg-c--white1 g-btn-xs-fixed patternlab-none">
      <div class=" g-pt--20    g-pl--0  g-pl-lg--20 g-pr-lg--20 ">
        <div class="row">
          <div class="col-6 g-px--0 g-mb--20 text-center">
            {{#btnCancelar}}
              {{>atoms-buttons}}
            {{/btnCancelar}}
          </div>
          <div class="col-6 g-px--0 g-mb--20 text-center">
            {{#btnChangeDate}}
              {{>atoms-buttons}}
            {{/btnChangeDate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#privacy}}
  {{>templates-fm-privacy}}
{{/privacy}}
{{#electronic}}
  {{>templates-fm-electronic}}
{{/electronic}}
