<div class="sect-container">
  <div class="w-lg-9 mx-auto">
    <client-card-more-faq [faqList]="faqList" [faqGroup]="faqGroup" [faqGroupConfig]="faqGroupConfig">
    </client-card-more-faq>
  </div>
</div>
