@import 'font-roboto';

// sass-lint:disable-all
@font-face {
  font-family: 'MFAutoservicio';
  src: url('../fonts/MFAutoservicio.eot?zcxgi8');
  src: url('../fonts/MFAutoservicio.eot?zcxgi8#iefix') format('embedded-opentype'),
    url('../fonts/MFAutoservicio.ttf?zcxgi8') format('truetype'),
    url('../fonts/MFAutoservicio.woff?zcxgi8') format('woff'),
    url('../fonts/MFAutoservicio.svg?zcxgi8#MFAutoservicio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MFAutoservicio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// sass-lint:enable-all

.icon-televideo {
  &::before {
    content: '\ea26';
  }
}

.icon-bubbles {
  &::before {
    content: '\ea25';
  }
}

.icon-icon-mapfre-doc {
  &::before {
    content: '\ea23';
  }
}

.icon-cuotas {
  &::before {
    content: '\ea22';
  }
}

.icon-comeback {
  &::before {
    content: '\ea20';
  }
}

.icon-sinister_person {
  &::before {
    content: '\ea1f';
  }
}

.icon-checked {
  &::before {
    content: '\ea21';
  }
}

.icon-COB_SAL_ASIS_VIAJE {
  &::before {
    content: '\ea1e';
  }
}

.icon-mapfre_282_borrar {
  &::before {
    content: '\ea1d';
  }
}

.icon-mapfre_283_benefit {
  &::before {
    content: '\ea28';
  }
}

.icon-mapfre_283_benefit_out {
  &::before {
    content: '\ea27';
  }
}

.icon-mapfre_281_accidentes_personales {
  &::before {
    content: '\ea1b';
  }
}

.icon-mapfre_280_eps {
  &::before {
    content: '\ea1a';
  }
}

.icon-ACC_DELIVERY_MEDICAMENTO {
  &::before {
    content: '\ea1c';
  }
}

.icon-COB_DECESOS_DESAMP_FAMI_SUB {
  &::before {
    content: '\ea15';
  }
}

.icon-COB_DECESOS_INDEM_MUERT_ACC {
  &::before {
    content: '\ea16';
  }
}

.icon-COB_DECESOS_INDEM_MUERT_NAT {
  &::before {
    content: '\ea17';
  }
}

.icon-COB_DECESOS_REEM_TRAS_REST {
  &::before {
    content: '\ea18';
  }
}

.icon-COB_DECESOS_SERV_SEPELIO {
  &::before {
    content: '\ea19';
  }
}

.icon-mapfre_279_viajes-localizacion-transporte {
  &::before {
    content: '\ea14';
  }
}

.icon-mapfre_278_medicina-ambulatoria {
  &::before {
    content: '\ea10';
  }
}

.icon-mapfre_277_medicina-hospitalaria {
  &::before {
    content: '\ea11';
  }
}

.icon-mapfre_276_asistencia-medica-enfermedad-prexistente {
  &::before {
    content: '\ea12';
  }
}

.icon-mapfre_275_asistencia-medica-enfermedad {
  &::before {
    content: '\ea13';
  }
}

.icon-mapfre_274_passport {
  &::before {
    content: '\ea0f';
  }
}

.icon-mapfre_273_acompanamiento_menores {
  &::before {
    content: '\ea0e';
  }
}

.icon-mapfre_272_indemnizacion_accidente {
  &::before {
    content: '\ea0d';
  }
}

.icon-mapfre_271_family {
  &::before {
    content: '\ea0c';
  }
}

.icon-mapfre_270_traslado_fallido_travel {
  &::before {
    content: '\ea0b';
  }
}

.icon-mapfre_269_traslado_familiar_travel {
  &::before {
    content: '\ea0a';
  }
}

.icon-mapfre_268_transmision_mensajes {
  &::before {
    content: '\ea09';
  }
}

.icon-mapfre_267_localizacion_transporte_world {
  &::before {
    content: '\ea08';
  }
}

.icon-mapfre_266_medicamentos_botiquin {
  &::before {
    content: '\ea07';
  }
}

.icon-mapfre_265_diferencia_tarifario_travel {
  &::before {
    content: '\ea06';
  }
}

.icon-mapfre_264_indemnizacion_muerte_natural {
  &::before {
    content: '\ea05';
  }
}

.icon-mapfre_263_sepelio {
  &::before {
    content: '\ea04';
  }
}

.icon-mapfre_262_reembolsos {
  &::before {
    content: '\ea03';
  }
}

.icon-mapfre_261_regreso_anticipado_home {
  &::before {
    content: '\ea02';
  }
}

.icon-mapfre_260_vencimiento_mapfre_dolares {
  &::before {
    content: '\ea01';
  }
}

.icon-mapfre_259_restitucion_mapfre_dolares {
  &::before {
    content: '\ea00';
  }
}

.icon-mapfre_258_renovacion_mapfre_dolares {
  &::before {
    content: '\e9ff';
  }
}

.icon-mapfre_257_reactivacion_mapfre_dolares {
  &::before {
    content: '\e9fe';
  }
}

.icon-mapfre_256_mapfre_dolares {
  &::before {
    content: '\e9fd';
  }
}

.icon-mapfre_255_contratacion_mapfre_dolares {
  &::before {
    content: '\e9fc';
  }
}

.icon-mapfre_254_aniversario_mapfre_dolares {
  &::before {
    content: '\e9fb';
  }
}

.icon-mapfre_253_repatriacion_restos_mortales {
  &::before {
    content: '\e9fa';
  }
}

.icon-mapfre_252_gastos_hotel_familiar {
  &::before {
    content: '\e9f9';
  }
}

.icon-mapfre_251_gastos_hotel_convalecencia {
  &::before {
    content: '\e9f8';
  }
}

.icon-mapfre_250_compension_perdida_equipaje {
  &::before {
    content: '\e9f7';
  }
}

.icon-mapfre_249_reembolso_gastos_demora {
  &::before {
    content: '\e9f6';
  }
}

.icon-mapfre_248_odontologia_urgencia {
  &::before {
    content: '\e9f5';
  }
}

.icon-mapfre_247_repatriacion_sanitaria {
  &::before {
    content: '\e9f4';
  }
}

.icon-mapfre_246_reembolso_gastos_vuelo_demorado {
  &::before {
    content: '\e9f3';
  }
}

.icon-mapfre_245_compensacion_cancelacion_viaje {
  &::before {
    content: '\e9f2';
  }
}

.icon-mapfre_244_travel_out {
  &::before {
    content: '\e9f1';
  }
}

.icon-mapfre_243_apps_out {
  &::before {
    content: '\e9f0';
  }
}

.icon-mapfre_242_apps {
  &::before {
    content: '\e9ef';
  }
}

.icon-mapfre_241_avisos {
  &::before {
    content: '\e9ee';
  }
}

.icon-mapfre_240_ruc {
  &::before {
    content: '\e9ed';
  }
}

.icon-mapfre_239_soat_incapacidad_temporal {
  &::before {
    content: '\e9ec';
  }
}

.icon-mapfre_238_soat_gastos_medicos {
  &::before {
    content: '\e9eb';
  }
}

.icon-mapfre_237_soat_gastos_sepelio {
  &::before {
    content: '\e9ea';
  }
}

.icon-mapfre_236_banking {
  &::before {
    content: '\e9e9';
  }
}

.icon-mapfre_235_travel {
  &::before {
    content: '\e9e8';
  }
}

.icon-mapfre_234_person {
  &::before {
    content: '\e9e7';
  }
}

.icon-mapfre_233_shield_check_out {
  &::before {
    content: '\e9e6';
  }
}

.icon-mapfre_232_shield_check {
  &::before {
    content: '\e9e5';
  }
}

.icon-mapfre_231_shield_more {
  &::before {
    content: '\e9e4';
  }
}

.icon-mapfre_230_shield_out {
  &::before {
    content: '\e900';
  }
}

.icon-mapfre_229_payment {
  &::before {
    content: '\e9e3';
  }
}

.icon-mapfre_228_domicile {
  &::before {
    content: '\e9e2';
  }
}

.icon-mapfre_227_schedule {
  &::before {
    content: '\e9e1';
  }
}

.icon-mapfre_226_email-guarantee {
  &::before {
    content: '\e9e0';
  }
}

.icon-mapfre_225_tablet_car {
  &::before {
    content: '\e9df';
  }
}

.icon-mapfre_224_operator {
  &::before {
    content: '\e9de';
  }
}

.icon-mapfre_223_dolar {
  &::before {
    content: '\e9dd';
  }
}

.icon-mapfre_222_soat {
  &::before {
    content: '\e9dc';
  }
}

.icon-mapfre_221_paper {
  &::before {
    content: '\e9db';
  }
}

.icon-mapfre_220_power {
  &::before {
    content: '\e9da';
  }
}

.icon-mapfre_219_arrow_down {
  &::before {
    content: '\e9d9';
  }
}

.icon-mapfre_218_idea {
  &::before {
    content: '\e9d8';
  }
}

.icon-mapfre_217_shopping {
  &::before {
    content: '\e9d7';
  }
}

.icon-mapfre_216_filter_out {
  &::before {
    content: '\e9d6';
  }
}

.icon-mapfre_215_update {
  &::before {
    content: '\e9d4';
  }
}

.icon-mapfre_214_hospital_out {
  &::before {
    content: '\e9d3';
  }
}

.icon-mapfre_213_hospital {
  &::before {
    content: '\e9d2';
  }
}

.icon-mapfre_212_clean {
  &::before {
    content: '\e9d1';
  }
}

.icon-mapfre_211_payment {
  &::before {
    content: '\e9d0';
  }
}

.icon-mapfre_210_check {
  &::before {
    content: '\e9cf';
  }
}

.icon-mapfre_209_stethoscope {
  &::before {
    content: '\e9ce';
  }
}

.icon-mapfre_208_planet {
  &::before {
    content: '\e9cd';
  }
}

.icon-mapfre_207_personal_data {
  &::before {
    content: '\e9cc';
  }
}

.icon-mapfre_206_funeral {
  &::before {
    content: '\e9cb';
  }
}

.icon-mapfre_205_broken_window {
  &::before {
    content: '\e9ca';
  }
}

.icon-mapfre_204_broken_home {
  &::before {
    content: '\e9c9';
  }
}

.icon-mapfre_203_thief {
  &::before {
    content: '\e9c8';
  }
}

.icon-mapfre_202_malicious_damage {
  &::before {
    content: '\e9c7';
  }
}

.icon-mapfre_201_search {
  &::before {
    content: '\e9c6';
  }
}

.icon-mapfre_200_prevention {
  &::before {
    content: '\e9c5';
  }
}

.icon-mapfre_199_medical_care {
  &::before {
    content: '\e9c4';
  }
}

.icon-mapfre_198_rehabilitation {
  &::before {
    content: '\e9c3';
  }
}

.icon-mapfre_197_aggravated_robbery {
  &::before {
    content: '\e9c2';
  }
}

.icon-mapfre_196_refrigeration {
  &::before {
    content: '\e9c1';
  }
}

.icon-mapfre_195_workers {
  &::before {
    content: '\e9c0';
  }
}

.icon-mapfre_194_family {
  &::before {
    content: '\e9bf';
  }
}

.icon-mapfre_193_fire {
  &::before {
    content: '\e9be';
  }
}

.icon-mapfre_192_mysterious_disappearance {
  &::before {
    content: '\e9bd';
  }
}

.icon-mapfre_191_injured {
  &::before {
    content: '\e9bc';
  }
}

.icon-mapfre_190_dishonesty {
  &::before {
    content: '\e9bb';
  }
}

.icon-mapfre_189_damaged_pipe {
  &::before {
    content: '\e9ba';
  }
}

.icon-mapfre_188_damaged_monitor {
  &::before {
    content: '\e9b9';
  }
}

.icon-mapfre_187_bomb {
  &::before {
    content: '\e9b8';
  }
}

.icon-mapfre_186_survival {
  &::before {
    content: '\e9b7';
  }
}

.icon-mapfre_185_natural_death {
  &::before {
    content: '\e9b6';
  }
}

.icon-mapfre_184_accidental_death {
  &::before {
    content: '\e9b5';
  }
}

.icon-mapfre_183_death {
  &::before {
    content: '\e9b4';
  }
}

.icon-mapfre_182_disease {
  &::before {
    content: '\e9b3';
  }
}

.icon-mapfre_181_organ_transplant {
  &::before {
    content: '\e9b2';
  }
}

.icon-mapfre_180_injection {
  &::before {
    content: '\e9b1';
  }
}

.icon-mapfre_179_money {
  &::before {
    content: '\e9b0';
  }
}

.icon-mapfre_178_ambulance_service {
  &::before {
    content: '\e9af';
  }
}

.icon-mapfre_177_surgical_prosthesis {
  &::before {
    content: '\e9ae';
  }
}

.icon-mapfre_176_natural_birth {
  &::before {
    content: '\e9ad';
  }
}

.icon-mapfre_175_home_doctor {
  &::before {
    content: '\e9ac';
  }
}

.icon-mapfre_174_maternity {
  &::before {
    content: '\e9ab';
  }
}

.icon-mapfre_173_hospitalization {
  &::before {
    content: '\e9aa';
  }
}

.icon-mapfre_172_epeymy {
  &::before {
    content: '\e9a9';
  }
}

.icon-mapfre_171_genetic_diseases {
  &::before {
    content: '\e9a8';
  }
}

.icon-mapfre_170_medical_emergency {
  &::before {
    content: '\e9a7';
  }
}

.icon-mapfre_169_accidental_emergency {
  &::before {
    content: '\e9a6';
  }
}

.icon-mapfre_168_medical_consultation {
  &::before {
    content: '\e9a5';
  }
}

.icon-mapfre_167_preventive_check {
  &::before {
    content: '\e9a4';
  }
}

.icon-mapfre_166_caesarean {
  &::before {
    content: '\e9a3';
  }
}

.icon-mapfre_165_travel_assistance {
  &::before {
    content: '\e9a2';
  }
}

.icon-mapfre_164_breast_reconstruction {
  &::before {
    content: '\e9a1';
  }
}

.icon-mapfre_163_genetic {
  &::before {
    content: '\e9a0';
  }
}

.icon-mapfre_162_ruptures {
  &::before {
    content: '\e99f';
  }
}

.icon-mapfre_161_seaquake {
  &::before {
    content: '\e99e';
  }
}

.icon-mapfre_160_earthquake {
  &::before {
    content: '\e99d';
  }
}

.icon-mapfre_159_damage {
  &::before {
    content: '\e99c';
  }
}

.icon-mapfre_158_alert {
  &::before {
    content: '\e99b';
  }
}

.icon-mapfre_157_rain {
  &::before {
    content: '\e99a';
  }
}

.icon-mapfre_156_break_glasses {
  &::before {
    content: '\e999';
  }
}

.icon-mapfre_155_fire {
  &::before {
    content: '\e998';
  }
}

.icon-mapfre_154_bed {
  &::before {
    content: '\e997';
  }
}

.icon-mapfre_153_disability_hand {
  &::before {
    content: '\e996';
  }
}

.icon-mapfre_152_disability {
  &::before {
    content: '\e995';
  }
}

.icon-mapfre_151_services_out {
  &::before {
    content: '\e994';
  }
}

.icon-mapfre_150_services {
  &::before {
    content: '\e993';
  }
}

.icon-mapfre_149_bird_out {
  &::before {
    content: '\e992';
  }
}

.icon-mapfre_148_bird {
  &::before {
    content: '\e991';
  }
}

.icon-mapfre_147_moons {
  &::before {
    content: '\e990';
  }
}

.icon-mapfre_146_imbalance {
  &::before {
    content: '\e98f';
  }
}

.icon-mapfre_145_stole {
  &::before {
    content: '\e97d';
  }
}

.icon-mapfre_144_burial {
  &::before {
    content: '\e98e';
  }
}

.icon-mapfre_143_things {
  &::before {
    content: '\e98d';
  }
}

.icon-mapfre_142_people {
  &::before {
    content: '\e98c';
  }
}

.icon-mapfre_141_disability {
  &::before {
    content: '\e98b';
  }
}

.icon-mapfre_140_world {
  &::before {
    content: '\e98a';
  }
}

.icon-mapfre_139_fire {
  &::before {
    content: '\e989';
  }
}

.icon-mapfre_138_strike {
  &::before {
    content: '\e988';
  }
}

.icon-mapfre_137_car_crane {
  &::before {
    content: '\e987';
  }
}

.icon-mapfre_136_car_natural {
  &::before {
    content: '\e986';
  }
}

.icon-mapfre_135_car_shock {
  &::before {
    content: '\e985';
  }
}

.icon-mapfre_134_car_hurt {
  &::before {
    content: '\e984';
  }
}

.icon-mapfre_133_car_accident {
  &::before {
    content: '\e983';
  }
}

.icon-mapfre_132_messege {
  &::before {
    content: '\e982';
  }
}

.icon-mapfre_131_offer {
  &::before {
    content: '\e981';
  }
}

.icon-mapfre_130_hand-money {
  &::before {
    content: '\e980';
  }
}

.icon-mapfre_129_carwash {
  &::before {
    content: '\e97f';
  }
}

.icon-mapfre_128_telephone {
  &::before {
    content: '\e97e';
  }
}

.icon-mapfre_127_taller {
  &::before {
    content: '\e97d';
  }
}

.icon-mapfre_126_star_out {
  &::before {
    content: '\e97c';
  }
}

.icon-mapfre_125_star {
  &::before {
    content: '\e97b';
  }
}

.icon-mapfre_124_person {
  &::before {
    content: '\e97a';
  }
}

.icon-mapfre_123_health {
  &::before {
    content: '\e979';
  }
}

.icon-mapfre_122_flag {
  &::before {
    content: '\e978';
  }
}

.icon-mapfre_121_close {
  &::before {
    content: '\e977';
  }
}

.icon-mapfre_120_cobertura {
  &::before {
    content: '\e976';
  }
}

.icon-mapfre_119_damage_total {
  &::before {
    content: '\e975';
  }
}

.icon-mapfre_118_damage_partial {
  &::before {
    content: '\e974';
  }
}

.icon-mapfre_117_car {
  &::before {
    content: '\e973';
  }
}

.icon-mapfre_116_casco {
  &::before {
    content: '\e972';
  }
}

.icon-mapfre_115_book {
  &::before {
    content: '\e971';
  }
}

.icon-mapfre_114_scissors {
  &::before {
    content: '\e970';
  }
}

.icon-mapfre_113_person_break {
  &::before {
    content: '\e96f';
  }
}

.icon-mapfre_112_damage {
  &::before {
    content: '\e96e';
  }
}

.icon-mapfre_111_steal {
  &::before {
    content: '\e96d';
  }
}

.icon-mapfre_110_car_coverage {
  &::before {
    content: '\e96c';
  }
}

.icon-mapfre_109_person_coverage {
  &::before {
    content: '\e96b';
  }
}

.icon-mapfre_108_person_car {
  &::before {
    content: '\e96a';
  }
}

.icon-mapfre_107_sinister {
  &::before {
    content: '\e969';
  }
}

.icon-mapfre_106_crate {
  &::before {
    content: '\e968';
  }
}

.icon-mapfre_105_money {
  &::before {
    content: '\e967';
  }
}

.icon-mapfre_104_ico-coin {
  &::before {
    content: '\e966';
  }
}

.icon-mapfre_103_ico-right {
  &::before {
    content: '\e965';
  }
}

.icon-mapfre_102_ico-up {
  &::before {
    content: '\e964';
  }
}

.icon-mapfre_101_ico-dow {
  &::before {
    content: '\e963';
  }
}

.icon-mapfre_100_mask {
  &::before {
    content: '\e962';
  }
}

.icon-mapfre_099_search {
  &::before {
    content: '\e961';
  }
}

.icon-mapfre_098_filter {
  &::before {
    content: '\e960';
  }
}

.icon-mapfre_097_refresh {
  &::before {
    content: '\e95e';
  }
}

.icon-mapfre_096_porcentage {
  &::before {
    content: '\e95f';
  }
}

.icon-mapfre_095_comparate {
  &::before {
    content: '\e95d';
  }
}

.icon-mapfre_094_dots {
  &::before {
    content: '\e95c';
  }
}

.icon-mapfre_093_pdf {
  &::before {
    content: '\e95b';
  }
}

.icon-mapfre_093_xls {
  &::before {
    content: '\ea24';
  }
}

.icon-mapfre_092_transpasarpoliza {
  &::before {
    content: '\e95a';
  }
}

.icon-mapfre_091_medico {
  &::before {
    content: '\e959';
  }
}

.icon-mapfre_090_talleres {
  &::before {
    content: '\e958';
  }
}

.icon-mapfre_089_inventario {
  &::before {
    content: '\e957';
  }
}

.icon-mapfre_088_choferdereemplazo {
  &::before {
    content: '\e956';
  }
}

.icon-mapfre_087_citamedica {
  &::before {
    content: '\e955';
  }
}

.icon-mapfre_086_robo {
  &::before {
    content: '\e954';
  }
}

.icon-mapfre_085_auxilomecanico {
  &::before {
    content: '\e953';
  }
}

.icon-mapfre_084_hogar {
  &::before {
    content: '\e952';
  }
}

.icon-mapfre_083_alarmas {
  &::before {
    content: '\e951';
  }
}

.icon-mapfre_082_ambulancia {
  &::before {
    content: '\e950';
  }
}

.icon-mapfre_081_tramites {
  &::before {
    content: '\e94f';
  }
}

.icon-mapfre_080_close4 {
  &::before {
    content: '\e948';
  }
}

.icon-mapfre_079_decesos2 {
  &::before {
    content: '\e94b';
  }
}

.icon-mapfre_078_edu {
  &::before {
    content: '\e94a';
  }
}

.icon-mapfre_077_soat {
  &::before {
    content: '\e949';
  }
}

.icon-mapfre_076_upload {
  &::before {
    content: '\e94c';
  }
}

.icon-mapfre_075_arrow-right {
  &::before {
    content: '\e94d';
  }
}

.icon-mapfre_074_download {
  &::before {
    content: '\e94e';
  }
}

.icon-mapfre_073_casco {
  &::before {
    content: '\e946';
  }
}

.icon-mapfre_072_cotizar {
  &::before {
    content: '\e947';
  }
}

.icon-mapfre_071_servicios {
  &::before {
    content: '\e944';
  }
}

.icon-mapfre_070_buscar-clinicas {
  &::before {
    content: '\e943';
  }
}

.icon-mapfre_069_reportar-siniestro {
  &::before {
    content: '\e942';
  }
}

.icon-mapfre_068_telemedicina {
  &::before {
    content: '\e945';
  }
}

.icon-mapfre_067_face {
  &::before {
    content: '\e941';
  }
}

.icon-mapfre_066_circle {
  &::before {
    content: '\e940';
  }
}

.icon-mapfre_065_card {
  &::before {
    content: '\e93f';
  }
}

.icon-mapfre_064_user-add {
  &::before {
    content: '\e93e';
  }
}

.icon-mapfre_063_agendar {
  &::before {
    content: '\e93d';
  }
}

.icon-mapfre_062_reloj {
  &::before {
    content: '\e93c';
  }
}

.icon-mapfre_061_questions {
  &::before {
    content: '\e93b';
  }
}

.icon-mapfre_060_mail {
  &::before {
    content: '\e93a';
  }
}

.icon-mapfre_059_download {
  &::before {
    content: '\e939';
  }
}

.icon-mapfre_058_file {
  &::before {
    content: '\e938';
  }
}

.icon-mapfre_057_circle-check {
  &::before {
    content: '\e937';
  }
}

.icon-mapfre_055_wallet {
  &::before {
    content: '\e936';
  }
}

.icon-mapfre_055_card {
  &::before {
    content: '\e935';
  }
}

.icon-mapfre_054_construction {
  &::before {
    content: '\e934';
  }
}

.icon-mapfre_053_eliminar {
  &::before {
    content: '\e930';
  }
}

.icon-mapfre_052_agregar {
  &::before {
    content: '\e933';
  }
}

.icon-mapfre_051_alerta {
  &::before {
    content: '\e931';
  }
}

.icon-mapfre_050_agendar {
  &::before {
    content: '\e92f';
  }
}

.icon-mapfre_049_close2 {
  &::before {
    content: '\e92e';
  }
}

.icon-mapfre_048_tooltip {
  &::before {
    content: '\e932';
  }
}

.icon-mapfre_047_bars {
  &::before {
    content: '\e92d';
  }
}

.icon-mapfre_046_close {
  &::before {
    content: '\e92c';
  }
}

.icon-mapfre_045_call {
  &::before {
    content: '\e92b';
  }
}

.icon-mapfre_044_logo_landing {
  &::before {
    content: '\e92a';
  }
}

.icon-mapfre_043_cartel {
  &::before {
    content: '\e924';
  }
}

.icon-mapfre_042_home {
  &::before {
    content: '\e923';
  }
}

.icon-mapfre_041_iso {
  &::before {
    content: '\e925';
  }
}

.icon-mapfre_040_calendar {
  &::before {
    content: '\e926';
  }
}

.icon-mapfre_039_hand_house {
  &::before {
    content: '\e9d5';
  }
}

.icon-mapfre_038_telephone {
  &::before {
    content: '\e927';
  }
}

.icon-mapfre_037_user {
  &::before {
    content: '\e928';
  }
}

.icon-mapfre_036_notification {
  &::before {
    content: '\e929';
  }
}

.icon-mapfre_035_edit {
  &::before {
    content: '\e922';
  }
}

.icon-mapfre_034_angle2-left {
  &::before {
    content: '\e920';
  }
}

.icon-mapfre_033_angle2-right {
  &::before {
    content: '\e921';
  }
}

.icon-mapfre_031_qanda {
  &::before {
    content: '\e917';
  }
}

.icon-mapfre_030_call {
  &::before {
    content: '\e916';
  }
}

.icon-mapfre_029_location-pin2 {
  &::before {
    content: '\e918';
  }
}

.icon-mapfre_028_pagos {
  &::before {
    content: '\e919';
  }
}

.icon-mapfre_027_box {
  &::before {
    content: '\e91a';
  }
}

.icon-mapfre_026_decesos {
  &::before {
    content: '\e91b';
  }
}

.icon-mapfre_025_heart2 {
  &::before {
    content: '\e91c';
  }
}

.icon-mapfre_024_house2 {
  &::before {
    content: '\e91d';
  }
}

.icon-mapfre_023_cross2 {
  &::before {
    content: '\e91e';
  }
}

.icon-mapfre_022_car2 {
  &::before {
    content: '\e91f';
  }
}

.icon-mapfre_021_-briefcase {
  &::before {
    content: '\e915';
  }
}

.icon-mapfre_020_cross {
  &::before {
    content: '\e914';
  }
}

.icon-mapfre_019_car {
  &::before {
    content: '\e913';
  }
}

.icon-mapfre_018_building {
  &::before {
    content: '\e912';
  }
}

.icon-mapfre_017_house {
  &::before {
    content: '\e911';
  }
}

.icon-mapfre_016_heart {
  &::before {
    content: '\e910';
  }
}

.icon-mapfre_015_location-pin {
  &::before {
    content: '\e90f';
  }
}

.icon-mapfre_014_perfil {
  &::before {
    content: '\e90e';
  }
}

.icon-mapfre_013_atention {
  &::before {
    content: '\e90d';
  }
}

.icon-mapfre_012_arrow-down {
  &::before {
    content: '\e90c';
  }
}

.icon-mapfre_011_arrow-up {
  &::before {
    content: '\e90b';
  }
}

.icon-mapfre_010_arrow-left {
  &::before {
    content: '\e90a';
  }
}

.icon-mapfre_009_arrow-right {
  &::before {
    content: '\e909';
  }
}

.icon-mapfre_008_angle-down {
  &::before {
    content: '\e908';
  }
}

.icon-mapfre_007_angle-up {
  &::before {
    content: '\e907';
  }
}

.icon-mapfre_006_angle-left {
  &::before {
    content: '\e906';
  }
}

.icon-mapfre_005_angle-right {
  &::before {
    content: '\e905';
  }
}

.icon-mapfre_004_triangle-down {
  &::before {
    content: '\e904';
  }
}

.icon-mapfre_003_check {
  &::before {
    content: '\e903';
  }
}

.icon-mapfre_002_cliente-add {
  &::before {
    content: '\e902';
  }
}

.icon-mapfre_001_cliente {
  &::before {
    content: '\e901';
  }
}
