<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <mf-stepper  [currentStep]='2'
  [stepList]="stepList"></mf-stepper>

  <client-form-base
    (actionCancel)="actionCancel()"
    (actionConfirm)="actionConfirm()"
    [btnCancel]="graLng?.Buttons?.Back"
    [btnConfirm]="graLng?.Buttons?.Next"
    [disableConfirm]="!frm?.valid"
    [iconClass]="fileIcon"
    [showLoading]="showLoading"
  >
    <div class="g-p--20 g-p-lg--40">
      <!-- Titulo -->
      <div class="d-md-flex justify-content-between text-center">
        <div class="g-w-lg--50">
          <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
            {{ lang.Titles.DataMedicalAppointment }}
          </div>
        </div>
      </div>
      <!-- Datos -->
      <form [formGroup]="frm">
        <div class="d-flex flex-wrap w-100 g-pt--20">
          <div class="g-w-100 g-pr-lg--15 g-pb--10">
            <mf-select
              (getLoadingState)="getLoadingState($event)"
              (getSelectedOpt)="getSelectedPatient($event)"
              [frm]="frm"
              [config]="configPatient"
              [label]="'Seleccione Paciente'"
              [name]="'documentoPaciente'"
              [type]="'documentoPaciente'"
              [validCodiv]="true"
              [showEnableWhenHasOneItem]="true"
              formControlName="documentoPaciente"
            >
          </mf-select>
          </div>
          <div class="g-w-100 g-pr-lg--15 g-pb--10">
            <mf-input
              [label]="'Celular de contacto para cita médica'"
              [maxlength]="maxLengthCellphone"
              [OnlyNumber]="true"
              [pattern]="numericRegExp"
              formControlName="contactCellphone">
            </mf-input>
            <mf-show-errors [control]="frm?.controls['contactCellphone']"></mf-show-errors>
          </div>
          <div class="g-w-100 g-pr-lg--15 g-pb--10" [ngClass]="{'g-full-form--load': showLoadingPolicy}">
              <mf-select
                (getLoadingState)="getLoadingStatePolicy($event)"
                (getSelectedOpt)="getSelectedPolicy($event)"
                [frm]="frm"
                [config]="configPolicy"
                [label]="'Seleccione Póliza'"
                [name]="'numeroPoliza'"
                [type]="'numeroPoliza'"
                [arrCustom]="arrPolicies"
                [validCodiv]="true"
                [showEnableWhenHasOneItem]="true"
                formControlName="numeroPoliza"
              > 
            </mf-select>
          </div>
          <div *ngIf="visibleSpeciality" class="g-w-100 g-pb--10">
            <div class="g-w-100 g-pr-lg--15 g-pb--10" [ngClass]="{'g-full-form--load': showLoadingSpecialty}">
              <mf-select
                (getLoadingState)="getLoadingStateSpecialty($event)"
                (getSelectedOpt)="getSelectedSpecialty($event)"
                [dependent1]="appointment?.clinicaId ? appointment?.clinicaId : centerVirtual"
                [dependent2]="frm?.value?.numeroPoliza"
                [dependent5]="modality"
                [frm]="frm"
                [config]="configSpeciality"
                [label]="'Seleccione Especialidad'"
                [name]="'especialidadId'"
                [type]="'specialty'"
                [validCodiv]="true"
                [showEnableWhenHasOneItem]="false"
                formControlName="especialidadId"
              >
              </mf-select>
            </div>
          </div>
          <div class="g-w-100 g-pr-lg--15 g-pb--10 cx-card-invisible" *ngIf="!visibleSpeciality">
            <div class="ng-touched ng-dirty ng-valid">
              <div class="g-select-desing g-form-focus">
                <label class="g-placeholder animated">Seleccione Especialidad</label>
                <select class="ng-touched ng-pristine">
                  <option value="104">PRUEBA DE ANTÍGENOS</option>
                </select>
                <span class="icon-mapfre_004_triangle-down ico-select"></span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </client-form-base>
</div>
