<mf-modal
  *ngIf="showModal"
  [title]="modalTitle"
  [titleMobile]="form.titleMobile"
  [secondTitleMobile]="form.title.toUpperCase()"
  [confirm]="true"
  [confirmButtonText]="form.sendButton"
  (confirmResponse)="onSend($event)"
  (closeEvent)="closeEvent()"
  [disableButton]="disableButtonSend"
  [editFooter]="editFooter"
  class="sect-container">

  <!-- Contenido complementario -->
  <ng-content *ngIf="!sendSuccess"></ng-content>

  <!-- Formulario -->
  <client-form-contacted-by-agent
    [contactData]="contactData"
    [isModal]="true"
    [referred]="referred"
    (doSuccess)="doSuccess()"
    (showError)="showError($event)"
    (enableButton)="enableButton($event)">
  </client-form-contacted-by-agent>
  <ng-container footer>
    <div class="d-flex">
      <button
        mf-button
        [disabled]="disableButtonSend"
        [ngClass]="'size-md g-btn--default'"
        (click)="onConfirm()">
        {{ form.okButton }}
      </button>
    </div>
  </ng-container>

</mf-modal>

<mf-modal-error
  *ngIf="showModalError"
  [confirmButtonText]="btnConfirm"
  [messageDone]="titleAlertError"
  [messageSuccessUpdate]="messageAlertError">
</mf-modal-error>
